<template>
	<main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">People</li>
            <li class="breadcrumb-item">Contacts</li>
            <li class="breadcrumb-right">
                <router-link to="/contact/display" class="btn btn-xs btn-primary">
                    <i class="fa fa-list"></i> Contacts
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                              <div class="card-header">
                                <strong v-show="status==0">New Contact</strong>
                                <strong v-show="status==1">Update Contact</strong>
                            </div>
                            <div class="card-body">
                                 <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="contact_code">Contact Code *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.contact_code}" v-model="contact.contact_code"  placeholder="Contact Code">
                                            <div v-if="errors.contact_code" class="invalid-feedback">{{ errors.contact_code[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="contact_type">Contact Type *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.contact_type}" v-model="contact.contact_type" ref="contact_type">
                                                <option value="">Select Contact Type</option>
                                                <option value="Customer">Customer</option>
                                                <option value="Vendor">Vendor</option>
                                            </select>
                                            <div v-if="errors.contact_type" class="invalid-feedback">{{ errors.contact_type[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="contact_name">Contact Name *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.contact_name}" v-model="contact.contact_name"  placeholder="Contact Name">
                                            <div v-if="errors.contact_name" class="invalid-feedback">{{ errors.contact_name[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="email">Email</label>
                                            <input class="form-control"  type="text" :class="{'is-invalid': errors.email}" v-model="contact.email" placeholder="Email">
                                            <div v-if="errors.email" class="invalid-feedback">{{ errors.email[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" v-if="contact.contact_type=='Customer'">
                                     <div class="col-sm-12" >
                                        <div class="form-group">
                                            <label for="barcode">Barcode</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.barcode}" v-model="contact.barcode"  placeholder="Barcode">
                                            <div v-if="errors.barcode" class="invalid-feedback">{{ errors.barcode[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="mobile_no">Mobile No *</label>
                                            <input class="form-control"  type="text" :class="{'is-invalid': errors.mobile_no}" v-model="contact.mobile_no"  placeholder="Mobile No">
                                            <div v-if="errors.mobile_no" class="invalid-feedback">{{ errors.mobile_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="phone_no">Phone No</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.phone_no}" v-model="contact.phone_no"  placeholder="Phone No">
                                            <div v-if="errors.phone_no" class="invalid-feedback">{{ errors.phone_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="pan_no">PAN NO</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.pan_no}" v-model="contact.pan_no"  placeholder="PAN NO">
                                            <div v-if="errors.pan_no" class="invalid-feedback">{{ errors.pan_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="gstin_no">GSTIN No</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.gstin_no}" v-model="contact.gstin_no"  placeholder="GSTIN No">
                                            <div v-if="errors.gstin_no" class="invalid-feedback">{{ errors.gstin_no[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="billing_address">Biiling Address</label>
                                            <textarea class="form-control" type="text" :class="{'is-invalid': errors.billing_address}" v-model="contact.billing_address" placeholder="Biiling Address"></textarea>
                                            <div v-if="errors.billing_address" class="invalid-feedback">{{ errors.billing_address[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="shipping_address">Shipping Address</label>
                                            <textarea class="form-control" type="text" :class="{'is-invalid': errors.shipping_address}" v-model="contact.shipping_address"  placeholder="Shipping Address"></textarea>
                                            <div v-if="errors.shipping_address" class="invalid-feedback">{{ errors.shipping_address[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="account_no">Account No</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.account_no}" v-model="contact.account_no" placeholder="Account No">
                                            <div v-if="errors.account_no" class="invalid-feedback">{{ errors.account_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="ifsc_code">IFSC Code</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.ifsc_code}" v-model="contact.ifsc_code" placeholder="IFSC Code">
                                            <div v-if="errors.ifsc_code" class="invalid-feedback">{{ errors.ifsc_code[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="bank_name">Bank Name</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.bank_name}" v-model="contact.bank_name"  placeholder="Bank Name">
                                            <div v-if="errors.bank_name" class="invalid-feedback">{{ errors.bank_name[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="branch_name">Branch Name</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.branch_name}" v-model="contact.branch_name"  placeholder="Branch Name">
                                            <div v-if="errors.branch_name" class="invalid-feedback">{{ errors.branch_name[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="date_of_birth">Date of Birth</label>
                                            <input class="form-control" type="date" :class="{'is-invalid': errors.date_of_birth}" v-model="contact.date_of_birth" placeholder="Date of Birth">
                                            <div v-if="errors.date_of_birth" class="invalid-feedback">{{ errors.date_of_birth[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="wedding_anniversary">Wedding Anniversary</label>
                                            <input class="form-control" type="date" :class="{'is-invalid': errors.wedding_anniversary}" v-model="contact.wedding_anniversary"  placeholder="Wedding Anniversary">
                                            <div v-if="errors.wedding_anniversary" class="invalid-feedback">{{ errors.wedding_anniversary[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="payment_term_id">Payment Terms*</label>
                                            <select class="form-control"  :class="{'is-invalid': errors.payment_term_id}" v-model="contact.payment_term_id">
                                                <option value="">Select Payment Term</option>
                                                <option v-for="payment_term in payment_terms" :value="payment_term.payment_term_id">{{ payment_term.payment_term }}</option>
                                            </select>
                                            <div v-if="errors.payment_term_id" class="invalid-feedback">{{ errors.payment_term_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="place_id">Place*</label>
                                            <select class="form-control"  :class="{'is-invalid': errors.place_id}" v-model="contact.place_id"  >
                                                <option value="">Select Places</option>
                                                <option v-for="place in places" :value="place.place_id">{{ place.place_name }}</option>
                                            </select>
                                            <div v-if="errors.place_id" class="invalid-feedback">{{ errors.place_id[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer" v-show="status==0">
                                <div class="card-header-actions">
                                    <button  class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button  class="btn btn-sm btn-success" type="button" @click="save()">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                </div>
                            </div>
                            <div class="card-footer" v-show="status==1">
                                <div class="card-header-actions">
                                    <router-link to="/contact/display" class="btn btn-sm btn-danger">
                                        <i class="fa fa-ban"></i> Discard
                                    </router-link>
                                    <button class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        data(){
            return{
                status: 0,
                contact:{
                    contact_id:'',
                    contact_type:'',
                    contact_code:'',
                    contact_name:'',
                    barcode:'',
                    email:'',
                    mobile_no:'',
                    phone_no:'',
                    pan_no:'',
                    gstin_no:'',
                    billing_address:'',
                    shipping_address:'',
                    payment_term_id:'',
                    place_id:'',
                    date_of_birth:'',
                    wedding_anniversary:''
                },
                places:{},
                payment_terms:{},
                errors:{}
            }
        },

        beforeRouteEnter(to, from, next) {
            if(to.name=='contact-create') {
                next(vm => {
                    vm.getContactCode()
                });
            }
            else {
                axios.post(`contact/edit/${to.params.contact_id}`)
                .then(function (response) {
                    next(vm => {
                        vm.getPaymentTerms(),
                        vm.contact = response.data,
                        vm.status = 1,
                        vm.$refs.contact_type.focus()
                    });
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            }
        },

        methods:{
            discard(){
                let vm = this;
                vm.errors='',
                vm.contact={},
                vm.contact.contact_type = "",
                vm.status=0,
                vm.$refs.contact_type.focus(),
                vm.getContactCode()
            },

            getContactCode() {
                let vm = this;
                axios.post('contact/get_contact_code')
                .then(function (response) {
                    vm.contact.contact_code = response.data,
                    vm.getPaymentTerms()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getPaymentTerms() {
                let vm = this;
                axios.post('payment_term/get_payment_terms')
                .then(function (response) {
                    vm.payment_terms = response.data,
                    vm.getPlaces()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getPlaces() {
                let vm = this;
                axios.post('place/get_places')
                .then(function (response) {
                    vm.places = response.data,
                    vm.setData()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            setData(){
                let vm = this;
                if(vm.status==0) {
                    vm.contact.payment_term_id = vm.payment_terms[0].payment_term_id,
                    vm.contact.place_id = vm.places[0].place_id
                }
            },

            save() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('contact/store',this.contact)
                .then(function (response) {
                    vm.discard(),
                    vm.$vDialog.close(null, key),
                    vm.toast("Contact is successfully created","success");
                    vm.$router.push('/contact/display')
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            update() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('contact/update',this.contact)
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.toast("Contact is successfully updated","success"),
                    vm.$router.push('/contact/display')
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>