<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Report</li>
            <li class="breadcrumb-item">Customer Outstanding</li>
            <li class="breadcrumb-right">
                <router-link to="/report" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button @click="pdf" type="button" class="btn btn-xs btn-primary">
                    PDF
                </button>
                <button @click="excel" type="button" class="btn btn-xs btn-primary">
                    Excel
                </button>
                <button v-b-modal.report type="button" class="btn btn-xs btn-primary">
                    Filter
                </button>
                <button @click="reset" type="button" class="btn btn-xs btn-danger">
                    Reset
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Customer</strong>
                            </div>
                            <div class="card-body" v-show="report.display_type=='display' || report.display_type=='excel'">
                                <table id="datatable" class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center" colspan="9">CUSTOMER OUTSTANDING REPORT</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center" colspan="9">
                                                <div>From Date: {{ report.from_date | moment("DD-MM-YYYY") }} - To Date: {{ report.to_date | moment("DD-MM-YYYY") }}</div>
                                            </th>
                                        </tr>
                                        
                                    </thead>
                                    <tbody v-if="customers.length>0" v-for="customer,key in customers">
                                        <tr>
                                            <th :rowspan="customer.invoice_receipts.length+4">{{ ++key }}</th>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div>
                                                    <strong>{{ org.org_name }}</strong>
                                                </div>
                                                <div>{{ org.address }}</div>
                                                <div>Email: {{ org.email }}</div>
                                                <div>Phone: {{ org.mobile_no }}</div>
                                                <div>PAN: {{ org.pan_no }}</div>
                                                <div>GSTIN: {{ org.gstin_no }}</div>
                                            </td>
                                            <td colspan="3">
                                                <div>
                                                    <div>
                                                        <strong>{{ customer.contact_name }}</strong>
                                                    </div>
                                                    <div>Contact Code: {{ customer.contact_code }}</div>
                                                    <div>{{ customer.billing_address }}</div>
                                                    <div>Phone: {{ customer.mobile_no }}</div>
                                                    <div>GSTIN: {{ customer.gstin_no }}</div>
                                                </div>
                                                
                                            </td>
                                        </tr>
                                        <tr v-if="report.report_type=='Brief Report'">
                                            <th class="text-center">#</th>
                                            <th>Date</th>
                                            <th>Invoice No</th>
                                            <th>Total</th>
                                            <th>Paid</th>
                                            <th>Due</th>
                                        </tr>
                                        <tr v-if="report.report_type=='Brief Report'" v-for="inv,key in customer.invoice_receipts">

                                            <td>{{ ++key }}</td>
                                            <td>
                                                {{ inv.invoice_date | moment("DD-MM-YYYY")}}
                                            </td>
                                            <td>
                                                {{ inv.invoice_no }}
                                            </td>
                                            <td class="text-right">
                                                {{ inv.grand_total | tofix }}
                                            </td>
                                            <td class="text-right">
                                                {{ inv.paid_amount | tofix }}
                                            </td>
                                            <td class="text-right">
                                                {{ inv.due_amount | tofix }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th colspan="3" class="text-right">Total</th>
                                            <th class="text-right">{{ customer.invoice_receipts | redArr('grand_total') | tofix }}</th>
                                            <th class="text-right">{{ customer.invoice_receipts | redArr('paid_amount') | tofix }}</th>
                                            <th class="text-right">{{ customer.invoice_receipts | redArr('due_amount') | tofix }}</th>
                                        </tr>
                                         <tr>
                                            <th colspan="9" class="text-center"></th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-body" v-show="report.display_type=='pdf'">
                                <div class="row">
                                    <iframe :src="report.source" width="100%" height="400" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="report" title="Report" @ok="filter">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="from_date">From Date *</label>
                        <input class="form-control" type="date" v-model="report.from_date" placeholder="From Date">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="to_date">To Date *</label>
                        <input class="form-control" type="date" v-model="report.to_date" placeholder="To Date">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="customer_id">Customer</label>
                        <contact :contact_type="report.contact_type" :initialize="report.contact_name" @input="selectContact($event.target.value)"></contact>
                    </div>
                </div>
            </div>
        </b-modal>
    </main>
</template>
<script>
    import { Contact } from '../plugins/contact'
    export default{
        components: { Contact },
        props: ['org'],
        data(){
            return{
                report: {
                    from_date:moment(new Date()).format('YYYY-MM-DD'),
                    to_date:moment(new Date()).format('YYYY-MM-DD'),
                    customer_id:'',
                    contact_name:'',
                    contact_type:'Customer',
                    display_type:'display',
                    report_type:'Brief Report',
                },
                customers:[],
            }
        },
        mounted(){
            let vm = this;
            vm.getReport();
        },
        filters:{
            redArr:function(value,field){
                return value.reduce(function(sum,val){
                    return parseFloat(sum)+parseFloat(val[`${field}`])
                },0);
            },
            tofix:function(value){
                return parseFloat(value).toFixed(2);
            }
        },
        methods:{
            getReport() {
                let vm = this;
                vm.customers = [];
                let key = vm.$vDialog.mask("Loading...");
                axios.get("contact/outstanding_report", {
                        params: {
                          from_date:vm.report.from_date,
                          to_date:vm.report.to_date,
                          customer_id:vm.report.customer_id,
                          display_type:vm.report.display_type,
                          report_type:vm.report.report_type,
                          contact_type:vm.report.contact_type,
                        }
                    }).then(function (response) {
                    vm.$vDialog.close(null, key),
                    _.forEach(response.data,function(value){
                        _.forEach(value.invoice_receipts,function(val){
                            if(val.invoice_receipt_total==null){
                                vm.$set(val,'paid_amount',0);
                                vm.$set(val,'due_amount',val.grand_total);
                            }else{
                                vm.$set(val,'paid_amount',val.invoice_receipt_total.paid_amount);
                                vm.$set(val,'due_amount',val.grand_total-val.invoice_receipt_total.paid_amount);
                            }
                        })
                        vm.customers.push(value)
                    })
                })
                .catch(function (error) {
                    vm.$vDialog.close(null, key),
                    vm.toast(error.message,'error')
                });
            },            
            selectContact(e) {
                let vm = this;
                const contact = e;
                vm.report.customer_id = contact.contact_id;
                vm.report.contact_name = contact.contact_name;
            },
            reset() {
                let vm = this;
                vm.report.from_date = moment(new Date()).format('YYYY-MM-DD'),
                vm.report.to_date = moment(new Date()).format('YYYY-MM-DD'),
                vm.report.customer_id ='',
                vm.report.contact_name = '',
                vm.report.contact_type = 'Customer',
                vm.report.display_type = 'display',
                vm.report.report_type = 'Brief Report',
                vm.getReport()
            },

            filter() {
                let vm = this;
                vm.report.display_type = 'display';
                vm.getReport();
            },

            pdf() {
                let vm = this;
                vm.report.display_type='pdf';
                vm.report.source="contact/outstanding_report?from_date=" + vm.report.from_date + '&to_date=' + vm.report.to_date + '&customer_id=' + vm.report.customer_id + '&display_type=' + vm.report.display_type + '&report_type=' + vm.report.report_type + '&contact_type=' + vm.report.contact_type;
            },

            excel() {
                let vm = this;
                vm.report.display_type='excel';
                vm.report.source="contact/outstanding_report?from_date=" + vm.report.from_date + '&to_date=' + vm.report.to_date + '&customer_id=' + vm.report.customer_id + '&display_type=' + vm.report.display_type + '&report_type=' + vm.report.report_type + '&contact_type=' + vm.report.contact_type;
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>