<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">People</li>
            <li class="breadcrumb-item">Contacts</li>
            <li class="breadcrumb-right">
                <router-link to="/contact/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i> New Contact
                </router-link>
                <button v-b-modal.excelimport type="button" class="btn btn-xs btn-primary">
                    Excel Upload
                </button>
                <button  class="btn btn-xs btn-primary" @click="ExcelExport()">
                    Excel Export
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Contacts</strong>
                            </div>
                            
                            <div class="card-body">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Search" v-model="pagination.search" @keyup="display()" ref="search">
                                </div>
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Contact type</th>
                                            <th>Contact Code</th>
                                            <th>Contact Name</th>
                                            <th>Email</th>
                                            <th>Mobile No</th>
                                            <th>Barcode</th>
                                            <th>Points</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cursor" v-for="contact,key in contacts" @click="view(contact)">
                                            <td class="text-center">{{ pagination.from+key }}</td>
                                            <td>{{ contact.contact_type }}</td>
                                            <td>{{ contact.contact_code }}</td>
                                            <td>{{ contact.contact_name }}</td>
                                            <td>{{ contact.email }}</td>
                                            <td>{{ contact.mobile_no }}</td>
                                            <td>{{ contact.barcode }}</td>
                                            <td>{{ contact.points }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer" v-show="pagination.lastPage!=1">
                                <b-pagination align="right" size="md" @input="display" :total-rows="pagination.totalRows" :per-page="pagination.perPage" v-model="pagination.currentPage"></b-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" v-show="0">
                <iframe :src="excelexport" width="100%" height="400" frameborder="0"></iframe>
            </div>
        </div>
        <b-modal id="excelimport" title="Import Excel" @ok="ExcelUpload(excel_upload)">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <label  class="col-md-3 col-form-label" for="contact_excel_upload">Contact Excel</label>
                        <input type="file" name="excel_file" id="excel_file" ref="contact_excel_upload" class="col-md-9 form-control" @change="handleFileUpload('Contact',$event)">
                    </div>
                </div>
            </div>
        </b-modal>
    </main>
    
</template>
<script>
    export default{
        data(){
            return{
                pagination:{
                    currentPage: 1,
                    totalRows: 0,
                    perPage: 1,
                    lastPage:1,
                    from: 1,
                    search: ''
                },
                contacts:{},
                excel_upload:{
                    contact:'',
                },
                excelexport:'',
                errors:{},
                name:'rafiq',
            }
        },

        // mounted(){
        //     let vm = this;
        //     vm.$refs.search.focus()
        //     vm.display();
        // },

        beforeRouteEnter(to, from, next) {
            console.log(to,to.params.contact_type)
            if(to.params.contact_type!=null) {
                next(vm => {
                    vm.pagination.search=to.params.contact_type
                });
            }
            next(vm => {
                vm.display();
                vm.$refs.search.focus()
            });
           
        },
        
        methods:{
            display() {
                let vm = this;
                axios.post('contact/display?page=' + vm.pagination.currentPage + '&search=' + vm.pagination.search)
                .then(function (response) {
                    vm.contacts = response.data.data,
                    vm.pagination.totalRows = response.data.total
                    vm.pagination.from = response.data.from,
                    vm.pagination.perPage = response.data.per_page,
                    vm.pagination.lastPage = response.data.last_page
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            view(contact) {
                let vm = this;
                vm.$router.push(`/contact/view/${contact.contact_id}`);
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            },

             handleFileUpload(status,e){
                if(status == 'Contact'){
                    let uploadedFile = this.$refs.contact_excel_upload.files[0];
                    this.excel_upload.contact = uploadedFile;    
                }
            },

            ExcelUpload(excel_upload){
                let vm = this;
                let formData = new FormData();
                formData.append('contact_excel',excel_upload.contact);
                axios.post('contact/excel_upload',formData,
                    {headers: {
                        'Content-Type': 'multipart/form-data',
                        'mimeType':'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
                    }
                }).then(function(response){
                    vm.toast("Excel is successfully uploaded","success")
                    Object.assign(vm.$data.excel_upload, vm.$options.data().excel_upload);
                    vm.$refs.contact_excel_upload.value = '';
                })
                .catch(function(error){
                    vm.toast("Error in Upload","error")
                    Object.assign(vm.$data.excel_upload, vm.$options.data().excel_upload);
                    vm.errors = error.response.data.errors;
                    vm.$refs.contact_excel_upload.value = '';
                    
                });
            },

            ExcelExport() {
               
                let vm = this;
                //let name = 'abc';
                vm.excelexport = 'contact/all_contacts_reports';
                console.log('excel',vm.excelexport);
                // axios.get('all_contacts/report')
                // .then(function(response){
                //     //vm.excelexport=response.data;
                //     //vm.toast("Excel is successfully uploaded","success")
                    
                // })
                // .catch(function(error){
                //     vm.toast("Error in Upload","error")
                // });
            },
        }
    }
</script>