<template>
	<main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">People</li>
            <li class="breadcrumb-item">Contact</li>

            <li class="breadcrumb-right">
                <router-link to="/contact/display" class="btn btn-sm btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <router-link to="/contact/create" class="btn btn-sm btn-primary">
                    <i class="fa fa-plus"></i>
                </router-link>
                <button type="button" @click="edit()" class="btn btn-sm btn-primary">
                    <i class="fa fa-edit"></i>
                </button>
                <button @click="destroy()" type="button" class="btn btn-sm btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
            </li>
        </ol>
       
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Customer : 
                                <strong>{{ contact.contact_name}}</strong>
                            </div>
                            <div class="card-body">
                                <div class="row"> 
                                    <div class="col-md-4">
                                        <div class="row mb-4">
                                            <div class="col-sm-12">
                                               <strong><div class="mb-3">Details:</div></strong>
                                                <div>
                                                    Name:{{ contact.contact_name }}
                                                </div>
                                                <div>Email: {{ contact.email }}</div>
                                                <div>Phone: {{ contact.mobile_no }}</div>
                                                <div>PAN: {{ contact.pan_no }}</div>
                                                <div>GSTIN: {{ contact.gstin_no }}</div>
                                            </div>
                                            <hr><br>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-sm-12">
                                                <strong><div class="mb-3">Billing Address:</div></strong>
                                                
                                                <div>{{ contact.billing_address }}</div>
                                            </div>
                                            <hr><br>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-sm-12">
                                                <strong><div class="mb-3">Shipping Address:</div></strong>
                                                
                                                <div>{{ contact.shipping_address }}</div>
                                            </div>
                                            <hr><br>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="card-group mb-4">
                                            <div class="card">
                                                <div class="card-body">
                                                  <div class="h1 text-muted text-right mb-4">
                                                    <i class="icon-people"></i>
                                                  </div>
                                                  <div class="text-value">87.500</div>
                                                  <small class="text-muted text-uppercase font-weight-bold">Total Revenue</small>
                                                
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                  <div class="h1 text-muted text-right mb-4">
                                                    <i class="icon-user-follow"></i>
                                                  </div>
                                                  <div class="text-value">385</div>
                                                  <small class="text-muted text-uppercase font-weight-bold">Open Sales Orders</small>
                                                  
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                  <div class="h1 text-muted text-right mb-4">
                                                    <i class="icon-basket-loaded"></i>
                                                  </div>
                                                  <div class="text-value">1238</div>
                                                  <small class="text-muted text-uppercase font-weight-bold">Products sold</small>
                                                  
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-group mb-4">
                                            <div class="card">
                                                <div class="card-body">
                                                  <div class="h1 text-muted text-right mb-4">
                                                    <i class="icon-people"></i>
                                                  </div>
                                                  <div class="text-value">87.500</div>
                                                  <small class="text-muted text-uppercase font-weight-bold">Unpaid Invoices</small>
                                                 
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                  <div class="h1 text-muted text-right mb-4">
                                                    <i class="icon-user-follow"></i>
                                                  </div>
                                                  <div class="text-value">385</div>
                                                  <small class="text-muted text-uppercase font-weight-bold">New Clients</small>
                                                  
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                  <div class="h1 text-muted text-right mb-4">
                                                    <i class="icon-basket-loaded"></i>
                                                  </div>
                                                  <div class="text-value">1238</div>
                                                  <small class="text-muted text-uppercase font-weight-bold">Products sold</small>
                                                  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Purchase</strong>
                                <div class="card-header-actions">
                                    <router-link to="/purchase/create"  @click="create()" class="btn btn-sm btn-primary">
                                        <i class="fa fa-plus"></i> Create 
                                    </router-link>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Bill No</th>
                                            <th>Bill Date</th>
                                            <th>Due Date</th>
                                            <th>Status</th>
                                         
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cursor" v-for="purchase,key in purchases">
                                            <td></td>
                                            <td>{{ purchase.bill_no }}</td>
                                            <td>{{ purchase.bill_date | moment("DD-MM-YYYY") }}</td>
                                            <td>{{ purchase.due_date | moment("DD-MM-YYYY") }}</td>
                                            
                                            <td>{{ purchase.purchase_status }}</td>
                                        </tr>
                                    </tbody>
                                
                                </table>
                            </div>
                            <div class="card-footer">
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Quotaion</strong>
                                <div class="card-header-actions">
                                    <router-link to="/quotation/create" class="btn btn-sm btn-primary">
                                        <i class="fa fa-plus"></i> Create 
                                    </router-link>
                                </div>
                            </div>
                            <div class="card-body">
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Bill No</th>
                                            <th>Bill Date</th>
                                            <th>Due Date</th>
                                            
                                            <th>Status</th>
                                         
                                        </tr>
                                    </thead>
                                  
                                
                                </table>
                            </div>
                            <div class="card-footer">
                               
                            </div>
                       
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        props: ['org'],
        data(){
            return{
                contact:{},
                places:{},
                purchases:{},
                payment_terms:{},
                errors:{},
                status: 0
            }
        },

        beforeRouteEnter(to, from, next) {
            axios.post(`contact/view/${to.params.contact_id}`)
            .then(function (response) {
                next(vm => {
                    vm.contact = response.data.contact,
                    vm.purchases = response.data.purchases
                })
            })
        },
        
        methods:{
            destroy(){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    axios.post('contact/destroy',this.contact)
                    .then(function (response) {
                        vm.toast("Contact is successfully Deleted","success");
                        vm.$router.push('/contact/display');
                    })
                    .catch(function (error) {
                        vm.errors = error.response.data.errors
                    });
                }
            },

            edit() {
                let vm = this;
                vm.$router.push(`/contact/edit/${vm.contact.contact_id}`);
            },

            create() {
                let vm = this;
                vm.$router.push(`/purchase/create/${vm.contact.contact_id}`);
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                    }, {
                        messageType: message_type,
                        position : 'topRight',
                        language: 'en',
                        closeTime: 3
                    });
            }
        }
    }
</script>