<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Report</li>
            <li class="breadcrumb-item">Vendor</li>
            <li class="breadcrumb-right">
                <router-link to="/report" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button @click="pdf" type="button" class="btn btn-xs btn-primary">
                    PDF
                </button>
                <button @click="excel" type="button" class="btn btn-xs btn-primary">
                    Excel
                </button>
                <button v-b-modal.report type="button" class="btn btn-xs btn-primary">
                    Filter
                </button>
                <button @click="reset" type="button" class="btn btn-xs btn-danger">
                    Reset
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Vendor</strong>
                            </div>
                            <div class="card-body" v-show="report.display_type=='display' || report.display_type=='excel'">
                                <table id="datatable" class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center" colspan="9">VENDOR REPORT</th>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div>
                                                    <strong>{{ org.org_name }}</strong>
                                                </div>
                                                <div>{{ org.address }}</div>
                                                <div>Email: {{ org.email }}</div>
                                                <div>Phone: {{ org.mobile_no }}</div>
                                                <div>PAN: {{ org.pan_no }}</div>
                                                <div>GSTIN: {{ org.gstin_no }}</div>
                                            </td>
                                            <td colspan="2">
                                                <div v-if="report.vendor_id!='' && particularas.vendor!=null">
                                                    <div>
                                                        <strong>{{ particularas.vendor.contact_name }}</strong>
                                                    </div>
                                                    <div>{{ particularas.vendor.billing_address }}</div>
                                                    <div>Phone: {{ particularas.vendor.mobile_no }}</div>
                                                    <div>GSTIN: {{ particularas.vendor.gstin_no }}</div>
                                                </div>
                                                <div>From Date: {{ report.from_date | moment("DD-MM-YYYY") }}</div>
                                                <div>To Date: {{ report.to_date | moment("DD-MM-YYYY") }}</div>
                                            </td>
                                        </tr>
                                        <tr >
                                            <th class="text-center">#</th>
                                            <th v-show='0' v-text='i = 0'>#</th>
                                            <th>Date</th>
                                            <th>Particulars</th>
                                            <th>Payment</th>
                                            <th>Receipt</th>
                                        </tr>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>{{ report.from_date | moment("DD-MM-YYYY") }}</th>
                                            <th>Opening Balance</th>
                                            <th class="text-right">{{ (particularas.openingPaymentTotal) | tofix }}</th>
                                            <th class="text-right">{{ (particularas.openingReceiptTotal) | tofix }}</th>
                                        </tr>
                                    </thead>
                                    <tbody  v-for="prt,key in dated_particulars">
                                        <tr v-if="prt.bills.length > 0" v-for="bl in prt.bills" @click="view(bl,'bill')">
                                            <td>{{ ++i }}</td>
                                             <td>
                                                {{ bl.bill_date | moment("DD-MM-YYYY")}}
                                            </td>
                                            <td>
                                                {{ bl.bill_no }}
                                            </td>
                                            <td class="text-right">
                                                {{ bl.grand_total | tofix }}
                                            </td>
                                            <td class="text-right">
                                                -
                                            </td>
                                        </tr>
                                        <tr v-if="prt.payments.length > 0" v-for="pym in prt.payments" @click="view(pym,'payment')">
                                            <td>{{ ++i }}</td>
                                            <td>
                                                {{ pym.voucher_date | moment("DD-MM-YYYY")}}
                                            </td>
                                            <td>
                                                {{ pym.voucher_no }}
                                            </td>
                                            <td class="text-right">
                                               -
                                            </td>
                                            <td class="text-right">
                                                {{ pym.total_amount | tofix }}
                                            </td>
                                        </tr>
                                        <tr v-if="prt.incomes.length > 0" v-for="inc in prt.incomes" @click="view(inc,'income')">
                                            <td>{{ ++i }}</td>
                                            <td>
                                                {{ inc.receipt_date | moment("DD-MM-YYYY")}}
                                            </td>
                                            <td>
                                                {{ inc.receipt_no }}
                                            </td>
                                             <td class="text-right">
                                                -
                                            </td>
                                            <td class="text-right">
                                                {{ inc.amount | tofix }}
                                            </td>
                                        </tr>
                                        <tr v-if="prt.expenses.length > 0" v-for="exp in prt.expenses" @click="view(exp,'expense')">
                                            <td>{{ ++i }}</td>
                                            <td>
                                                {{ exp.voucher_date | moment("DD-MM-YYYY")}}
                                            </td>
                                            <td>
                                                {{ exp.voucher_no }}
                                            </td>
                                            <td class="text-right">
                                                {{ exp.amount | tofix }}
                                            </td>
                                            <td class="text-right">
                                                -
                                            </td>
                                        </tr>
                                    </tbody>
                                    <tfoot >
                                        <tr>
                                            <th colspan="3" class="text-right">Total</th>
                                            <th class="text-right">{{ paymentTotal }}</th>
                                            <th class="text-right">{{ receiptTotal }}</th>
                                        </tr>
                                        <tr>
                                            <th colspan="4" class="text-right">Balance Amount</th>
                                            <th class="text-right">{{ balanceTotal }}</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="card-body" v-show="report.display_type=='pdf'">
                                <div class="row">
                                    <iframe :src="report.source" width="100%" height="400" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="report" title="Report" @ok="filter">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="from_date">From Date *</label>
                        <input class="form-control" type="date" v-model="report.from_date" placeholder="From Date">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="to_date">To Date *</label>
                        <input class="form-control" type="date" v-model="report.to_date" placeholder="To Date">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="vendor_id">Vendor</label>
                        <contact :contact_type="report.contact_type" :initialize="report.contact_name" @input="selectContact($event)"></contact>
                    </div>
                </div>
            </div>
        </b-modal>
    </main>
</template>
<script>
    import { Contact } from '../plugins/contact'
    export default{
        components: { Contact },
        props: ['org'],
        data(){
            return{
                report: {
                    from_date:new Date().toISOString().slice(0,10),
                    to_date:new Date().toISOString().slice(0,10),
                    vendor_id:'',
                    contact_name:'',
                    contact_type:'Vendor',
                    display_type:'display',
                },
                particularas:{},
                dated_particulars:[]
            }
        },
        mounted(){
            let vm = this;
            vm.getReport();
        },
        computed:{
            billAmount: function(){
                return this.particularas.bills.reduce((sum, val) => +sum + +val.grand_total, 0).toFixed(2);
            },
            paymentAmount: function(){
                return this.particularas.payments.reduce((sum, val) => +sum + +val.total_amount, 0).toFixed(2);
            },
            incomeAmount: function(){
                return this.particularas.incomes.reduce((sum, val) => +sum + +val.amount, 0).toFixed(2);
            },
            expenseAmount: function(){
                return this.particularas.expenses.reduce((sum, val) => +sum + +val.amount, 0).toFixed(2);
            },
            paymentTotal:function(){

                var a = parseFloat(this.billAmount)+parseFloat(this.expenseAmount)+this.particularas.openingPaymentTotal;
                return parseFloat(a).toFixed(2);
            },
            receiptTotal:function(){

                var a = parseFloat(this.paymentAmount)+parseFloat(this.incomeAmount)+this.particularas.openingReceiptTotal;
                return parseFloat(a).toFixed(2);
            },
            balanceTotal:function(){

                var a = parseFloat(this.paymentTotal)-parseFloat(this.receiptTotal);
                return parseFloat(a).toFixed(2);
            }
        },
        methods:{
            getReport() {
                let vm = this;

                let key = vm.$vDialog.mask("Loading...");
                axios.get("contact/report?from_date=" + vm.report.from_date + '&to_date=' + vm.report.to_date + '&vendor_id=' + vm.report.vendor_id + '&display_type=' + vm.report.display_type + '&contact_type=' + vm.report.contact_type)
                .then(function (response) {
                    
                    vm.$vDialog.close(null, key),
                    vm.particularas = response.data
                    vm.particularFilter(response.data);
                })
                .catch(function (error) {
                    vm.$vDialog.close(null, key),
                    vm.toast(error.message,'error')
                });
            },
            particularFilter(particulars){
                let vm = this;
                vm.dated_particulars = [];
                var start_date = vm.report.from_date;
                var end_date = vm.report.to_date;
                for( var curr_date = moment(start_date); curr_date.isSameOrBefore(end_date);curr_date.add(1,'days')){
                    var dated_particular = {};
                    dated_particular = Object.assign({},dated_particular,{
                        'current_date':curr_date.format('YYYY-MM-DD'),
                        'bills':daywise_filter(particulars.bills,curr_date,'bill_date'),
                        'payments':daywise_filter(particulars.payments,curr_date,'voucher_date'),
                        'incomes':daywise_filter(particulars.incomes,curr_date,'receipt_date'),
                        'expenses':daywise_filter(particulars.expenses,curr_date,'voucher_date'),

                    });
                    vm.dated_particulars.push(dated_particular);
                }
                function daywise_filter(arr,curr_date,field){
                    let a = _.filter(arr,function(val){
                        return moment(_.get(val,field),['YYYY-MM-DD']).isSame(moment(curr_date,['YYYY-MM-DD']));
                    });
                    return a;
                }
            },
            selectContact(e) {
                let vm = this;
                const contact = e.target.value;
                vm.report.vendor_id = contact.contact_id;
                vm.report.contact_name = contact.contact_name;
            },
            reset() {
                let vm = this;
                vm.report.from_date = new Date().toISOString().slice(0,10),
                vm.report.to_date = new Date().toISOString().slice(0,10),
                vm.report.vendor_id ='',
                vm.report.contact_name = '',
                vm.report.contact_type = 'Vendor',
                vm.report.display_type = 'display',
                vm.getReport()
            },

            filter() {
                let vm = this;
                vm.report.display_type = 'display';
                vm.getReport();
            },

            pdf() {
                let vm = this;
                vm.report.display_type='pdf';
                vm.report.source="contact/report?from_date=" + vm.report.from_date + '&to_date=' + vm.report.to_date + '&vendor_id=' + vm.report.vendor_id + '&display_type=' + vm.report.display_type + '&contact_type=' + vm.report.contact_type;
            },

            excel() {
                let vm = this;
                vm.report.display_type='excel';
                vm.report.source="contact/report?from_date=" + vm.report.from_date + '&to_date=' + vm.report.to_date + '&vendor_id=' + vm.report.vendor_id + '&display_type=' + vm.report.display_type + '&contact_type=' + vm.report.contact_type;
            },

            view(arr,type){
                switch(type){
                    case 'bill':
                        this.$router.push(`/bill/view/${arr.bill_id}`);
                        break;
                    case 'payment':
                        this.$router.push(`/payment/view/${arr.payment_id}`);
                        break;
                    case 'income':
                        this.$router.push(`/income/view/${arr.income_id}`);
                        break;
                    case 'expense':
                        this.$router.push(`/expense/view/${arr.expense_id}`);
                        break;
                }
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>