<template>
	<main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">People</li>
            <li class="breadcrumb-item">Contact</li>

            <li class="breadcrumb-right">
                <router-link to="/contact/display" class="btn btn-sm btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button v-b-modal.report class="btn btn-sm btn-primary">
                    <i class="fa fa-plus"> Add Points</i>
                </button>
                <button @click="edit()" type="button" class="btn btn-sm btn-primary">
                    <i class="fa fa-edit"></i>
                </button>
                <button v-show="delete_status" @click="destroy()" type="button" class="btn btn-sm btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Customer : 
                                <strong>{{ contact.contact_name}}</strong>
                            </div>
                            <div class="card-body">
                                <div class="row"> 
                                    <div class="col-md-4">
                                        <div class="row mb-4">
                                            <div class="col-sm-12">
                                               <strong><div class="mb-3">Details:</div></strong>
                                                <div v-if="contact.barcode!=''" class="p-1">
                                                    <img :src="barcode" alt="barcode"/><br>
                                                    <a class=" mt-2 mb-2 btn btn-xs btn-success" :href="barcode" download>
                                                    <i class="pr-2 fa fa-download"></i>Download</a>
                                                </button>
                                                </div>
                                                <div>Name:{{ contact.contact_name }}</div>
                                                <div>Email: {{ contact.email }}</div>
                                                <div>Phone: {{ contact.mobile_no }}</div>
                                                <div>PAN  : {{ contact.pan_no }}</div>
                                                <div>GSTIN: {{ contact.gstin_no }}</div>
                                            </div>
                                            <hr><br>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-sm-12">
                                                <strong><div class="mb-3">Billing Address:</div></strong>
                                                
                                                <div>{{ contact.billing_address }}</div>
                                            </div>
                                            <hr><br>
                                        </div>
                                        <div class="row mb-4">
                                            <div class="col-sm-12">
                                                <strong><div class="mb-3">Shipping Address:</div></strong>
                                                
                                                <div>{{ contact.shipping_address }}</div>
                                            </div>
                                            <hr><br>
                                            
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                    	<!-- vendor -->
                                        <div class="card-group mb-4" v-if="contact.contact_type == 'Vendor'">
                                            <div class="card">
                                                <div class="card-body">
                                                  <div class="h1 text-muted text-right mb-4">
                                                    <i class="icon-people"></i>
                                                  </div>
                                                  <div class="text-value">{{ contact.vendor_purchase_orders | reduceArray('grand_total') | tofix }}</div>
                                                  <small class="text-muted text-uppercase font-weight-bold">Purchase Order Total</small>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                  <div class="h1 text-muted text-right mb-4">
                                                    <i class="icon-user-follow"></i>
                                                  </div>
                                                  <div class="text-value">{{ contact.vendor_bills | reduceArray('grand_total') | tofix }}</div>
                                                  <small class="text-muted text-uppercase font-weight-bold">Bill Total</small>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                  <div class="h1 text-muted text-right mb-4">
                                                    <i class="icon-basket-loaded"></i>
                                                  </div>
                                                  <div class="text-value">{{ contact.vendor_payments | reduceArray('total_amount') | tofix }}</div>
                                                  <small class="text-muted text-uppercase font-weight-bold">Payment Total</small>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- customer -->
                                        <div class="card-group mb-4" v-if="contact.contact_type == 'Customer'">
                                            <div class="card">
                                                <div class="card-body">
                                                  <div class="h1 text-muted text-right mb-4">
                                                    <i class="icon-people"></i>
                                                  </div>
                                                  <div class="text-value">{{ contact.customer_quotations | reduceArray('grand_total') | tofix }}</div>
                                                  <small class="text-muted text-uppercase font-weight-bold">Quotation Total</small>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                  <div class="h1 text-muted text-right mb-4">
                                                    <i class="icon-user-follow"></i>
                                                  </div>
                                                  <div class="text-value">{{ contact.customer_proformas | reduceArray('grand_total') | tofix }}</div>
                                                  <small class="text-muted text-uppercase font-weight-bold">Proforma Total</small>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                  <div class="h1 text-muted text-right mb-4">
                                                    <i class="icon-basket-loaded"></i>
                                                  </div>
                                                  <div class="text-value">{{ contact.customer_deliverys | reduceArray('total_amount') | tofix }}</div>
                                                  <small class="text-muted text-uppercase font-weight-bold">Delivery Total</small>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-group mb-4" v-if="contact.contact_type == 'Customer'">
                                            <div class="card">
                                                <div class="card-body">
                                                  <div class="h1 text-muted text-right mb-4">
                                                    <i class="icon-people"></i>
                                                  </div>
                                                  <div class="text-value">{{ contact.customer_invoices | reduceArray('grand_total') | tofix }}</div>
                                                  <small class="text-muted text-uppercase font-weight-bold">Invoice Total</small>
                                                </div>
                                            </div>
                                            <div class="card">
                                                <div class="card-body">
                                                  <div class="h1 text-muted text-right mb-4">
                                                    <i class="icon-user-follow"></i>
                                                  </div>
                                                  <div class="text-value">{{ contact.customer_receipts | reduceArray('total_amount') | tofix }}</div>
                                                  <small class="text-muted text-uppercase font-weight-bold">Receipt Total</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                	<!-- Purchase Order -->
                    <div class="col-sm-12" v-if="contact.contact_type=='Vendor' && contact.vendor_purchase_orders.length>0">
                        <div class="card">
                            <div class="card-header">
                                <strong>Purchase Order</strong>
                                <!-- <div class="card-header-actions">
                                    <router-link to="/purchase/create"  @click="create()" class="btn btn-sm btn-primary">
                                        <i class="fa fa-plus"></i> Create 
                                    </router-link>
                                </div> -->
                            </div>
                            <div class="card-body">
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>PO No</th>
                                            <th>PO Date</th>
                                            <th>Sub Total</th>
                                            <th>Discount</th>
                                         	<th>Tax</th>
                                         	<th>Round Off</th>
                                         	<th>Grand Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cursor" v-for="purchase_order,key in contact.vendor_purchase_orders" @click="view('purchase_order',purchase_order.purchase_order_id)">
                                            <td>{{ key+1 }}</td>
                                            <td>{{ purchase_order.purchase_order_no }}</td>
                                            <td>{{ purchase_order.purchase_order_date | moment("DD-MM-YYYY") }}</td>
                                            <td class="text-right">{{ purchase_order.sub_total | tofix }}</td>
                                            <td class="text-right">{{ purchase_order.discount_amount | tofix }}</td>
                                            <td class="text-right">{{ purchase_order.tax_amount | tofix }}</td>
                                            <td class="text-right">{{ purchase_order.round_off | tofix }}</td>
                                            <td class="text-right">{{ purchase_order.grand_total | tofix }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-right" colspan="3">Total</th>
                                            <th class="text-right">{{ contact.vendor_purchase_orders | reduceArray('sub_total') | tofix }}</th>
                                            <th class="text-right">{{ contact.vendor_purchase_orders | reduceArray('discount_amount') | tofix }}</th>
                                            <th class="text-right">{{ contact.vendor_purchase_orders | reduceArray('tax_amount') | tofix }}</th>
                                            <th class="text-right">{{ contact.vendor_purchase_orders | reduceArray('round_off') | tofix }}</th>
                                            <th class="text-right">{{ contact.vendor_purchase_orders | reduceArray('grand_total') | tofix }}</th>
                                        </tr> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Bill -->
                    <div class="col-sm-12" v-if="contact.contact_type=='Vendor' && contact.vendor_bills.length>0">
                        <div class="card">
                            <div class="card-header">
                                <strong>Bill</strong>
                                <!-- <div class="card-header-actions">
                                    <router-link to="/purchase/create"  @click="create()" class="btn btn-sm btn-primary">
                                        <i class="fa fa-plus"></i> Create 
                                    </router-link>
                                </div> -->
                            </div>
                            <div class="card-body">
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Bill No</th>
                                            <th>Bill Date</th>
                                            <th class="text-right">Sub Total</th>
                                            <th class="text-right">Discount</th>
                                            <th class="text-right">Tax</th>
                                            <th class="text-right">Round off</th>
                                            <th class="text-right">Grand Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cursor" v-for="bill,key in contact.vendor_bills" @click="view('bill',bill.bill_id)">
                                            <td>{{ key+1 }}</td>
                                            <td>{{ bill.bill_no }}</td>
                                            <td>{{ bill.bill_date | moment("DD-MM-YYYY") }}</td>
                                            <td class="text-right">{{ bill.sub_total | tofix }}</td>
                                            <td class="text-right">{{ bill.discount_amount | tofix }}</td>
                                            <td class="text-right">{{ bill.tax_amount | tofix }}</td>
                                            <td class="text-right">{{ bill.round_off | tofix }}</td>
                                            <td class="text-right">{{ bill.grand_total | tofix }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-right" colspan="3">Total</th>
                                            <th class="text-right">{{ contact.vendor_bills | reduceArray('sub_total') | tofix }}</th>
                                            <th class="text-right">{{ contact.vendor_bills | reduceArray('discount_amount') | tofix }}</th>
                                            <th class="text-right">{{ contact.vendor_bills | reduceArray('tax_amount') | tofix }}</th>
                                            <th class="text-right">{{ contact.vendor_bills | reduceArray('round_off') | tofix }}</th>
                                            <th class="text-right">{{ contact.vendor_bills | reduceArray('grand_total') | tofix }}</th>
                                        </tr> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Payment -->
                    <div class="col-sm-12" v-if="contact.contact_type=='Vendor' && contact.vendor_payments.length>0">
                        <div class="card">
                            <div class="card-header">
                                <strong>Payment</strong>
                                <!-- <div class="card-header-actions">
                                    <router-link to="/purchase/create"  @click="create()" class="btn btn-sm btn-primary">
                                        <i class="fa fa-plus"></i> Create 
                                    </router-link>
                                </div> -->
                            </div>
                            <div class="card-body">
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Voucher No</th>
                                            <th>Voucher Date</th>
                                            <th>Account</th>
                                            <th>Payment Mode</th>
                                            <th class="text-right">Total Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cursor" v-for="payment,key in contact.vendor_payments" @click="view('payment',payment.payment_id)">
                                            <td>{{ key+1 }}</td>
                                            <td>{{ payment.voucher_no }}</td>
                                            <td>{{ payment.voucher_date | moment("DD-MM-YYYY") }}</td>
                                            <td>{{ payment.account.account_name }}</td>
                                            <td>{{ payment.payment_mode }}</td>
                                            <td class="text-right">{{ payment.total_amount | tofix }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-right" colspan="5">Total</th>
                                            <th class="text-right">{{ contact.vendor_payments | reduceArray('total_amount') | tofix }}</th>
                                        </tr> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Quotation -->
                    <div class="col-sm-12" v-if="contact.contact_type=='Customer' && contact.customer_quotations.length>0">
                        <div class="card">
                            <div class="card-header">
                                <strong>Quotation</strong>
                                <!-- <div class="card-header-actions">
                                    <router-link to="/purchase/create"  @click="create()" class="btn btn-sm btn-primary">
                                        <i class="fa fa-plus"></i> Create 
                                    </router-link>
                                </div> -->
                            </div>
                            <div class="card-body">
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Quotation No</th>
                                            <th>Quotation Date</th>
                                            <th class="text-right">Sub Total</th>
                                            <th class="text-right">Discount</th>
                                            <th class="text-right">Tax</th>
                                            <th class="text-right">Round off</th>
                                            <th class="text-right">Grand Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cursor" v-for="quotation,key in contact.customer_quotations" @click="view('quotation',quotation.quotation_id)">
                                            <td>{{ key+1 }}</td>
                                            <td>{{ quotation.quotation_no }}</td>
                                            <td>{{ quotation.quotation_date | moment("DD-MM-YYYY") }}</td>
                                            <td class="text-right">{{ quotation.sub_total | tofix }}</td>
                                            <td class="text-right">{{ quotation.discount_amount | tofix }}</td>
                                            <td class="text-right">{{ quotation.tax_amount | tofix }}</td>
                                            <td class="text-right">{{ quotation.round_off | tofix }}</td>
                                            <td class="text-right">{{ quotation.grand_total | tofix }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-right" colspan="3">Total</th>
                                            <th class="text-right">{{ contact.customer_quotations | reduceArray('sub_total') | tofix }}</th>
                                            <th class="text-right">{{ contact.customer_quotations | reduceArray('discount_amount') | tofix }}</th>
                                            <th class="text-right">{{ contact.customer_quotations | reduceArray('tax_amount') | tofix }}</th>
                                            <th class="text-right">{{ contact.customer_quotations | reduceArray('round_off') | tofix }}</th>
                                            <th class="text-right">{{ contact.customer_quotations | reduceArray('grand_total') | tofix }}</th>
                                        </tr> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Proforma -->
                    <div class="col-sm-12" v-if="contact.contact_type=='Customer' && contact.customer_proformas.length>0">
                        <div class="card">
                            <div class="card-header">
                                <strong>Proforma</strong>
                                <!-- <div class="card-header-actions">
                                    <router-link to="/purchase/create"  @click="create()" class="btn btn-sm btn-primary">
                                        <i class="fa fa-plus"></i> Create 
                                    </router-link>
                                </div> -->
                            </div>
                            <div class="card-body">
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Proforma No</th>
                                            <th>Proforma Date</th>
                                            <th class="text-right">Sub Total</th>
                                            <th class="text-right">Discount</th>
                                            <th class="text-right">Tax</th>
                                            <th class="text-right">Round off</th>
                                            <th class="text-right">Grand Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cursor" v-for="proforma,key in contact.customer_proformas"  @click="view('proforma',proforma.proforma_id)">
                                            <td>{{ key+1 }}</td>
                                            <td>{{ proforma.proforma_no }}</td>
                                            <td>{{ proforma.proforma_date | moment("DD-MM-YYYY") }}</td>
                                            <td class="text-right">{{ proforma.sub_total | tofix }}</td>
                                            <td class="text-right">{{ proforma.discount_amount | tofix }}</td>
                                            <td class="text-right">{{ proforma.tax_amount | tofix }}</td>
                                            <td class="text-right">{{ proforma.round_off | tofix }}</td>
                                            <td class="text-right">{{ proforma.grand_total | tofix }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-right" colspan="3">Total</th>
                                            <th class="text-right">{{ contact.customer_proformas | reduceArray('sub_total') | tofix }}</th>
                                            <th class="text-right">{{ contact.customer_proformas | reduceArray('discount_amount') | tofix }}</th>
                                            <th class="text-right">{{ contact.customer_proformas | reduceArray('tax_amount') | tofix }}</th>
                                            <th class="text-right">{{ contact.customer_proformas | reduceArray('round_off') | tofix }}</th>
                                            <th class="text-right">{{ contact.customer_proformas | reduceArray('grand_total') | tofix }}</th>
                                        </tr> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Delivery -->
                    <div class="col-sm-12" v-if="contact.contact_type=='Customer' && contact.customer_deliverys.length>0">
                        <div class="card">
                            <div class="card-header">
                                <strong>Delivery</strong>
                                <!-- <div class="card-header-actions">
                                    <router-link to="/purchase/create"  @click="create()" class="btn btn-sm btn-primary">
                                        <i class="fa fa-plus"></i> Create 
                                    </router-link>
                                </div> -->
                            </div>
                            <div class="card-body">
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>DC No</th>
                                            <th>DC Date</th>
                                            <th class="text-right">Sub Total</th>
                                            <th class="text-right">Discount</th>
                                            <th class="text-right">Tax</th>
                                            <th class="text-right">Round off</th>
                                            <th class="text-right">Grand Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cursor" v-for="delivery,key in contact.customer_deliverys" @click="view('delivery',delivery.delivery_id)">
                                            <td>{{ key+1 }}</td>
                                            <td>{{ delivery.delivery_no }}</td>
                                            <td>{{ delivery.delivery_date | moment("DD-MM-YYYY") }}</td>
                                            <td class="text-right">{{ delivery.sub_total | tofix }}</td>
                                            <td class="text-right">{{ delivery.discount_amount | tofix }}</td>
                                            <td class="text-right">{{ delivery.tax_amount | tofix }}</td>
                                            <td class="text-right">{{ delivery.round_off | tofix }}</td>
                                            <td class="text-right">{{ delivery.grand_total | tofix }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-right" colspan="3">Total</th>
                                            <th class="text-right">{{ contact.customer_deliverys | reduceArray('sub_total') | tofix }}</th>
                                            <th class="text-right">{{ contact.customer_deliverys | reduceArray('discount_amount') | tofix }}</th>
                                            <th class="text-right">{{ contact.customer_deliverys | reduceArray('tax_amount') | tofix }}</th>
                                            <th class="text-right">{{ contact.customer_deliverys | reduceArray('round_off') | tofix }}</th>
                                            <th class="text-right">{{ contact.customer_deliverys | reduceArray('grand_total') | tofix }}</th>
                                        </tr> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
					<!-- Invoice -->
                    <div class="col-sm-12" v-if="contact.contact_type=='Customer' && contact.customer_invoices.length>0">
                        <div class="card">
                            <div class="card-header">
                                <strong>Invoice</strong>
                                <!-- <div class="card-header-actions">
                                    <router-link to="/purchase/create"  @click="create()" class="btn btn-sm btn-primary">
                                        <i class="fa fa-plus"></i> Create 
                                    </router-link>
                                </div> -->
                            </div>
                            <div class="card-body">
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Invoice Type</th>
                                            <th>Invoice No</th>
                                            <th>Invoice Date</th>
                                            <th class="text-right">Sub Total</th>
                                            <th class="text-right">Discount</th>
                                            <th class="text-right">Tax</th>
                                            <th class="text-right">Round off</th>
                                            <th class="text-right">Grand Total</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cursor" v-for="invoice,key in contact.customer_invoices" @click="view('invoice',invoice.invoice_id)">
                                            <td>{{ key+1 }}</td>
                                            <td>{{ invoice.invoice_type }}</td>
                                            <td>{{ invoice.invoice_no }}</td>
                                            <td>{{ invoice.invoice_date | moment("DD-MM-YYYY") }}</td>
                                            <td class="text-right">{{ invoice.sub_total | tofix }}</td>
                                            <td class="text-right">{{ invoice.discount_amount | tofix }}</td>
                                            <td class="text-right">{{ invoice.tax_amount | tofix }}</td>
                                            <td class="text-right">{{ invoice.round_off | tofix }}</td>
                                            <td class="text-right">{{ invoice.grand_total | tofix }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-right" colspan="4">Total</th>
                                            <th class="text-right">{{ contact.customer_invoices | reduceArray('sub_total') | tofix }}</th>
                                            <th class="text-right">{{ contact.customer_invoices | reduceArray('discount_amount') | tofix }}</th>
                                            <th class="text-right">{{ contact.customer_invoices | reduceArray('tax_amount') | tofix }}</th>
                                            <th class="text-right">{{ contact.customer_invoices | reduceArray('round_off') | tofix }}</th>
                                            <th class="text-right">{{ contact.customer_invoices | reduceArray('grand_total') | tofix }}</th>
                                        </tr> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <!-- Receipt -->
                    <div class="col-sm-12" v-if="contact.contact_type=='Customer' && contact.customer_receipts.length>0">
                        <div class="card">
                            <div class="card-header">
                                <strong>Receipt</strong>
                                <!-- <div class="card-header-actions">
                                    <router-link to="/purchase/create"  @click="create()" class="btn btn-sm btn-primary">
                                        <i class="fa fa-plus"></i> Create 
                                    </router-link>
                                </div> -->
                            </div>
                            <div class="card-body">
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Receipt No</th>
                                            <th>Receipt Date</th>
                                            <th>Account</th>
                                            <th>Payment Mode</th>
                                            <th class="text-right">Total Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cursor" v-for="receipt,key in contact.customer_receipts" @click="view('receipt',receipt.receipt_id)">
                                            <td>{{ key+1 }}</td>
                                            <td>{{ receipt.receipt_no }}</td>
                                            <td>{{ receipt.receipt_date | moment("DD-MM-YYYY") }}</td>
                                            <td>{{ receipt.account.account_name }}</td>
                                            <td>{{ receipt.payment_mode }}</td>
                                            <td class="text-right">{{ receipt.total_amount | tofix }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-right" colspan="5">Total</th>
                                            <th class="text-right">{{ contact.customer_receipts | reduceArray('total_amount') | tofix }}</th>
                                        </tr> 
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="report" title="Add Points" @ok="addPoints()">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="points">Points *</label>
                        <input class="form-control" :class="{'is-invalid': errors.points}" type="text" v-model="points" placeholder="Points">
                        <div v-if="errors.points" class="invalid-feedback">{{ errors.points[0] }}</div>
                    </div>
                </div>
            </div>
        </b-modal>
    </main>
</template>
<script>
    export default{
        props: ['org'],
        data(){
            return{
                points:"",
                contact:{},
                errors:{},
                status: 0,
                barcode:'',
                delete_status:false,
            }
        },

        beforeRouteEnter(to, from, next) {
            axios.post(`contact/view/${to.params.contact_id}`)
            .then(function (response) {
                next(vm => {
                    vm.delete_status = !_.some(response.data,function(value){
                                    return _.isArray(value)&&value.length>0;
                                });
                    vm.contact = response.data,
                    vm.getImages()
                })
            })
        },
        filters: {
			reduceArray(value,field) {
				let a = _.reduce(value,function(sum,val){
			        return parseFloat(sum)+parseFloat(val[field]);
			    },0);
			    let b = parseFloat(a).toFixed(2);
			    return b;
			},
			tofix(value) {
				let a = parseFloat((Math.round(parseFloat(value)*100)/100)).toFixed(2);
    			return a;
			}
		},
        methods:{

            getImages(){
                let vm = this;
                axios.post('get_barcode',vm.contact)
                .then(function (response) { 
                    let barcode = response.data.barcode;  
                    vm.barcode = "data:image/png;base64,"+ barcode;     
                })
                .catch(function(error) {
                    vm.toast(error.response.data.message,'error')
                });
            },

            destroy(){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    axios.post('contact/destroy',this.contact)
                    .then(function (response) {
                        vm.toast("Contact is successfully Deleted","success");
                        vm.$router.push('/contact/display');
                    })
                    .catch(function (error) {
                        vm.errors = error.response.data.errors
                    });
                }
            },

            addPoints(){
                let vm = this;
                axios.post('invoice/add_points',{'points':vm.points,'contact_id':vm.contact.contact_id})
                .then(function (response) {
                    vm.toast("Points are successfully Updated","success");
                    vm.$router.push('/contact/display');
                })
                .catch(function (error) {
                    vm.$bvModal.show('report');
                    vm.errors = error.response.data.errors
                });
            },

            edit() {
                let vm = this;
                vm.$router.push(`/contact/edit/${vm.contact.contact_id}`);
            },

            view(el,id) {
                let vm = this;
                vm.$router.push(`${'/'+el+'/view/'+id}`);
            },

            // create() {
            //     let vm = this;
            //     vm.$router.push(`/purchase/create/${vm.contact.contact_id}`);
            // },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                    }, {
                        messageType: message_type,
                        position : 'topRight',
                        language: 'en',
                        closeTime: 3
                    });
            }
        }
    }
</script>