<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">PROFILE</li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-offset-2 col-md-6 ">
                        <div class="card">
                            <div class="card-header">
                                <strong>Change Password</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="password">New Password *</label>
                                            <input type="password" class="form-control"  :class="{'is-invalid': errors.password}" v-model="profile.password">
                                            <div v-if="errors.password" class="invalid-feedback">{{ errors.password[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="password-confirm">Confirm Password *</label>
                                            <input type="password" class="form-control"  :class="{'is-invalid': errors.password_confirmation}" v-model="profile.password_confirmation">
                                            <div v-if="errors.password_confirmation" class="invalid-feedback">{{ errors.password_confirmation[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="card-header-actions">
                                    <button class="btn btn-sm btn-success" type="button" @click="update()">
                                         Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>

    </main>
</template>
<script>
    export default{
        data(){
            return{
                profile:{
                    password:'',
                    password_confirmation:'',
                    user_id:''  
                },
                errors:{},
                loading: false 
            }
        },

        mounted(){
            let vm = this;
            vm.get_users();
        },
        
        methods:{
           
            get_users() {
                let vm = this;
                axios.post('profile/get_users')
                .then(function (response) {
                    vm.profile.user_id = response.data.user_id;
                })
                .catch(function (error) {
                    vm.errors = error.response.data.errors
                });
            },

            update() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('change/password',this.profile)
                .then(function (response) {
                    vm.profile='';
                    vm.$vDialog.close(null, key),
                    vm.toast("Password successfully updated","success");
                })
                .catch(function (error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast("Please fill the required field","error");
                });
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                    }, {
                        messageType: message_type,
                        position : 'topRight',
                        language: 'en',
                        closeTime: 3
                    });
            }
        }
    }
</script>

