<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">People</li>
            <li class="breadcrumb-item">Users</li>
            <li class="breadcrumb-right">
                <router-link to="/user/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i> New User
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Users</strong>
                            </div>
                            
                            <div class="card-body">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Search" v-model="pagination.search" @keyup="display()" ref="search">
                                </div>
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Name</th>
                                            <th>Username</th>
                                            <th>Email</th>
                                            <th>Mobile No</th>
                                            <th>User Role</th>
                                            <th>Status</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="user,key in users">
                                            <td class="text-center">{{ pagination.from+key }}</td>
                                            <td>{{ user.name }}</td>
                                            <td>{{ user.username }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.mobile_no }}</td>
                                            <td>{{ user.user_role }}</td>
                                            <td v-if="user.deleted_at==null">Active</td>
                                            <td v-if="user.deleted_at!=null">InActive</td>
                                            <td class="text-center">
                                                <button class="btn btn-xs btn-success" @click="edit(user)">
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                                <!-- <button class="btn btn-xs btn-danger" @click="destroy(user)">
                                                    <i class="fa fa-trash"></i>
                                                </button> -->
                                                
                                                <button v-if="user.deleted_at==null"  @click="changeStatus(user)" class="btn btn-xs btn-success" data-toggle="tooltip" title="status!"><i class="fa fa-thumbs-up" ></i> </button>
                                                <button v-if="user.deleted_at!=null" @click="changeStatus(user)" class="btn btn-xs btn-danger"> <i class="fa fa-thumbs-down"></i> </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer" v-show="pagination.lastPage!=1">
                                <b-pagination align="right" size="md" @input="display" :total-rows="pagination.totalRows" :per-page="pagination.perPage" v-model="pagination.currentPage"></b-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        data(){
            return{
                pagination:{
                    currentPage: 1,
                    totalRows: 0,
                    perPage: 1,
                    lastPage:1,
                    from: 1,
                    search: ''
                },
                status_message:'',
                users:{},
            }
        },

        mounted(){
            let vm = this;
            vm.$refs.search.focus()
            vm.display();
        },
        
        methods:{
            display() {
                let vm = this;
                axios.post('user/display?page=' + vm.pagination.currentPage + '&search=' + vm.pagination.search)
                .then(function (response) {
                    vm.users = response.data.data,
                    vm.pagination.totalRows = response.data.total
                    vm.pagination.from = response.data.from,
                    vm.pagination.perPage = response.data.per_page,
                    vm.pagination.lastPage = response.data.last_page
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            edit(user) {
                let vm = this;
                vm.$router.push(`/user/edit/${user.user_id}`);
            },

            destroy(user){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post(`user/destroy/${user.user_id}`)
                    .then(function (response) {
                        vm.$vDialog.close(null, key),
                        vm.display(),
                        vm.toast("User is successfully deleted","success")
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },

            changeStatus(user) {
                let vm = this;
                if(user.deleted_at==null)
                {
                    vm.status_message = 'Do you want to changed the status to Inactive';
                }else{
                    vm.status_message = 'Do you want to changed the status to Active';
                }

                if(confirm(vm.status_message)) {
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post('user/change_status',user)
                    .then(function (response) {
                        vm.$vDialog.close(null, key);
                        vm.display();
                        vm.toast("User Status is successfully changed ",'success');
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.errors = error.response.data.errors,
                        vm.toast(error.response.data.message,'error')
                    });
                }
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>