<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">PROFILE</li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                   <!--  <div class="col-sm-4 col-md-4 col-lg-4"> 
                        <div class="brand-card">
                            <div class="brand-card-header bg-facebook text-white ">
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <img>
                               
                                </div>
                                <div class="col-sm-4 col-md-4 col-lg-4">
                                    <div class="text-uppercase" style="margin-left:-62px;" ><b></b></div>
                                    <div style="margin-left:-62px;" ><b></b></div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div>
                                    <div ><b>Name</b></div>
                                    <div class=" "></div>
                                </div>
                                <hr>
                                <div>
                                    <div><b>User Name</b></div>
                                    <div class=" "></div>
                                </div>
                                <hr>
                                <div>
                                    <div><b>Mobile No</b></div>
                                    <div class=""></div>
                                </div>
                                <hr>
                                <div>
                                    <div><b>Email</b></div>
                                    <div class=""></div>
                                </div>
                                <hr>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-md-offset-2 col-md-6 ">
                        <div class="card">
                            <div class="card-header">
                                <strong>Update Profile</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                           
                                            <img :src="profile.avatar" height="300px" width="100%">
                                            <input class="form-control" type="file"  placeholder="Image"  name="avatar" v-on:change="onImageChange" >
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="name">Name *</label>
                                            <input type="text" class="form-control"  :class="{'is-invalid': errors.name}" v-model="profile.name">
                                            <div v-if="errors.name" class="invalid-feedback">{{ errors.name[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="username">User Name *</label>
                                            <input type="text" class="form-control"  :class="{'is-invalid': errors.username}" v-model="profile.username">
                                            <div v-if="errors.username" class="invalid-feedback">{{ errors.username[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="email">Email *</label>
                                            <input type="text" class="form-control"  :class="{'is-invalid': errors.email}" v-model="profile.email">
                                            <div v-if="errors.email" class="invalid-feedback">{{ errors.email[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="mobile_no">Mobile No *</label>
                                            <input class="form-control"  :class="{'is-invalid': errors.mobile_no}" v-model="profile.mobile_no">
                                            <div v-if="errors.mobile_no" class="invalid-feedback">{{ errors.mobile_no[0] }}</div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="address">Address</label>
                                            <textarea type="text" class="form-control"  :class="{'is-invalid': errors.address}" v-model="profile.address"></textarea>
                                            <div v-if="errors.address" class="invalid-feedback">{{ errors.address[0] }}</div>
                                        </div>
                                    </div>
                                   
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="card-header-actions">
                                    
                                    <button class="btn btn-sm btn-success" type="button" @click="update()">
                                         Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
        </div>

    </main>
</template>
<script>
    export default{
        data(){
            return{
                profile:{
                    name:'',
                    username:'',
                    email:'',
                    user_role:'',
                    mobile_no:'',
                    address:'',
                    avatar:'',
                    user_id:''  
                },
                errors:{},
                loading: false 
            }
        },

        mounted(){
            let vm = this;
            vm.get_users();
           
        },
        
        methods:{
           
            formSubmit(){
                let vm = this;
                vm.update()
            },

            get_users() {
                let vm = this;
                axios.post('profile/get_users')
                .then(function (response) {
                    vm.profile.name = response.data.name,
                    vm.profile.username = response.data.username,
                    vm.profile.user_role = response.data.user_role,
                    vm.profile.email = response.data.email,
                    vm.profile.mobile_no = response.data.mobile_no,
                    vm.profile.address = response.data.address,
                    vm.profile.avatar = response.data.avatar,
                    vm.profile.user_id = response.data.user_id,
                    vm.profile.avatar = 'public/img/user/'+response.data.avatar
                  
                })
                .catch(function (error) {
                    vm.errors = error.response.data.errors
                });
            },

            onImageChange(e) {
                e.preventDefault();
                let vm = this;
                let avatar = e.target.files[0];
                vm.read(avatar)
               
                
            },

            read(avatar){
                let reader = new FileReader();
                reader.readAsDataURL(avatar);
                reader.onload = (e) => {
                    this.profile.avatar = e.target.result;
                };
            },

            update() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('profile/update',this.profile)
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.toast("Profile successfully updated","success");
                })
                .catch(function (error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast("Please fill the required field","error");
                });
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                    }, {
                        messageType: message_type,
                        position : 'topRight',
                        language: 'en',
                        closeTime: 3
                    });
            }
        }
    }
</script>

