@page {
    header: page-header;
    footer: page-footer;
}

body {
    font-family: sans-serif;
}

a {
    color: #000066;
    text-decoration: none;
}

table {
    border-collapse: collapse;
}

thead {
    vertical-align: bottom;
    text-align: center;
    font-weight: bold;
}

tfoot {
    text-align: center;
    font-weight: bold;
}

th {
    text-align: left;
    padding-left: 0.35em;
    padding-right: 0.35em;p
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    vertical-align: top;
    font-size: 12px;
}

td {
    padding-left: 0.35em;
    padding-right: 0.35em;
    padding-top: 0.35em;
    padding-bottom: 0.35em;
    vertical-align: top;
    font-size: 12px;
}
.table-100 {
    width: 100%;
}
.table-border {
    border: 1px solid #333;
}

.div-border {
    border: 1px solid #333;
}

.page_break
{
    page-break-after: always;
    page-break-inside: avoid;
}

 .pagenum:before {
        content: counter(page);
        }

.text-right{
    position: absolute;
    right: 10px !important;
    z-index: 999;
}
.th-font{
    font-size:9px;
}
.table-50{
    width:50%;
}
.table-30{
    width:30%;
}
