<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Sale</li>
            <li class="breadcrumb-item">InvoiceReturn</li>
            <li class="breadcrumb-right">
                <router-link :to="redirect_back" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button @click="preview" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-file-pdf-o"></i>
                </button>
                <router-link to="/invoice_return/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i>
                </router-link>
                <button @click="edit" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-edit"></i>
                </button>
                <button @click="destroy" type="button" class="btn btn-xs btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                InvoiceReturn : 
                                <strong>{{ invoice_return.invoice_return_no }}</strong>
                                <div class="card-header-actions">
                                    <span class="badge badge-lg badge-primary">{{ invoice_return.invoice_return_status }}</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row mb-1">
                                    <div class="col-sm-4">
                                        <h6 class="mb-1">From:</h6>
                                        <div>
                                            <strong>{{ org.org_name }}</strong>
                                        </div>
                                        <div>{{ org.address }}</div>
                                        <div>Email: {{ org.email }}</div>
                                        <div>Phone: {{ org.mobile_no }}</div>
                                        <div>PAN: {{ org.pan_no }}</div>
                                        <div>GSTIN: {{ org.gstin_no }}</div>
                                    </div >

                                    <div class="col-sm-4" v-if="Object.keys(invoice_return).length>0">
                                        <h6 class="mb-1">To:</h6>
                                        <div>
                                            <strong>{{ invoice_return.customer.contact_name }}</strong>
                                        </div>
                                        <div>{{ invoice_return.billing_address }}</div>
                                        <div>{{ invoice_return.shipping_address }}</div>
                                        <div>Email: {{ invoice_return.customer.email }}</div>
                                        <div>Phone: {{ invoice_return.customer.mobile_no }}</div>
                                        <div>PAN: {{ invoice_return.customer.pan_no }}</div>
                                        <div>GSTIN: {{ invoice_return.customer.gstin_no }}</div>
                                    </div>

                                    <div class="col-sm-4">
                                        <h6 class="mb-1">Details:</h6>
                                       
                                        <div>
                                            InvoiceReturn No : <strong>{{ invoice_return.invoice_return_no }}</strong>
                                        </div>
                                        <div>
                                            InvoiceReturn Date : {{ invoice_return.invoice_return_date | moment("DD-MM-YYYY") }}
                                        </div>
                                        <div>
                                            Ref No : {{ invoice_return.reference_no }}
                                        </div>
                                        <div>
                                            Ref Date : {{ invoice_return.reference_date | moment("DD-MM-YYYY") }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>Product Code</th>
                                                    <th>Product Name</th>
                                                    <th class="text-right">S.Rate(Exc)</th>
                                                    <th class="text-right">S.Rate(Inc)</th>
                                                    <th class="text-right" v-if="setting.discounts_in == 'inc'">Tax</th>
                                                    <th class="text-right">Discount</th>
                                                    <th class="text-right" v-if="setting.discounts_in == 'exc'">Tax</th>
                                                    <th class="text-right">Qty</th>
                                                    <th class="text-right">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody v-if="Object.keys(invoice_return).length>0">
                                                <tr v-for="invoice_return_product, key in invoice_return.invoice_return_products">
                                                    <td class="text-center">
                                                        <input v-if="convert_status==1" type="checkbox" checked="" true-value="1" false-value="0" v-model.number="invoice_return_product.invoice_product_status_return">{{ +key + 1 }}
                                                    </td>
                                                    <td>
                                                        {{ invoice_return_product.product_code }}
                                                    </td>
                                                    <td>
                                                        {{ invoice_return_product.product_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ invoice_return_product.sales_rate_exc.toFixed(2) }}
                                                    </td>
                                                    <td class="text-right">{{ 
                                                        invoice_return_product.sales_rate_inc.toFixed(2) }}
                                                    </td>
                                                    <td class="text-right" v-if="setting.discounts_in == 'inc'">
                                                        {{ invoice_return_product.tax.tax_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ invoice_return_product.discount.toFixed(2) }} 
                                                        {{ invoice_return_product.discount_type }}
                                                    </td>
                                                    <td class="text-right" v-if="setting.discounts_in == 'exc'">
                                                        {{ invoice_return_product.tax.tax_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ invoice_return_product.quantity.toFixed(2) }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ invoice_return_product.amount.toFixed(2) }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td rowspan="3" colspan="5">
                                                        <strong>Terms and Conditions : </strong><br>
                                                        {{ invoice_return.terms }}
                                                    </td>
                                                    <th class="text-right" colspan="2">Sub Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ invoice_return.sub_total.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr v-if="setting.discounts_in == 'inc'">
                                                    <th class="text-right" colspan="2">Tax</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ invoice_return.tax_amount.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Discount</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ invoice_return.discount_amount.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr v-if="setting.discounts_in == 'exc'">
                                                    <th class="text-right" colspan="2">Tax</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ invoice_return.tax_amount.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td rowspan="3" colspan="5">
                                                        <strong>Note : </strong><br>
                                                        {{ invoice_return.note }}
                                                    </td>
                                                    <th class="text-right" colspan="2">Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ invoice_return.total_amount.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Round off</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ invoice_return.round_off.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Grand Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ invoice_return.grand_total.toFixed(2) }}
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <taxable v-if="Object.keys(invoice_return).length>0" :products="invoice_return.invoice_return_products" :taxtype="invoice_return.source_id!=invoice_return.destination_id?'IGST':'GST'" :setting="setting" />
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    import { Taxable } from '../modal/taxable'

    export default{
        components: { Taxable },
        props: ['org','setting'],
        data(){
            return{
                convert_status:0,
                invoice_return:{},
                redirect_back:'',
                errors:{}
            }
        },

        beforeRouteEnter(to, from, next) {
            axios.post(`invoice_return/view/${to.params.invoice_return_id}`)
            .then(function (response) {
                next(vm => {
                    vm.invoice_return = response.data,
                    vm.redirect_back = from.path
                })
            })
            .catch(function (error) {
                vm.toast(error.message,'error')
            });
        },
        
        methods:{
            preview() {
                let vm = this;
                vm.$router.push(`/invoice_return/preview/${vm.invoice_return.invoice_return_id}`);
            },

            edit() {
                let vm = this;
                vm.$router.push(`/invoice_return/edit/${vm.invoice_return.invoice_return_id}`);
            },

            destroy(){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post(`invoice_return/destroy/${vm.invoice_return.invoice_return_id}`)
                    .then(function (response) {
                        vm.$vDialog.close(null, key),
                        vm.toast("InvoiceReturn successfully deleted","success"),
                        vm.$router.push('/invoice_return/display')
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },
            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        },
     }
</script>