<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Purchase</li>
            <li class="breadcrumb-item">Purchase Order</li>
            <li class="breadcrumb-right">
                <router-link to="/purchase_order/display" class="btn btn-xs btn-primary">
                    <i class="fa fa-list"></i> Purchase Orders
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong v-if="status==0">New Purchase Order</strong>
                                <strong v-if="status==1">Update Purchase Order</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="purchase_order_no">Purchase Order No *</label>
                                            <input type="text" class="form-control" :class="{'is-invalid': errors.purchase_order_no}" v-model="purchase_order.purchase_order_no" placeholder="Purchase Order No">
                                            <div v-if="errors.purchase_order_no" class="invalid-feedback">{{ errors.purchase_order_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="purchase_order_date">Purchase Order Date *</label>
                                            <input type="date" class="form-control" :class="{'is-invalid': errors.purchase_order_date}" v-model="purchase_order.purchase_order_date" placeholder="Purchase Order Date">
                                            <div v-if="errors.purchase_order_date" class="invalid-feedback">{{ errors.purchase_order_date[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="reference_no">Reference No</label>
                                            <input type="text" class="form-control" :class="{'is-invalid': errors.reference_no}" v-model="purchase_order.reference_no" placeholder="Reference No">
                                            <div v-if="errors.reference_no" class="invalid-feedback">{{ errors.reference_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="delivery_date">Delivery Date</label>
                                            <input type="date" class="form-control" :class="{'is-invalid': errors.delivery_date}" v-model="purchase_order.delivery_date" placeholder="Delivery Date">
                                            <div v-if="errors.delivery_date" class="invalid-feedback">{{ errors.delivery_date[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="vendor_id">
                                                Vendor * 
                                                <!-- <span class="cursor font-color"  v-b-modal.contact> New Vendor </span> -->
                                                <span class="cursor font-color"  v-b-modal.contact> New Vendor </span>
                                                <contactmodal :contact_type="purchase_order.contact_type"  @contact="selectContact($event)"/>
                                            </label>
                                            <contact :customClass="{'is-invalid': errors.vendor_id}"  :contact_type="purchase_order.contact_type" :initialize="purchase_order.contact_name" @input="selectContact($event)" ref="contact_name">
                                            </contact >
                                            <div v-if="errors.vendor_id" style="color: #f86c6b; font-size: 80%;">{{ errors.vendor_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="source_id">Source *</label>
                                            <select class="form-control"  :class="{'is-invalid': errors.source_id}" v-model="purchase_order.source_id">
                                                <option value="">Select Source</option>
                                                <option v-for="place in places" :value="place.place_id">{{ place.place_name }}</option>
                                            </select>
                                            <div v-if="errors.source_id" class="invalid-feedback">{{ errors.source_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="destination_id">Destination *</label>
                                            <select class="form-control"  :class="{'is-invalid': errors.destination_id}" v-model="purchase_order.destination_id">
                                                <option value="">Select Desination</option>
                                                <option v-for="place in places" :value="place.place_id">{{ place.place_name }}</option>
                                            </select>
                                            <div v-if="errors.destination_id" class="invalid-feedback">{{ errors.destination_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                         <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" width="24%">Product Name
                                                        <span class="cursor font-color"  v-b-modal.product> New Product </span>
                                                        <productmodal  @product="selectProduct($event)"/>
                                                    </th>
                                                    
                                                    <th class="text-center" width="12%">P.Rate(Exc)</th>
                                                    <th class="text-center" width="12%">P.Rate(Inc)</th>
                                                    <th v-if='setting.discounts_in=="inc"' class="text-center" width="8%">Tax</th>
                                                    <th class="text-center" colspan="2" width="15%">Discount</th>
                                                    <th v-if='setting.discounts_in=="exc"' class="text-center" width="8%">Tax</th>
                                                    <th class="text-center" width="8%">Qty</th>
                                                    <th class="text-center" width="12%">Amount</th>
                                                    <th class="text-center" width="1%">
                                                        <i class="fa fa-exchange"></i>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td colspan="9" v-if='setting.enable_barcode=="Yes"'>
                                                        <barcode :initialize="enable_barcode" @input="selectProduct($event,'barcode')" ref="product_bar"></barcode>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <product  :customClass="{'is-invalid': errors.product_name}"  :initialize="purchase_order_product.product_name" @input="selectProduct($event)" ref="product_name"></product>
                                                        <span style="color: #f86c6b; font-size: 80%;" v-if="errors.product_name" class="" >{{ errors.product_name[0] }}</span>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.purchase_rate_exc}" type="text" v-model.number="purchase_order_product.purchase_rate_exc" placeholder="P.Rate(Exc)" ref="purchase_rate_exc" @keyup="calPurchaseRateInc">
                                                        <div v-if="errors.purchase_rate_exc" class="invalid-feedback">{{ errors.purchase_rate_exc[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.purchase_rate_inc}" type="text" v-model.number="purchase_order_product.purchase_rate_inc" placeholder="P.Rate(Inc)" @keyup="calPurchaseRateExc">
                                                        <div v-if="errors.purchase_rate_inc" class="invalid-feedback">{{ errors.purchase_rate_inc[0] }}</div>
                                                    </td>
                                                    <td v-if='setting.discounts_in=="inc"'>
                                                        <select class="form-control"  :class="{'is-invalid': errors.tax_id}" v-model="purchase_order_product.tax_id">
                                                            <option value="">Tax</option>
                                                            <option v-for="tax in taxes" :value="tax.tax_id">{{ tax.tax_name }}</option>
                                                        </select>
                                                        <div v-if="errors.tax_id" class="invalid-feedback">{{ errors.tax_id[0] }}</div>
                                                    </td>
                                                    <td width="10%">
                                                        <input class="form-control" :class="{'is-invalid': errors.discount}" type="text" v-model.number="purchase_order_product.discount" placeholder="Discount" @keyup="discountType()">
                                                        <div v-if="errors.discount" class="invalid-feedback">{{ errors.discount[0] }}</div>
                                                    </td>
                                                    <td width="7%">
                                                        <select class="form-control" :class="{'is-invalid': errors.discount_type}" v-model.number="purchase_order_product.discount_type" placeholder="Discount Type">
                                                            <option>%</option>
                                                            <option>₹</option>
                                                        </select>
                                                        <div v-if="errors.discount_type" class="invalid-feedback">{{ errors.discount_type[0] }}</div>
                                                    </td>
                                                    <td v-if='setting.discounts_in=="exc"'>
                                                        <select class="form-control"  :class="{'is-invalid': errors.tax_id}" v-model="purchase_order_product.tax_id">
                                                            <option value="">Tax</option>
                                                            <option v-for="tax in taxes" :value="tax.tax_id">{{ tax.tax_name }}</option>
                                                        </select>
                                                        <div v-if="errors.tax_id" class="invalid-feedback">{{ errors.tax_id[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input id="quantity" class="form-control" :class="{'is-invalid': errors.quantity}" type="text" v-model.number="purchase_order_product.quantity" placeholder="Qty" @keyup.enter="checkRow">
                                                        <div v-if="errors.quantity" class="invalid-feedback">{{ errors.quantity[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input id="amount" class="form-control" :class="{'is-invalid': errors.amount}" type="text" v-model.number="purchase_order_product.amount" placeholder="Amount" readonly>
                                                        <div v-if="errors.amount" class="invalid-feedback">{{ errors.amount[0] }}</div>
                                                    </td>
                                                    <td class="text-center text-nowrap">
                                                        <button v-if="purchase_order_product.status==0" class="btn btn-primary" type="button" @click="addRow">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                        <button v-if="purchase_order_product.status==1" class="btn btn-success" type="button" @click="updateRow">
                                                            <i class="fa fa-refresh"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr v-if="purchase_order.purchase_order_products.length != 0" v-for="purchase_order_product, key in purchase_order.purchase_order_products">
                                                    <td>
                                                        {{ purchase_order_product.product_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ purchase_order_product.purchase_rate_exc }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ purchase_order_product.purchase_rate_inc }}
                                                    </td>
                                                    <td v-if='setting.discounts_in=="inc"' class="text-center">
                                                        {{ purchase_order_product.tax.tax_name }}
                                                    </td>
                                                    <td class="text-right" colspan="2">
                                                        {{ purchase_order_product.discount }}
                                                        {{ purchase_order_product.discount_type }}
                                                    </td>
                                                    <td v-if='setting.discounts_in=="exc"' class="text-center">
                                                        {{ purchase_order_product.tax.tax_name }}
                                                    </td>

                                                    <td class="text-right">
                                                        {{ purchase_order_product.quantity }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ purchase_order_product.amount }}
                                                    </td>
                                                    <td class="text-center">
                                                        <a class="cursor" @click="editRow(purchase_order_product,key)">
                                                            <i class="fa fa-pencil text-inverse"></i>
                                                        </a>
                                                        <a class="cursor" @click="deleteRow(purchase_order_product,key)">
                                                            <i class="fa fa-close text-danger"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th colspan="4">
                                                        <select class="form-control"  :class="{'is-invalid': errors.term_id}" v-model="purchase_order.term_id" @change="changeTerm">
                                                            <option value="">Select Terms</option>
                                                            <option v-for="term in terms" :value="term.term_id">{{ term.label }}</option>
                                                        </select>
                                                        <div v-if="errors.term_id" class="invalid-feedback">
                                                            {{ errors.term_id[0] }}
                                                        </div>
                                                    </th>
                                                    <th class="text-right" colspan="3">Sub Total</th>
                                                    <th class="text-right" colspan="2">{{ subTotal }}</th>
                                                </tr>
                                                <tr>
                                                    <th rowspan="2" colspan="4">
                                                        <textarea class="form-control" :class="{'is-invalid': errors.terms}" v-model="purchase_order.terms" placeholder="Terms & Conditions"></textarea>
                                                        <div v-if="errors.terms" class="invalid-feedback">
                                                            {{ errors.terms[0] }}
                                                        </div>
                                                    </th>
                                                    <th v-if='setting.discounts_in=="exc"'>
                                                        <input class="form-control" :class="{'is-invalid': errors.discount}" type="text" v-model.number="discount" placeholder="Discount" >
                                                    </th>
                                                    <th v-if='setting.discounts_in=="exc"'>
                                                        <select class="form-control" :class="{'is-invalid': errors.discount_type}" v-model.number="discount_type" placeholder="Discount Type">
                                                            <option>%</option>
                                                            <option>₹</option>
                                                        </select>
                                                    </th>
                                                    <th class="text-right"  v-if='setting.discounts_in=="exc"'>Discount</th>
                                                    <th class="text-right"  colspan="2" v-if='setting.discounts_in=="exc"' >{{ discountAmount }}</th>
                                                    <th class="text-right" colspan="3" v-if='setting.discounts_in=="inc"'>GST</th>
                                                    <th class="text-right" colspan="2" v-if='setting.discounts_in=="inc"' >{{ taxAmount }}</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" v-if='setting.discounts_in=="exc"' colspan="3">GST</th>
                                                    <th class="text-right" colspan="2" v-if='setting.discounts_in=="exc"' >{{ taxAmount }}</th>
                                                    <th v-if='setting.discounts_in=="inc"'>
                                                        <input class="form-control" :class="{'is-invalid': errors.discount}" type="text" v-model.number="discount" placeholder="Discount" >
                                                    </th>
                                                    <th v-if='setting.discounts_in=="inc"'>
                                                        <select class="form-control" :class="{'is-invalid': errors.discount_type}" v-model.number="discount_type" placeholder="Discount Type">
                                                            <option>%</option>
                                                            <option>₹</option>
                                                        </select>
                                                    </th>
                                                    <th class="text-right" v-if='setting.discounts_in=="inc"' >Discount</th>
                                                    <th class="text-right" colspan="2" v-if='setting.discounts_in=="inc"' >{{ discountAmount }}</th>
                                                </tr>
                                                <tr>
                                                    <th rowspan="2" colspan="4">
                                                        <textarea class="form-control" :class="{'is-invalid': errors.note}" v-model="purchase_order.note" placeholder="Note"></textarea>
                                                        <div v-if="errors.note" class="invalid-feedback">
                                                            {{ errors.note[0] }}
                                                        </div>
                                                    </th>
                                                    <th colspan="2">
                                                        <input class="form-control" type="text" v-model.number="roundoff" placeholder="Round off" >
                                                    </th>
                                                    <th class="text-right">Round off</th>
                                                    <th class="text-right" colspan="2">{{ roundOff }}</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="3">Grand Total</th>
                                                    <th class="text-right" colspan="2">{{ grandTotal }}</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <taxable v-if="purchase_order.purchase_order_products.length>0&&taxes.length>0" :products="purchase_order.purchase_order_products" :taxes="taxes" :taxtype="purchase_order.source_id!=purchase_order.destination_id?'IGST':'GST'" :setting="setting"/>
                            </div>
                            <div class="card-footer">
                                <div class="card-header-actions">
                                    <button  class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button v-show="status==0" v-if="purchase_order.purchase_order_products!=''" class="btn btn-sm btn-success" type="button" @click="save()">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                    <button v-show="status==1" v-if="purchase_order.purchase_order_products!=''" class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </main>
</template>
<script>
    import { Contact } from '../plugins/contact'
    import { Product } from '../plugins/product'
    import { Contactmodal } from '../modal/contactmodal'
    import { Taxable } from '../modal/taxable'
    import { Productmodal } from '../modal/productmodal'
    import { Barcode } from '../plugins/barcode'

    export default{
        components: { Contact, Product, Contactmodal, Taxable ,Productmodal ,Barcode},
        props: ['user', 'org' ,'setting'],
        data(){
            return{
                status: 0,
                purchase_order:{
                    purchase_order_id:'',
                    purchase_order_no:'',
                    purchase_order_date:new Date().toISOString().slice(0,10),
                    reference_no:'',
                    delivery_date:'',
                    vendor_id:'',
                    contact_name:'',
                    contact_type:'Vendor',
                    source_id:'',
                    destination_id:'',
                    sub_total:'',
                    discount_amount:'',
                    tax_amount:'',
                    total_amount:'',
                    round_off:'',
                    grand_total:'',
                    note:'',
                    term_id:'',
                    terms:'',
                    purchase_order_products:[],
                    deleted_purchase_order_products:[]
                },
                purchase_order_product: {
                    product_id:'',
                    product_code:'',
                    product_name:'',
                    price_id:'',
                    purchase_rate_exc:'',
                    purchase_rate_inc:'',
                    store_id:'',
                    warehouse_id:'',
                    discount:'',
                    discount_type:'',
                    discount_amount:'',
                    tax:{},
                    tax_id:'',
                    tax_amount:'',
                    quantity:'',
                    amount:'',
                    sub_total:'',
                    key:'',
                    status:0
                },
                contacts:{},
                payment_terms:{},
                places:{},
                taxes:{},
                terms:{},
                errors:{},
                discount_type:'%',
                discount:'',
                roundoff:'',
                enable_barcode:'',
            }
        },

        beforeRouteEnter(to, from, next) {
            if(to.name=='purchase-order-create') {
                next(vm => {
                    vm.$refs.contact_name.focus(),
                    vm.getPurchaseOrderNo()
                });
            }
            else {
                axios.post(`purchase_order/view/${to.params.purchase_order_id}`)
                .then(function (response) {
                    next(vm => {
                        vm.getPlaces(),
                        vm.purchase_order = response.data,
                        vm.purchase_order.deleted_purchase_order_products = [],
                        vm.purchase_order.contact_name = response.data.vendor.contact_name,
                        vm.status = 1
                    });
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            }
        },

        watch:{
            'purchase_order_product.tax_id':function(val){
                let vm = this;
                vm.calPurchaseRateInc();
            },

            'purchase_order_product.quantity':function(val){
                let vm = this;
                vm.calAmount();
            },

            'purchase_order_product.discount':function(val){
                let vm = this;
                vm.calAmount();
            },

            'purchase_order_product.discount_type':function(val){
                let vm = this;
                vm.calAmount();
            },

            'discount_type':function(val){
                let vm = this;
                vm.calDiscountAmount();
            },

            'discount':function(val){
                let vm = this;
                vm.calDiscountAmount();
            },
        },

        computed:{
            subTotal: function(){
                let vm = this;
                let sub_total = (vm.purchase_order.purchase_order_products.reduce((prev, cur) => +prev + +cur.amount, 0)).toFixed(2);
                vm.purchase_order.sub_total = sub_total;
                return sub_total;
            },

            discountAmount: function(){
                let vm = this;
                let discount_amount = (vm.purchase_order.purchase_order_products.reduce((prev, cur) => +prev + +cur.discount_amount, 0)).toFixed(2);
                vm.purchase_order.discount_amount = discount_amount;
                return discount_amount;
            },

            taxAmount: function(){
                let vm = this;
                let tax_amount = (vm.purchase_order.purchase_order_products.reduce((prev, cur) => +prev + +cur.tax_amount, 0)).toFixed(2);
                vm.purchase_order.tax_amount = tax_amount;
                return tax_amount;
            },

            totalAmount: function(){
                let vm = this;
                let total_amount = +vm.subTotal - +vm.discountAmount + +vm.taxAmount;
                vm.purchase_order.total_amount = total_amount;
                return total_amount;
            },

            roundOff: function(){
                // let vm = this;
                // let round_off = ((vm.grandTotal - vm.totalAmount)*1).toFixed(2);
                // vm.purchase_order.round_off = round_off;
                // if(vm.roundoff !=''){
                //     round_off = vm.roundoff ;
                // }
                // return round_off;
                let vm = this;
                let round_off = parseFloat(Math.round(parseFloat(vm.totalAmount.toFixed(1))) - vm.totalAmount).toFixed(2);
                if(vm.roundoff !=''){
                    round_off = parseFloat(parseFloat(round_off) + parseFloat(vm.roundoff)).toFixed(2);
                }
                vm.purchase_order.round_off = round_off;
                return round_off;
            },

            grandTotal: function(){
                // let vm = this;
                // let grand_total = (vm.totalAmount * 1).toFixed(0);
               
                // if(vm.roundoff !=''){
                    
                //     if(vm.roundoff != 0){
                //         grand_total = parseFloat(vm.totalAmount) +(vm.roundoff) ;
                //     }
                //     if(vm.roundoff == 0){
                //         grand_total = parseFloat(vm.totalAmount);
                //     }
                // }
                // vm.purchase_order.grand_total = grand_total;
                // return (grand_total * 1).toFixed(0);
                let vm = this;
                let grand_total = Math.round(parseFloat(vm.purchase_order.total_amount) + parseFloat(vm.purchase_order.round_off)).toFixed(2);
                vm.purchase_order.grand_total = grand_total;
                return grand_total;
            }
        },
        
        methods:{
            getPurchaseOrderNo() {
                let vm = this;
                axios.post('purchase_order/get_purchase_order_no')
                .then(function (response) {
                    vm.purchase_order.purchase_order_no = response.data,
                    vm.getPlaces()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getPlaces() {
                let vm = this;
                axios.post('place/get_places')
                .then(function (response) {
                    vm.places = response.data,
                    vm.getTaxes()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getTaxes() {
                let vm = this;
                axios.post('tax/get_taxes')
                .then(function (response) {
                    vm.taxes = response.data,
                    vm.getTerms()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getTerms() {
                let vm = this;
                axios.post('term/get_terms?term_type=Purchase Order')
                .then(function (response) {
                    vm.terms = response.data,
                    vm.getPaymentTerms()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getPaymentTerms() {
                let vm = this;
                axios.post('payment_term/get_payment_terms')
                .then(function (response) {
                    vm.payment_terms = response.data;
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            changeTerm() {
                let vm = this;
                let term = vm.terms.filter(function (el) {
                    return el.term_id == vm.purchase_order.term_id
                });
                if(term) {
                    vm.purchase_order.terms = term[0].term;
                }
            },

            selectContact(e) {
                let vm = this;
                const contact = e.target.value;
                vm.purchase_order.vendor_id = contact.contact_id;
                vm.purchase_order.contact_name = contact.contact_name;
                vm.purchase_order.source_id = contact.place_id;
                if(vm.status==0){
                    vm.purchase_order.destination_id = vm.org.place_id
                }
            },

            selectProduct(e,type) {

                let vm = this;
                const product = e.target.value;
                if(product=='no data'){
                    vm.toast('Invalid barcode','error')
                }
                else{

                    let filter = _.find(vm.purchase_order.purchase_order_products,  function (el,index)  {
                        if(el.product_id == product.product_id){
                            el.key = index;
                            return  el;
                        }
                    });
                    console.log('filter',filter)
                    vm.purchase_order_product.product_id = product.product_id;
                    vm.purchase_order_product.product_code = product.product_code;
                    vm.purchase_order_product.product_name = product.product_name;
                    vm.purchase_order_product.price_id = product.price.price_id;
                    vm.purchase_order_product.purchase_rate_exc = product.price.purchase_rate_exc;
                    vm.purchase_order_product.purchase_rate_inc = product.price.purchase_rate_inc;
                    vm.purchase_order_product.store_id = product.store.store_id;
                    vm.purchase_order_product.warehouse_id = product.store.warehouse.warehouse_id;
                    vm.purchase_order_product.discount = 0;
                    vm.purchase_order_product.discount_type = '%';
                    vm.purchase_order_product.tax = product.price.tax;
                    vm.purchase_order_product.tax_id = product.price.tax.tax_id;
                    vm.$refs.purchase_rate_exc.focus();
                    vm.calPurchaseRateInc();

                    if(!_.isUndefined(filter) && filter.purchase_order_product_id!=''){
                        vm.purchase_order_product.purchase_order_product_id=filter.purchase_order_product_id
                    }
                       
                    if(type == 'select_product'){

                        vm.purchase_order_product.quantity = 1;
                        vm.purchase_order_product.status = 0;
                        
                        if(!_.isUndefined(filter) && filter.product_id == vm.purchase_order_product.product_id){

                            if(add=='add'){

                                if(key < filter.key){
                                    vm.purchase_order_product.status = 1;
                                    vm.purchase_order_product.key = key;
                                    vm.purchase_order.purchase_order_products.splice(filter.key, 1);
                                }

                                if(key > filter.key){
                                    this.$nextTick(function () {
                                        vm.purchase_order_product.status = 1;
                                        vm.purchase_order_product = filter;
                                        vm.purchase_order_product.key = filter.key;
                                        vm.checkRow();
                                    });

                                    vm.purchase_order.purchase_order_products.splice(key, 1);
                                }
                            }
                        }
                        
                        if(_.isUndefined(filter) || _.isNull(filter.key)){
                            vm.purchase_order_product.key = key;
                            vm.purchase_order_product.status = 1; 
                            this.$nextTick(function () {
                                vm.checkRow();
                            });
                        }

                        vm.$refs.product_bar.focus();

                        this.$nextTick(function () {
                            vm.checkRow();
                        });
                    }

                    if(type == 'barcode'){
                        vm.purchase_order_product.quantity =1;
                        vm.purchase_order_product.status =0;
                        vm.checkRow();
                    }
                }
            },

            calPurchaseRateInc() {
                let vm = this;
                let tax = vm.taxes.filter(function (el) {
                    return el.tax_id == vm.purchase_order_product.tax_id 
                });
                vm.purchase_order_product.tax = tax[0];
                let tax_amount = ((vm.purchase_order_product.purchase_rate_exc * tax[0].tax_rate)/100).toFixed(2);
                vm.purchase_order_product.purchase_rate_inc = (+tax_amount + +vm.purchase_order_product.purchase_rate_exc).toFixed(2);
                vm.calAmount();
            },

            calPurchaseRateExc() {
                let vm = this;
                let tax = vm.taxes.filter(function (el) {
                    return el.tax_id == vm.purchase_order_product.tax_id 
                });
                vm.purchase_order_product.purchase_rate_exc = (vm.purchase_order_product.purchase_rate_inc / ((tax[0].tax_rate/100) + 1)).toFixed(2);
                vm.calAmount();
            },

            calAmount() {
                let vm = this;
                vm.purchase_order_product.amount = (vm.purchase_order_product.purchase_rate_exc * vm.purchase_order_product.quantity).toFixed(2);
                // vm.calDiscount()
                vm.calSubTotal(); 
            },

            calSubTotal(){
                let vm = this;
                let amount = vm.purchase_order_product.amount;
                if(vm.setting.discounts_in == 'exc'){
                    // vm.calDiscount()
                    // console.log('exc',vm.setting.discounts_in)
                    vm.purchase_order_product.discount_amount = vm.calDiscount(amount);
                    amount = parseFloat(amount) - parseFloat(vm.purchase_order_product.discount_amount);
                    vm.purchase_order_product.tax_amount = vm.calTax(amount);
                    amount = parseFloat(amount) + parseFloat(vm.purchase_order_product.tax_amount);
                    vm.purchase_order_product.sub_total = parseFloat(amount).toFixed(2);
                }else{
                    // vm.calTax()
                    // console.log('inc',vm.setting.discounts_in)
                    vm.purchase_order_product.tax_amount = vm.calTax(amount);
                    amount = parseFloat(amount) + parseFloat(vm.purchase_order_product.tax_amount);
                    vm.purchase_order_product.discount_amount = vm.calDiscount(amount);
                    amount = parseFloat(amount) - parseFloat(vm.purchase_order_product.discount_amount);
                    vm.purchase_order_product.sub_total = parseFloat(amount).toFixed(2);
                }
            },

            calDiscount(amount) {
                let vm = this;
                let dis = 0;
                if(vm.purchase_order_product.discount_type=='%') {
                    dis = parseFloat((amount * vm.purchase_order_product.discount)/100).toFixed(2);
                }
                else {
                    dis = parseFloat(vm.purchase_order_product.discount).toFixed(2);
                }
                return dis;
                // vm.calTax();
            },

            calTax(amount) {
                let vm = this;
                let tax = vm.taxes.filter(function (el) {
                    return el.tax_id == vm.purchase_order_product.tax_id ;
                });
                let tax_amount = parseFloat((amount * tax[0].tax_rate)/100).toFixed(2);
                return tax_amount;
            },

            calDiscountAmount(){
                let vm = this;
                let products = vm.purchase_order.purchase_order_products;
                _.forEach(products, function(value, key) {
                    let vm = this;
                    value.amount = (value.purchase_rate_exc * value.quantity).toFixed(2);
                    calSubTotal(value); 
                });
                function calSubTotal(value){
                    let amount = value.amount;
                    if(vm.setting.discounts_in == 'exc'){

                        value.discount_amount = calDiscount(value,amount);
                        amount = parseFloat(amount) - parseFloat(value.discount_amount);
                        value.tax_amount = calTax(value,amount);
                        amount = parseFloat(amount) + parseFloat(value.tax_amount);
                        value.sub_total = parseFloat(amount).toFixed(2);

                    }else{

                        value.tax_amount = calTax(value,amount);
                        amount = parseFloat(amount) + parseFloat(value.tax_amount);
                        value.discount_amount = calDiscount(value,amount);
                        amount = parseFloat(amount) - parseFloat(value.discount_amount);
                        value.sub_total = parseFloat(amount).toFixed(2);
                    }
                }
                function calTax(value,amount) {
                    let tax = vm.taxes.filter(function (el) {
                        return el.tax_id == value.tax_id ;
                    });
                    let tax_amount = parseFloat((amount * tax[0].tax_rate)/100).toFixed(2);
                    return tax_amount;
                }
                function calDiscount(value,amount) {
                    let dis = 0;
                    value.discount_type = vm.discount_type;
                    value.discount = parseInt(vm.discount);
                    if(value.discount_type=='%') {
                        dis = parseFloat((amount * vm.discount)/100).toFixed(2);
                    }
                    else {
                        dis = parseFloat(vm.discount).toFixed(2);
                    }
                    return dis;
                }
            },

            checkRow() {
                let vm = this;
                if(vm.purchase_order_product.status==0){
                    vm.addRow();
                }
                else{
                    vm.updateRow();
                }
            },

            addRow() {
                // let vm = this;
                // axios.post('purchase_order/validation',vm.purchase_order_product)
                // .then(function (response) {
                //     vm.purchase_order.purchase_order_products.push(response.data),
                //     vm.discardPurcahseOrderProduct()
                // })
                // .catch(function (error) {
                //     vm.errors = error.response.data.errors,
                //     vm.toast(error.response.data.message,'error')
                // });

                let vm = this;

                let filter_product = _.find(vm.purchase_order.purchase_order_products,  function (el,index)  {
                    if(el.product_id == vm.purchase_order_product.product_id){
                        el.key = index;
                        return  el;
                    }
                });
               
                if(!_.isUndefined(filter_product)){
                    vm.purchase_order_product.quantity = filter_product.quantity+vm.purchase_order_product.quantity;
                    vm.purchase_order_product.key  = filter_product.key;
                    //vm.purchase_order_product.purchase_order_product_id  = filter_product.purchase_order_product_id;
                    vm.purchase_order_product.purchase_order  = filter_product.key;
                    vm.purchase_order_product.status = 1;
                    this.$nextTick(function () {
                        vm.checkRow();
                    });
                }
                else{

                    let filter = vm.purchase_order.purchase_order_products.filter(function (el) {
                        if(!el.purchase_order_product_id){
                           return el.product_id == vm.purchase_order_product.product_id 
                        }
                    });

                    let quantity = _.map(filter, 'quantity');
                    let sum = _.sum(quantity)+vm.purchase_order_product.quantity;

                    if(sum > vm.purchase_order_product.current_stock){
                        vm.toast('Stock Exceeded','error')
                        if(vm.preference.allow_negative_stock =='Yes'){
                            addrow(); 
                        }
                    }
                    else{
                        addrow();
                    }
                    function addrow(){  
                        axios.post('purchase_order/validation',vm.purchase_order_product)
                        .then(function (response) {
                            vm.purchase_order.purchase_order_products.push(response.data),
                            vm.discardPurcahseOrderProduct()
                        })
                        .catch(function (error) {
                            vm.errors = error.response.data.errors,
                            vm.toast(error.response.data.message,'error')
                        });
                    }
                }
            }, 

            editRow(purchase_order_product, key) {
                let vm = this;
                vm.purchase_order_product = purchase_order_product;
                vm.purchase_order_product.status = 1;
                vm.purchase_order_product.key = key;
            },

            updateRow() {
                let vm = this;
                axios.post('purchase_order/validation',vm.purchase_order_product)
                .then(function (response) {
                    vm.purchase_order.purchase_order_products.splice(response.data.key,1,response.data),
                    vm.discardPurcahseOrderProduct()
                })
                .catch(function (error) {
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error')
                });
            },

            deleteRow(purchase_order_product,key) {
                let vm = this;
                vm.purchase_order.deleted_purchase_order_products.push(purchase_order_product),
                vm.purchase_order.purchase_order_products.splice(key, 1);
                vm.discardPurcahseOrderProduct();
            },

            discardPurcahseOrderProduct(){
                let vm = this;
                vm.purchase_order_product.product_id="";
                vm.purchase_order_product.product_code="";
                vm.purchase_order_product.product_name="";
                vm.purchase_order_product.price_id="";
                vm.purchase_order_product.purchase_rate_exc="";
                vm.purchase_order_product.purchase_rate_inc="";
                vm.purchase_order_product.store_id="";
                vm.purchase_order_product.warehouse_id="";
                vm.purchase_order_product.discount=""
                vm.purchase_order_product.discount_type="";
                vm.purchase_order_product.discount_amount="";
                vm.purchase_order_product.tax={};
                vm.purchase_order_product.tax_id=vm.taxes[0].tax_id;
                vm.purchase_order_product.tax_amount="";
                vm.purchase_order_product.quantity="";
                vm.purchase_order_product.amount="";
                vm.purchase_order_product.sub_total="";
                vm.purchase_order_product.key="";
                vm.purchase_order_product.status=0;
                vm.errors={};
                vm.$refs.product_name.focus();
                if(vm.discount!=''){
                    vm.calDiscountAmount();
                }
            },

            save() {
                let vm = this;

                let key = vm.$vDialog.mask("Loading...");
                axios.post('purchase_order/store',vm.purchase_order)
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.toast("Purchase order successfully created","success"),
                    vm.$router.push('/purchase_order/display')
                })
                .catch(function (error) {
                    vm.$vDialog.close(null, key),
                    vm.errors = error.response.data.errors
                    vm.toast(error.response.data.message,'error')
                });
            },

            update() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('purchase_order/update',vm.purchase_order)
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.toast("Purchase order successfully updated","success"),
                    vm.$router.push(`/purchase_order/view/${vm.purchase_order.purchase_order_id}`)
                })
                .catch(function (error) {
                    vm.$vDialog.close(null, key),
                    vm.errors = error.response.data.errors
                    vm.toast(error.response.data.message,'error')
                });
            },

            discard() {
                let vm = this;
                vm.$router.push('/purchase_order/display');
            },

            discountType(){
                let vm = this;
                if(vm.purchase_order_product.discount_type == '%'){
                    if(vm.purchase_order_product.discount>100){
                        alert('discount should not be greater than 100%');
                        vm.purchase_order_product.discount="";
                    } 
                }

            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        },
    }
</script>