<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Report</li>
            <li class="breadcrumb-item">Purchase Order</li>
            <li class="breadcrumb-right">
                <router-link to="/report" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button @click="pdf" type="button" class="btn btn-xs btn-primary">
                    PDF
                </button>
                <button @click="excel" type="button" class="btn btn-xs btn-primary">
                    Excel
                </button>
                <button v-b-modal.report type="button" class="btn btn-xs btn-primary">
                    Filter
                </button>
                <button @click="reset" type="button" class="btn btn-xs btn-danger">
                    Reset
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Purchase Order</strong>
                            </div>
                            <div class="card-body" v-show="report.display_type=='display' || report.display_type=='excel'">
                                <table id="datatable" class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center" colspan="10">PURCHASE ORDER REPORT</th>
                                        </tr>
                                        <tr>
                                            <td colspan="7">
                                                <div>
                                                    <strong>{{ org.org_name }}</strong>
                                                </div>
                                                <div>{{ org.address }}</div>
                                                <div>Email: {{ org.email }}</div>
                                                <div>Phone: {{ org.mobile_no }}</div>
                                                <div>PAN: {{ org.pan_no }}</div>
                                                <div>GSTIN: {{ org.gstin_no }}</div>
                                            </td>
                                            <td colspan="4">
                                                <div v-if="report.vendor_id!='' && purchase_orders.length!=0">
                                                    <div>
                                                        <strong>{{ purchase_orders[0].vendor.contact_name }}</strong>
                                                    </div>
                                                    <div>{{ purchase_orders[0].vendor.billing_address }}</div>
                                                    <div>Phone: {{ purchase_orders[0].vendor.mobile_no }}</div>
                                                    <div>GSTIN: {{ purchase_orders[0].vendor.gstin_no }}</div>
                                                </div>
                                                <div>From Date: {{ report.from_date | moment("DD-MM-YYYY") }}</div>
                                                <div>To Date: {{ report.to_date | moment("DD-MM-YYYY") }}</div>
                                            </td>
                                        </tr>
                                        <!-- <tr v-if="report.report_type=='Detail Report'">
                                             <td colspan="1">#</td>
                                             <td colspan="8">#</td>
                                        </tr> -->
                                        <tr v-if="report.report_type=='Brief Report'">
                                            <th class="text-center">#</th>
                                            <th>PO No</th>
                                            <th>PO Date</th>
                                            <th>Vendor</th>
                                            <th class="text-right">Sub Total</th>
                                            <th v-if='setting.discounts_in=="inc"' class="text-right">Tax</th>
                                            <th class="text-right">Discount</th>
                                            <th v-if='setting.discounts_in=="exc"' class="text-right">Tax</th>
                                            <th class="text-right">Total Amount</th>
                                            <th class="text-right">Round off</th>
                                            <th class="text-right">Grand Total</th>
                                        </tr>
                                    </thead>
                                    <tbody v-if="report.report_type=='Brief Report'">
                                        <tr v-for="purchase_order,key in purchase_orders" @click="view(purchase_order)">
                                            <td class="text-center">
                                                {{ ++key }}
                                            </td>
                                            <td>
                                                {{ purchase_order.purchase_order_no }}
                                            </td>
                                            <td>
                                                {{ purchase_order.purchase_order_date | moment("DD-MM-YYYY") }}
                                            </td>
                                            <td>
                                                {{ purchase_order.vendor.contact_name }}
                                            </td>
                                            <td class="text-right">
                                                {{ purchase_order.sub_total | tofix }}
                                            </td>
                                            <td v-if='setting.discounts_in=="inc"' class="text-right">
                                                {{ purchase_order.tax_amount | tofix }}
                                            </td>
                                            <td  class="text-right">
                                                {{ purchase_order.discount_amount | tofix }}
                                            </td>
                                            <td v-if='setting.discounts_in=="exc"' class="text-right">
                                                {{ purchase_order.tax_amount | tofix }}
                                            </td>
                                            <td class="text-right">
                                                {{ purchase_order.total_amount | tofix }}
                                            </td>
                                            <td class="text-right">
                                                {{ purchase_order.round_off | tofix }}
                                            </td>
                                            <td class="text-right">
                                                {{ purchase_order.grand_total | tofix }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th colspan="4" class="text-right">Total</th>
                                            <th class="text-right">{{ subTotal }}</th>
                                            <th v-if='setting.discounts_in=="inc"' class="text-right">{{ taxAmount }}</th>
                                            <th class="text-right">{{ discountAmount }}</th>
                                            <th v-if='setting.discounts_in=="exc"' class="text-right">{{ taxAmount }}</th>
                                            <th class="text-right">{{ totalAmount }}</th>
                                            <th class="text-right">{{ roundOff }}</th>
                                            <th class="text-right">{{ grandTotal }}</th>
                                        </tr>
                                    </tbody>
                                    <tbody v-if="report.report_type=='Detail Report'" v-for="purchase_order,k in purchase_orders">
                                        <tr>
                                            <th :rowspan="purchase_order.purchase_order_products.length+9">{{ ++k }}</th>
                                        </tr>
                                        <tr>
                                            <td colspan="6">
                                                <h6 class="mb-1">To:</h6>
                                                <div>
                                                    <strong>{{ purchase_order.vendor.contact_name }}</strong>
                                                </div>
                                                <div>{{ purchase_order.billing_address }}</div>
                                                <div>{{ purchase_order.shipping_address }}</div>
                                                <div>Email: {{ purchase_order.vendor.email }}</div>
                                                <div>Phone: {{ purchase_order.vendor.mobile_no }}</div>
                                                <div>PAN: {{ purchase_order.vendor.pan_no }}</div>
                                                <div>GSTIN: {{ purchase_order.vendor.gstin_no }}</div>
                                            </td>
                                            <td colspan="4">
                                                <h6 class="mb-1">Details:</h6>
                                                <div>
                                                    PO No : <strong>{{ purchase_order.purchase_order_no }}</strong>
                                                </div>
                                                <div>
                                                    PO Date : {{ purchase_order.purchase_order_date | moment("DD-MM-YYYY") }}
                                                </div>
                                                <div>
                                                    Ref No : {{ purchase_order.reference_no }}
                                                </div>
                                                <div>
                                                    Delivery Date : {{ purchase_order.delivery_date | moment("DD-MM-YYYY") }}
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Product Code</th>
                                            <th>Product Name</th>
                                            <th class="text-right">P.Rate(Exc)</th>
                                            <th class="text-right">P.Rate(Inc)</th>
                                            <th v-if='setting.discounts_in=="inc"' class="text-right">Tax</th>
                                            <th class="text-right">Discount</th>
                                            <th v-if='setting.discounts_in=="exc"' class="text-right">Tax</th>
                                            <th class="text-right">Qty</th>
                                            <th class="text-right">Amount</th>
                                        </tr>
                                        <tr v-for="purchase_order_product, key in purchase_order.purchase_order_products">
                                            <td class="text-center">
                                                {{ +key + 1 }}
                                            </td>
                                            <td>
                                                {{ purchase_order_product.product_code }}
                                            </td>
                                            <td>
                                                {{ purchase_order_product.product_name }}
                                            </td>
                                            <td class="text-right">
                                                {{ purchase_order_product.purchase_rate_exc | tofix }}
                                            </td>
                                            <td class="text-right">{{ 
                                                purchase_order_product.purchase_rate_inc | tofix }}
                                            </td>
                                            <td v-if='setting.discounts_in=="inc"' class="text-right">
                                                {{ purchase_order_product.tax.tax_name }}
                                            </td>
                                            <td class="text-right">
                                                {{ purchase_order_product.discount | tofix }} 
                                                {{ purchase_order_product.discount_type }}
                                            </td>
                                            <td v-if='setting.discounts_in=="exc"' class="text-right">
                                                {{ purchase_order_product.tax.tax_name }}
                                            </td>
                                            <td class="text-right">
                                                {{ purchase_order_product.quantity | tofix }}
                                            </td>
                                            <td class="text-right">
                                                {{ purchase_order_product.amount | tofix }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td rowspan="3" colspan="5">
                                                <strong>Terms and Conditions : </strong><br>
                                                {{ purchase_order.terms }}
                                            </td>
                                            <th class="text-right" colspan="2">Sub Total</th>
                                            <th class="text-right" colspan="2">
                                                {{ purchase_order.sub_total | tofix }}
                                            </th>
                                        </tr>
                                        <tr v-if='setting.discounts_in=="inc"'>
                                            <th class="text-right" colspan="2">Tax</th>
                                            <th class="text-right" colspan="2">
                                                {{ purchase_order.tax_amount | tofix }}
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="text-right" colspan="2">Discount</th>
                                            <th class="text-right" colspan="2">
                                                {{ purchase_order.discount_amount | tofix }}
                                            </th>
                                        </tr>
                                        <tr v-if='setting.discounts_in=="exc"'>
                                            <th class="text-right" colspan="2">Tax</th>
                                            <th class="text-right" colspan="2">
                                                {{ purchase_order.tax_amount | tofix }}
                                            </th>
                                        </tr>
                                        <tr>
                                            <td rowspan="3" colspan="5">
                                                <strong>Note : </strong><br>
                                                {{ purchase_order.note }}
                                            </td>
                                            <th class="text-right" colspan="2">Total</th>
                                            <th class="text-right" colspan="2">
                                                {{ purchase_order.total_amount | tofix }}
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="text-right" colspan="2">Round off</th>
                                            <th class="text-right" colspan="2">
                                                {{ purchase_order.round_off | tofix }}
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="text-right" colspan="2">Grand Total</th>
                                            <th class="text-right" colspan="2">
                                                {{ purchase_order.grand_total | tofix }}
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-body" v-show="report.display_type=='pdf'">
                                <div class="row">
                                    <iframe :src="report.source" width="100%" height="400" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="report" title="Report" @ok="filter">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="from_date">From Date *</label>
                        <input class="form-control" type="date" v-model="report.from_date" placeholder="From Date">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="to_date">To Date *</label>
                        <input class="form-control" type="date" v-model="report.to_date" placeholder="To Date">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="vendor_id">Vendor</label>
                        <contact :contact_type="report.contact_type" :initialize="report.contact_name" @input="selectContact($event)"></contact>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="report_type">Report Type*</label>
                        <select class="form-control" v-model="report.report_type">
                            <option value="">Select Report Type</option>
                            <option value="Brief Report">Brief Report</option>
                            <option value="Detail Report">Detail Report</option>
                        </select>
                    </div>
                </div>
            </div>
        </b-modal>
    </main>
</template>
<script>
    import { Contact } from '../plugins/contact'
    export default{
        components: { Contact },
        props: ['org','setting'],
        data(){
            return{
                report: {
                    from_date:new Date().toISOString().slice(0,10),
                    to_date:new Date().toISOString().slice(0,10),
                    vendor_id:'',
                    contact_name:'',
                    contact_type:'Vendor',
                    display_type:'display',
                    report_type:'Brief Report',
                },
                purchase_orders:{},
                purchase_order_products:{}
            }
        },

        mounted(){
            let vm = this;
            vm.getReport();
        },

        computed:{
            subTotal: function(){
                return this.purchase_orders.reduce((prev, cur) => +prev + +cur.sub_total, 0).toFixed(2);
            },

            discountAmount: function(){
                return this.purchase_orders.reduce((prev, cur) => +prev + +cur.discount_amount, 0).toFixed(2);
            },

            taxAmount: function(){
                return this.purchase_orders.reduce((prev, cur) => +prev + +cur.tax_amount, 0).toFixed(2);
            },
            totalAmount: function(){
                return this.purchase_orders.reduce((prev, cur) => +prev + +cur.total_amount, 0).toFixed(2);
            },

            roundOff: function(){
                return this.purchase_orders.reduce((prev, cur) => +prev + +cur.round_off, 0).toFixed(2);
            },

            grandTotal: function(){
                return this.purchase_orders.reduce((prev, cur) => +prev + +cur.grand_total, 0).toFixed(2);
            }
        },
        
        methods:{
            getReport() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.get("purchase_order/report?from_date=" + vm.report.from_date + '&to_date=' + vm.report.to_date + '&vendor_id=' + vm.report.vendor_id + '&display_type=' + vm.report.display_type + '&report_type=' + vm.report.report_type)
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.purchase_orders = response.data
                })
                .catch(function (error) {
                    vm.$vDialog.close(null, key),
                    vm.toast(error.message,'error')
                });
            },

            selectContact(e) {
                let vm = this;
                const contact = e.target.value;
                vm.report.vendor_id = contact.contact_id;
                vm.report.contact_name = contact.contact_name;
            },

            reset() {
                let vm = this;
                vm.report.from_date = new Date().toISOString().slice(0,10),
                vm.report.to_date = new Date().toISOString().slice(0,10),
                vm.report.vendor_id ='',
                vm.report.contact_name = '',
                vm.report.contact_type = 'Vendor',
                vm.report.display_type = 'display',
                vm.report.report_type = 'Brief Report',
                vm.getReport()
            },

            filter() {
                let vm = this;
                vm.report.display_type = 'display';
                vm.getReport();
            },

            pdf() {
                let vm = this;
                vm.report.display_type='pdf';
                vm.report.source="purchase_order/report?from_date=" + vm.report.from_date + '&to_date=' + vm.report.to_date + '&vendor_id=' + vm.report.vendor_id + '&display_type=' + vm.report.display_type + '&report_type=' + vm.report.report_type;
            },

            excel() {
                let vm = this;
                vm.report.display_type='excel';
                vm.report.source="purchase_order/report?from_date=" + vm.report.from_date + '&to_date=' + vm.report.to_date + '&vendor_id=' + vm.report.vendor_id + '&display_type=' + vm.report.display_type + '&report_type=' + vm.report.report_type;
            },

            view(po){
                this.$router.push(`/purchase_order/view/${po.purchase_order_id}`);
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>