<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Purchase</li>
            <li class="breadcrumb-item">Purchase Order</li>
            <li class="breadcrumb-right" v-if="Object.keys(purchase_order).length>0">
                <router-link :to="redirect_back" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button @click="preview" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-file-pdf-o"></i>
                </button>
                <router-link to="/purchase_order/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i>
                </router-link>
                <button v-if="purchase_order.frontend_status.edit" @click="edit" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-edit"></i>
                </button>
                <button v-if="purchase_order.frontend_status.delete" @click="destroy" type="button" class="btn btn-xs btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
               <!--  <button class="btn btn-xs btn-success" @click="convert">
                    <i class="fa fa-refresh"></i>
                </button> -->
            </li>
        </ol> 
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Purchase Order : 
                                <strong>{{ purchase_order.purchase_order_no }}</strong>
                                <div class="card-header-actions">
                                    <span class="badge badge-lg badge-primary">{{ purchase_order.purchase_order_status }}</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row mb-1">
                                    <div class="col-sm-4">
                                        <h6 class="mb-1">From:</h6>
                                        <div>
                                            <strong>{{ org.org_name }}</strong>
                                        </div>
                                        <div>{{ org.address }}</div>
                                        <div>Email: {{ org.email }}</div>
                                        <div>Phone: {{ org.mobile_no }}</div>
                                        <div>PAN: {{ org.pan_no }}</div>
                                        <div>GSTIN: {{ org.gstin_no }}</div>
                                    </div >

                                    <div class="col-sm-4" v-if="Object.keys(purchase_order).length>0">
                                        <h6 class="mb-1">To:</h6>
                                        <div>
                                            <strong>{{ purchase_order.vendor.contact_name }}</strong>
                                        </div>
                                        <div>{{ purchase_order.billing_address }}</div>
                                        <div>{{ purchase_order.shipping_address }}</div>
                                        <div>Email: {{ purchase_order.vendor.email }}</div>
                                        <div>Phone: {{ purchase_order.vendor.mobile_no }}</div>
                                        <div>PAN: {{ purchase_order.vendor.pan_no }}</div>
                                        <div>GSTIN: {{ purchase_order.vendor.gstin_no }}</div>
                                    </div>

                                    <div class="col-sm-4">
                                        <h6 class="mb-1">Details:</h6>
                                        <div>
                                            PO No : <strong>{{ purchase_order.purchase_order_no }}</strong>
                                        </div>
                                        <div>
                                            PO Date : {{ purchase_order.purchase_order_date | moment("DD-MM-YYYY") }}
                                        </div>
                                        <div>
                                            Ref No : {{ purchase_order.reference_no }}
                                        </div>
                                        <div>
                                            Delivery Date : {{ purchase_order.delivery_date | moment("DD-MM-YYYY") }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>Product Code</th>
                                                    <th>Product Name</th>
                                                    <th class="text-right">P.Rate(Exc)</th>
                                                    <th class="text-right">P.Rate(Inc)</th>
                                                    <th v-if='setting.discounts_in=="inc"' class="text-right">Tax</th>
                                                    <th class="text-right">Discount</th>
                                                    <th v-if='setting.discounts_in=="exc"' class="text-right">Tax</th>
                                                    <th class="text-right">Qty</th>
                                                    <th class="text-right">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody  v-if="Object.keys(purchase_order).length>0">
                                                <tr v-for="purchase_order_product, key in purchase_order.purchase_order_products">
                                                    <td class="text-center">
                                                        <input v-if="convert_status==1" type="checkbox" checked="" true-value="1" false-value="0" v-model.number="purchase_order_product.purchase_order_product_status">
                                                        {{ ++key }}
                                                    </td>
                                                    <td>
                                                        {{ purchase_order_product.product_code }}
                                                    </td>
                                                    <td>
                                                        {{ purchase_order_product.product_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ purchase_order_product.purchase_rate_exc | tofix }}
                                                    </td>
                                                    <td class="text-right">{{ 
                                                        purchase_order_product.purchase_rate_inc | tofix }}
                                                    </td>
                                                    <td v-if='setting.discounts_in=="inc"' class="text-right">
                                                        {{ purchase_order_product.tax.tax_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ purchase_order_product.discount | tofix }} 
                                                        {{ purchase_order_product.discount_type }}
                                                    </td>
                                                    <td v-if='setting.discounts_in=="exc"' class="text-right">
                                                        {{ purchase_order_product.tax.tax_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ purchase_order_product.quantity | tofix }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ purchase_order_product.amount | tofix }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td rowspan="3" colspan="5">
                                                        <strong>Terms and Conditions : </strong><br>
                                                        {{ purchase_order.terms }}
                                                    </td>
                                                    <th class="text-right" colspan="2">Sub Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ purchase_order.sub_total | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Discount</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ purchase_order.discount_amount | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Tax</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ purchase_order.tax_amount | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td rowspan="3" colspan="5">
                                                        <strong>Note : </strong><br>
                                                        {{ purchase_order.note }}
                                                    </td>
                                                    <th class="text-right" colspan="2">Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ purchase_order.total_amount | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Round off</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ purchase_order.round_off | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Grand Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ purchase_order.grand_total | tofix }}
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                               <taxable v-if="Object.keys(purchase_order).length>0" :products="purchase_order.purchase_order_products" :taxtype="purchase_order.source_id!=purchase_order.destination_id?'IGST':'GST'" :setting="setting"/>
                            </div>
                            </div>
                            <div class="card-footer" v-show="convert_status==1">
                                <div class="card-header-actions">
                                    <button class="btn btn-sm btn-success" @click="convertToBill">Convert PO To Bill</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    import { Taxable } from '../modal/taxable'

    export default{
        components: { Taxable },
        props: ['org','setting'],
        data(){
            return{
                purchase_order:{},
                redirect_back:'',
                errors:{},
                convert_status:0
            }
        },

        beforeRouteEnter(to, from, next) {
            axios.post(`purchase_order/view/${to.params.purchase_order_id}`)
            .then(function (response) {
                next(vm => {
                    vm.purchase_order = response.data,
                    vm.redirect_back = from.path
                })
            })
            .catch(function (error) {
                vm.toast(error.message,'error')
            });
        },
        
        methods:{
            preview() {
                let vm = this;
                vm.$router.push(`/purchase_order/preview/${vm.purchase_order.purchase_order_id}`);
            },

            edit() {
                let vm = this;
                vm.$router.push(`/purchase_order/edit/${vm.purchase_order.purchase_order_id}`);
            },

            destroy(){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post(`purchase_order/destroy/${vm.purchase_order.purchase_order_id}`)
                    .then(function (response) {
                        vm.$vDialog.close(null, key),
                        vm.toast("Purchase order successfully deleted","success"),
                        vm.$router.push('/purchase_order/display')
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },
            convert(){
                let vm = this;
                vm.purchase_order.purchase_order_products.forEach(function(value){
                    vm.$set(value,'purchase_order_product_status',1);
                });
                vm.$set(vm.$data,'convert_status',1);
            },

            convertToBill(){
                let vm = this;

                let bill = vm.purchase_order.purchase_order_products.filter(function(val){
                    return parseInt(val.purchase_order_product_status);
                }).map(function(val){
                    return val.purchase_order_product_id;
                });
                if(bill.length>0){
                    this.$router.push({path:'/purchase_order/convert/bill/', query: { query: JSON.stringify(bill)}});    
                }else{
                    vm.toast('Error','error')
                }
            },
            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        },
     }
</script>