<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Purchase</li>
            <li class="breadcrumb-item">Expense</li>
            <li class="breadcrumb-right">
                <router-link to="/expense/display" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <!-- <button @click="preview" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-file-pdf-o"></i>
                </button> -->
                <router-link to="/expense/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i>
                </router-link>
                <!-- <button @click="edit" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-edit"></i>
                </button> -->
                <!-- <button @click="destroy" type="button" class="btn btn-xs btn-danger">
                    <i class="fa fa-trash"></i>
                </button> -->
                
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Expense : 
                                <strong>{{ expense.voucher_no }}</strong>
                                <!-- <div class="card-header-actions">
                                    <span class="badge badge-lg badge-primary">{{ expense.payment_status }}</span>
                                </div> -->
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <iframe :src="pdf" width="100%" height="500" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    export default{
        props: ['org'],
        data(){
            return{
                expense:{},
                errors:{},
                pdf:''
            }
        },

        beforeRouteEnter(to, from, next) {
            axios.post(`expense/view/${to.params.expense_id}`)
            .then(function (response) {
                next(vm => {
                    vm.expense = response.data,
                    vm.pdf = "expense/pdf/" + vm.expense.expense_id;
                })
            })
            .catch(function (error) {
                vm.toast(error.message,'error')
            });
        },
        
        methods:{
            // preview() {
            //  let vm = this;
            //  vm.$router.push(`/payment/preview/${vm.payment.payment_id}`);
            // },

            edit() {
                let vm = this;
                vm.$router.push(`/expense/edit/${vm.expense.expense_id}`);
            },

            destroy(){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post(`expense/destroy/${vm.expense.expense_id}`)
                    .then(function (response) {
                        vm.$vDialog.close(null, key),
                        vm.toast("Expense successfully deleted","success"),
                        vm.$router.push('/expense/display')
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>