<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Purchase</li>
            <li class="breadcrumb-item">Expense</li>
            <li class="breadcrumb-right">
                <router-link :to="redirect_back" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button @click="preview" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-file-pdf-o"></i>
                </button>
                <router-link to="/expense/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i>
                </router-link>
                <button @click="edit" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-edit"></i>
                </button>
                <button @click="destroy" type="button" class="btn btn-xs btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Voucher : 
                                <strong>{{ expense.voucher_no }}</strong>
                            </div>
                            <div class="card-body">
                                <div class="row mb-1">
                                    <div class="col-sm-4">
                                        <h6 class="mb-1">From:</h6>
                                        <div>
                                            <strong>{{ org.org_name }}</strong>
                                        </div>
                                        <div>{{ org.address }}</div>
                                        <div>Email: {{ org.email }}</div>
                                        <div>Phone: {{ org.mobile_no }}</div>
                                        <div>PAN: {{ org.pan_no }}</div>
                                        <div>GSTIN: {{ org.gstin_no }}</div>
                                    </div >

                                    <div class="col-sm-4">
                                        <h6 class="mb-1">To:</h6>
                                        <div>
                                            <strong>{{ expense.contact.contact_name }}</strong>
                                        </div>
                                        <div>{{ expense.contact.billing_address }}</div>
                                        <div>Email: {{ expense.contact.email }}</div>
                                        <div>Phone: {{ expense.contact.mobile_no }}</div>
                                        <div>PAN: {{ expense.contact.pan_no }}</div>
                                        <div>GSTIN: {{ expense.contact.gstin_no }}</div>
                                    </div>

                                    <div class="col-sm-4">
                                        <h6 class="mb-1">Details:</h6>
                                        <div>
                                            Voucher No : <strong>{{ expense.voucher_no }}</strong>
                                        </div>
                                        <div>
                                            Voucher Date : {{ expense.voucher_date | moment("DD-MM-YYYY") }}
                                        </div>
                                        <div>
                                            Account : {{ expense.account.account_name }}
                                        </div>
                                        <div>
                                            Payment Mode : {{ expense.payment_mode }}
                                        </div>
                                        <div>
                                            Ref No : {{ expense.reference_no }}
                                        </div>
                                        <div>
                                            Ref Date : {{ expense.reference_date | moment("DD-MM-YYYY") }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>Voucher No</th>
                                                    <th>Voucher Date</th>
                                                    <th class="text-right">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="text-center">
                                                        1
                                                    </td>
                                                    <td>
                                                        {{ expense.voucher_no }}
                                                    </td>
                                                    <td>
                                                        {{ expense.voucher_date | moment("DD-MM-YYYY") }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ expense.amount | tofix }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th colspan="3" class="text-right">Total</th>
                                                    <th class="text-right">
                                                        {{ expense.amount | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th colspan="3">
                                                        <strong>Terms and Conditions : </strong><br>
                                                        {{ expense.terms }}
                                                    </th>
                                                    <th colspan="0">
                                                        <strong>Note : </strong><br>
                                                        {{ expense.note }}
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        props: ['org'],
        data(){
            return{
                expense:{},
                redirect_back:'',
                errors:{}
            }
        },

        beforeRouteEnter(to, from, next) {
            axios.post(`expense/view/${to.params.expense_id}`)
            .then(function (response) {
                next(vm => {
                    vm.expense = response.data,
                    vm.redirect_back = from.path
                })
            })
            .catch(function (error) {
                vm.toast(error.message,'error')
            });
        },
        
        methods:{
            preview() {
                let vm = this;
                vm.$router.push(`/expense/preview/${vm.expense.expense_id}`);
            },
            edit() {
                let vm = this;
                vm.$router.push(`/expense/edit/${vm.expense.expense_id}`);
            },
            destroy(){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post(`expense/destroy/${vm.expense.expense_id}`)
                    .then(function (response) {
                        vm.$vDialog.close(null, key),
                        vm.toast("Expense successfully deleted","success"),
                        vm.$router.push('/expense/display')
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
     }
</script>