<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Inventory</li>
            <li class="breadcrumb-item">Product</li>
            <li class="breadcrumb-right">
                <router-link to="/product/display" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button type="button" @click="edit()" class="btn btn-xs btn-primary">
                    <i class="fa fa-edit"></i>
                </button>
                <button @click="destroy()" type="button" class="btn btn-xs btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
                <a :href="milonbarcode" target="_blank" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-barcode"></i>
                </a>   
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Product : 
                                <strong>{{ product.product_code }}</strong>
                                
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <iframe :src="barcode" width="100%" height="500" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>

<script>
    export default{
        props: ['org'],
        data(){
            return{
                product:{},
                errors:{},
                barcode:'',
                milonbarcode:'',
            }
        },

        beforeRouteEnter(to, from, next) {
            axios.post(`product/view/${to.params.product_id}`)
            .then(function (response) {
                next(vm => {
                    vm.product = response.data;
                    vm.milonbarcode = `print/${to.params.product_id}`;
                    vm.barcode = "product/barcode/" + vm.product.product_id
                })
            })
            .catch(function (error) {
                vm.toast(error.message,'error')
            });
        },
        
        methods:{

            edit() {
                let vm = this;
                vm.$router.push(`/product/edit/${vm.product.product_id}`);
            },
           
           destroy(){
                let vm = this;
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    axios.post('product/destroy',vm.product)
                    .then(function (response) {
                        vm.toast("Product is successfully Deleted","success");
                        vm.$router.push('/product/display');
                    })
                    .catch(function (error) {
                        vm.errors = error.response.data.errors
                    });
                }
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>