<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Report</li>
            <li class="breadcrumb-item">Category</li>
            <li class="breadcrumb-right">
                <router-link to="/report" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button @click="pdf" type="button" class="btn btn-xs btn-primary">
                    PDF
                </button>
                <button @click="excel" type="button" class="btn btn-xs btn-primary">
                    Excel
                </button>
                <button v-b-modal.report type="button" class="btn btn-xs btn-primary">
                    Filter
                </button>
                <button @click="reset" type="button" class="btn btn-xs btn-danger">
                    Reset
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>CATEGORY</strong>
                            </div>
                            <div class="card-body" v-show="report.display_type=='display' || report.display_type=='excel'">
                                <table id="datatable" class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center" colspan="11">CATEGORY REPORT</th>
                                        </tr>
                                        <tr>
                                          <th class="text-center" colspan="9">
                                                <div>From Date: {{ report.from_date | moment("DD-MM-YYYY") }} - To Date: {{ report.to_date | moment("DD-MM-YYYY") }}</div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody v-if="invoice_products.length>0" v-for="ctg,key in invoice_products">
                                    	 <tr>
                                            <th :rowspan="ctg.filtered_invoice_products.length+4">{{ ++key }}</th>
                                        </tr>
                                        <tr>
                                            <td align="center" colspan="11"><b>Category Name</b> - {{ ctg.category_name }}</td>
                                        </tr>
                                        <tr >
                                            <th class="text-center">#</th>
                                            <th>Product Code</th>
                                            <th>Product Name</th>
                                            <th>S Rate(Exc)</th>
                                            <th>S Rate(Inc)</th>
                                            <th>Qty</th>
                                            <th class="text-right">Total</th>
                                        </tr>
                                        <tr  v-for="ip,key in ctg.filtered_invoice_products" @click="view(ip)">

                                            <td>{{ ++key }}</td>
                                            <td>
                                                {{ ip.product_code}}
                                            </td>
                                            <td>
                                                {{ ip.product_name }}
                                            </td>
                                            <td class="text-right">
                                                {{ ip.sales_rate_exc | tofix }}
                                            </td>
                                            <td class="text-right">
                                                {{ ip.sales_rate_inc | tofix }}
                                            </td>
                                            <td class="text-center">
                                                {{ ip.category_invoice.quantity }}
                                            </td>
                                            <td class="text-right">
                                                {{ ip.sales_rate_inc*ip.category_invoice.quantity | tofix }}
                                            </td>
                                        </tr>
                                        <tr> 
                                            <th colspan="6" class="text-right">Total</th>
                                            <th class="text-right">{{ ctg.filtered_invoice_products | redArr('sales_rate_inc','category_invoice.quantity') | tofix }}</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-body" v-show="report.display_type=='pdf'">
                                <div class="row">
                                    <iframe :src="report.source" width="100%" height="400" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="report" title="Report" @ok="filter">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="from_date">From Date *</label>
                        <input class="form-control" type="date" v-model="report.from_date" placeholder="From Date">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="to_date">To Date *</label>
                        <input class="form-control" type="date" v-model="report.to_date" placeholder="To Date">
                    </div>
                </div>
                 <div class="col-sm-12">
                    <div class="form-group">
                        <label for="category_id">Category </label>
                        <select class="form-control" v-model="report.category_id">
                            <option value="">Select Category</option>
                            <option v-for="category in categories" :value="category.category_id">{{ category.category_name }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </b-modal>
    </main>
</template>
<script>
    export default{
        props: ['org'],
        data(){
            return{
                report: {
                    from_date:new Date().toISOString().slice(0,10),
                    to_date:new Date().toISOString().slice(0,10),
                    category_id:'',
                    category_name:'',
                    display_type:'display',
                    report_type:'',
                    source:''
                },
                abc:'',
                categories:{},
                invoice_products:[]
            }
        },

        mounted(){
            let vm = this;
            vm.getReport();
        },

        filters:{
            redArr:function(value,field1,field2){
                return value.reduce(function(sum,val){
                    return parseFloat(sum)+(parseFloat(_.get(val,field1,'error'))*parseFloat(_.get(val,field2,'error')))
                },0);
            },
            tofix:function(value){
                return parseFloat(value).toFixed(2);
            }
        },
        methods:{
            getReport() {
                let vm = this;
                // let a = myModule.hello();  
                // console.log('value',a);
                let key = vm.$vDialog.mask("Loading...");
                axios.get("category/report",{
            	 params: {
                      from_date:vm.report.from_date,
                      to_date:vm.report.to_date,
                      category_id:vm.report.category_id,
                      display_type:vm.report.display_type,
                      report_type:vm.report.report_type,
                    }
                })
                .then(function (response) {
                    vm.$vDialog.close(null, key)
                    vm.invoice_products = response.data.category_invoice_products,
                    vm.categories = response.data.categories
                })
                .catch(function (error) {
                    vm.$vDialog.close(null, key),
                    vm.toast(error.message,'error')
                });
            },

            reset() {
                let vm = this;
                vm.report.from_date = new Date().toISOString().slice(0,10),
                vm.report.to_date = new Date().toISOString().slice(0,10),
                vm.report.category_id = '',
                vm.report.category_name = '',
                vm.report.display_type = 'display',
                vm.report.pdf = '',
                vm.report.report_type = '',
                vm.getReport()
            },

            filter() {
                let vm = this;
                vm.report.display_type = 'display';
                vm.getReport();
            },

            pdf() {
                let vm = this;
                vm.report.display_type='pdf';
                vm.report.source="category/report?from_date=" + vm.report.from_date + '&to_date=' + vm.report.to_date + '&category_id=' + vm.report.category_id + '&display_type=' + vm.report.display_type ;
            },

            excel() {
                let vm = this;
                vm.report.display_type='excel';
                vm.report.source="category/report?from_date=" +	 vm.report.from_date + '&to_date=' + vm.report.to_date + '&category_id=' + vm.report.category_id + '&display_type=' + vm.report.display_type;
            },

            view(ip){
                this.$router.push(`/product/view/${ip.product_id}`);
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>