<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Inventory</li>
            <li class="breadcrumb-item">Product</li>
            <li class="breadcrumb-right">
                <router-link to="/product/display" class="btn btn-xs btn-primary">
                    <i class="fa fa-list"></i> Products
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                              <div class="card-header">
                                <strong v-show="status==0">New Product</strong>
                                <strong v-show="status==1">Update Product</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="product_type">Product Type *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.product_type}" v-model="product.product_type" ref="product_type">
                                                <option value="">Select Product Type</option>
                                                <option value="Goods">Goods</option>
                                                <option value="Service">Service</option>
                                            </select>
                                            <div v-if="errors.product_type" class="invalid-feedback">{{ errors.product_type[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="product_code">Product code *</label>
                                            <input class="form-control" type="text"  :class="{'is-invalid': errors.product_code}" v-model="product.product_code"  placeholder="Product Code" >
                                            <div v-if="errors.product_code" class="invalid-feedback">{{ errors.product_code[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="hsn_code">HSN code</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.hsn_code}" v-model="product.hsn_code" placeholder="HSN Code">
                                            <div v-if="errors.hsn_code" class="invalid-feedback">{{ errors.hsn_code[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="category_id">Category *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.category_id}" v-model="product.category_id">
                                                <option value="">Select Category</option>
                                                <option v-for="category in categories" :value="category.category_id">{{ category.category_name }}</option>
                                            </select>
                                            <div v-if="errors.category_id" class="invalid-feedback">{{ errors.category_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="product_name">Product Name *</label>
                                            <textarea class="form-control" :class="{'is-invalid': errors.product_name}" v-model="product.product_name" placeholder="Product Name" ref="product_name"></textarea>
                                            <div v-if="errors.product_name" class="invalid-feedback">{{ errors.product_name[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="description">Description</label>
                                            <textarea class="form-control" :class="{'is-invalid': errors.description}" v-model="product.description" placeholder="Description"></textarea>
                                            <div v-if="errors.description" class="invalid-feedback">{{ errors.description[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="product_unit">Product Unit </label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.product_unit}" v-model="product.product_unit" placeholder="Product Unit" >
                                            <div v-if="errors.product_unit" class="invalid-feedback">{{ errors.product_unit[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="product_size">Size</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.product_size}" v-model="product.product_size" placeholder="Size" >
                                            <div v-if="errors.product_size" class="invalid-feedback">{{ errors.product_size[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="purchase_rate_exc">Purchase Rate(Tax Exclusive) *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.purchase_rate_exc}" v-model="product.purchase_rate_exc" placeholder="Purchase Rate(Tax Exclusive)" @keyup="calPurcahseRateInc()">
                                            <div v-if="errors.purchase_rate_exc" class="invalid-feedback">{{ errors.purchase_rate_exc[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="sales_rate_exc">Sales Rate(Tax Exclusive)* </label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.sales_rate_exc}" v-model="product.sales_rate_exc" placeholder="Sales Rate(Tax Exclusive)" @keyup="calSalesRateInc()">
                                            <div v-if="errors.sales_rate_exc" class="invalid-feedback">{{ errors.sales_rate_exc[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="tax_id">Tax *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.tax_id}" v-model="product.tax_id" @change="calPurcahseRateInc()">
                                                <option value="">Select Tax</option>
                                                <option v-for="tax in taxes" :value="tax.tax_id">{{ tax.tax_name }}</option>
                                            </select>
                                            <div v-if="errors.tax_id" class="invalid-feedback">{{ errors.tax_id[0] }}</div>
                                        </div>
                                    </div>
                                     <div class="col-sm-3 ">
                                        <div class="form-group">
                                            <label for="purchase_rate_inc">Purchase Rate(Tax Inclusive) *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.purchase_rate_inc}" v-model="product.purchase_rate_inc" placeholder="Purchase Rate(Tax Inclusive)" @keyup="calPurcahseRateExc()">
                                            <div v-if="errors.purchase_rate_inc" class="invalid-feedback">{{ errors.purchase_rate_inc[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3 ">
                                        <div class="form-group">
                                            <label for="sales_rate_inc">Sales Rate(Tax Inclusive) *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.sales_rate_inc}" v-model="product.sales_rate_inc" placeholder="Sales Rate(Tax Inclusive)" @keyup="calSalesRateExc()">
                                            <div v-if="errors.sales_rate_inc" class="invalid-feedback">{{ errors.sales_rate_inc[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="min_stock">Min Stock </label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.min_stock}" v-model="product.min_stock" placeholder="Min Stock" >
                                            <div v-if="errors.min_stock" class="invalid-feedback">{{ errors.min_stock[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="vendor_id">Vendor </label>
                                            <select class="form-control" :class="{'is-invalid': errors.vendor_id}" v-model="product.vendor_id">
                                                <option value="">Select Vendor</option>
                                                <option v-for="contact in contacts" :value="contact.contact_id">{{ contact.contact_name }}</option>
                                            </select>
                                            <div v-if="errors.vendor_id" class="invalid-feedback">{{ errors.vendor_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="opening_stock">Opening Stock * </label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.opening_stock}" v-model="product.opening_stock" placeholder="Opening Stock" >
                                            <div v-if="errors.opening_stock" class="invalid-feedback">{{ errors.opening_stock[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="opening_stock_rate">Opening Stock Rate *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.opening_stock_rate}" v-model="product.opening_stock_rate" placeholder="Opening Stock Rate" >
                                            <div v-if="errors.opening_stock_rate" class="invalid-feedback">{{ errors.opening_stock_rate[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="card-header-actions">
                                    <router-link to="/product/display" class="btn btn-sm btn-danger">
                                        <i class="fa fa-ban"></i> Discard
                                    </router-link>
                                    <button v-show="status==0" class="btn btn-sm btn-success" type="button" @click="save()">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                    <button v-show="status==1" class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        data(){
            return{
                status: 0,
                product:{
                    contact_type:'Vendor',
                    product_id:'',
                    product_type:'Goods',
                    product_code:'',
                    hsn_code:'',
                    category_id:'',
                    product_name:'',
                    description:'',
                    product_unit:'No',
                    product_size:'',
                    purchase_rate_exc:'',
                    sales_rate_exc:'',
                    tax_id:'',
                    purchase_rate_inc:'',
                    sales_rate_inc:'',
                    min_stock:'0',
                    vendor_id:'',
                    opening_stock:'',
                    opening_stock_rate:''
                },
                categories:{},
                taxes:{},
                contacts:{},
                errors:{}
            }
        },

        beforeRouteEnter(to, from, next) {
            if(to.name=='product-create') {
                next(vm => {
                    vm.getProductCode(),
                    vm.$refs.product_name.focus()
                });
            }
            else {
                axios.post(`product/edit/${to.params.product_id}`)
                .then(function (response) {
                    next(vm => {
                        vm.getCategories(),
                        vm.product.contact_type="Vendor",
                        vm.product.product_id = response.data.product_id,
                        vm.product.product_type = response.data.product_type,
                        vm.product.product_code = response.data.product_code,
                        vm.product.hsn_code = response.data.hsn_code,
                        vm.product.category_id = response.data.category_id,
                        vm.product.product_name = response.data.product_name,
                        vm.product.description = response.data.description,
                        vm.product.product_unit = response.data.product_unit,
                        vm.product.product_size = response.data.product_size,
                        vm.product.purchase_rate_exc = response.data.price.purchase_rate_exc,
                        vm.product.sales_rate_exc = response.data.price.sales_rate_exc,
                        vm.product.tax_id = response.data.price.tax_id,
                        vm.product.purchase_rate_inc = response.data.price.purchase_rate_inc,
                        vm.product.sales_rate_inc = response.data.price.sales_rate_inc,
                        vm.product.opening_stock = response.data.store.opening_stock,
                        vm.product.opening_stock_rate = response.data.store.opening_stock_rate,
                        vm.product.min_stock = response.data.min_stock,
                        vm.product.vendor_id = response.data.vendor_id,
                        vm.status = 1,
                        vm.$refs.product_name.focus()
                    });
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            }
        },

        methods:{

            getProductCode() {
                let vm = this;
                axios.post('product/get_product_code')
                .then(function (response) {
                    vm.product.product_code = response.data,
                    vm.getCategories()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getCategories() {
                let vm = this;
                axios.post('category/get_categories')
                .then(function (response) {
                    vm.categories = response.data,
                    vm.getTaxes()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getTaxes() {
                let vm = this;
                axios.post('tax/get_taxes')
                .then(function (response) {
                    vm.taxes = response.data,
                    vm.getVendors()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getVendors() {
                let vm = this;
                axios.post('contact/get_contacts',this.product)
                .then(function (response) {
                    vm.contacts = response.data,
                    vm.setData()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            setData(){
                let vm = this;
                if(vm.status==0) {
                    vm.product.category_id = vm.categories[0].category_id,
                    vm.product.tax_id = vm.taxes[0].tax_id
                }
            },

            calPurcahseRateExc() {
                let vm = this;
                let tax = vm.taxes.filter(function (el) {
                    return el.tax_id == vm.product.tax_id 
                });
                
                vm.product.purchase_rate_exc = (vm.product.purchase_rate_inc / ((tax[0].tax_rate/100) + 1)).toFixed(2);
                vm.calSalesRateInc();
            },

            calSalesRateExc() {
                let vm = this;
                let tax = vm.taxes.filter(function (el) {
                    return el.tax_id == vm.product.tax_id 
                });
                vm.product.sales_rate_exc = (vm.product.sales_rate_inc / ((tax[0].tax_rate/100) + 1)).toFixed(2);
                vm.product.opening_stock_rate = vm.product.purchase_rate_inc;
            },

            calPurcahseRateInc() {
                let vm = this;
                let tax = vm.taxes.filter(function (el) {
                    return el.tax_id == vm.product.tax_id 
                });

                let product_tax = ((vm.product.purchase_rate_exc * tax[0].tax_rate)/100).toFixed(2);
                vm.product.purchase_rate_inc = (+product_tax + +vm.product.purchase_rate_exc).toFixed(2);
                vm.calSalesRateInc();
            },

            calSalesRateInc() {
                let vm = this;
                let tax = vm.taxes.filter(function (el) {
                    return el.tax_id == vm.product.tax_id 
                });

                let product_tax = ((vm.product.sales_rate_exc * tax[0].tax_rate)/100).toFixed(2);
                vm.product.sales_rate_inc = (+product_tax + +vm.product.sales_rate_exc).toFixed(2);
                vm.product.opening_stock_rate = vm.product.purchase_rate_inc;
            },

            save() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('product/store',this.product)
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.toast("Product is successfully created","success");
                    vm.$router.push('/product/display')
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            update() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('product/update',this.product)
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.toast("Product is successfully updated","success"),
                    vm.$router.push('/product/display')
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>