<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Inventory</li>
            <li class="breadcrumb-item">Products</li>
            <li class="breadcrumb-right">
                <router-link to="/product/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i> New Product
                </router-link>
                 <button v-b-modal.excelimport type="button" class="btn btn-xs btn-primary">
                    Excel Upload
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Products</strong>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Search" v-model="pagination.search" @keyup="display()" ref="search">
                                </div>
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Product Type</th>
                                            <th>Product Code</th>
                                            <th>HSN Code</th>
                                            <th>Product Name</th>
                                            <th>Category</th>
                                            <th>Product Unit</th>
                                            <th>Size</th>
                                            <th>Stock</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cursor" v-for="product,key in products" @click="view(product)">
                                            <td class="text-center">{{ pagination.from+key }}</td>
                                            <td>{{ product.product_type }}</td>
                                            <td>{{ product.product_code }}</td>
                                            <td>{{ product.hsn_code }}</td>
                                            <td>{{ product.product_name }}</td>
                                            <td>{{ product.category.category_name }}</td>
                                            <td>{{ product.product_unit }}</td>
                                            <td>{{ product.product_size }}</td>
                                            <td>{{ product.current_stock.opening_stock }}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer" v-show="pagination.lastPage!=1">
                                <b-pagination align="right" size="md" @input="display" :total-rows="pagination.totalRows" :per-page="pagination.perPage" v-model="pagination.currentPage"></b-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="excelimport" title="Import Excel" @ok="ExcelUpload(excel_upload)">
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                        <label  class="col-md-3 col-form-label" for="product_excel_upload">Product Excel</label>
                        <input type="file" name="excel_file" id="excel_file" ref="product_excel_upload" class="col-md-9 form-control" @change="handleFileUpload('Product',$event)">
                    </div>
                    <!-- <div class="form-group row">
                        <label  class="col-md-3 col-form-label" for="stock_excel_upload">Stock Excel</label>
                        <input type="file" name="excel_file" id="excel_file" ref="stock_excel_upload" class="col-md-9 form-control" @change="handleFileUpload('Stock',$event)">
                    </div> -->
                </div>
            </div>
        </b-modal>
    </main>
</template>
<script>
    export default{
        data(){
            return{
                pagination:{
                    currentPage: 1,
                    totalRows: 0,
                    perPage: 1,
                    lastPage:1,
                    from: 1,
                    search: ''
                },
                products:{},
                excel_upload:{
                    product:'',
                    // stock:'',
                },
                errors:{},
            }
        },

        mounted(){
            let vm = this;
            vm.$refs.search.focus()
            vm.display();
        },
        
        methods:{
            display() {
                let vm = this;
                axios.post('product/display?page=' + vm.pagination.currentPage + '&search=' + vm.pagination.search)
                .then(function (response) {
                    vm.products = response.data.data,
                    vm.pagination.totalRows = response.data.total
                    vm.pagination.from = response.data.from,
                    vm.pagination.perPage = response.data.per_page,
                    vm.pagination.lastPage = response.data.last_page
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            view(product) {
               
                let vm = this;
                vm.$router.push(`/product/view/${product.product_id}`);
                // vm.$router.push(`/product/barcode/${product.product_id}`);
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            },

            handleFileUpload(status,e){
                if(status == 'Product'){
                    let uploadedFile = this.$refs.product_excel_upload.files[0];
                    this.excel_upload.product = uploadedFile;    
                }
                // else
                // if(status == 'Stock'){
                //     let uploadedFile = this.$refs.stock_excel_upload.files[0];
                //     this.excel_upload.stock = uploadedFile;
                // }
            },

            ExcelUpload(excel_upload){
                let vm = this;
                let formData = new FormData();
                let key = vm.$vDialog.mask("Loading...");
                formData.append('product_excel',excel_upload.product);
                // formData.append('stock_excel',excel_upload.stock);
                axios.post('product/excel_upload',formData,
                    {headers: {
                        'Content-Type': 'multipart/form-data',
                        'mimeType':'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet',
                    }
                }).then(function(response){
                    console.log('import completed')
                    vm.toast("Excel is successfully uploaded","success")
                    vm.$vDialog.close(null, key),
                    vm.display(),
                    Object.assign(vm.$data.excel_upload, vm.$options.data().excel_upload);
                    vm.$refs.product_excel_upload.value = '';
                })
                .catch(function(error){
                    if(_.size(error.response.data.errors)>1){
                        vm.$vDialog.close(null, key);
                        vm.toast("Error in Excel Data Uploaded","error")    
                    }else{
                        vm.$vDialog.close(null, key);
                        vm.toast("Excel file is required","error");
                    }
                    Object.assign(vm.$data.excel_upload, vm.$options.data().excel_upload);
                    vm.errors = error.response.data.errors;
                    vm.$refs.product_excel_upload.value = '';
                    
                });
            }
        }
    }
</script>