<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Stock Report</li>
            <li class="breadcrumb-right">
                <router-link to="/reports" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                 <button @click="changeType('pdf')" type="button" class="btn btn-xs btn-primary">
                    PDF
                </button>
                <button @click="changeType('excel')" type="button" class="btn btn-xs btn-primary">
                    Excel
                </button>
                <button v-b-modal.report type="button" class="btn btn-xs btn-primary">
                    Filter
                </button>
                <button @click="reset()" type="button" class="btn btn-xs btn-danger">
                    Reset
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Stock Report</strong>
                            </div>
                            <div class="card-body">
                                <div id="loadingMessage">
                                    <p class="text-center">Loading, Please wait...</p>
                                </div>
                                <div class="row">
                                    <iframe :src="report.source" width="100%" height="400" frameborder="0" onload="document.getElementById('loadingMessage').style.display='none';"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="report" title="Report" @ok="getData">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="date">Date *</label>
                        <input class="form-control" type="date" v-model="report.date" placeholder="From Date">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="category_id">Category </label>
                        <select class="form-control" v-model="report.category_id">
                            <option value="">Select Category</option>
                            <option v-for="category in categories" :value="category.category_id">{{ category.category_name }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </b-modal>
    </main>
</template>

<script>
    export default{
        props: ['org'],
        data(){
            return{
                report: {
                    date:moment(new Date()).format('YYYY-MM-DD'),
                    category_id:'',
                    category_name:'',
                    display_type:'display',
                    source:'',
                    report_type:'',
                },
                categories:[],
            }
        },

        mounted(){
            let vm = this;
            vm.getCategories()
            vm.getData();
        },
        
        methods:{

            getCategories() {
                let vm = this;
                axios.post('category/get_categories')
                .then(function (response) {
                    vm.categories = response.data;
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            changeType(display_type) {
                let vm = this;
                vm.$set(vm.report,'display_type',display_type);
                vm.getData();
            },

            getData() {
                let vm = this;
                let source = "product/stock_report_order_by_category_name?date=" + vm.report.date + '&category_id=' + vm.report.category_id + '&display_type=' + vm.report.display_type;
                if(source != vm.report.source)
                    document.getElementById('loadingMessage').style.display='block';
                vm.$set(vm.report,'source',source);
            },

            reset() {
                let vm = this;
                vm.report.date = new Date().toISOString().slice(0,10),
                vm.report.category_id = "";
                vm.$set(vm.report, 'display_type', 'display');
                vm.getData();
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>