<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Report</li>
            <li class="breadcrumb-item">Stock Report</li>
            <li class="breadcrumb-right">
                <router-link to="/report" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button @click="pdf" type="button" class="btn btn-xs btn-primary">
                    PDF
                </button>
                <button @click="excel" type="button" class="btn btn-xs btn-primary">
                    Excel
                </button>
                <button v-b-modal.report type="button" class="btn btn-xs btn-primary">
                    Filter
                </button>
                <button @click="reset" type="button" class="btn btn-xs btn-danger">
                    Reset
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Stock Report</strong>
                            </div>
                            <div class="card-body" v-show="report.display_type=='display' || report.display_type=='excel'">
                                <table id="datatable" class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center" colspan="9">STOCK REPORT</th>
                                        </tr>
                                        <tr>
                                            <td class="text-center" colspan="9">
                                                <div>
                                                    <strong>{{ org.org_name }}</strong>
                                                </div>
                                                <div>{{ org.address }}</div>
                                                <div>Email: {{ org.email }}</div>
                                                <div>Phone: {{ org.mobile_no }}</div>
                                                <div>PAN: {{ org.pan_no }}</div>
                                                <div>GSTIN: {{ org.gstin_no }}</div>
                                                <div>
                                                    Date: {{report.date|moment("DD-MM-YYYY")}} ({{report.report_type}})
                                                </div>
                                                <div v-if="report.category_name!=''">
                                                    <strong>Category : </strong>
                                                    {{ report.category_name }}
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Product Name</th>
                                            <th>P.Rate (Exc)</th>
                                            <th class="text-right">Opening Stock</th>
                                            <th class="text-right">Purchase Stock</th>
                                            <th class="text-right">Sales Stock</th>
                                            <th class="text-right">Closing Stock</th>
                                            <th class="text-right">Total Value</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="product,key in products" @click="view(product)">
                                            <td>{{ ++key }}</td>
                                            <td>{{ product.product_name }}</td>
                                            <td class="text-right">{{ product.purchase_rate_exc | tofix }}</td>
                                            <td class="text-right">{{ product.opening_stock | tofix }}</td>
                                            <td class="text-right">{{ product.purchase_stock | tofix }}</td>
                                            <td class="text-right">{{ product.sales_stock | tofix }}</td>
                                            <td class="text-right">{{ product.closing_stock | tofix }}</td>
                                            <td class="text-right">{{ product.total_amount | tofix }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-right" colspan="2">Total</th>
                                            <th class="text-right">{{ purhcaseRateExc }}</th>
                                            <th class="text-right" colspan="5">{{ toltalAmount }}</th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="card-body" v-show="report.display_type=='pdf'">
                                <div class="row">
                                    <iframe :src="report.source" width="100%" height="400" frameborder="0"></iframe>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="report" title="Report" @ok="filter">
            <div class="row">
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="date">Date *</label>
                        <input class="form-control" type="date" v-model="report.date" placeholder="From Date">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="category_id">Category </label>
                        <select class="form-control" v-model="report.category_id">
                            <option value="">Select Category</option>
                            <option v-for="category in categories" :value="category.category_id">{{ category.category_name }}</option>
                        </select>
                    </div>
                </div>
            </div>
        </b-modal>
    </main>
</template>
<script>
    export default{
        props: ['org'],
        data(){
            return{
                report: {
                    date:moment(new Date()).format('YYYY-MM-DD'),
                    category_id:'',
                    category_name:'',
                    display_type:'display',
                    source:'',
                    report_type:'',
                },
                products:[],
                categories:[],
                temporary:[],
            }
        },

        mounted(){
            let vm = this;
            vm.getReport();
        },

        computed:{
            purhcaseRateExc: function(){
                return this.products.reduce((prev, cur) => +prev + +cur.purchase_rate_exc, 0).toFixed(2);
            },

            toltalAmount: function(){
                return this.products.reduce((prev, cur) => +prev + +cur.total_amount, 0).toFixed(2);
            }
        },
        
        methods:{
            getReport() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.get("product/stock_report",{params:{
                        date:vm.report.date,
                        display_type:vm.report.display_type,
                        category_id:vm.report.category_id,
                    }}).then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.temporary = response.data;
                    vm.categories = response.data.categories;
                    vm.getStocks(response.data.products)
                }).catch(function (error) {
                    vm.$vDialog.close(null, key),
                    vm.toast(error.message,'error')
                });
                // axios.get("product/stock_report?date=" + vm.report.date + '&display_type=' + vm.report.display_type )
                // .then(function (response) {
                //     vm.$vDialog.close(null, key),
                //     vm.products = response.data
                // })
                // .catch(function (error) {
                //     vm.$vDialog.close(null, key),
                //     vm.toast(error.message,'error')
                // });
            },
            getStocks(products){
                let vm = this;
                 let key = vm.$vDialog.mask("Loading...");
                vm.products = [];
                vm.report.report_type = vm.temporary.preference.inventory_on_calculation;
                    if(vm.report.category_id!=''){
                        vm.$vDialog.close(null, key);
                        vm.report.category_name = _.map(_.filter(vm.categories,function(val){
                            return val.category_id == vm.report.category_id;
                    }),'category_name').toString()
                }
                _.forEach(products,function(product){
                    if(vm.report.category_id==''||vm.report.category_id==product.category_id){
                        vm.$vDialog.close(null, key);
                        let prod = {};
                        prod = Object.assign({},prod,{
                            'product_id':product.product_id,
                            'category_id':product.category_id,
                            'product_code':product.product_code,
                            'product_name':product.product_name,
                            'purchase_rate_exc':product.price.purchase_rate_exc,
                            'opening_stock':openingStock(product),
                            'purchase_stock':purchaseStock(product,'Same'),
                            'sales_stock': vm.report.report_type == "Invoice" ? saleInvoiceStock(product,'Same') : saleDeliveryStock(product,'Same'),
                            'closing_stock':0,
                            'total_amount':0,
                        })
                        vm.$set(prod,'closing_stock',parseFloat(prod.opening_stock)+parseFloat(prod.purchase_stock)-parseFloat(prod.sales_stock));
                        vm.$set(prod,'total_amount',prod.closing_stock*prod.purchase_rate_exc)
                        if(allowanceCheck(vm.temporary.preference.allow_negative_stock,prod)){
                            vm.products.push(prod);    
                        }
                    }
                });
                function allowanceCheck(allow_negative_stock,prod){
                    switch(allow_negative_stock){
                        case 'Yes':
                            return true;
                        break;
                        case 'No':
                        // console.log(prod.opening_stock,prod.purchase_stock,prod.sales_stock,prod.closing_stock,prod.total_amount);
                        //     if((prod.opening_stock>0)||(prod.purchase_stock>0)||(prod.sales_stock>0)){
                        //         if(prod.closing_stock<0){
                        //             vm.$set(prod,'closing_stock',0);
                        //             vm.$set(prod,'total_amount',0);
                        //         }
                        //         return true;
                        //     }else{
                                return true;
                            // }
                        break;
                        default:return false;
                    }
                };
                function openingStock(product){
                    let pur_qty = 0;
                    let sale_qty = 0;
                    if(product.stock_bill_products.length||product.stock_bill_return_products.length>0){
                        pur_qty = purchaseStock(product,'Before');
                    }
                    switch(vm.report.report_type){
                        case "Invoice":
                            sale_qty = saleInvoiceStock(product,'Before');
                        break;
                        case "Delivery Challan":
                            sale_qty = saleDeliveryStock(product,'Before');
                        break;
                    } 
                    let prod_openstock = (parseFloat(product.store.opening_stock)+parseFloat(pur_qty))-parseFloat(sale_qty);
                    return prod_openstock;
                };
                function purchaseStock(product,type){
                    let qty = 0;let bills = 0;let bill_returns = 0;
                    if(product.stock_bill_products.length>0){
                        bills = filterProducts(product.stock_bill_products,'bill.bill_date',vm.report.date,type);
                        if(bills.length>0){
                            qty = reduceData(bills,'quantity');
                        }
                    }
                    if(product.stock_bill_return_products.length>0){
                        bill_returns = filterProducts(product.stock_bill_return_products,'bill_return.bill_return_date',vm.report.date,type);
                        if(bill_returns.length>0){
                            qty = qty - reduceData(bill_returns,'quantity');
                        }
                    }
                    return parseFloat(qty);
                };
                function saleInvoiceStock(product,type){
                    let qty = 0;let invoices = 0;let invoice_returns = 0;
                    if(product.stock_invoice_products.length>0){
                        invoices = filterProducts(product.stock_invoice_products,'invoice.invoice_date',vm.report.date,type);
                        if(invoices.length>0){
                            qty = reduceData(invoices,'quantity');
                        }
                    }
                    if(product.stock_invoice_return_products.length>0){
                        invoice_returns = filterProducts(product.stock_invoice_return_products,'invoice_return.invoice_return_date',vm.report.date,type);
                        if(invoice_returns.length>0){
                            qty = qty - reduceData(invoice_returns,'quantity');
                        }
                    }
                    return parseFloat(qty);
                };
                function saleDeliveryStock(product,type){
                    let qty = 0;let deliveries = 0;let delivery_returns = 0;
                    if(product.stock_delivery_products.length>0){
                        deliveries = filterProducts(product.stock_delivery_products,'delivery.delivery_date',vm.report.date,type);
                        if(deliveries.length>0){
                            qty = reduceData(deliveries,'quantity');
                        }
                    }
                    if(product.stock_delivery_return_products.length>0){
                        delivery_returns = filterProducts(product.stock_delivery_return_products,'delivery_return.delivery_return_date',vm.report.date,type);
                        if(delivery_returns.length>0){
                            qty = qty - reduceData(delivery_returns,'quantity');
                        }
                    }
                    return parseFloat(qty);
                };
                function reduceData(arr,field){
                    return _.reduce(arr,function(sum,val){
                        return parseFloat(sum) + parseFloat(_.get(val,`${field}`));
                    },0);
                }
                function filterProducts(arr,field,filter_date,type){
                    return _.filter(arr,function(val){
                        return dateComp(_.get(val,`${field}`,null),filter_date,type);
                    });
                };
                function dateComp(date,filter_date,type){
                    if(moment(date,['YYYY-MM-DD','DD-MM-YYYY'],true).isValid()){
                        switch(type){
                            case 'Before':
                                return moment(date,['YYYY-MM-DD']).isBefore(moment(filter_date,['YYYY-MM-DD']));
                            break;
                            case 'Same':
                                return moment(date,['YYYY-MM-DD']).isSame(moment(filter_date,['YYYY-MM-DD']));
                            break;
                            default:return false;
                        }
                    }else{
                        return false;
                    }
                };
            },
            // selectContact(e) {
            //     let vm = this;
            //     const contact = e.target.value;
            //     vm.report.vendor_id = contact.contact_id;
            //     vm.report.contact_name = contact.contact_name;
            // },

            reset() {
                let vm = this;
                vm.report.date = moment(new Date()).format('YYYY-MM-DD'),
                vm.report.display_type = 'display',
                vm.getStocks(vm.temporary.products)
            },

            filter() {
                let vm = this;
                vm.report.display_type = 'display';
                vm.getStocks(vm.temporary.products);
            },

            // pdf() {
            //     let vm = this;
            //     vm.report.display_type='pdf';
            //     vm.report.source="product/stock_report?date=" + vm.report.date + '&display_type=' + vm.report.display_type;
            // },

            // excel() {
            //     let vm = this;
            //     vm.report.display_type='excel';
            //     vm.report.source="product/stock_report?date=" + vm.report.date + '&display_type=' + vm.report.display_type;
            // },

            view(pd){
                this.$router.push(`/product/view/${pd.product_id}`);
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>