<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            
            <li class="breadcrumb-item">Product</li>

            <li class="breadcrumb-right">
                <router-link :to="redirect_back" class="btn btn-sm btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <!-- <button @click="barcode" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-barcode"></i>
                </button>  --> 
                <a :href="milonbarcode" target="_blank" type="button" class="btn btn-sm btn-success">
                    <i class="fa fa-barcode"></i>
                </a>        
                <router-link to="/product/create" class="btn btn-sm btn-primary">
                    <i class="fa fa-plus"></i>
                </router-link>
                <button type="button" @click="edit()" class="btn btn-sm btn-primary">
                    <i class="fa fa-edit"></i>
                </button>
                <button @click="destroy()" type="button" class="btn btn-sm btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
            </li>
        </ol>
       
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Product Code: 
                                <strong>{{ product.product_code}}</strong>

                            </div>
                            <div class="card-body">
                                <div class="row"> 
                                    <div class="col-md-4">
                                        <div class="row mb-4">
                                            <div class="col-sm-12">
                                               
                                               <strong><div class="mb-3">Details:</div></strong>
                                                <div>
                                                    Product Name:{{ product.product_name }}
                                                </div>
                                                <div>Product Type: {{ product.product_type }}</div>
                                                <div>Hsn Code: {{ product.hsn_code }}</div>
                                                <div v-if="product.category">Category : {{ product.category.category_name }}</div>
                                                <div>Min stock: {{ product.min_stock }}</div>
                                            </div>
                                            <hr><br>
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </main>
</template>
<script>
    export default{
        props: ['org'],
        data(){
            return{
                product:{},
                redirect_back:'',
                milonbarcode:'',
                errors:{},
                status: 0
            }
        },

        beforeRouteEnter(to, from, next) {
            axios.post(`product/view/${to.params.product_id}`)
            .then(function (response) {
                next(vm => {
                    vm.product = response.data,
                    vm.redirect_back =from.path,
                    vm.milonbarcode = `print/${to.params.product_id}`;
                })
            })
        },
        
        methods:{
            destroy(){
                let vm = this;
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    axios.post('product/destroy',vm.product)
                    .then(function (response) {
                        vm.toast("Product is successfully Deleted","success");
                        vm.$router.push('/product/display');
                    })
                    .catch(function (error) {
                        vm.errors = error.response.data.errors
                    });
                }
            },

            edit() {
                let vm = this;
                vm.$router.push(`/product/edit/${vm.product.product_id}`);
            },

            // create() {
            //     let vm = this;
            //     vm.$router.push(`/purchase/create/${vm.contact.contact_id}`);
            // },
            barcode() {
                let vm = this;
                vm.$router.push(`/product/barcode/${vm.product.product_id}`);
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                    }, {
                        messageType: message_type,
                        position : 'topRight',
                        language: 'en',
                        closeTime: 3
                    });
            }
        }
    }
</script>