<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Inventory</li>
            <li class="breadcrumb-item">Warehouses</li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-header">
                                <strong v-if="status==0">New Warehouse</strong>
                                <strong v-if="status==1">Update Warehouse</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="warehouse_name">Warehouse Name *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.warehouse_name}" type="text" v-model="warehouse.warehouse_name" placeholder="Warehouse Name" ref="warehouse_name">
                                            <div v-if="errors.warehouse_name" class="invalid-feedback">{{ errors.warehouse_name[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="warehouse_location">Warehouse Location *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.warehouse_location}" type="text" v-model="warehouse.warehouse_location" placeholder="Warehouse Location" ref="warehouse_location">
                                            <div v-if="errors.warehouse_location" class="invalid-feedback">{{ errors.warehouse_location[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer" v-show="status==0">
                                <div class="card-header-actions">
                                    <button  class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button class="btn btn-sm btn-success" type="button" @click="save()">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                </div>
                            </div>
                            <div class="card-footer" v-show="status==1">
                                <div class="card-header-actions">
                                    <button class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-header">
                                <strong>Warehouses</strong>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Search" v-model="pagination.search" @keyup="display()">
                                </div>
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Warehouse Name</th>
                                            <th>Warehouse Location</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="warehouse,key in warehouses">
                                            <td class="text-center">{{ pagination.from+key }}</td>
                                            <td>{{ warehouse.warehouse_name }}</td>
                                            <td>{{ warehouse.warehouse_location }}</td>
                                            <td class="text-center">
                                                <button class="btn btn-sm btn-success" @click="edit(warehouse)">
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                                <button class="btn btn-sm btn-danger" @click="destroy(warehouse)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer" v-show="pagination.lastPage!=1">
                                <b-pagination align="right" size="md" @input="display" :total-rows="pagination.totalRows" :per-page="pagination.perPage" v-model="pagination.currentPage"></b-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        data(){
            return{
            	pagination:{
                    currentPage: 1,
                    totalRows: 0,
                    perPage: 1,
                    lastPage:1,
                    from: 1,
                    search: ''
                },
                status: 0,
                warehouse:{
                	warehouse_id:'',
                    warehouse_name:'',
                    warehouse_location:''
                },
                warehouses:{},
                errors:{}
            }
        },

        mounted(){
            let vm = this;
            vm.discard();
        },
        
        methods:{
            discard(){
                let vm = this;
                vm.errors='',
                vm.warehouse.warehouse_name='',
                vm.warehouse.warehouse_location='',
                vm.pagination.search='',
                vm.status=0,
                vm.$refs.warehouse_name.focus(),
                vm.display()
            },

            display() {
                let vm = this;
                axios.post('warehouse/display?page=' + vm.pagination.currentPage + '&search=' + vm.pagination.search)
                .then(function (response) {
                    vm.warehouses = response.data.data,
                    vm.pagination.totalRows = response.data.total
                    vm.pagination.from = response.data.from,
                    vm.pagination.perPage = response.data.per_page,
                    vm.pagination.lastPage = response.data.last_page
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            save() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('warehouse/store',this.warehouse)
                .then(function (response) {
                    vm.discard(),
                    vm.$vDialog.close(null, key),
                    vm.toast("Warehouse is successfully created","success");
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            edit(warehouse){
                let vm = this;
                vm.warehouse = warehouse
                vm.status = 1,
                vm.$refs.warehouse_name.focus()
            },

            update() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('warehouse/update',this.warehouse)
                .then(function (response) {
                    vm.discard(),
                    vm.$vDialog.close(null, key),
                    vm.toast("Warehouse is successfully updated","success");
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            destroy(warehouse){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post(`warehouse/destroy/${warehouse.warehouse_id}`)
                    .then(function (response) {
                    	vm.discard(),
                        vm.$vDialog.close(null, key),
                        vm.toast("Warehouse is successfully deleted","success")
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>