<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Report</li>
            <li class="breadcrumb-item">Income</li>
            <li class="breadcrumb-right">
                <router-link to="/report" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button @click="pdf" type="button" class="btn btn-xs btn-primary">
                    PDF
                </button>
                <button @click="excel" type="button" class="btn btn-xs btn-primary">
                    Excel
                </button>
                <button v-b-modal.report type="button" class="btn btn-xs btn-primary">
                    Filter
                </button>
                <button @click="reset" type="button" class="btn btn-xs btn-danger">
                    Reset
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Income</strong>
                            </div>
                            <div class="card-body" v-show="report.display_type=='display' || report.display_type=='excel'">
                                <table id="datatable" class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center" colspan="9">INCOME REPORT</th>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div>
                                                    <strong>{{ org.org_name }}</strong>
                                                </div>
                                                <div>{{ org.address }}</div>
                                                <div>Email: {{ org.email }}</div>
                                                <div>Phone: {{ org.mobile_no }}</div>
                                                <div>PAN: {{ org.pan_no }}</div>
                                                <div>GSTIN: {{ org.gstin_no }}</div>
                                            </td>
                                            <td colspan="3">
                                                <div v-if="report.contact_id!='' && incomes.contact!=null">
                                                    <div>
                                                        <strong>{{ incomes.contact.contact_name }}</strong>
                                                    </div>
                                                    <div>{{ incomes.contact.billing_address }}</div>
                                                    <div>Phone: {{ incomes.contact.mobile_no }}</div>
                                                    <div>GSTIN: {{ incomes.contact.gstin_no }}</div>
                                                </div>
                                                <div>From Date: {{ report.from_date | moment("DD-MM-YYYY") }}</div>
                                                <div>To Date: {{ report.to_date | moment("DD-MM-YYYY") }}</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Receipt No</th>
                                            <th>Receipt Date</th>
                                            <th>Contact</th>
                                            <th>Payment Type</th>    
                                            <th>Amount</th>    
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-if="incomes.incomes.length > 0" v-for="inc,key in incomes.incomes" @click="view(inc)">
                                            <td>{{ ++key }}</td>
                                            <td>
                                                {{ inc.receipt_no }}
                                            </td>
                                             <td>
                                                {{ inc.receipt_date | moment("DD-MM-YYYY")}}
                                            </td>
                                            <td>
                                                {{ inc.contact.contact_name}}
                                            </td>
                                             <td >
                                                {{ inc.payment_mode}}
                                            </td>
                                            <td class="text-right">
                                                {{ inc.amount | tofix }}
                                            </td>
                                        </tr>
                                        <tr v-if="incomes.incomes.length > 0">
                                            <th colspan="5" class="text-right">
                                                Total
                                            </th>
                                            <th class="text-right">
                                                {{ incomeAmount}}
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-body" v-show="report.display_type=='pdf'">
                                <div class="row">
                                    <iframe :src="report.source" width="100%" height="400" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="report" title="Report" @ok="filter">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="from_date">From Date *</label>
                        <input class="form-control" type="date" v-model="report.from_date" placeholder="From Date">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="to_date">To Date *</label>
                        <input class="form-control" type="date" v-model="report.to_date" placeholder="To Date">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="contact_id">Customer</label>
                        <contact :contact_type="report.contact_type" :initialize="report.contact_name" @input="selectContact($event)"></contact>
                    </div>
                </div>
            </div>
        </b-modal>
    </main>
</template>
<script>
    import { Contact } from '../plugins/contact'
    export default{
        components: { Contact },
        props: ['org'],
        data(){
            return{
                report: {
                    from_date:new Date().toISOString().slice(0,10),
                    to_date:new Date().toISOString().slice(0,10),
                    contact_id:'',
                    contact_name:'',
                    contact_type:'Customer',
                    display_type:'display'
                },
                incomes:{}
            }
        },
        mounted(){
            let vm = this;
            vm.getReport();
        },
        computed:{
            incomeAmount: function(){
                return this.incomes.incomes.reduce((sum, val) => +sum + +val.amount, 0).toFixed(2);
            }
        },
        methods:{
            getReport() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.get("income/report?from_date=" + vm.report.from_date + '&to_date=' + vm.report.to_date + '&contact_id=' + vm.report.contact_id + '&display_type=' + vm.report.display_type)
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.incomes = response.data
                })
                .catch(function (error) {
                    vm.$vDialog.close(null, key),
                    vm.toast(error.message,'error')
                });
            },
            selectContact(e) {
                let vm = this;
                const contact = e.target.value;
                vm.report.contact_id = contact.contact_id;
                vm.report.contact_name = contact.contact_name;
            },
            reset() {
                let vm = this;
                vm.report.from_date = new Date().toISOString().slice(0,10),
                vm.report.to_date = new Date().toISOString().slice(0,10),
                vm.report.contact_id ='',
                vm.report.contact_name = '',
                vm.report.contact_type = 'Customer',
                vm.report.display_type = 'display',
                vm.getReport()
            },
            filter() {
                let vm = this;
                vm.report.display_type = 'display';
                vm.getReport();
            },

            pdf() {
                let vm = this;
                vm.report.display_type='pdf';
                vm.report.source="income/report?from_date=" + vm.report.from_date + '&to_date=' + vm.report.to_date + '&contact_id=' + vm.report.contact_id + '&display_type=' + vm.report.display_type + '&contact_type=' + vm.report.contact_type;
            },

            excel() {
                let vm = this;
                vm.report.display_type='excel';
                vm.report.source="income/report?from_date=" + vm.report.from_date + '&to_date=' + vm.report.to_date + '&contact_id=' + vm.report.contact_id + '&display_type=' + vm.report.display_type + '&contact_type=' + vm.report.contact_type;
            },

            view(inc){
                this.$router.push(`/income/view/${inc.income_id}`);
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>