<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Purchase</li>
            <li class="breadcrumb-item">Bill</li>
            <li class="breadcrumb-right">
                <router-link :to="redirect_back" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button @click="preview" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-file-pdf-o"></i>
                </button>
                <router-link to="/bill_return/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i>
                </router-link>
                <button @click="edit" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-edit"></i>
                </button>
                <button @click="destroy" type="button" class="btn btn-xs btn-danger">
                    <i class="fa fa-trash"></i>
                </button> 
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Purchase Bill Return : 
                                <strong>{{ bill_return.bill_return_no }}</strong>
                                <div class="card-header-actions">
                                    <span class="badge badge-lg badge-primary">{{ bill_return.bill_return_status }}</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row mb-1">
                                    <div class="col-sm-4">
                                        <h6 class="mb-1">From:</h6>
                                        <div>
                                            <strong>{{ org.org_name }}</strong>
                                        </div>
                                        <div>{{ org.address }}</div>
                                        <div>Email: {{ org.email }}</div>
                                        <div>Phone: {{ org.mobile_no }}</div>
                                        <div>PAN: {{ org.pan_no }}</div>
                                        <div>GSTIN: {{ org.gstin_no }}</div>
                                    </div >

                                    <!-- <div class="col-sm-4">
                                        <h6 class="mb-1">To:</h6>
                                        <div>
                                            <strong>{{ bill_return.vendor.contact_name }}</strong>
                                        </div>
                                        <div>{{ bill_return.billing_address }}</div>
                                        <div>{{ bill_return.shipping_address }}</div>
                                        <div>Email: {{ bill_return.vendor.email }}</div>
                                        <div>Phone: {{ bill_return.vendor.mobile_no }}</div>
                                        <div>PAN: {{ bill_return.vendor.pan_no }}</div>
                                        <div>GSTIN: {{ bill_return.vendor.gstin_no }}</div>
                                    </div> -->

                                    <div class="col-sm-4">
                                        <h6 class="mb-1">Details:</h6>
                                        <div>
                                            Purchase Bill Return No : <strong>{{ bill_return.bill_return_no }}</strong>
                                        </div>
                                        <div>
                                            Purchase Bill Return Date : {{ bill_return.bill_return_date | moment("DD-MM-YYYY") }}
                                        </div>
                                        <div>
                                            Ref No : {{ bill_return.reference_no }}
                                        </div>
                                        <div>
                                            Ref Date : {{ bill_return.reference_date | moment("DD-MM-YYYY") }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>Product Code</th>
                                                    <th>Product Name</th>
                                                    <th class="text-right">P.Rate(Exc)</th>
                                                    <th class="text-right">P.Rate(Inc)</th>
                                                    <th v-if='setting.discounts_in=="inc"' class="text-right">Tax</th>
                                                    <th class="text-right">Discount</th>
                                                    <th v-if='setting.discounts_in=="exc"' class="text-right">Tax</th>
                                                    <th class="text-right">Qty</th>
                                                    <th class="text-right">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody v-if="Object.keys(bill_return).length>0">
                                                <tr v-for="bill_return_product, key in bill_return.bill_return_products">
                                                    <td class="text-center">
                                                        {{ +key + 1 }}
                                                    </td>
                                                    <td>
                                                        {{ bill_return_product.product_code }}
                                                    </td>
                                                    <td>
                                                        {{ bill_return_product.product_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ bill_return_product.purchase_rate_exc.toFixed(2) }}
                                                    </td>
                                                    <td class="text-right">{{ 
                                                        bill_return_product.purchase_rate_inc.toFixed(2) }}
                                                    </td>
                                                    <td v-if='setting.discounts_in=="inc"' class="text-right">
                                                        {{ bill_return_product.tax.tax_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ bill_return_product.discount.toFixed(2) }} 
                                                        {{ bill_return_product.discount_type }}
                                                    </td>
                                                    <td v-if='setting.discounts_in=="exc"' class="text-right">
                                                        {{ bill_return_product.tax.tax_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ bill_return_product.quantity.toFixed(2) }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ bill_return_product.amount.toFixed(2) }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td rowspan="3" colspan="5">
                                                        <strong>Terms and Conditions : </strong><br>
                                                        {{ bill_return.terms }}
                                                    </td>
                                                    <th class="text-right" colspan="2">Sub Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ bill_return.sub_total.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr v-if='setting.discounts_in=="inc"'>
                                                    <th class="text-right" colspan="2">Tax</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ bill_return.tax_amount.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Discount</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ bill_return.discount_amount.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr v-if='setting.discounts_in=="exc"'>
                                                    <th class="text-right" colspan="2">Tax</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ bill_return.tax_amount.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td rowspan="3" colspan="5">
                                                        <strong>Note : </strong><br>
                                                        {{ bill_return.note }}
                                                    </td>
                                                    <th class="text-right" colspan="2">Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ bill_return.total_amount.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Round off</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ bill_return.round_off.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Grand Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ bill_return.grand_total.toFixed(2) }}
                                                    </th> 
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <taxable v-if="Object.keys(bill_return).length>0" :products="bill_return.bill_return_products" :taxtype="bill_return.source_id!=bill_return.destination_id?'IGST':'GST'" :setting="setting"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    import { Taxable } from '../modal/taxable'
    
    export default{
        components: { Taxable },
        props: ['org','setting'],
        data(){
            return{
                bill_return:{},
                redirect_back:'',
                errors:{},
            }
        },

        beforeRouteEnter(to, from, next) {
            next(vm => 
                {
                    vm.get_data(to.params.bill_return_id),
                    vm.redirect_back = from.path
                })
        },
        methods:{
            get_data(data){
                let vm = this;
                axios.post('bill_return/view/' +data)
                .then(function (response) {
                    vm.bill_return = response.data
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },
            preview() {
                let vm = this;
                vm.$router.push(`/bill_return/preview/${vm.bill_return.bill_return_id}`);
            },

            edit() {
                let vm = this;
                vm.$router.push(`/bill_return/edit/${vm.bill_return.bill_return_id}`);
            },

            destroy(){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post(`bill_return/destroy/${vm.bill_return.bill_return_id}`)
                    .then(function (response) {
                        vm.$vDialog.close(null, key),
                        vm.toast("Bill Return successfully deleted","success"),
                        vm.$router.push('/bill_return/display')
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },
            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        },
     }
</script>