<template>
    <div :class="[isOpen ? 'product product-open' : 'product']">
        <div class="product-inner">
            <div>
                <div class="product-input_wrap">
                    <input type="text" class="form-control product-input" autocomplete="off" placeholder="Barcode"
                        ref="search" 
                        @input="onSearch"
                        @keyup="callTimer"
                        @keyup.enter="fetchData">
                </div>
            </div>
        </div>
    </div>
</template>
<script type="text/javascript">
    import Vue from 'vue'
    export default {
        props: {
            initialize: {
                default: null
            },
            tabindex: {
                default: 0
            },
        },
        data () {
            return {
                selectIndex: -1,
                isOpen: false,
                search: '',
                results: [],
                query: {
                    search: ''
                },
                temp:[],
                value: "",
                timeout: null
            }
        },
        
        methods: {
            focus: function () {
                this.$refs.search.focus()
            },

            onSearch(e) {
                const q = e.target.value
                this.fetchData(q)
            },
            
            onEnterKey() {
                const found = this.results[this.selectIndex]
                if(found) {
                    this.select(found)
                }
            },

            select(result) {

                this.$emit('input', {
                    target: {
                        value: result
                    }
                })
                this.$refs.search.value=null;
            },

            callTimer(e) {
                clearTimeout(this.timeout);
                var self = this;
                self.value = e;
                this.timeout = setTimeout(function () {
                    self.fetchData(self.value)
                }, 500);
            },
           
            fetchData(query){
                let vm=this;
                axios.post('product/get_barcode',{barcode:query.target.value})
                .then(function (response) {
                    if(response.data) {
                        // console.log('rafi',response.data);
                        vm.select(response.data)
                    }else{
                        let result = 'no data';
                        vm.select(result)
                    }
                })
                .catch(function (error) {
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error')
                });
            }
         },
         
    }
</script>
