/*Custom Css*/

.breadcrumb {
    margin-bottom: 1rem;
}

.breadcrumb-right {
  margin-left: auto;
}

.pagination {
  margin-bottom: 2px;
}

.cursor {
  cursor: pointer; cursor: hand;
}

.font-color{
  color: DodgerBlue;
}

.btn-xs{
    padding: 0.15rem 0.4rem;
    font-size: 0.765625rem;
    line-height: 1.5;
    border-radius: 0.2rem;
}

.product {
  position: relative;
  display: block;
  background: #fff;
}

.product-open {
  border-bottom: 0;
}

.product-open .form-control {
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 1px solid #f2f2f2;
}

.product-inner {
  position: relative;
}

.product-selected {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 15px;
}

.product-dropdown {
  width: 960px;
  position: absolute;
  z-index: 999 !important;
  padding: 5px;
  background: #fff;
  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.product-input {
  line-height: 13px;
  font-size: 13px;
  background: #fafafa;
  border: none;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  padding: 4px 8px;
  width: 100%;
  display: block;
}

.product-input:focus {
  outline-style: dotted;
  outline-width: 1px;
  outline-offset: 1px;
}

.product-input_wrap {
  position: relative;
}

.product-list {
  display: block;
  margin: 0;
  padding: 0;
}

.product-link {
  cursor: pointer;
  padding: 2px;
  background: #fff;
}

.product-active {
  background: #3aa3e3 !important;
  color: #fff;
}

.contact {
  position: relative;
  display: block;
  background: #fff;
}

.contact-open {
  border-bottom: 0;
}

.contact-open .form-control {
  background: #fff;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
  border: 1px solid #f2f2f2;
}

.contact-inner {
  position: relative;
}

.contact-selected {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 15px;
}

.contact-dropdown {
  width: 100%;
  position: absolute;
  z-index: 45;
  padding: 5px;
  background: #fff;
  border-right: 1px solid #f2f2f2;
  border-left: 1px solid #f2f2f2;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
          box-shadow: 0 1px 3px rgba(0, 0, 0, 0.08);
}

.contact-input {
  line-height: 13px;
  font-size: 13px;
  background: #fafafa;
  border: none;
  border-radius: 1px;
  -webkit-box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.1);
  padding: 4px 8px;
  width: 100%;
  display: block;
}

.contact-input:focus {
  outline-style: dotted;
  outline-width: 1px;
  outline-offset: 1px;
}

.contact-input_wrap {
  position: relative;
}

.contact-list {
  display: block;
  margin: 0;
  padding: 0;
}

.contact-item {
  display: block;
  margin-bottom: 1px;
}

.contact-link {
  cursor: pointer;
  display: block;
  padding: 2px;
  background: #fff;
}

.contact-active {
  background: #3aa3e3 !important;
  color: #fff;
}
