<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Sale</li>
            <li class="breadcrumb-item">Quotation</li>
            <li class="breadcrumb-right" v-if="Object.keys(quotation).length>0">
                <router-link :to="redirect_back" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button @click="preview" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-file-pdf-o"></i>
                </button>
                <router-link to="/quotation/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i>
                </router-link>
                <button v-if="quotation.frontend_status.edit" @click="edit" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-edit"></i>
                </button>
                <button v-if="quotation.frontend_status.delete" @click="destroy" type="button" class="btn btn-xs btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
                <!-- <button class="btn btn-xs btn-success" @click="convert">
                    <i class="fa fa-refresh"></i>
                </button> -->
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Quotation : 
                                <strong>{{ quotation.quotation_no }}</strong>
                                <div class="card-header-actions">
                                    <span class="badge badge-lg badge-primary">{{ quotation.quotation_status }}</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row mb-1">
                                    <div class="col-sm-4">
                                        <h6 class="mb-1">From:</h6>
                                        <div>
                                            <strong>{{ org.org_name }}</strong>
                                        </div>
                                        <div>{{ org.address }}</div>
                                        <div>Email: {{ org.email }}</div>
                                        <div>Phone: {{ org.mobile_no }}</div>
                                        <div>PAN: {{ org.pan_no }}</div>
                                        <div>GSTIN: {{ org.gstin_no }}</div>
                                    </div >

                                    <div class="col-sm-4" v-if="Object.keys(quotation).length>0">
                                        <h6 class="mb-1">To:</h6>
                                        <div>
                                            <strong>{{ quotation.customer.contact_name }}</strong>
                                        </div>
                                        <div>{{ quotation.billing_address }}</div>
                                        <div>{{ quotation.shipping_address }}</div>
                                        <div>Email: {{ quotation.customer.email }}</div>
                                        <div>Phone: {{ quotation.customer.mobile_no }}</div>
                                        <div>PAN: {{ quotation.customer.pan_no }}</div>
                                        <div>GSTIN: {{ quotation.customer.gstin_no }}</div>
                                    </div>

                                    <div class="col-sm-4">
                                        <h6 class="mb-1">Details:</h6>
                                        <div>
                                            Quotation No : <strong>{{ quotation.quotation_no }}</strong>
                                        </div>
                                        <div>
                                            Quotation Date : {{ quotation.quotation_date | moment("DD-MM-YYYY") }}
                                        </div>
                                        <div>
                                            Ref No : {{ quotation.reference_no }}
                                        </div>
                                        <div>
                                            Expiry Date : {{ quotation.expiry_date | moment("DD-MM-YYYY") }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>Product Code</th>
                                                    <th>Product Name</th>
                                                    <th class="text-right">S.Rate(Exc)</th>
                                                    <th class="text-right">S.Rate(Inc)</th>
                                                    <th v-if='setting.discounts_in=="inc"' class="text-right">Tax</th>
                                                    <th class="text-right">Discount</th>
                                                    <th v-if='setting.discounts_in=="exc"' class="text-right">Tax</th>
                                                    <th class="text-right">Qty</th>
                                                    <th class="text-right">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody v-if="Object.keys(quotation).length>0">
                                                <tr v-for="quotation_product, key in quotation.quotation_products">
                                                    <td class="text-center">
                                                        <input v-if="convert_status==1" type="checkbox" checked="" true-value="1" false-value="0" v-model.number="quotation_product.quotation_product_status">{{ +key + 1 }}
                                                    </td>
                                                    <td>
                                                        {{ quotation_product.product_code }}
                                                    </td>
                                                    <td>
                                                        {{ quotation_product.product_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ quotation_product.sales_rate_exc | tofix }}
                                                    </td>
                                                    <td class="text-right">{{ 
                                                        quotation_product.sales_rate_inc | tofix }}
                                                    </td>
                                                    <td v-if='setting.discounts_in=="inc"' class="text-right">
                                                        {{ quotation_product.tax.tax_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ quotation_product.discount | tofix }} 
                                                        {{ quotation_product.discount_type }}
                                                    </td>
                                                    <td v-if='setting.discounts_in=="exc"' class="text-right">
                                                        {{ quotation_product.tax.tax_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ quotation_product.quantity | tofix }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ quotation_product.amount | tofix }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td rowspan="3" colspan="5">
                                                        <strong>Terms and Conditions : </strong><br>
                                                        {{ quotation.terms }}
                                                    </td>
                                                    <th class="text-right" colspan="2">Sub Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ quotation.sub_total | tofix }}
                                                    </th>
                                                </tr>
                                                <tr v-if='setting.discounts_in=="inc"'>
                                                    <th class="text-right" colspan="2">Tax</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ quotation.tax_amount | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Discount</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ quotation.discount_amount | tofix }}
                                                    </th>
                                                </tr>
                                                <tr v-if='setting.discounts_in=="exc"'>
                                                    <th class="text-right" colspan="2">Tax</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ quotation.tax_amount | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td rowspan="3" colspan="5">
                                                        <strong>Note : </strong><br>
                                                        {{ quotation.note }}
                                                    </td>
                                                    <th class="text-right" colspan="2">Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ quotation.total_amount | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Round off</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ quotation.round_off | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Grand Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ quotation.grand_total | tofix }}
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                               <taxable v-if="Object.keys(quotation).length>0" :products="quotation.quotation_products" :taxtype="quotation.source_id!=quotation.destination_id?'IGST':'GST'" :setting="setting"/>
                            </div>
                            </div>
                            <div class="card-footer" v-show="convert_status==1">
                                <div class="card-header-actions">
                                    <button class="btn btn-sm btn-danger" type="button" @click="discard"><i class="fa fa-ban"></i> Discard</button>
                                    <button class="btn btn-sm btn-success" @click="convertToInvoice">Convert Quotation To Invoice</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    import { Taxable } from '../modal/taxable'

    export default{
        components: { Taxable },
        props: ['org','setting'],
        data(){
            return{
                convert_status:0,
                quotation:{},
                redirect_back:'',
                errors:{}
            }
        },

        beforeRouteEnter(to, from, next) {
            axios.post(`quotation/view/${to.params.quotation_id}`)
            .then(function (response) {
                next(vm => {
                    vm.quotation = response.data,
                    vm.redirect_back = from.path;
                })
            })
            .catch(function (error) {
                vm.toast(error.message,'error')
            });
        },
        
        methods:{
            preview() {
                let vm = this;
                vm.$router.push(`/quotation/preview/${vm.quotation.quotation_id}`);
            },
            edit() {
                let vm = this;
                vm.$router.push(`/quotation/edit/${vm.quotation.quotation_id}`);
            },
            destroy(){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post(`quotation/destroy/${vm.quotation.quotation_id}`)
                    .then(function (response) {
                        vm.$vDialog.close(null, key),
                        vm.toast("Purchase order successfully deleted","success"),
                        vm.$router.push('/quotation/display')
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },
            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            },
            convert(){
                let vm = this;
                vm.quotation.quotation_products.forEach(function(value){
                    vm.$set(value,'quotation_product_status',1);
                });
                vm.$set(vm.$data,'convert_status',1);
            },
            convertToInvoice(){
                let vm = this;
                let quo_prods = vm.quotation.quotation_products.filter(function(val){
                    return parseInt(val.quotation_product_status);
                }).map(function(val){
                    return val.quotation_product_id;
                });
                if(quo_prods.length>0){
                    this.$router.push({path:'/quotation/convert/invoice/', query: { query: JSON.stringify(quo_prods)}});    
                }else{
                    vm.toast('Error','error')
                }
            },
            discard(){
                let vm = this;
                vm.quotation.quotation_products.forEach(function(value){
                    vm.$set(value,'quotation_product_status',0);
                });
                vm.$set(vm.$data,'convert_status',0);
            },
        },
     }
</script>