<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Sale</li>
            <li class="breadcrumb-item">Proforma</li>
            <li class="breadcrumb-right" v-if="Object.keys(proforma).length>0">
                <router-link :to="redirect_back" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button @click="preview" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-file-pdf-o"></i>
                </button>
                <router-link to="/proforma/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i>
                </router-link> 
                <button v-if="proforma.frontend_status.edit" @click="edit" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-edit"></i>
                </button>
                <button v-if="proforma.frontend_status.delete" @click="destroy" type="button" class="btn btn-xs btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
               <!--  <button class="btn btn-xs btn-success" @click="convert">
                    <i class="fa fa-refresh"></i>
                </button> -->
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Proforma : 
                                <strong>{{ proforma.proforma_no }}</strong>
                                <div class="card-header-actions">
                                    <span class="badge badge-lg badge-primary">{{ proforma.proforma_status }}</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row mb-1">
                                    <div class="col-sm-4">
                                        <h6 class="mb-1">From:</h6>
                                        <div>
                                            <strong>{{ org.org_name }}</strong>
                                        </div>
                                        <div>{{ org.address }}</div>
                                        <div>Email: {{ org.email }}</div>
                                        <div>Phone: {{ org.mobile_no }}</div>
                                        <div>PAN: {{ org.pan_no }}</div>
                                        <div>GSTIN: {{ org.gstin_no }}</div>
                                    </div >

                                    <div class="col-sm-4" v-if="Object.keys(proforma).length>0">
                                        <h6 class="mb-1">To:</h6>
                                        <div>
                                            <strong>{{ proforma.customer.contact_name }}</strong>
                                        </div>
                                        <div>{{ proforma.billing_address }}</div>
                                        <div>{{ proforma.shipping_address }}</div>
                                        <div>Email: {{ proforma.customer.email }}</div>
                                        <div>Phone: {{ proforma.customer.mobile_no }}</div>
                                        <div>PAN: {{ proforma.customer.pan_no }}</div>
                                        <div>GSTIN: {{ proforma.customer.gstin_no }}</div>
                                    </div>

                                    <div class="col-sm-4">
                                        <h6 class="mb-1">Details:</h6>
                                        <div>
                                            Proforma No : <strong>{{ proforma.proforma_no }}</strong>
                                        </div>
                                        <div>
                                            Proforma Date : {{ proforma.proforma_date | moment("DD-MM-YYYY") }}
                                        </div>
                                        <div>
                                            Ref No : {{ proforma.reference_no }}
                                        </div>
                                        <div>
                                            Delivery Date : {{ proforma.reference_date | moment("DD-MM-YYYY") }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>Product Code</th>
                                                    <th>Product Name</th>
                                                    <th class="text-right">S.Rate(Exc)</th>
                                                    <th class="text-right">S.Rate(Inc)</th>
                                                    <th class="text-right" v-if="setting.discounts_in == 'inc'">Tax</th>
                                                    <th class="text-right">Discount</th>
                                                    <th class="text-right" v-if="setting.discounts_in == 'exc'">Tax</th>
                                                    <th class="text-right">Qty</th>
                                                    <th class="text-right">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody v-if="Object.keys(proforma).length>0">
                                                <tr v-for="proforma_product, key in proforma.proforma_products">
                                                    <td class="text-center">
                                                        <input v-if="convert_status==1" type="checkbox" checked="" true-value="1" false-value="0" v-model.number="proforma_product.proforma_product_status">{{ +key + 1 }}
                                                    </td>
                                                    <td>
                                                        {{ proforma_product.product_code }}
                                                    </td>
                                                    <td>
                                                        {{ proforma_product.product_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ proforma_product.sales_rate_exc | tofix }}
                                                    </td>
                                                    <td class="text-right">{{ 
                                                        proforma_product.sales_rate_inc | tofix }}
                                                    </td>
                                                    <td class="text-right" v-if="setting.discounts_in == 'inc'">
                                                        {{ proforma_product.tax.tax_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ proforma_product.discount | tofix }} 
                                                        {{ proforma_product.discount_type }}
                                                    </td>
                                                    <td class="text-right" v-if="setting.discounts_in == 'exc'">
                                                        {{ proforma_product.tax.tax_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ proforma_product.quantity | tofix }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ proforma_product.amount | tofix }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td rowspan="3" colspan="5">
                                                        <strong>Terms and Conditions : </strong><br>
                                                        {{ proforma.terms }}
                                                    </td>
                                                    <th class="text-right" colspan="2">Sub Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ proforma.sub_total | tofix }}
                                                    </th>
                                                </tr>
                                                <tr v-if="setting.discounts_in == 'inc'">
                                                    <th class="text-right" colspan="2">Tax</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ proforma.tax_amount | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Discount</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ proforma.discount_amount | tofix }}
                                                    </th>
                                                </tr>
                                                <tr v-if="setting.discounts_in == 'exc'">
                                                    <th class="text-right" colspan="2">Tax</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ proforma.tax_amount | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td rowspan="3" colspan="5">
                                                        <strong>Note : </strong><br>
                                                        {{ proforma.note }}
                                                    </td>
                                                    <th class="text-right" colspan="2">Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ proforma.total_amount | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Round off</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ proforma.round_off | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Grand Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ proforma.grand_total | tofix }}
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <taxable v-if="Object.keys(proforma).length>0" :products="proforma.proforma_products" :taxtype="proforma.source_id!=proforma.destination_id?'IGST':'GST'" :setting="setting"/>
                            </div>
                            </div>
                            <div class="card-footer" v-show="convert_status==1">
                                <div class="card-header-actions">
                                    <button class="btn btn-sm btn-danger" type="button" @click="discard"><i class="fa fa-ban"></i> Discard</button>
                                    <button class="btn btn-sm btn-success" @click="convertToInvoice">Convert Proforma To Invoice</button>
                                    <button class="btn btn-sm btn-success" @click="convertToDelivery">Convert Proforma To Delivery Challan</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    import { Taxable } from '../modal/taxable'

    export default{
        components: { Taxable },
        props: ['org','setting'],
        data(){
            return{
                convert_status:0,
                proforma:{},
                redirect_back:'',
                errors:{}
            }
        },

        beforeRouteEnter(to, from, next) {
            axios.post(`proforma/view/${to.params.proforma_id}`)
            .then(function (response) {
                next(vm => {
                    vm.proforma = response.data,
                    vm.redirect_back = from.path
                })
            })
            .catch(function (error) {
                vm.toast(error.message,'error')
            });
        },
        
        methods:{
            preview() {
                let vm = this;
                vm.$router.push(`/proforma/preview/${vm.proforma.proforma_id}`);
            },

            edit() {
                let vm = this;
                vm.$router.push(`/proforma/edit/${vm.proforma.proforma_id}`);
            },

            destroy(){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post(`proforma/destroy/${vm.proforma.proforma_id}`)
                    .then(function (response) {
                        vm.$vDialog.close(null, key),
                        vm.toast("Purchase order successfully deleted","success"),
                        vm.$router.push('/proforma/display')
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },
            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            },
            convert(){
                let vm = this;
                vm.proforma.proforma_products.forEach(function(value){
                    vm.$set(value,'proforma_product_status',1);
                });
                vm.$set(vm.$data,'convert_status',1);
            },
            convertToInvoice(){
                let vm = this;
                let pro_prods = vm.proforma.proforma_products.filter(function(val){
                    return parseInt(val.proforma_product_status);
                }).map(function(val){
                    return val.proforma_product_id;
                });
                if(pro_prods.length>0){
                    this.$router.push({path:'/proforma/convert/invoice/', query: { query: JSON.stringify(pro_prods)}});    
                }else{
                    vm.toast('Error','error')
                }
            },
            convertToDelivery(){
                let vm = this;
                let pro_prods = vm.proforma.proforma_products.filter(function(val){
                    return parseInt(val.proforma_product_status);
                }).map(function(val){
                    return val.proforma_product_id;
                });
                if(pro_prods.length>0){
                    this.$router.push({path:'/proforma/convert/delivery/', query: { query: JSON.stringify(pro_prods)}});    
                }else{
                    vm.toast('Error','error')
                }
            }, 
            discard(){
                let vm = this;
                vm.proforma.proforma_products.forEach(function(value){
                    vm.$set(value,'proforma_product_status',0);
                });
                vm.$set(vm.$data,'convert_status',0);
            },
        },
     }
</script>