<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Purchase</li>
            <li class="breadcrumb-item">Purchase Bill</li>
            <li class="breadcrumb-right">
                <router-link to="/bill/display" class="btn btn-xs btn-primary">
                    <i class="fa fa-list"></i>Purchase Bills
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong v-if="status==0">New Purchase Bill </strong>
                                <strong v-if="status==1">Update Purchase Bill </strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="bill_no">Purchase Bill No *</label>
                                            <input type="text" class="form-control" :class="{'is-invalid': errors.bill_no}" v-model="bill.bill_no" placeholder="Bill No" ref="bill_no">
                                            <div v-if="errors.bill_no" class="invalid-feedback">{{ errors.bill_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="bill_date">Purchase Bill Date *</label>
                                            <input type="date" class="form-control" :class="{'is-invalid': errors.bill_date}" v-model="bill.bill_date" placeholder="Bill Date">
                                            <div v-if="errors.bill_date" class="invalid-feedback">{{ errors.bill_date[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="reference_no">Reference No</label>
                                            <input type="text" class="form-control" :class="{'is-invalid': errors.reference_no}" v-model="bill.reference_no" placeholder="Reference No">
                                            <div v-if="errors.reference_no" class="invalid-feedback">{{ errors.reference_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="reference_date">Reference Date</label>
                                            <input type="date" class="form-control" :class="{'is-invalid': errors.reference_date}" v-model="bill.reference_date" placeholder="Reference Date">
                                            <div v-if="errors.reference_date" class="invalid-feedback">{{ errors.reference_date[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="payment_term_id">Payment Terms*</label>
                                            <select class="form-control"  :class="{'is-invalid': errors.payment_term_id}" v-model="bill.payment_term_id" @change="changeDueDate()">
                                                <option value="">Select Payment Term</option>
                                                <option v-for="payment_term in payment_terms" :value="payment_term.payment_term_id">{{ payment_term.payment_term }}</option>
                                            </select>
                                            <div v-if="errors.payment_term_id" class="invalid-feedback">{{ errors.payment_term_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="due_date">Due Date *</label>
                                            <input type="date" class="form-control" :class="{'is-invalid': errors.due_date}" v-model="bill.due_date" placeholder="Due Date">
                                            <div v-if="errors.due_date" class="invalid-feedback">{{ errors.due_date[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="vendor_id">
                                                Vendor * 
                                               <!--  <span class="cursor font-color"  v-b-modal.contact> New Vendor </span> -->
                                                <span class="cursor font-color"  v-b-modal.contact> New Vendor </span>
                                                <contactmodal :contact_type="bill.contact_type"  @contact="selectContact($event)"/>
                                            </label>
                                            <contact  :customClass="{'is-invalid': errors.vendor_id}" :contact_type="bill.contact_type" :initialize="bill.contact_name" @input="selectContact($event)" ref="contact_name"></contact>
                                            <div v-if="errors.vendor_id" style="color: #f86c6b; font-size: 80%;">{{ errors.vendor_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="source_id">Source *</label>
                                            <select class="form-control"  :class="{'is-invalid': errors.source_id}" v-model="bill.source_id">
                                                <option value="">Select Source</option>
                                                <option v-for="place in places" :value="place.place_id">{{ place.place_name }}</option>
                                            </select>
                                            <div v-if="errors.source_id" class="invalid-feedback">{{ errors.source_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="destination_id">Destination *</label>
                                            <select class="form-control"  :class="{'is-invalid': errors.destination_id}" v-model="bill.destination_id">
                                                <option value="">Select Desination</option>
                                                <option v-for="place in places" :value="place.place_id">{{ place.place_name }}</option>
                                            </select>
                                            <div v-if="errors.destination_id" class="invalid-feedback">{{ errors.destination_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" width="24%">Product Name
                                                    <span class="cursor font-color"  v-b-modal.product> New Product </span>
                                                    <productmodal  @product="selectProduct($event)"/>
                                                    </th>
                                                    <th class="text-center" width="12%">P.Rate(Exc)</th>
                                                    <th class="text-center" width="12%">P.Rate(Inc)</th>
                                                    <th v-if='setting.discounts_in=="inc"' class="text-center" width="8%">Tax</th>
                                                    <th class="text-center" colspan="2" width="15%">Discount</th>
                                                    <th v-if='setting.discounts_in=="exc"' class="text-center" width="8%">Tax</th>
                                                    <th class="text-center" width="8%">Qty</th>
                                                    <th class="text-center" width="12%">Amount</th>
                                                    <th class="text-center" width="1%">
                                                        <i class="fa fa-exchange"></i>
                                                    </th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td colspan="9" v-if='setting.enable_barcode=="Yes"'>
                                                        <barcode :initialize="enable_barcode" @input="selectProduct($event,'barcode')" ref="product_bar"></barcode>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <product :customClass="{'is-invalid': errors.product_name}" :initialize="bill_product.product_name" @input="selectProduct($event)" ref="product_name"></product>
                                                        <div v-if="errors.product_name"  style="color: #f86c6b; font-size: 80%;">{{ errors.product_name[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.purchase_rate_exc}" type="text" v-model.number="bill_product.purchase_rate_exc" placeholder="P.Rate(Exc)" ref="purchase_rate_exc" @keyup="calPurchaseRateInc">
                                                        <div v-if="errors.purchase_rate_exc" class="invalid-feedback">{{ errors.purchase_rate_exc[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input class="form-control" :class="{'is-invalid': errors.purchase_rate_inc}" type="text" v-model.number="bill_product.purchase_rate_inc" placeholder="P.Rate(Inc)" @keyup="calPurchaseRateExc">
                                                        <div v-if="errors.purchase_rate_inc" class="invalid-feedback">{{ errors.purchase_rate_inc[0] }}</div>
                                                    </td>
                                                    <td v-if='setting.discounts_in=="inc"'>
                                                        <select class="form-control"  :class="{'is-invalid': errors.tax_id}" v-model="bill_product.tax_id">
                                                            <option value="">Tax</option>
                                                            <option v-for="tax in taxes" :value="tax.tax_id">{{ tax.tax_name }}</option>
                                                        </select>
                                                        <div v-if="errors.tax_id" class="invalid-feedback">{{ errors.tax_id[0] }}</div>
                                                    </td>
                                                    <td width="10%">
                                                        <input class="form-control" :class="{'is-invalid': errors.discount}" type="text" v-model.number="bill_product.discount" placeholder="Discount" @keyup="discountType()">
                                                        <div v-if="errors.discount" class="invalid-feedback">{{ errors.discount[0] }}</div>
                                                    </td>
                                                    <td width="7%">
                                                        <select class="form-control" :class="{'is-invalid': errors.discount_type}" v-model.number="bill_product.discount_type" placeholder="Discount Type">
                                                            <option>%</option>
                                                            <option>₹</option>
                                                        </select>
                                                        <div v-if="errors.discount_type" class="invalid-feedback">{{ errors.discount_type[0] }}</div>
                                                    </td>
                                                    <td v-if='setting.discounts_in=="exc"'>
                                                        <select class="form-control"  :class="{'is-invalid': errors.tax_id}" v-model="bill_product.tax_id">
                                                            <option value="">Tax</option>
                                                            <option v-for="tax in taxes" :value="tax.tax_id">{{ tax.tax_name }}</option>
                                                        </select>
                                                        <div v-if="errors.tax_id" class="invalid-feedback">{{ errors.tax_id[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input id="quantity" class="form-control" :class="{'is-invalid': errors.quantity}" type="text" v-model.number="bill_product.quantity" placeholder="Qty" @keyup.enter="checkRow">
                                                        <div v-if="errors.quantity" class="invalid-feedback">{{ errors.quantity[0] }}</div>
                                                    </td>
                                                    <td>
                                                        <input id="amount" class="form-control" :class="{'is-invalid': errors.amount}" type="text" v-model.number="bill_product.amount" placeholder="Amount" readonly>
                                                        <div v-if="errors.amount" class="invalid-feedback">{{ errors.amount[0] }}</div>
                                                    </td>
                                                    <td class="text-center text-nowrap">
                                                        <button v-if="bill_product.status==0" class="btn btn-primary" type="button" @click="addRow">
                                                            <i class="fa fa-plus"></i>
                                                        </button>
                                                        <button v-if="bill_product.status==1" class="btn btn-success" type="button" @click="updateRow">
                                                            <i class="fa fa-refresh"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                <tr v-if="bill.bill_products.length != 0" v-for="bill_product, key in bill.bill_products">
                                                    <td>
                                                        {{ key + 1 }} ) {{ bill_product.product_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ bill_product.purchase_rate_exc }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ bill_product.purchase_rate_inc }}
                                                    </td>
                                                    <td v-if='setting.discounts_in=="inc"' class="text-center">
                                                        {{ bill_product.tax.tax_name }}
                                                    </td>
                                                    <td class="text-right" colspan="2">
                                                        {{ bill_product.discount }}
                                                        {{ bill_product.discount_type }}
                                                    </td>
                                                    <td v-if='setting.discounts_in=="exc"' class="text-center">
                                                        {{ bill_product.tax.tax_name }}
                                                    </td>

                                                    <td class="text-right">
                                                        {{ bill_product.quantity }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ bill_product.amount }}
                                                    </td>
                                                    <td class="text-center">
                                                        <a class="cursor" @click="editRow(bill_product,key)">
                                                            <i class="fa fa-pencil text-inverse"></i>
                                                        </a>
                                                        <a class="cursor" @click="deleteRow(bill_product,key)">
                                                            <i class="fa fa-close text-danger"></i>
                                                        </a>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th colspan="4">
                                                        <select class="form-control"  :class="{'is-invalid': errors.term_id}" v-model="bill.term_id" @change="changeTerm">
                                                            <option value="">Select Terms</option>
                                                            <option v-for="term in terms" :value="term.term_id">{{ term.label }}</option>
                                                        </select>
                                                        <div v-if="errors.term_id" class="invalid-feedback">
                                                            {{ errors.term_id[0] }}
                                                        </div>
                                                    </th>
                                                    <th class="text-right" colspan="3">Sub Total</th>
                                                    <th class="text-right" colspan="2">{{ subTotal }}</th>
                                                </tr>
                                                <tr>
                                                    <th rowspan="2" colspan="4">
                                                        <textarea class="form-control" :class="{'is-invalid': errors.terms}" v-model="bill.terms" placeholder="Terms & Conditions"></textarea>
                                                        <div v-if="errors.terms" class="invalid-feedback">
                                                            {{ errors.terms[0] }}
                                                        </div>
                                                    </th>
                                                    <th v-if='setting.discounts_in=="exc"'>
                                                        <input class="form-control" :class="{'is-invalid': errors.discount}" type="text" v-model.number="discount" placeholder="Discount" >
                                                    </th>
                                                    <th v-if='setting.discounts_in=="exc"'>
                                                        <select class="form-control" :class="{'is-invalid': errors.discount_type}" v-model.number="discount_type" placeholder="Discount Type">
                                                            <option>%</option>
                                                            <option>₹</option>
                                                        </select>
                                                    </th>
                                                    <th class="text-right"  v-if='setting.discounts_in=="exc"'>Discount</th>
                                                    <th class="text-right" colspan="3" v-if='setting.discounts_in=="exc"'>{{ discountAmount }}</th>
                                                    <th class="text-right" colspan="3" v-if='setting.discounts_in=="inc"'>GST</th>
                                                    <th class="text-right" colspan="2" v-if='setting.discounts_in=="inc"' >{{ taxAmount }}</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" v-if='setting.discounts_in=="exc"' colspan="3">GST</th>
                                                    <th class="text-right" colspan="2" v-if='setting.discounts_in=="exc"' >{{ taxAmount }}</th>
                                                    <th v-if='setting.discounts_in=="inc"'>
                                                        <input class="form-control" :class="{'is-invalid': errors.discount}" type="text" v-model.number="discount" placeholder="Discount" >
                                                    </th>
                                                    <th v-if='setting.discounts_in=="inc"'>
                                                        <select class="form-control" :class="{'is-invalid': errors.discount_type}" v-model.number="discount_type" placeholder="Discount Type">
                                                            <option>%</option>
                                                            <option>₹</option>
                                                        </select>
                                                    </th>
                                                    <th class="text-right" v-if='setting.discounts_in=="inc"' >Discount</th>
                                                    <th class="text-right" colspan="2" v-if='setting.discounts_in=="inc"' >{{ discountAmount }}</th>
                                                </tr>
                                                <tr>
                                                    <th rowspan="2" colspan="4">
                                                        <textarea class="form-control" :class="{'is-invalid': errors.note}" v-model="bill.note" placeholder="Note"></textarea>
                                                        <div v-if="errors.note" class="invalid-feedback">
                                                            {{ errors.note[0] }}
                                                        </div>
                                                    </th>
                                                    <th colspan="2">
                                                        <input class="form-control" type="text" v-model.number="roundoff" placeholder="Round Off" >
                                                    </th>
                                                    <th class="text-right" >Round off</th>
                                                    <th class="text-right" colspan="2">{{ roundOff }}</th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="3">Grand Total</th>
                                                    <th class="text-right" colspan="2">{{ grandTotal }}</th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <taxable v-if="bill.bill_products.length>0&&taxes.length>0" :products="bill.bill_products" :taxes="taxes" :taxtype="bill.source_id!=bill.destination_id?'IGST':'GST'" :setting="setting"/>
                            </div>
                            <div class="card-footer">
                                <div class="card-header-actions">
                                    <button  class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button v-show="status==0" v-if="bill.bill_products!=''" class="btn btn-sm btn-success" type="button" @click="save()">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                    <button v-show="status==1" v-if="bill.bill_products!=''" class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    import { Contact } from '../plugins/contact'
    import { Product } from '../plugins/product'
    import { Productmodal } from '../modal/productmodal'
    import { Contactmodal } from '../modal/contactmodal'
    import { Taxable } from '../modal/taxable'
    import { Barcode } from '../plugins/barcode'

    export default{
        components: { Contact, Product ,Productmodal ,Contactmodal ,Taxable ,Barcode},
        props: ['user', 'org' ,'setting'],
        data(){
            return{
                status: 0,
                bill:{
                    bill_id:'',
                    bill_no:'',
                    bill_date:new Date().toISOString().slice(0,10),
                    due_date:'',
                    reference_no:'',
                    reference_date:new Date().toISOString().slice(0,10),
                    vendor_id:'',
                    contact_name:'',
                    contact_type:'Vendor',
                    source_id:'',
                    destination_id:'',
                    sub_total:'',
                    discount_amount:'',
                    tax_amount:'',
                    total_amount:'',
                    round_off:'',
                    grand_total:'',
                    note:'',
                    term_id:'',
                    payment_term_id:'1',
                    terms:'',
                    reference:'',
                    bill_products:[],
                    deleted_bill_products:[],
                },
                bill_product: {
                    product_id:'',
                    product_code:'',
                    product_name:'',
                    price_id:'',
                    purchase_rate_exc:'',
                    purchase_rate_inc:'',
                    store_id:'',
                    warehouse_id:'',
                    discount:'',
                    discount_type:'',
                    discount_amount:'',
                    tax:{},
                    tax_id:'',
                    tax_amount:'',
                    quantity:'',
                    amount:'',
                    sub_total:'',
                    key:'',
                    status:0
                },
                data:{
                    purchase:''
                },
                contacts:{},
                payment_terms:{},
                places:{},
                taxes:{},
                terms:{},
                errors:{},
                discount_type:'%',
                discount:'',
                roundoff:'',
                enable_barcode:'',
                categories:''
            }
        },

        beforeRouteEnter(to, from, next) {
            if(to.name=='bill-create') {
                next(vm => {
                    vm.$refs.bill_no.focus(),
                    vm.getPlaces()
                });
            }
            else if(to.name=='purchase-order-convert-bill') {
                next(vm => {
                    vm.data.purchase = JSON.parse(to.query.query);
                    vm.$refs.bill_no.focus(),
                    vm.get_purchase_data();
                });
            }
            else {
                axios.post(`bill/view/${to.params.bill_id}`)
                .then(function (response) {
                    next(vm => {
                        vm.getPlaces(),
                        vm.bill = response.data,
                        vm.bill.deleted_bill_products = [],
                        vm.bill.contact_name = response.data.vendor.contact_name
                        vm.status = 1;
                    });
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            }
        },

        watch:{
            'bill_product.tax_id':function(val){
                let vm = this;
                vm.calPurchaseRateInc();
            },

            'bill_product.quantity':function(val){
                let vm = this;
                vm.calAmount();
            },

            'bill_product.discount':function(val){
                let vm = this;
                vm.calAmount();
            },

            'bill_product.discount_type':function(val){
                let vm = this;
                vm.calAmount();
            },
            'discount_type':function(val){
                let vm = this;
                vm.calDiscountAmount();
            },

            'discount':function(val){
                let vm = this;
                vm.calDiscountAmount();
            },
        },

        computed:{
            subTotal: function(){
                let vm = this;
                let sub_total = (vm.bill.bill_products.reduce((prev, cur) => +prev + +cur.amount, 0)).toFixed(2);
                vm.bill.sub_total = sub_total;
                return sub_total;
            },

            discountAmount: function(){
                let vm = this;
                let discount_amount = (vm.bill.bill_products.reduce((prev, cur) => +prev + +cur.discount_amount, 0)).toFixed(2);
                vm.bill.discount_amount = discount_amount;
                return discount_amount;
            },

            taxAmount: function(){
                let vm = this;
                let tax_amount = (vm.bill.bill_products.reduce((prev, cur) => +prev + +cur.tax_amount, 0)).toFixed(2);
                vm.bill.tax_amount = tax_amount;
                return tax_amount;
            },

            totalAmount: function(){
                let vm = this;
                let total_amount = +vm.subTotal - +vm.discountAmount + +vm.taxAmount;
                vm.bill.total_amount = total_amount;
                return total_amount;
            },

            roundOff: function(){
                // let vm = this;
                // let round_off = ((vm.grandTotal - vm.totalAmount)*1).toFixed(2);
                // vm.bill.round_off = round_off;
                // return round_off;
                let vm = this;
                let round_off = parseFloat(Math.round(parseFloat(vm.totalAmount.toFixed(1))) - vm.totalAmount).toFixed(2);
                if(vm.roundoff !=''){
                    round_off = parseFloat(parseFloat(round_off) + parseFloat(vm.roundoff)).toFixed(2);
                }
                vm.bill.round_off = round_off;
                return round_off;
            },

            grandTotal: function(){
                // let vm = this;
                // let grand_total = (vm.totalAmount * 1).toFixed(0);
                // vm.bill.grand_total = grand_total;
                // return (grand_total * 1).toFixed(2);
                // let grand_total = (vm.totalAmount * 1).toFixed(0);
                // if(vm.roundoff !=''){
                //     if(vm.roundoff != 0){
                //         grand_total = parseFloat(vm.bill.grand_total) + (vm.roundoff) ;
                //     }
                //     if(vm.roundoff == 0){
                //         grand_total = parseFloat(vm.bill.grand_total);
                //     }
                // }
                let vm = this;
                let grand_total = Math.round(parseFloat(vm.bill.total_amount) + parseFloat(vm.bill.round_off)).toFixed(2);
                vm.bill.grand_total = grand_total;
                return grand_total;
            }
        },
        
        methods:{
            get_purchase_data(){
                let vm = this;
                axios.post('bill/convert_purchase',vm.data.purchase)
                .then(function (response) {
                    vm.bill.bill_products = response.data;
                    vm.bill.contact_name = response.data[0].purchase_order.vendor.contact_name;
                    vm.bill.destination_id = response.data[0].purchase_order.destination_id;
                    vm.bill.source_id = response.data[0].purchase_order.source_id;
                    vm.bill.vendor_id = response.data[0].purchase_order.vendor_id;
                    vm.bill.reference = "PurchaseOrderProduct";
                    vm.getPlaces();
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getPlaces() {
                let vm = this;
                axios.post('place/get_places')
                .then(function (response) {
                    vm.places = response.data,
                    vm.getTaxes()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getCategories() {
                let vm = this;
                axios.post('category/get_categories')
                .then(function (response) {
                    vm.categories = response.data,
                    vm.getTaxes()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            setData(){
                let vm = this;
                if(vm.status==0) {
                    vm.product.category_id = vm.categories[0].category_id,
                    vm.product.tax_id = vm.taxes[0].tax_id
                }
            },
            
            getTaxes() {
                let vm = this;
                axios.post('tax/get_taxes')
                .then(function (response) {
                    vm.taxes = response.data,
                    vm.getTerms()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getTerms() {
                let vm = this;
                axios.post('term/get_terms?term_type=Bill')
                .then(function (response) {
                    vm.terms = response.data,
                    vm.getPaymentTerms()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getPaymentTerms() {
                let vm = this;
                axios.post('payment_term/get_payment_terms')
                .then(function (response) {
                    vm.payment_terms = response.data,
                    vm.changeDueDate()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            changeDueDate(){
                let vm = this;
                axios.post("payment_term/change_date?payment_term_id=" + vm.bill.payment_term_id + '&bill_date=' + vm.bill.bill_date)
                .then(function (response) {
                    vm.bill.due_date = response.data;
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });

            },

            changeTerm() {
                let vm = this;
                let term = vm.terms.filter(function (el) {
                    return el.term_id == vm.bill.term_id
                });
                if(term) {
                    vm.bill.terms = term[0].term;
                }
            },

            selectContact(e) {
                let vm = this;
                const contact = e.target.value;
                vm.bill.vendor_id = contact.contact_id;
                vm.bill.contact_name = contact.contact_name;
                vm.bill.source_id = contact.place_id;
                vm.bill.payment_term_id = contact.payment_term_id;
                vm.changeDueDate();
                if(vm.status==0){
                    vm.bill.destination_id = vm.org.place_id
                }
            },

            selectProduct(e,type) {
                let vm = this;
                const product = e.target.value;
                if(product=='no data'){
                    console.log("invalid barcode")
                }
                else{

                    let filter = _.find(vm.bill.bill_products,  function (el,index)  {
                        if(el.product_id == product.product_id){
                            el.key = index;
                            return  el;
                        }
                    });
                    vm.bill_product.product_id = product.product_id;
                    vm.bill_product.product_code = product.product_code;
                    vm.bill_product.product_name = product.product_name;
                    vm.bill_product.price_id = product.price.price_id;
                    vm.bill_product.purchase_rate_exc = product.price.purchase_rate_exc;
                    vm.bill_product.purchase_rate_inc = product.price.purchase_rate_inc;
                    vm.bill_product.store_id = product.store.store_id;
                    vm.bill_product.warehouse_id = product.store.warehouse.warehouse_id;
                    vm.bill_product.discount = 0;
                    vm.bill_product.discount_type = '%';
                    vm.bill_product.tax = product.price.tax;
                    vm.bill_product.tax_id = product.price.tax.tax_id;
                    vm.$refs.purchase_rate_exc.focus();
                    vm.product='';

                    if(!_.isUndefined(filter) && filter.bill_product_id!=''){
                        vm.bill_product.bill_product_id=filter.bill_product_id
                    }
                       
                    if(type == 'select_product'){

                        vm.bill_product.quantity = 1;
                        vm.bill_product.status = 0;
                        
                        if(!_.isUndefined(filter) && filter.product_id == vm.bill_product.product_id){

                            if(add=='add'){

                                if(key < filter.key){
                                    vm.bill_product.status = 1;
                                    vm.bill_product.key = key;
                                    vm.bill.bill_products.splice(filter.key, 1);
                                }

                                if(key > filter.key){
                                    this.$nextTick(function () {
                                        vm.bill_product.status = 1;
                                        vm.bill_product = filter;
                                        vm.bill_product.key = filter.key;
                                        vm.checkRow();
                                    });

                                    vm.bill.bill_products.splice(key, 1);
                                }
                            }
                        }
                        
                        if(_.isUndefined(filter) || _.isNull(filter.key)){
                            vm.bill_product.key = key;
                            vm.bill_product.status = 1; 
                            this.$nextTick(function () {
                                vm.checkRow();
                            });
                        }

                        vm.$refs.product_bar.focus();

                        this.$nextTick(function () {
                            vm.checkRow();
                        });
                    }

                    if(type == 'barcode'){
                        vm.bill_product.quantity =1;
                        vm.bill_product.status =0;
                        vm.checkRow();
                    }
                }
            },

            calPurchaseRateInc() {
                let vm = this;
                let tax = vm.taxes.filter(function (el) {
                    return el.tax_id == vm.bill_product.tax_id 
                });
                vm.bill_product.tax = tax[0];
                let tax_amount = ((vm.bill_product.purchase_rate_exc * tax[0].tax_rate)/100).toFixed(2);
                vm.bill_product.purchase_rate_inc = (+tax_amount + +vm.bill_product.purchase_rate_exc).toFixed(2);
                vm.calAmount();
            },

            calPurchaseRateExc() {
                let vm = this;
                let tax = vm.taxes.filter(function (el) {
                    return el.tax_id == vm.bill_product.tax_id 
                });
                vm.bill_product.purchase_rate_exc = (vm.bill_product.purchase_rate_inc / ((tax[0].tax_rate/100) + 1)).toFixed(2);
                vm.calAmount();
            },

            calAmount() {
                let vm = this;
                vm.bill_product.amount = (vm.bill_product.purchase_rate_exc * vm.bill_product.quantity).toFixed(2);
                vm.calSubTotal();
            },

            calSubTotal(){
                let vm = this;
                let amount = vm.bill_product.amount;
                if(vm.setting.discounts_in == 'exc'){
                    vm.bill_product.discount_amount = vm.calDiscount(amount);
                    amount = parseFloat(amount) - parseFloat(vm.bill_product.discount_amount);
                    vm.bill_product.tax_amount = vm.calTax(amount);
                    amount = parseFloat(amount) + parseFloat(vm.bill_product.tax_amount);
                    vm.bill_product.sub_total = parseFloat(amount).toFixed(2);
                }else{
                    vm.bill_product.tax_amount = vm.calTax(amount);
                    amount = parseFloat(amount) + parseFloat(vm.bill_product.tax_amount);
                    vm.bill_product.discount_amount = vm.calDiscount(amount);
                    amount = parseFloat(amount) - parseFloat(vm.bill_product.discount_amount);
                    vm.bill_product.sub_total = parseFloat(amount).toFixed(2);
                }
            },

            calDiscount(amount) {
                let vm = this;
                let dis = 0;
                if(vm.bill_product.discount_type=='%') {
                    dis = vm.bill_product.discount_amount = ((amount * vm.bill_product.discount)/100).toFixed(2);
                }
                else {
                    dis = vm.bill_product.discount_amount = vm.bill_product.discount;
                }
                return dis;
            },

            calTax(amount) {
                let vm = this;
                let tax = vm.taxes.filter(function (el) {
                    return el.tax_id == vm.bill_product.tax_id 
                });
                let tax_amount = ((amount * tax[0].tax_rate)/100).toFixed(2);
                return tax_amount;
            },

            calDiscountAmount(){
                let vm = this;
                let bill_products = vm.bill.bill_products;
                _.forEach(bill_products, function(value, key) {
                    let vm = this;
                    value.amount = (parseFloat(value.purchase_rate_exc) * parseFloat(value.quantity)).toFixed(2);
                    calSubTotal(value); 
                });
                function calSubTotal(value){
                    let amount = value.amount;
                    if(vm.setting.discounts_in == 'exc'){

                        value.discount_amount = calDiscount(value,amount);
                        amount = parseFloat(amount) - parseFloat(value.discount_amount);
                        value.tax_amount = calTax(value,amount);
                        amount = parseFloat(amount) + parseFloat(value.tax_amount);
                        value.sub_total = parseFloat(amount).toFixed(2);

                    }else{

                        value.tax_amount = calTax(value,amount);
                        amount = parseFloat(amount) + parseFloat(value.tax_amount);
                        value.discount_amount = calDiscount(value,amount);
                        amount = parseFloat(amount) - parseFloat(value.discount_amount);
                        value.sub_total = parseFloat(amount).toFixed(2);
                    }
                }
                function calTax(value,amount) {
                    let tax = vm.taxes.filter(function (el) {
                        return el.tax_id == value.tax_id ;
                    });
                    let tax_amount = parseFloat((amount * tax[0].tax_rate)/100).toFixed(2);
                    return tax_amount;
                }
                function calDiscount(value,amount) {
                    let dis = 0;
                    value.discount_type = vm.discount_type;
                    value.discount = parseInt(vm.discount);
                    if(value.discount_type=='%') {
                        dis = parseFloat((amount * vm.discount)/100).toFixed(2);
                    }
                    else {
                        dis = parseFloat(vm.discount).toFixed(2);
                    }
                    return dis;
                }
            },
            
            // calSubTotal() {
            //     let vm = this;
            //     vm.bill_product.sub_total = parseInt(vm.bill_product.amount) - parseInt(vm.bill_product.discount_amount) + parseInt(vm.bill_product.tax_amount).toFixed(2);
            // },


            checkRow() {
                let vm = this;
                if(vm.bill_product.status==0){
                    vm.addRow();
                }
                else{
                    vm.updateRow();
                }
            },

            // barcode_enable(){
            //     let vm = this;
            //     if(vm.enable_barcode != ''){
            //         axios.post('product/get_barcode',{barcode:vm.enable_barcode})
            //         .then(function (response) {
            //             vm.enable_barcode = '';
            //             const product = response.data;
            //             vm.bill_product.product_id = product.product_id;
            //             vm.bill_product.product_code = product.product_code;
            //             vm.bill_product.product_name = product.product_name;
            //             vm.bill_product.price_id = product.price.price_id;
            //             vm.bill_product.purchase_rate_exc = product.price.purchase_rate_exc;
            //             vm.bill_product.purchase_rate_inc = product.price.purchase_rate_inc;
            //             vm.bill_product.store_id = product.store.store_id;
            //             vm.bill_product.warehouse_id = product.store.warehouse.warehouse_id;
            //             vm.bill_product.discount = 0;
            //             vm.bill_product.discount_type = '%';
            //             vm.bill_product.tax = product.price.tax;
            //             vm.bill_product.tax_id = product.price.tax.tax_id;
            //             vm.bill_product.quantity =1;
            //             vm.bill_product.status =0;
            //             vm.checkRow();
            //         })
            //         .catch(function (error) {
            //             vm.errors = error.response.data.errors,
            //             vm.toast(error.response.data.message,'error')
            //         });
            //     }
            // },

            addRow() {
               
                let vm = this;

                let filter_product = _.find(vm.bill.bill_products,  function (el,index)  {
                    if(el.product_id == vm.bill_product.product_id){
                        el.key = index;
                        return  el;
                    }
                });
               
                if(!_.isUndefined(filter_product)){
                    vm.bill_product.quantity = filter_product.quantity+vm.bill_product.quantity;
                    vm.bill_product.key  = filter_product.key;
                    vm.bill_product.bill  = filter_product.key;
                    vm.bill_product.status = 1;
                    this.$nextTick(function () {
                        vm.checkRow();
                    });
                }
                else{

                    let filter = vm.bill.bill_products.filter(function (el) {
                        if(!el.bill_product_id){
                           return el.product_id == vm.bill_product.product_id 
                        }
                    });

                    let quantity = _.map(filter, 'quantity');
                    let sum = _.sum(quantity)+vm.bill_product.quantity;

                    if(sum > vm.bill_product.current_stock){
                        vm.toast('Stock Exceeded','error')
                        if(vm.preference.allow_negative_stock =='Yes'){
                            addrow(); 
                        }
                    }
                    else{
                        addrow();
                    }
                    function addrow(){  
                        axios.post('bill/validation',vm.bill_product)
                        .then(function (response) {
                            vm.bill.bill_products.push(response.data),
                            vm.discardBillProduct()
                        })
                        .catch(function (error) {
                            vm.errors = error.response.data.errors,
                            vm.toast(error.response.data.message,'error')
                        });
                    }
                }
            }, 

            editRow(bill_product, key) {
                let vm = this;
                vm.bill_product = bill_product;
                vm.bill_product.status = 1;
                vm.bill_product.key = key;
            },

            updateRow() {
                console.log('updateRow');
                let vm = this;
                axios.post('bill/validation',vm.bill_product)
                .then(function (response) {
                    vm.bill.bill_products.splice(response.data.key,1,response.data),
                    vm.discardBillProduct()
                })
                .catch(function (error) {
                    vm.errors = error.response.data.errors,
                    vm.toast(error.response.data.message,'error')
                });
            },

            deleteRow(bill_product,key) {
                let vm = this;
                vm.bill.deleted_bill_products.push(bill_product),
                vm.bill.bill_products.splice(key, 1);
                vm.discardBillProduct();
            },

            discardBillProduct(){
                let vm = this;
                vm.bill_product.product_id="";
                vm.bill_product.product_code="";
                vm.bill_product.product_name="";
                vm.bill_product.price_id="";
                vm.bill_product.purchase_rate_exc="";
                vm.bill_product.purchase_rate_inc="";
                vm.bill_product.store_id="";
                vm.bill_product.warehouse_id="";
                vm.bill_product.discount=""
                vm.bill_product.discount_type="";
                vm.bill_product.discount_amount="";
                vm.bill_product.tax={};
                vm.bill_product.tax_id=vm.taxes[0].tax_id;
                vm.bill_product.tax_amount="";
                vm.bill_product.quantity="";
                vm.bill_product.amount="";
                vm.bill_product.sub_total="";
                vm.bill_product.key="";
                vm.bill_product.status=0;
                vm.errors={};
                vm.setting.enable_barcode =='Yes'?vm.$refs.barcode.focus():vm.$refs.product_name.focus();
            },

            save() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('bill/store',vm.bill)
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.toast("Bill successfully created","success");
                    vm.$router.push('/bill/display')
                })
                .catch(function (error) {
                    vm.$vDialog.close(null, key),
                    vm.errors = error.response.data.errors
                    vm.toast(error.response.data.message,'error')
                });
            },

            update() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('bill/update',vm.bill)
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.toast("Bill successfully updated","success"),
                    vm.$router.push(`/bill/view/${vm.bill.bill_id}`)
                })
                .catch(function (error) {
                    vm.$vDialog.close(null, key),
                    vm.errors = error.response.data.errors
                    vm.toast(error.response.data.message,'error')
                });
            },
            
            discard() {
                let vm = this;
                vm.$router.push('/bill/display');
            },
            discountType(){
                let vm = this;
                if(vm.bill_product.discount_type == '%'){
                    if(vm.bill_product.discount>100){
                        alert('discount should not be greater than 100%');
                        vm.bill_product.discount="";
                    } 
                }

            },
            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        },
    }
    
</script>