<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Report</li>
            <li class="breadcrumb-item">GST Bill</li>
            <li class="breadcrumb-right">
                <router-link to="/report" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button @click="pdf" type="button" class="btn btn-xs btn-primary">
                    PDF
                </button>
                <button @click="excel" type="button" class="btn btn-xs btn-primary">
                    Excel
                </button>
                <button v-b-modal.report type="button" class="btn btn-xs btn-primary">
                    Filter
                </button>
                <button @click="reset" type="button" class="btn btn-xs btn-danger">
                    Reset
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>GST Bill</strong>
                            </div>
                            <div class="card-body" v-show="report.display_type=='display' || report.display_type=='excel'">
                                <table id="datatable" class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center" colspan="10">BILL GST REPORT</th>
                                        </tr>
                                        <tr>
                                            <td colspan="6">
                                                <div>
                                                    <strong>{{ org.org_name }}</strong>
                                                </div>
                                                <div>{{ org.address }}</div>
                                                <div>Email: {{ org.email }}</div>
                                                <div>Phone: {{ org.mobile_no }}</div>
                                                <div>PAN: {{ org.pan_no }}</div>
                                                <div>GSTIN: {{ org.gstin_no }}</div>
                                            </td>
                                            <td colspan="4">
                                                <div>From Date: {{ report.from_date | moment("DD-MM-YYYY") }}</div>
                                                <div>To Date: {{ report.to_date | moment("DD-MM-YYYY") }}</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Bill No</th>
                                            <th>Bill Date</th>
                                            <th>Status</th>
                                            <th>Vendor</th>
                                            <th>Vendor Code</th>
                                            <th>GSTIN</th>
                                            <th class="text-right">Grand Total</th>
                                        </tr>
                                    </thead>
                                    <tbody v-for="bill,key in bills" @click="view(bill)">
                                         <tr>
                                            <td :rowspan="bill.bill_tax.length+4">{{ ++key }}</td>
                                        </tr>
                                        <tr>
                                            <td>{{ bill.bill_no }}</td>
                                            <td>{{ bill.bill_date | moment("DD-MM-YYYY") }}</td>
                                            <td>{{ bill.bill_status }}</td>
                                            <td>{{ bill.vendor.contact_name }}</td>
                                            <td>{{ bill.vendor.contact_code }}</td>
                                            <td>{{ bill.vendor.gstin_no }}</td>
                                            <td class="text-right">{{ bill.grand_total | tofix }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-center" rowspan="2">#</th>
                                            <th class="text-center" rowspan="2">Taxable Amount</th>
                                            <th v-if="bill.source_id == bill.destination_id" class="text-center" colspan="2">CGST</th>
                                            <th v-if="bill.source_id == bill.destination_id" class="text-center" colspan="2">SGST</th>
                                            <th v-if="bill.source_id != bill.destination_id" class="text-center" colspan="4">IGST</th>
                                            <th class="text-center" rowspan="2">Total Amount</th>
                                        </tr>
                                        <tr>
                                            <th v-if="bill.source_id == bill.destination_id" class="text-center">Rate</th>
                                            <th v-if="bill.source_id == bill.destination_id" class="text-center">Amount</th>
                                            <th v-if="bill.source_id == bill.destination_id" class="text-center">Rate</th>
                                            <th v-if="bill.source_id == bill.destination_id" class="text-center">Amount</th>
                                            <th v-if="bill.source_id != bill.destination_id" class="text-center" colspan="2">Rate</th>
                                            <th v-if="bill.source_id != bill.destination_id" class="text-center" colspan="2">Amount</th>
                                        </tr>
                                        <tr v-for="taxable,k in bill.bill_tax">
                                            <td class="text-center">{{ ++k }}</td>
                                            <td class="text-right">{{ taxable.amount | tofix }}</td>
                                            <td v-if="bill.source_id == bill.destination_id" class="text-right">{{ taxable.tax.cgst_name }}</td>
                                            <td v-if="bill.source_id == bill.destination_id" class="text-right">{{ (taxable.cgst_amount) | tofix }}</td>
                                            <td v-if="bill.source_id == bill.destination_id" class="text-right">{{ taxable.tax.sgst_name }}</td>
                                            <td v-if="bill.source_id == bill.destination_id" class="text-right">{{ (taxable.sgst_amount) | tofix }}</td>
                                            <td v-if="bill.source_id != bill.destination_id" class="text-right" colspan="2">{{ taxable.tax.igst_name }}</td>
                                            <td v-if="bill.source_id != bill.destination_id" class="text-right" colspan="2">{{ (taxable.igst_amount) | tofix }}</td>
                                            <td class="text-right">{{ taxable.sub_total | tofix }}</td>
                                        </tr>
                                        <tr>
                                            <th class="text-center" colspan="2">Total</th>
                                            <td class="text-right">{{ bill.bill_tax | redArr('amount') | tofix }}</td>
                                            <td v-if="bill.source_id == bill.destination_id" class="text-right" colspan="2">{{ bill.bill_tax | redArr('cgst_amount') | tofix }}</td>
                                            <td v-if="bill.source_id == bill.destination_id" class="text-right" colspan="2">{{ bill.bill_tax | redArr('sgst_amount') | tofix }}</td>
                                            <td v-if="bill.source_id != bill.destination_id" class="text-right" colspan="4">{{ bill.bill_tax | redArr('igst_amount') | tofix }}</td>
                                            <td class="text-right">{{ bill.bill_tax | redArr('sub_total') | tofix }}</td>
                                        </tr>
                                        <tr>
                                            <td colspan="8"></td>
                                        </tr>
                                    </tbody>
                                     <tfoot v-if="bills.length>0">
                                        <tr>
                                            <th class="text-center" colspan="2">Overall Total</th>
                                            <th class="text-right">{{ bills | redSubArr('bill_tax','amount') | tofix }}</th>
                                            <th class="text-right" colspan="2">{{ bills | redSubArr('bill_tax','cgst_amount') | tofix }}</th>
                                            <th class="text-right" colspan="2">{{ bills | redSubArr('bill_tax','sgst_amount') | tofix }}</th>
                                            <!-- <th class="text-right" colspan="2">{{ bills | redSubArr('bill_tax','igst_amount') | tofix }}</th> -->
                                            <th class="text-right">{{ bills | redSubArr('bill_tax','sub_total') | tofix }}</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <div class="card-body" v-show="report.display_type=='pdf'">
                                <div class="row">
                                    <iframe :src="report.source" width="100%" height="400" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="report" title="Report" @ok="filter">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="from_date">From Date *</label>
                        <input class="form-control" type="date" v-model="report.from_date" placeholder="From Date">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="to_date">To Date *</label>
                        <input class="form-control" type="date" v-model="report.to_date" placeholder="To Date">
                    </div>
                </div>
            </div>
        </b-modal>
    </main>
</template>
<script>
    import { Contact } from '../plugins/contact'
    export default{
        components: { Contact },
        props: ['org'],
        data(){
            return{
                report: {
                    from_date:moment(new Date()).format('YYYY-MM-DD'),
                    to_date:moment(new Date()).format('YYYY-MM-DD'),
                    contact_type:'Vendor',
                    display_type:'display',
                    source:'',
                },
                bills:{},
            }
        },

        mounted(){
            let vm = this;
            vm.getReport();
        },
        filters:{
            tofix:function(value){
                return parseFloat(value).toFixed(2);
            },
            redArr:function(arr,field){
                return parseFloat(arr.reduce((sum,val)=>{
                            return sum+parseFloat(_.get(val,field,'error'));
                        },0)).toFixed(2);
            },
            redSubArr:function(arr,subarr,field){
                return parseFloat(arr.reduce((total,value)=>{
                            return total + parseFloat(_.get(value,`${subarr}`,'error').reduce((sum,val)=>{
                                return sum + parseFloat(_.get(val,`${field}`,'error'));
                            },0)
                        );
                    },0)
                ).toFixed(2);
            }
        },
        methods:{
            getReport() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.get("bill/tax_report", {
                    params: {
                      from_date:vm.report.from_date,
                      to_date:vm.report.to_date,
                      display_type:vm.report.display_type,
                      contact_type:vm.report.contact_type,
                    }
                }).then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.bills = response.data
                })
                .catch(function (error) {
                    vm.$vDialog.close(null, key),
                    vm.toast(error.message,'error')
                });
            },
            reset() {
                let vm = this;
                vm.report.from_date = moment(new Date()).format('YYYY-MM-DD'),
                vm.report.to_date = moment(new Date()).format('YYYY-MM-DD'),
                vm.report.vendor_id ='',
                vm.report.contact_name = '',
                vm.report.contact_type = 'Vendor',
                vm.report.display_type = 'display',
                vm.report.report_type = 'Brief Report',
                vm.getReport()
            },

            filter() {
                let vm = this;
                vm.report.display_type = 'display';
                vm.getReport();
            },

            pdf() {
                let vm = this;
                vm.report.display_type='pdf';
                vm.report.source="bill/tax_report?from_date=" + vm.report.from_date + '&to_date=' + vm.report.to_date + '&display_type=' + vm.report.display_type;
            },

            excel() {
                let vm = this;
                vm.report.display_type='excel';
                vm.report.source="bill/tax_report?from_date=" + vm.report.from_date + '&to_date=' + vm.report.to_date + '&display_type=' + vm.report.display_type;
            },

            view(bl){
                this.$router.push(`/bill/view/${bl.bill_id}`)
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>