<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Report</li>
            <li class="breadcrumb-item">GST Bill</li>
            <li class="breadcrumb-right">
                <router-link to="/report" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button @click="pdf" type="button" class="btn btn-xs btn-primary">
                    PDF
                </button>
                <button @click="excel" type="button" class="btn btn-xs btn-primary">
                    Excel
                </button>
                <button v-b-modal.report type="button" class="btn btn-xs btn-primary">
                    Filter
                </button>
                <button @click="reset" type="button" class="btn btn-xs btn-danger">
                    Reset
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>GST Bill</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <iframe :src="report.source" width="100%" height="380" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="report" title="Report" @ok="filter">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="from_date">From Date *</label>
                        <input class="form-control" type="date" v-model="report.from_date" placeholder="From Date">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="to_date">To Date *</label>
                        <input class="form-control" type="date" v-model="report.to_date" placeholder="To Date">
                    </div>
                </div>
            </div>
        </b-modal>
    </main>
</template>
<script>
    import { Contact } from '../plugins/contact'
    export default{
        components: { Contact },
        props: ['org'],
        data(){
            return{
                report: {
                    from_date:moment(new Date()).format('YYYY-MM-DD'),
                    to_date:moment(new Date()).format('YYYY-MM-DD'),
                    contact_type:'Vendor',
                    display_type:'display',
                    source:'',
                },
                bills:{},
            }
        },

        mounted(){
            let vm = this;
            vm.getReport();
        },
        filters:{
            tofix:function(value){
                return parseFloat(value).toFixed(2);
            },
            redArr:function(arr,field){
                return parseFloat(arr.reduce((sum,val)=>{
                            return sum+parseFloat(_.get(val,field,'error'));
                        },0)).toFixed(2);
            },
            redSubArr:function(arr,subarr,field){
                return parseFloat(arr.reduce((total,value)=>{
                            return total + parseFloat(_.get(value,`${subarr}`,'error').reduce((sum,val)=>{
                                return sum + parseFloat(_.get(val,`${field}`,'error'));
                            },0)
                        );
                    },0)
                ).toFixed(2);
            }
        },
        methods:{
            getReport() {
                let vm = this;
                // let key = vm.$vDialog.mask("Loading...");
                let source = 'bill/tax_report?from_date=' + vm.report.from_date + '&to_date=' + vm.report.to_date + '&display_type=' + vm.report.display_type + '&contact_type=' + vm.report.contact_type;
                vm.$set(vm.report,'source',source);
            },
            reset() {
                let vm = this;
                vm.report.from_date = moment(new Date()).format('YYYY-MM-DD'),
                vm.report.to_date = moment(new Date()).format('YYYY-MM-DD'),
                vm.report.vendor_id ='',
                vm.report.contact_name = '',
                vm.report.contact_type = 'Vendor',
                vm.report.display_type = 'display',
                vm.report.report_type = 'Brief Report',
                vm.getReport()
            },

            filter() {
                let vm = this;
                vm.report.display_type = 'display';
                vm.getReport();
            },

            pdf() {
                let vm = this;
                vm.report.display_type='pdf';
                vm.report.source="bill/tax_report?from_date=" + vm.report.from_date + '&to_date=' + vm.report.to_date + '&display_type=' + vm.report.display_type;
            },

            excel() {
                let vm = this;
                vm.report.display_type='excel';
                vm.report.source="bill/tax_report?from_date=" + vm.report.from_date + '&to_date=' + vm.report.to_date + '&display_type=' + vm.report.display_type;
            },

            view(bl){
                this.$router.push(`/bill/view/${bl.bill_id}`)
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>