<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Sale</li>
            <li class="breadcrumb-item">Delivery Challan</li>
            <li class="breadcrumb-right" v-if="Object.keys(delivery).length>0">
                <router-link :to="redirect_back" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button @click="preview" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-file-pdf-o"></i>
                </button>
                <router-link to="/delivery/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i>
                </router-link>
                <button v-if="delivery.frontend_status.edit" @click="edit" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-edit"></i>
                </button>
                <button v-if="delivery.frontend_status.delete" @click="destroy" type="button" class="btn btn-xs btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
                <!-- <button class="btn btn-xs btn-success" @click="convert">
                    <i class="fa fa-refresh"></i>
                </button> -->
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Delivery Challan : 
                                <strong>{{ delivery.delivery_no }}</strong>
                                <div class="card-header-actions">
                                    <span class="badge badge-lg badge-primary">{{ delivery.delivery_status }}</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row mb-1">
                                    <div class="col-sm-4">
                                        <h6 class="mb-1">From:</h6>
                                        <div>
                                            <strong>{{ org.org_name }}</strong>
                                        </div>
                                        <div>{{ org.address }}</div>
                                        <div>Email: {{ org.email }}</div>
                                        <div>Phone: {{ org.mobile_no }}</div>
                                        <div>PAN: {{ org.pan_no }}</div>
                                        <div>GSTIN: {{ org.gstin_no }}</div>
                                    </div >
                                    <div class="col-sm-4" v-if="Object.keys(delivery).length>0">
                                        <h6 class="mb-1">To:</h6>
                                        <div>
                                            <strong>{{ delivery.customer.contact_name }}</strong>
                                        </div>
                                        <div>{{ delivery.billing_address }}</div>
                                        <div>{{ delivery.shipping_address }}</div>
                                        <div>Email: {{ delivery.customer.email }}</div>
                                        <div>Phone: {{ delivery.customer.mobile_no }}</div>
                                        <div>PAN: {{ delivery.customer.pan_no }}</div>
                                        <div>GSTIN: {{ delivery.customer.gstin_no }}</div>
                                    </div>

                                    <div class="col-sm-4">
                                        <h6 class="mb-1">Details:</h6>
                                        <div>
                                            DC No : <strong>{{ delivery.delivery_no }}</strong>
                                        </div>
                                        <div>
                                            DC Date : {{ delivery.delivery_date | moment("DD-MM-YYYY") }}
                                        </div>
                                        <div>
                                            Ref No : {{ delivery.reference_no }}
                                        </div>
                                        <div>
                                            Ref Date : {{ delivery.reference_date | moment("DD-MM-YYYY") }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>Product Code</th>
                                                    <th>Product Name</th>
                                                    <th class="text-right">S.Rate(Exc)</th>
                                                    <th class="text-right">S.Rate(Inc)</th>
                                                    <th class="text-right" v-if="setting.discounts_in == 'inc'">Tax</th>
                                                    <th class="text-right">Discount</th>
                                                    <th class="text-right" v-if="setting.discounts_in == 'exc'">Tax</th>
                                                    <th class="text-right">Qty</th>
                                                    <th class="text-right">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody v-if="Object.keys(delivery).length>0">
                                                <tr v-for="delivery_product, key in delivery.delivery_products">
                                                    <td class="text-center">
                                                        <input v-if="convert_status==1" type="checkbox" checked="" true-value="1" false-value="0" v-model.number="delivery_product.delivery_product_status">{{ +key + 1 }}
                                                    </td>
                                                    <td>
                                                        {{ delivery_product.product_code }}
                                                    </td>
                                                    <td>
                                                        {{ delivery_product.product_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ delivery_product.sales_rate_exc.toFixed(2) }}
                                                    </td>
                                                    <td class="text-right">{{ 
                                                        delivery_product.sales_rate_inc.toFixed(2) }}
                                                    </td>
                                                    <td class="text-right" v-if="setting.discounts_in == 'inc'">
                                                        {{ delivery_product.tax.tax_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ delivery_product.discount.toFixed(2) }} 
                                                        {{ delivery_product.discount_type }}
                                                    </td>
                                                    <td class="text-right" v-if="setting.discounts_in == 'exc'">
                                                        {{ delivery_product.tax.tax_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ delivery_product.quantity.toFixed(2) }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ delivery_product.amount.toFixed(2) }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td rowspan="3" colspan="5">
                                                        <strong>Terms and Conditions : </strong><br>
                                                        {{ delivery.terms }}
                                                    </td>
                                                    <th class="text-right" colspan="2">Sub Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ delivery.sub_total.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr v-if="setting.discounts_in == 'inc'">
                                                    <th class="text-right" colspan="2">Tax</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ delivery.tax_amount.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Discount</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ delivery.discount_amount.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr v-if="setting.discounts_in == 'exc'">
                                                    <th class="text-right" colspan="2">Tax</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ delivery.tax_amount.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td rowspan="3" colspan="5">
                                                        <strong>Note : </strong><br>
                                                        {{ delivery.note }}
                                                    </td>
                                                    <th class="text-right" colspan="2">Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ delivery.total_amount.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Round off</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ delivery.round_off.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Grand Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ delivery.grand_total.toFixed(2) }}
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <taxable v-if="Object.keys(delivery).length>0" :products="delivery.delivery_products" :taxtype="delivery.source_id!=delivery.destination_id?'IGST':'GST'" :setting="setting"/>
                            </div>
                            </div>
                            <div class="card-footer" v-show="convert_status==1">
                                <div class="card-header-actions">
                                    <button class="btn btn-sm btn-danger" type="button" @click="discard"><i class="fa fa-ban"></i> Discard</button>
                                    <button class="btn btn-sm btn-success" @click="convertToInvoice">Convert Delivery To Invoice</button>
                                    <button class="btn btn-sm btn-success" @click="convertToDeliveryReturn">Convert Delivery To Delivery Return</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    import { Taxable } from '../modal/taxable'
    export default{
        components: { Taxable },
        props: ['org','setting'],
        data(){
            return{
                convert_status:0,
                delivery:{},
                redirect_back:'',
                errors:{}
            }
        },

        beforeRouteEnter(to, from, next) {
            axios.post(`delivery/view/${to.params.delivery_id}`)
            .then(function (response) {
                next(vm => {
                    vm.delivery = response.data,
                    vm.redirect_back = from.path
                })
            })
            .catch(function (error) {
                vm.toast(error.message,'error')
            });
        },
        
        methods:{
            preview() {
                let vm = this;
                vm.$router.push(`/delivery/preview/${vm.delivery.delivery_id}`);
            },

            edit() {
                let vm = this;
                vm.$router.push(`/delivery/edit/${vm.delivery.delivery_id}`);
            },

            destroy(){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post(`delivery/destroy/${vm.delivery.delivery_id}`)
                    .then(function (response) {
                        vm.$vDialog.close(null, key),
                        vm.toast("DeliveryChallan successfully deleted","success"),
                        vm.$router.push('/delivery/display')
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },
            
            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            },
            convert(){
                let vm = this;
                vm.delivery.delivery_products.forEach(function(value){
                    vm.$set(value,'delivery_product_status',1);
                });
                vm.$set(vm.$data,'convert_status',1);
            },
            convertToInvoice(){
                let vm = this;
                let deli_prods = vm.delivery.delivery_products.filter(function(val){
                    return parseInt(val.delivery_product_status);
                }).map(function(val){
                    return val.delivery_product_id;
                });
                if(deli_prods.length>0){
                    this.$router.push({path:'/delivery/convert/invoice/', query: { query: JSON.stringify(deli_prods)}});    
                }else{
                    vm.toast('Error','error')
                }
            }, 
            convertToDeliveryReturn(){
                let vm = this;
                let deli_prods = vm.delivery.delivery_products.filter(function(val){
                    return parseInt(val.delivery_product_status);
                }).map(function(val){
                    return val.delivery_product_id;
                });
                if(deli_prods.length>0){
                    this.$router.push({path:'/delivery/convert/delivery_return/', query: { query: JSON.stringify(deli_prods)}});    
                }else{
                    vm.toast('Error','error')
                }
            }, 
            discard(){
                let vm = this;
                vm.delivery.delivery_products.forEach(function(value){
                    vm.$set(value,'delivery_product_status',0);
                });
                vm.$set(vm.$data,'convert_status',0);
            },
        },
     }
</script>