<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Configuration</li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-4 col-xl-4">
                        <div class="card">
                            <div class="card-header">
                                <i class="nav-icon icon-settings"></i> Configuration
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <router-link to="/organization">
                                        Organization
                                    </router-link>
                                </li>
                                <li class="list-group-item">
                                    <router-link to="/master">
                                        Master
                                    </router-link>
                                </li>
                                <li class="list-group-item">
                                    <router-link to="/place">
                                        Places
                                    </router-link>
                                </li>
                                <li class="list-group-item">
                                    <router-link to="/tax">
                                        Tax
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xl-4">
                        <div class="card">
                            <div class="card-header">
                                <i class="nav-icon icon-settings"></i> Configuration
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <router-link to="/account">
                                        Accounts
                                    </router-link>
                                </li>
                                <li class="list-group-item">
                                    <router-link to="/term">
                                        Terms
                                    </router-link>
                                </li>
                                <li class="list-group-item">
                                    <router-link to="/payment_term">
                                        Payment Terms
                                    </router-link>
                                </li>
                                <li class="list-group-item">
                                    <router-link to="/points">
                                       Points
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xl-4" v-if="Object.keys(setting).length>0">
                        <div class="card">
                            <div class="card-header">
                                <i class="nav-icon icon-settings"></i> Configuration
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <router-link to="/settings">
                                        Settings
                                    </router-link>
                                </li>
                                <li class="list-group-item">
                                    <router-link to="/preference">
                                        Preferences
                                    </router-link>
                                </li>
                                <li class="list-group-item">
                                    <router-link to="/subscription">
                                        Subscription
                                    </router-link>
                                </li>
                                <li class="list-group-item" v-if="displayStatus('migrations')">
                                    <router-link to="/migration">
                                        Migration
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        props: ['setting'],
        methods:{
            displayStatus(mod){
                return _.get(this.setting,`${mod}`,false);
            },
        }
     }
</script>