<template>
	<footer class="app-footer">
       <!--  <div>
            <span>&copy; 2018 </span>
            <a target="_blank" href="https://www.stockbook.in">STOCK-BOOK</a>
        </div> -->
        <div class="ml-auto">
            <a target="_blank" href="http://mdbstech.com">STOCK-BOOK</a>
            <span>&copy; 2020 In Tech Private Limited.</span>
        </div>
    </footer>
</template>