<template>
    <header class="app-header navbar">
        <button class="navbar-toggler sidebar-toggler d-lg-none mr-auto" type="button" data-toggle="sidebar-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="#">
            <h5 class="navbar-brand-full" style="margin-top: 10px"><b>STOCK-BOOK</b></h5>
        </a>
        <button class="navbar-toggler sidebar-toggler d-md-down-none" type="button" data-toggle="sidebar-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="nav navbar-nav d-md-down-none">
            <li class="nav-item px-3">
                <a class="nav-link" href="#"><h5 style="margin-top: 10px"><b>{{ org.org_name }}</b></h5></a>
            </li>
            <li class="nav-item px-3">
                <router-link to="/home" class="nav-link">
                     Dashboard
                </router-link>
            </li>
            <li class="nav-item px-3">
                <router-link to="/user/display" class="nav-link">
                     Users
                </router-link>
            </li>
            <li class="nav-item px-3">
                
                <router-link to="/configuration" class="nav-link">
                     Configuration
                </router-link>
            </li>
        </ul>
        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item d-md-down-none">
                <span @click="getTotalFromTodaysInvoices" style="cursor: pointer"><i class="icon-refresh"></i> Today Amt: &#8377; <b id="totalFromTodaysInvoices">0</b></span>
            </li>
            <li class="nav-item d-md-down-none">
                <router-link to="/stock/get" class="nav-link">
                    <a class="nav-link" href="#" v-if="stock>0 || stock==0">
                        <i class="icon-bell"></i>
                        <span class="badge badge-pill badge-danger">{{stock}}</span>
                    </a>
                    <i class="fa fa-spinner fa-spin" v-else></i>
                </router-link>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                    <img class="img-avatar" :src="'public/img/user/'+user.avatar" alt="admin@bootstrapmaster.com">
                </a>
                <div class="dropdown-menu dropdown-menu-right">
                    <div class="dropdown-header text-center">
                        <strong>Account</strong>
                    </div>
                    <a class="dropdown-item" href="#">
                        <router-link to="/profile" class="nav-link"><i class="fa fa-user"></i> Profile</router-link></a>
                    <a class="dropdown-item" href="#">
                        <router-link to="/change_password" class="nav-link"><i class="fa fa-user"></i> Change Password</router-link></a>
                    <a class="dropdown-item" href="#" @click="Logout">
                        <i class="fa fa-lock"></i> Logout</a>
                </div>
            </li>
        </ul>
        <!-- <button class="navbar-toggler aside-menu-toggler d-md-down-none" type="button" data-toggle="aside-menu-lg-show">
            <span class="navbar-toggler-icon"></span>
        </button>
        <button class="navbar-toggler aside-menu-toggler d-lg-none" type="button" data-toggle="aside-menu-show">
            <span class="navbar-toggler-icon"></span>
        </button> -->
    </header>
</template>

<script>
    export default {
        props:['org','user'],
        data(){
            return{
                stock:0,
            }
        },
        mounted() {
            console.log('Component mounted.')
            this.get_stock();
            this.getTotalFromTodaysInvoices();
        },
        methods:{
            Logout(){
                axios.post('logout').then(function(response) {
                    location.reload();
                }).catch(function(error){
                    location.reload();
                });
            },
            get_stock() {
                let vm = this;
                axios.post('product/stock')
                .then(function (response) {
                    vm.stock = response.data.length
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },
            getTotalFromTodaysInvoices() {
                let vm = this;

                axios.get('invoice/report/total')
                .then(function (response) {
                    $("#totalFromTodaysInvoices").text(response.data);
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },
        }
    }
</script>