<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item">
                <a href="#">Admin</a>
            </li>
            <li class="breadcrumb-item active">Dashboard</li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-6 col-lg-3">
                        <div class="card">
                            <div class="card-body p-3 d-flex align-items-center">
                                <i class="fa fa-group bg-primary p-3 font-2xl mr-3"></i>
                                <div>
                                    <div class="text-value-sm text-primary">{{data.customers}}</div>
                                    <div class="text-muted text-uppercase font-weight-bold small">Customers</div>
                                </div>
                            </div>
                            <div class="card-footer px-3 py-2">
                                <a class="btn-block text-muted d-flex justify-content-between align-items-center" href="#">
                                    <i class="fa fa-angle-right"></i></router-link>
                                    <router-link :to="{ name: 'contact-display', params: { contact_type: 'Customer' }}">View More</router-link>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="card">
                            <div class="card-body p-3 d-flex align-items-center">
                                <i class="fa fa-group bg-success p-3 font-2xl mr-3"></i>
                                <div>
                                    <div class="text-value-sm text-success">{{data.vendors}}</div>
                                    <div class="text-muted text-uppercase font-weight-bold small">Vendors</div>
                                </div>
                            </div>
                            <div class="card-footer px-3 py-2">
                                <a class="btn-block text-muted d-flex justify-content-between align-items-center" href="#">
                                    <router-link :to="{ name: 'contact-display', params: { contact_type: 'Vendor' }}"><span class="small font-weight-bold">View More</span>
                                    <i class="fa fa-angle-right"></i></router-link>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="card">
                            <div class="card-body p-3 d-flex align-items-center">
                                <i class="fa fa-cog bg-danger p-3 font-2xl mr-3"></i>
                                <div>
                                    <div class="text-value-sm text-danger">{{data.categories}}</div>
                                    <div class="text-muted text-uppercase font-weight-bold small">Categories</div>
                                </div>
                            </div>
                            <div class="card-footer px-3 py-2">
                                <a class="btn-block text-muted d-flex justify-content-between align-items-center" href="#">
                                    <router-link :to="{ name: 'category'}"><span class="small font-weight-bold">View More</span>
                                    <i class="fa fa-angle-right"></i></router-link>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3">
                        <div class="card">
                            <div class="card-body p-3 d-flex align-items-center">
                                <i class="fa fa-cog bg-warning p-3 font-2xl mr-3"></i>
                                <div>
                                    <div class="text-value-sm text-warning">{{data.products}}</div>
                                    <div class="text-muted text-uppercase font-weight-bold small">Products</div>
                                </div>
                            </div>
                            <div class="card-footer px-3 py-2">
                                <a class="btn-block text-muted d-flex justify-content-between align-items-center" href="#">
                                    <router-link :to="{ name: 'product-display'}"><span class="small font-weight-bold">View More</span>
                                    <i class="fa fa-angle-right"></i></router-link>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" v-if="Object.keys(setting).length>0">
                    <div class="col-6 col-lg-3" v-if="displayStatus('purchase_orders')">
                        <div class="card">
                            <div class="card-body p-3 d-flex align-items-center">
                                <i class="fa fa-cog bg-primary p-3 font-2xl mr-3"></i>
                                <div>
                                    <div class="text-value-sm text-primary"> {{data.purchase_orders }}</i></div>
                                    <div class="text-muted text-uppercase font-weight-bold small">Purchase Orders</div>
                                </div>
                            </div>
                            <div class="card-footer px-3 py-2">
                                <a class="btn-block text-muted d-flex justify-content-between align-items-center" href="#">
                                    <router-link :to="{ name: 'purchase-order-display'}"><span class="small font-weight-bold">View More</span></router-link>
                                    <i class="fa fa-angle-right"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3" v-if="displayStatus('bills')">
                        <div class="card">
                            <div class="card-body p-3 d-flex align-items-center">
                                <i class="fa fa-cog bg-success p-3 font-2xl mr-3"></i>
                                <div>
                                    <div class="text-value-sm text-success">{{data.bills}}</i></div>
                                    <div class="text-muted text-uppercase font-weight-bold small">Bills</div>
                                </div>
                            </div>
                            <div class="card-footer px-3 py-2">
                                <a class="btn-block text-muted d-flex justify-content-between align-items-center" href="#">
                                    <router-link :to="{ name: 'bill-display'}"><span class="small font-weight-bold">View More</span>
                                    <i class="fa fa-angle-right"></i></router-link>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-lg-3" v-if="displayStatus('payments')">
                        <div class="card">
                            <div class="card-body p-3 d-flex align-items-center">
                                <i class="fa fa-cog bg-danger p-3 font-2xl mr-3"></i>
                                <div>
                                    <div class="text-value-sm text-danger">{{data.payments}}</i></div>
                                    <div class="text-muted text-uppercase font-weight-bold small">Payments</div>
                                </div>
                            </div>
                            <div class="card-footer px-3 py-2">
                                <a class="btn-block text-muted d-flex justify-content-between align-items-center" href="#">
                                    <router-link :to="{ name: 'payment-display'}"><span class="small font-weight-bold">View More</span>
                                    <i class="fa fa-angle-right"></i></router-link>
                                </a>
                            </div>
                        </div>
                    </div>
                     <div class="col-6 col-lg-3" v-if="displayStatus('quotations')">
                        <div class="card">
                            <div class="card-body p-3 d-flex align-items-center">
                                <i class="fa fa-cog bg-primary p-3 font-2xl mr-3"></i>
                                <div>
                                    <div class="text-value-sm text-primary">{{data.quotations}}</i></div>
                                    <div class="text-muted text-uppercase font-weight-bold small">Quotations</div>
                                </div>
                            </div>
                            <div class="card-footer px-3 py-2">
                                <a class="btn-block text-muted d-flex justify-content-between align-items-center" href="#">
                                    <router-link :to="{ name: 'quotation-display'}"><span class="small font-weight-bold">View More</span>
                                    <i class="fa fa-angle-right"></i></router-link>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row" v-if="Object.keys(setting).length>0">
                   <!--  <div class="col-6 col-lg-3" v-if="displayStatus('quotations')">
                        <div class="card">
                            <div class="card-body p-3 d-flex align-items-center">
                                <i class="fa fa-cog bg-primary p-3 font-2xl mr-3"></i>
                                <div>
                                    <div class="text-value-sm text-primary">{{data.quotations}}</i></div>
                                    <div class="text-muted text-uppercase font-weight-bold small">Quotations</div>
                                </div>
                            </div>
                            <div class="card-footer px-3 py-2">
                                <a class="btn-block text-muted d-flex justify-content-between align-items-center" href="#">
                                    <router-link :to="{ name: 'quotation-display'}"><span class="small font-weight-bold">View More</span>
                                    <i class="fa fa-angle-right"></i></router-link>
                                </a>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-6 col-lg-3" v-if="displayStatus('proformas')">
                        <div class="card">
                            <div class="card-body p-3 d-flex align-items-center">
                                <i class="fa fa-cog bg-success p-3 font-2xl mr-3"></i>
                                <div>
                                    <div class="text-value-sm text-success">{{data.proformas}}</i></div>
                                    <div class="text-muted text-uppercase font-weight-bold small">Proformas</div>
                                </div>
                            </div>
                            <div class="card-footer px-3 py-2">
                                <a class="btn-block text-muted d-flex justify-content-between align-items-center" href="#">
                                    <router-link :to="{ name: 'proforma-display'}"><span class="small font-weight-bold">View More</span>
                                    <i class="fa fa-angle-right"></i></router-link>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="col-6 col-lg-3" v-if="displayStatus('deliveries')">
                        <div class="card">
                            <div class="card-body p-3 d-flex align-items-center">
                                <i class="fa fa-cog bg-danger p-3 font-2xl mr-3"></i>
                                <div>
                                    <div class="text-value-sm text-danger">{{data.delivery_challans}}</i></div>
                                    <div class="text-muted text-uppercase font-weight-bold small">Delivery Challans</div>
                                </div>
                            </div>
                            <div class="card-footer px-3 py-2">
                                <a class="btn-block text-muted d-flex justify-content-between align-items-center" href="#">
                                    <router-link :to="{ name: 'delivery-display'}"><span class="small font-weight-bold">View More</span>
                                    <i class="fa fa-angle-right"></i></router-link>
                                </a>
                            </div>
                        </div>
                    </div> -->
                    <div class="col-6 col-lg-3" v-if="displayStatus('invoices')">
                        <div class="card">
                            <div class="card-body p-3 d-flex align-items-center">
                                <i class="fa fa-cog bg-warning p-3 font-2xl mr-3"></i>
                                <div>
                                    <div class="text-value-sm text-warning">{{data.invoices}}</i></div>
                                    <div class="text-muted text-uppercase font-weight-bold small">Invoices</div>
                                </div>
                            </div>
                            <div class="card-footer px-3 py-2">
                                <a class="btn-block text-muted d-flex justify-content-between align-items-center" href="#">
                                    <router-link :to="{ name: 'invoice-display'}"><span class="small font-weight-bold">View More</span>
                                    <i class="fa fa-angle-right"></i></router-link>
                                </a>
                            </div>
                        </div>
                    </div>

                     <div class="col-6 col-lg-3">
                        <div class="card">
                            <div class="card-body p-3 d-flex align-items-center">
                                <i class="fa fa-cog bg-danger p-3 font-2xl mr-3"></i>
                                <div>
                                    <div class="text-value-sm text-danger">{{data.redeem_points}}</i></div>
                                    <div class="text-muted text-uppercase font-weight-bold small">Redeem Points</div>
                                </div>
                            </div>
                            <div class="card-footer px-3 py-2">
                                <a class="btn-block text-muted d-flex justify-content-between align-items-center" href="#">
                                    <router-link to="/redeem_points"><span class="small font-weight-bold">View More</span>
                                    <i class="fa fa-angle-right"></i></router-link>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- <div class="card-group mb-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="h1 text-muted text-right mb-4">
                                <i class="icon-people"></i>
                            </div>
                            <div class="text-value">87.500</div>
                            <small class="text-muted text-uppercase font-weight-bold">Visitors</small>
                            <div class="progress progress-xs mt-3 mb-0">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="h1 text-muted text-right mb-4">
                                <i class="icon-user-follow"></i>
                            </div>
                            <div class="text-value">385</div>
                            <small class="text-muted text-uppercase font-weight-bold">New Clients</small>
                            <div class="progress progress-xs mt-3 mb-0">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="h1 text-muted text-right mb-4">
                                <i class="icon-basket-loaded"></i>
                            </div>
                            <div class="text-value">1238</div>
                            <small class="text-muted text-uppercase font-weight-bold">Products sold</small>
                            <div class="progress progress-xs mt-3 mb-0">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="h1 text-muted text-right mb-4">
                                <i class="icon-pie-chart"></i>
                            </div>
                            <div class="text-value">28%</div>
                            <small class="text-muted text-uppercase font-weight-bold">Returning Visitors</small>
                            <div class="progress progress-xs mt-3 mb-0">
                                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-body">
                            <div class="h1 text-muted text-right mb-4">
                                <i class="icon-speedometer"></i>
                            </div>
                            <div class="text-value">5:34:11</div>
                            <small class="text-muted text-uppercase font-weight-bold">Avg. Time</small>
                            <div class="progress progress-xs mt-3 mb-0">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        props: ['org','setting'],
        data(){
            return{
                // customers:{},
                // vendors:{},
                // categories:{},
                // products:{},
                data:[]
            }
        },

        beforeRouteEnter(to, from, next) {
            next(vm => {
                vm.get_dashboard_data();
            });
        },
        
        methods:{
            displayStatus(mod){
                return _.get(this.setting,`${mod}`,false);
            },
            get_dashboard_data(){
                let vm = this;
                axios.post('data/view')
                .then(function (response) {
                    vm.data = response.data;
                })
                .catch(function (error) {
                    //vm.toast(error.message,'error')
                });
            },
        }
     }
</script>