<template>
    <div class="sidebar">
        <nav class="sidebar-nav">
            <ul class="nav">
                <li class="nav-item">
                    <router-link to="/home" class="nav-link">
                        <i class="nav-icon icon-speedometer"></i> Home
                        <span class="badge badge-primary">NEW</span>
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/configuration" class="nav-link">
                        <i class="nav-icon icon-settings"></i> Configuration
                    </router-link>
                </li>
                <li class="nav-title">People</li>
                <li class="nav-item">
                    <router-link to="/user/display" class="nav-link">
                        <i class="nav-icon icon-user"></i> Users
                    </router-link>
                </li>
                <li class="nav-item" v-if="user.user_role=='Super Admin'">
                    <router-link to="/contact/display" class="nav-link">
                        <i class="nav-icon icon-people"></i> Contacts
                    </router-link>
                </li>
                
                <li class="nav-title">Inventory</li>
                <li class="nav-item">
                    <router-link to="/category" class="nav-link">
                        <i class="nav-icon icon-grid"></i> Categories
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/warehouse" class="nav-link">
                        <i class="nav-icon icon-home"></i> Warehouses
                    </router-link>
                </li>
                <li class="nav-item" v-if="user.user_role=='Super Admin'">
                    <router-link to="/product/display" class="nav-link">
                        <i class="nav-icon icon-settings"></i> Products
                    </router-link>
                </li>
                <li class="nav-title" v-if="Object.keys(setting).length>0">Purchase</li>
                <li class="nav-item"  v-if="setting.purchase_orders==1">
                    <router-link to="/purchase_order/display" class="nav-link">
                        <i class="nav-icon icon-settings"></i> Purchase Orders
                    </router-link>
                </li>
                <li class="nav-item" v-if="setting.bills==1 && user.user_role=='Super Admin'">
                    <router-link to="/bill/display" class="nav-link">
                        <i class="nav-icon icon-settings"></i>Purchase  Bills
                    </router-link>
                </li>
                <!-- <li class="nav-item" v-if="displayStatus('bill_returns')">
                    <router-link to="/bill_return/display" class="nav-link">
                        <i class="nav-icon icon-settings"></i>Purchase Bill Returns
                    </router-link>
                </li> -->
                <li class="nav-item" v-if="setting.payments==1">
                    <router-link to="/payment/display" class="nav-link">
                        <i class="nav-icon icon-settings"></i> Payments
                    </router-link>
                </li>
                <li class="nav-item"  v-if="setting.expenses==1">
                    <router-link to="/expense/display" class="nav-link">
                        <i class="nav-icon icon-settings"></i> Expense
                    </router-link>
                </li>
                <li class="nav-title" v-if="Object.keys(setting).length>0">Sales</li>
                <li class="nav-item"  v-if="setting.quotations==1">
                    <router-link to="/quotation/display" class="nav-link">
                        <i class="nav-icon icon-settings"></i> Quotations
                    </router-link>
                </li>
                <li class="nav-item"  v-if="setting.proformas==1">
                    <router-link to="/proforma/display" class="nav-link">
                        <i class="nav-icon icon-settings"></i> Proformas
                    </router-link>
                </li>
               <!--  <li class="nav-item" v-if="displayStatus('deliveries')">
                    <router-link to="/delivery/display" class="nav-link">
                        <i class="nav-icon icon-settings"></i> Delivery Challans
                    </router-link>
                </li>
                <li class="nav-item" v-if="displayStatus('delivery_returns')">
                    <router-link to="/delivery_return/display" class="nav-link">
                        <i class="nav-icon icon-settings"></i> Delivery Return
                    </router-link>
                </li> -->
                <li class="nav-item"  v-if="setting.invoices==1">
                    <router-link to="/invoice/display" class="nav-link">
                        <i class="nav-icon icon-settings"></i> Invoices
                    </router-link>
                </li>
                <li class="nav-item">
                    <router-link to="/redeem_points" class="nav-link">
                        <i class="nav-icon icon-people"></i> Redeem Points
                    </router-link>
                </li>
               <!--  <li class="nav-item" v-if="displayStatus('invoice_returns')">
                    <router-link to="/invoice_return/display" class="nav-link">
                        <i class="nav-icon icon-settings"></i> Invoice Return
                    </router-link>
                </li> -->
                <li class="nav-item"  v-if="setting.receipts==1">
                    <router-link to="/receipt/display" class="nav-link">
                        <i class="nav-icon icon-settings"></i> Receipts
                    </router-link>
                </li>
                <li class="nav-item"  v-if="setting.incomes==1">
                    <router-link to="/income/display" class="nav-link">
                        <i class="nav-icon icon-settings"></i> Income
                    </router-link>
                </li>
                <!-- <li class="nav-item" v-if="displayStatus('transactions')">
                    <router-link to="/transaction/create" class="nav-link">
                        <i class="nav-icon icon-settings"></i> Transaction
                    </router-link>
                </li> -->
                <li class="nav-item">
                    <router-link to="/report" class="nav-link">
                        <i class="nav-icon icon-settings"></i> Reports
                    </router-link>
                </li>
            </ul>
        </nav>
        <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>
</template>

<script>
    export default {
        props: ['setting','user'],
        methods:{
            displayStatus(mod){
                console.log(this.setting);
               return _.get(this.setting,`${mod}`,false);
            }
        }
    }
</script>