<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Reports</li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-4 col-xl-4" v-if="Object.keys(setting).length>0">
                        <div class="card">
                            <div class="card-header">
                                <i class="nav-icon icon-settings"></i> Purchase
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item" v-if="displayStatus('purchase_orders')">
                                    <router-link to="/purchase_order/report">
                                        PO Report
                                    </router-link>
                                </li>
                                <li class="list-group-item" v-if="displayStatus('bills')">
                                    <router-link to="/bill/report">
                                        Bill Report
                                    </router-link>
                                </li>
                                <!-- <li class="list-group-item" v-if="displayStatus('bill_returns')">
                                    <router-link to="/bill_return/report">
                                        Bill Return Report
                                    </router-link>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xl-4" v-if="Object.keys(setting).length>0">
                        <div class="card">
                            <div class="card-header">
                                <i class="nav-icon icon-settings"></i> Sales
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item" v-if="displayStatus('proformas')">
                                    <router-link to="/proforma/report">
                                        Proforma Report
                                    </router-link>
                                </li>
                                <li class="list-group-item" v-if="displayStatus('quotations')">
                                    <router-link to="/quotation/report">
                                        Quotation Report
                                    </router-link>
                                </li>
                               <!--  <li class="list-group-item" v-if="displayStatus('deliveries')">
                                    <router-link to="/delivery/report">
                                        Delivery Challan Report
                                    </router-link>
                                </li>
                                <li class="list-group-item" v-if="displayStatus('delivery_returns')">
                                    <router-link to="/delivery_return/report">
                                        Delivery Return Report
                                    </router-link>
                                </li> -->
                                <li class="list-group-item" v-if="displayStatus('invoices')">
                                    <router-link to="/invoice/report">
                                        Invoice Report
                                    </router-link>
                                </li>
                                <li class="list-group-item" >
                                    <router-link to="/points_report">
                                        Points Report
                                    </router-link>
                                </li>
                                <!-- <li class="list-group-item" v-if="displayStatus('invoice_returns')">
                                    <router-link to="/invoice_return/report">
                                        InvoiceReturn Report
                                    </router-link>
                                </li> -->
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xl-4" v-if="Object.keys(setting).length>0">
                        <div class="card">
                            <div class="card-header">
                                <i class="nav-icon icon-settings"></i> Inventory
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <router-link to="/product/stock_report">
                                        Stock Report
                                    </router-link>
                                </li>
                                <li class="list-group-item">
                                    <router-link to="/product/category_report">
                                        Category Report
                                    </router-link>
                                <li class="list-group-item" v-if="displayStatus('bills')">
                                    <router-link to="/bill/tax_report">
                                        Bill GST Report
                                    </router-link>
                                </li>
                                <li class="list-group-item">
                                    <router-link to="/invoice/tax_report">
                                        Invoice GST Report
                                    </router-link>
                                </li>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xl-4">
                        <div class="card">
                            <div class="card-header">
                                <i class="nav-icon icon-settings"></i> Contacts
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <router-link to="/contact/customer_report">
                                        Customer Report
                                    </router-link>
                                </li>
                                <li class="list-group-item">
                                    <router-link to="/contact/vendor_report">
                                        Vendor Report
                                    </router-link>
                                </li>
                                <li class="list-group-item">
                                    <router-link to="/contact/customer_outstanding_report">
                                        Customer Outstanding Report
                                    </router-link>
                                </li>
                                <li class="list-group-item">
                                    <router-link to="/contact/vendor_outstanding_report">
                                        Vendor Outstanding Report
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-4 col-xl-4" v-if="Object.keys(setting).length>0">
                        <div class="card">
                            <div class="card-header">
                                <i class="nav-icon icon-settings"></i> Transactions
                            </div>
                            <ul class="list-group">
                                <li class="list-group-item" v-if="displayStatus('incomes')">
                                    <router-link to="/income/report">
                                        Income
                                    </router-link>
                                </li>
                                <li class="list-group-item" v-if="displayStatus('expenses')">
                                    <router-link to="/expense/report">
                                        Expense
                                    </router-link>
                                </li>
                                <li class="list-group-item">
                                    <router-link to="/balance/report">
                                        Balance
                                    </router-link>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        props: ['setting'],
        methods:{
            displayStatus(mod){
                return _.get(this.setting,`${mod}`,false);
            }
        }
     }
</script>