<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Stock</strong>
                            </div>
                            
                            <div class="card-body">
                                
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Product Name</th>
                                            <th>Min Stock</th>
                                            <th>Stock Availability</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cursor" v-for="stock,key in stocks">
                                            <td class="text-center">
                                               {{ ++key }}
                                            </td>
                                            <td>
                                                {{ stock.product_name }}
                                            </td>
                                            <td>
                                                {{ stock.min_stock }}
                                            </td>
                                            <td>
                                                {{ stock.current_stock.opening_stock }}
                                            </td>
                                            <!-- <td v-text="stock.current_stock.opening_stock">
                                            </td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- <div class="card-footer" v-show="pagination.lastPage!=1">
                                <b-pagination align="right" size="md" @input="display" :total-rows="pagination.totalRows" :per-page="pagination.perPage" v-model="pagination.currentPage"></b-pagination>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        props: ['user', 'org','setting' ,'preference'],
        data(){
            return{
                stocks:{},
            }
        },
        mounted(){
            let vm = this;
            vm.get_stock();
        },
        methods:{
            get_stock() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('product/stock')
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.stocks = response.data
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },
            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>