<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Sales</li>
            <li class="breadcrumb-item">Receipts</li>
            <li class="breadcrumb-right">
                <router-link to="/receipt/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i> New Receipt
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Receipts</strong>
                            </div>
                            
                            <div class="card-body">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Search" v-model="pagination.search" @keyup="display()" ref="search">
                                </div>
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Receipt No</th>
                                            <th>Receipt Date</th>
                                            <th>Customer</th>
                                            <th>Account</th>
                                            <th>Payment Mode</th>
                                            <th class="text-right">Total Amount</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cursor" v-for="receipt,key in receipts" @click="view(receipt)">
                                            <td class="text-center">
                                                {{ pagination.from+key }}
                                            </td>
                                            <td>
                                                {{ receipt.receipt_no }}
                                            </td>
                                            <td>
                                                {{ receipt.receipt_date | moment("DD-MM-YYYY") }}
                                            </td>
                                            <td>
                                                {{ receipt.customer.contact_name }}
                                            </td>
                                            <td>
                                                {{ receipt.account.account_name }}
                                            </td>
                                            <td>
                                                {{ receipt.payment_mode }}
                                            </td>
                                            <td class="text-right">
                                                {{ receipt.total_amount | tofix }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer" v-show="pagination.lastPage!=1">
                                <b-pagination align="right" size="md" @input="display" :total-rows="pagination.totalRows" :per-page="pagination.perPage" v-model="pagination.currentPage"></b-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        data(){
            return{
                pagination:{
                    currentPage: 1,
                    totalRows: 0,
                    perPage: 1,
                    lastPage:1,
                    from: 1,
                    search: ''
                },
                receipts:{}
            }
        },

        mounted(){
            let vm = this;
            vm.$refs.search.focus()
            vm.display();
        },
        
        methods:{
            display() {
                let vm = this;
                axios.post('receipt/display?page=' + vm.pagination.currentPage + '&search=' + vm.pagination.search)
                .then(function (response) {
                    vm.receipts = response.data.data,
                    vm.pagination.totalRows = response.data.total
                    vm.pagination.from = response.data.from,
                    vm.pagination.perPage = response.data.per_page,
                    vm.pagination.lastPage = response.data.last_page
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            view(receipt) {
                let vm = this;
                vm.$router.push(`/receipt/view/${receipt.receipt_id}`);
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>