<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Sale</li>
            <li class="breadcrumb-item">Receipt</li>
            <li class="breadcrumb-right">
                <router-link to="/receipt/display" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button @click="preview" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-file-pdf-o"></i>
                </button>
                <router-link to="/receipt/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i>
                </router-link>
                <button @click="destroy" type="button" class="btn btn-xs btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Receipt : 
                                <strong>{{ receipt.receipt_no }}</strong>
                            </div>
                            <div class="card-body">
                                <div class="row mb-1">
                                    <div class="col-sm-4">
                                        <h6 class="mb-1">From:</h6>
                                        <div>
                                            <strong>{{ org.org_name }}</strong>
                                        </div>
                                        <div>{{ org.address }}</div>
                                        <div>Email: {{ org.email }}</div>
                                        <div>Phone: {{ org.mobile_no }}</div>
                                        <div>PAN: {{ org.pan_no }}</div>
                                        <div>GSTIN: {{ org.gstin_no }}</div>
                                    </div >

                                    <div class="col-sm-4">
                                        <h6 class="mb-1">To:</h6>
                                        <div>
                                            <strong>{{ receipt.customer.contact_name }}</strong>
                                        </div>
                                        <div>{{ receipt.billing_address }}</div>
                                        <div>Email: {{ receipt.customer.email }}</div>
                                        <div>Phone: {{ receipt.customer.mobile_no }}</div>
                                        <div>PAN: {{ receipt.customer.pan_no }}</div>
                                        <div>GSTIN: {{ receipt.customer.gstin_no }}</div>
                                    </div>

                                    <div class="col-sm-4">
                                        <h6 class="mb-1">Details:</h6>
                                        <div>
                                            Receipt No : <strong>{{ receipt.receipt_no }}</strong>
                                        </div>
                                        <div>
                                            Receipt Date : {{ receipt.receipt_date | moment("DD-MM-YYYY") }}
                                        </div>
                                        <div>
                                            Account : {{ receipt.account.account_name }}
                                        </div>
                                        <div>
                                            Payment Mode : {{ receipt.payment_mode }}
                                        </div>
                                        <div>
                                            Ref No : {{ receipt.reference_no }}
                                        </div>
                                        <div>
                                            Ref Date : {{ receipt.reference_date | moment("DD-MM-YYYY") }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>Invoice No</th>
                                                    <th>Invoice Date</th>
                                                    <th class="text-right">Sub Total</th>
                                                    <th class="text-right">Discount Amount</th>
                                                    <th class="text-right">Tax Amount</th>
                                                    <th class="text-right">Round Off</th>
                                                    <th class="text-right">Grand Total</th>
                                                    <th class="text-right">Paid Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="receipt_particular, key in receipt.receipt_particulars">
                                                    <td class="text-center">
                                                        {{ ++key }}
                                                    </td>
                                                    <td>
                                                        {{ receipt_particular.invoice.invoice_no }}
                                                    </td>
                                                    <td>
                                                        {{ receipt_particular.invoice.invoice_date | moment("DD-MM-YYYY") }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ receipt_particular.invoice.sub_total.toFixed(2) }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ receipt_particular.invoice.discount_amount.toFixed(2) }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ receipt_particular.invoice.tax_amount.toFixed(2) }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ receipt_particular.invoice.round_off.toFixed(2) }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ receipt_particular.invoice.grand_total.toFixed(2) }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ receipt_particular.paid_amount.toFixed(2) }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th colspan="8" class="text-right">Total</th>
                                                    <th class="text-right">
                                                        {{ receipt.total_amount.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th colspan="5">
                                                        <strong>Terms and Conditions : </strong><br>
                                                        {{ receipt.terms }}
                                                    </th>
                                                    <th colspan="4">
                                                        <strong>Note : </strong><br>
                                                        {{ receipt.note }}
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        props: ['org'],
        data(){
            return{
                receipt:{},
                errors:{}
            }
        },

        beforeRouteEnter(to, from, next) {
            axios.post(`receipt/view/${to.params.receipt_id}`)
            .then(function (response) {
                next(vm => vm.receipt = response.data)
            })
            .catch(function (error) {
                vm.toast(error.message,'error')
            });
        },
        
        methods:{
            preview() {
                let vm = this;
                vm.$router.push(`/receipt/preview/${vm.receipt.receipt_id}`);
            },

            edit() {
                let vm = this;
                vm.$router.push(`/receipt/edit/${vm.receipt.receipt_id}`);
            },

            destroy(){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post(`receipt/destroy/${vm.receipt.receipt_id}`)
                    .then(function (response) {
                        vm.$vDialog.close(null, key),
                        vm.toast("Receipt successfully deleted","success"),
                        vm.$router.push('/receipt/display')
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
     }
</script>