<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">
                <router-link to="/configuration">
                    Configuration
                </router-link>
            </li>
            <li class="breadcrumb-item">Accounts</li>
            <li class="breadcrumb-right">
                <router-link to="/configuration" class="btn btn-xs btn-primary">
                    <i class="fa fa-cog"></i> Configuration
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <strong v-if="status==0">New Account</strong>
                                <strong v-if="status==1">Update Account</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="account_code">Account code *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.account_code}"  v-model="account.account_code" type="text" placeholder="Account Code" ref="account_code">
                                            <div v-if="errors.account_code" class="invalid-feedback">{{ errors.account_code[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="account_name">Account Name *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.account_name}" v-model="account.account_name"   type="text"  placeholder="Account Name">
                                            <div v-if="errors.account_name" class="invalid-feedback">{{ errors.account_name[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="account_no">Account No</label>
                                            <input class="form-control" :class="{'is-invalid': errors.account_no}" v-model="account.account_no"  type="text" placeholder="Account No">
                                            <div v-if="errors.account_no" class="invalid-feedback">{{ errors.account_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="bank_name">Bank Name</label>
                                            <input class="form-control"  type="text" :class="{'is-invalid': errors.bank_name}" v-model="account.bank_name" placeholder="Bank Name" >
                                            <div v-if="errors.bank_name" class="invalid-feedback">{{ errors.bank_name[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="branch_name">Branch Name</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.branch_name}" v-model="account.branch_name"  placeholder="Branch Name" >
                                            <div v-if="errors.branch_name" class="invalid-feedback">{{ errors.branch_name[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="ifsc_code">IFSC Code</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.ifsc_code}" v-model="account.ifsc_code"  placeholder="IFSC Code">
                                            <div v-if="errors.ifsc_code" class="invalid-feedback">{{ errors.ifsc_code[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer" v-show="status==0">
                                <div class="card-header-actions">
                                    <button  class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button class="btn btn-sm btn-success" type="button" @click="save()">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                </div>
                            </div>
                            <div class="card-footer" v-show="status==1">
                                <div class="card-header-actions">
                                    <button class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <strong>Accounts</strong>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Search" v-model="pagination.search" @keyup="display()">
                                </div>
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Account Code</th>
                                            <th>Account Name</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="account,key in accounts">
                                            <td class="text-center">{{ pagination.from+key }}</td>
                                            <td>{{ account.account_code }}</td>
                                            <td>{{ account.account_name }}</td>
                                            <td class="text-center">
                                                <button class="btn btn-sm btn-success" @click="edit(account)">
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                                <button class="btn btn-sm btn-danger" @click="destroy(account)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer" v-show="pagination.lastPage!=1">
                                <b-pagination align="right" size="md" @input="display" :total-rows="pagination.totalRows" :per-page="pagination.perPage" v-model="pagination.currentPage"></b-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        data(){
            return{
                pagination:{
                    currentPage: 1,
                    totalRows: 0,
                    perPage: 1,
                    lastPage:1,
                    from: 1,
                    search: ''
                },
                status: 0,
                account:{
                    account_id:'',
                    account_code:'',
                    account_name:'',
                    account_no:'',
                    bank_name:'',
                    branch_name:'',
                    ifsc_code:'',

                },
                accounts:{},
                errors:{}
            }
        },

        mounted(){
            let vm = this;
            vm.discard();
        },
        
        methods:{
            discard(){
                let vm = this;
                vm.errors='',
                vm.account.account_code='',
                vm.account.account_name='',
                vm.account.account_no='',
                vm.account.bank_name='',
                vm.account.branch_name='',
                vm.account.ifsc_code='',
                vm.pagination.search='',
                vm.status=0,
                vm.$refs.account_code.focus(),
                vm.display()
            },

            display() {
                let vm = this;
                axios.post('account/display?page=' + vm.pagination.currentPage + '&search=' + vm.pagination.search)
                .then(function (response) {
                    vm.accounts = response.data.data,
                    vm.pagination.totalRows = response.data.total
                    vm.pagination.from = response.data.from,
                    vm.pagination.perPage = response.data.per_page,
                    vm.pagination.lastPage = response.data.last_page
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            save() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('account/store',this.account)
                .then(function (response) {
                    vm.discard(),
                    vm.$vDialog.close(null, key),
                    vm.toast("Account is successfully created","success");
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            edit(account){
                let vm = this;
                vm.account = account
                vm.status = 1,
                vm.$refs.account_no.focus()
            },

            update() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('account/update',this.account)
                .then(function (response) {
                    vm.discard(),
                    vm.$vDialog.close(null, key),
                    vm.toast("Account is successfully updated","success");
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            destroy(account){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post(`account/destroy/${account.account_id}`)
                    .then(function (response) {
                        vm.discard(),
                        vm.$vDialog.close(null, key),
                        vm.toast("Account is successfully deleted","success")
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>