<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Configuration</li>
            <li class="breadcrumb-item">Migration</li>
            <li class="breadcrumb-right">
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Migration Tables In New Database: 
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="text-center"></th>
                                                    <th class="text-center">#</th>
                                                    <th>Table Name</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="table, key in tables">
                                                	<td class="text-center">
                                                        <input type="checkbox" checked="" true-value="1" false-value="0" v-model.number="table.status">
                                                    </td>
                                                	<td class="text-center">{{ +key + 1 }}</td>
                                                    <td>{{ table.table_name }}</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="card-header-actions">
                                    <button class="btn btn-sm btn-danger" type="button" @click="discard"><i class="fa fa-ban"></i> Discard</button>
                                    <button class="btn btn-sm btn-success" @click="migrate">Migrate</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        data(){
            return{
            	// table_names:[],
            	tables:[],
                errors:{},
                temp:[]
            }
        },

        mounted(){
            let vm = this;
            vm.create_tables();
        },
        methods:{
        	create_tables(){
        		let vm = this;
                let key = vm.$vDialog.mask("Loading...");
        		axios.post('migrations/get_table_names')
                .then(function (response) {
                	_.forEach(response.data,function(value){
                		let val = Object.values(value);
                		let table = {};
                		table = Object.assign({},table,{
                			table_name:val[0],
        					status:0,
                		})
                		vm.tables.push(table);
                	});
                    vm.$vDialog.close(null, key)
                })
                .catch(function (error) {
                	vm.errors = error.response.data;
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
                
        	},
        	migrate(){
        		let vm = this;
                let key = vm.$vDialog.mask("Loading...");
        		let migrate_tables = _.filter(vm.tables,function(value){
        			return parseInt(value.status);
        		});
                axios.post('migrations/migrate_data',migrate_tables)
                .then(function (response) {
                    _.forEach(vm.tables,function(value){
                        vm.$set(value,'status',0);
                    });
                    vm.$vDialog.close(null, key),
                    vm.toast("Migration is successfully completed","success");
                })
                .catch(function (error) {
                	console.log(error.response.data)
                	vm.errors = error.response.data;
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
        	},
        	discard(){
                let vm = this;
                vm.errors=''
            },
            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>