<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">
                <router-link to="/configuration">
                    Configuration
                </router-link>
            </li>
            <li class="breadcrumb-item">Organization</li>
            <li class="breadcrumb-right">
                <router-link to="/configuration" class="btn btn-xs btn-primary">
                    <i class="fa fa-cog"></i> Configuration
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-header">
                                <strong>Update Organization</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="logo">Logo</label>
                                            <input type="file" name="logo" class="form-control" v-on:change="onImageChange($event)">
                                            <img  :src="organization.logo" class="img-responsive" height="100" width="100%">
                                        </div>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="header">Header</label>
                                            <input type="file" name="header" class="form-control" v-on:change="onImageChange($event)">
                                            <img :src="organization.header" class="img-responsive" height="100" width="100%">
                                        </div>
                                    </div> 
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="footer">Footer</label>
                                            <input type="file" name="footer" class="form-control" v-on:change="onImageChange($event)">
                                            <img :src="organization.footer" class="img-responsive" height="100" width="100%">
                                        </div>
                                    </div> 
                                </div>
                            </div>
                        </div>
                        
                      
                    </div>
                    <div class="col-sm-8">
                        <div class="card">
                              <div class="card-header">
                                <strong>Update Organization</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <div class="form-group">
                                            <label for="org_name">Organization Name *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.org_name}" v-model="organization.org_name" placeholder="Organization Name">
                                            <div v-if="errors.org_name" class="invalid-feedback">{{ errors.org_name[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="org_code">City *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.org_code}" v-model="organization.org_code" placeholder="City" ref="org_code">
                                            <div v-if="errors.org_code" class="invalid-feedback">{{ errors.org_code[0] }}</div>
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="email">Email *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.email}" v-model="organization.email"   type="text"  placeholder="Email">
                                            <div v-if="errors.email" class="invalid-feedback">{{ errors.email[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="mobile_no">Mobile No</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.mobile_no}" v-model="organization.mobile_no"  placeholder="Mobile No">
                                            <div v-if="errors.mobile_no" class="invalid-feedback">{{ errors.mobile_no[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="phone_no">Phone No </label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.phone_no}" v-model="organization.phone_no" placeholder="Phone No">
                                            <div v-if="errors.phone_no" class="invalid-feedback">{{ errors.phone_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="place_id">Place</label>
                                            <select class="form-control" :class="{'is-invalid': errors.place_id}" v-model="organization.place_id">
                                                <option value="">Select Place</option>
                                                <option v-for="place in places" :value="place.place_id">
                                                    {{ place.place_name }}
                                                </option>
                                            </select>
                                            <div v-if="errors.place_id" class="invalid-feedback">{{ errors.place_id[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="address">Address *</label>
                                            <textarea class="form-control" type="text" :class="{'is-invalid': errors.address}" v-model="organization.address"  placeholder="Address"></textarea>
                                            <div v-if="errors.address" class="invalid-feedback">{{ errors.address[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="pan_no">PAN No </label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.pan_no}" v-model="organization.pan_no" placeholder="PAN No">
                                            <div v-if="errors.pan_no" class="invalid-feedback">{{ errors.pan_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="gstin_no">GSTIN No </label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.gstin_no}" v-model="organization.gstin_no" placeholder="GSTIN No">
                                            <div v-if="errors.gstin_no" class="invalid-feedback">{{ errors.gstin_no[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="card-header-actions">
                                    <router-link to="/configuration" class="btn btn-sm btn-danger">
                                        <i class="fa fa-ban"></i> Discard
                                    </router-link>
                                    <button class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        data(){
            return{
                organization:{
                    org_id:'',
                    org_code:'',
                    org_name:'',
                    email:'',
                    mobile_no:'',
                    phone_no:'',
                    address:'',
                    mobile_no:'',
                    pan_no:'',
                    gstin_no:'',
                    place_id:'',
                    logo:'',
                    header:'',
                    footer:''
                },
                places:{},
                errors:{}
            }
        },

        mounted(){
            let vm = this;
            vm.get_organization()
        },

        methods:{
            get_organization() {
                let vm = this;
                axios.post('organization/get_organization')
                .then(function (response) {
                    vm.organization = response.data,
                    vm.organization.logo ='public/img/organization/'+response.data.logo,
                    vm.organization.header = 'public/img/organization/'+response.data.header,
                    vm.organization.footer = 'public/img/organization/'+response.data.footer,
                    vm.get_places()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            get_places() {
                let vm = this;
                axios.post('place/get_places')
                .then(function (response) {
                    vm.places = response.data
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            onImageChange(e) {
                e.preventDefault();
                let vm = this;
                let image = e.target.files[0]; 
                let reader = new FileReader();
                reader.readAsDataURL(image);
                if(e.target.attributes[1].nodeValue=='logo')
                {
                    reader.onload = (e) => {
                        this.organization.logo = e.target.result;
                    };
                }
                if(e.target.attributes[1].nodeValue=='header')
                {
                    reader.onload = (e) => {
                        this.organization.header = e.target.result;
                    };
                }
                if(e.target.attributes[1].nodeValue=='footer')
                {
                    reader.onload = (e) => {
                        this.organization.footer = e.target.result;
                    };
                }
               
            },

            // read(image){
            //     let reader = new FileReader();
            //     reader.readAsDataURL(image);
            //     console.log(image);
            //     reader.onload = (e) => {
            //        this.imagePreview  = e.target.result;
            //         this.organization.header = e.target.result;
            //         this.organization.footer = e.target.result;
            //     };
            // },

            update() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('organization/update',this.organization)
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.toast("Organization is successfully updated","success");
                    vm.$emit('windowreload');
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>