<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">
                <router-link to="/configuration">
                    Configuration
                </router-link>
            </li>
            <li class="breadcrumb-item">Places</li>
            <li class="breadcrumb-right">
                <router-link to="/configuration" class="btn btn-xs btn-primary">
                    <i class="fa fa-cog"></i> Configuration
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-header">
                                <strong v-if="status==0">New Place</strong>
                                <strong v-if="status==1">Update Place</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="place_code">Place Code *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.place_code}" type="text" v-model="place.place_code" placeholder="Place Code" ref="place_code">
                                            <div v-if="errors.place_code" class="invalid-feedback">{{ errors.place_code[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="place_name">Place Name *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.place_name}" type="text" v-model="place.place_name" placeholder="Place Name">
                                            <div v-if="errors.place_name" class="invalid-feedback">{{ errors.place_name[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer" v-show="status==0">
                                <div class="card-header-actions">
                                    <button  class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button class="btn btn-sm btn-success" type="button" @click="save()">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                </div>
                            </div>
                            <div class="card-footer" v-show="status==1">
                                <div class="card-header-actions">
                                    <button  class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-header">
                                <strong>Places</strong>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Search" v-model="pagination.search" @keyup="display()">
                                </div>
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Place Code</th>
                                            <th>Place Name</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="place,key in places">
                                            <td class="text-center">{{ pagination.from+key }}</td>
                                            <td>{{ place.place_code }}</td>
                                            <td>{{ place.place_name }}</td>
                                            <td class="text-center">
                                                <button class="btn btn-sm btn-success" @click="edit(place)">
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                                <button class="btn btn-sm btn-danger" @click="destroy(place)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer" v-show="pagination.lastPage!=1">
                                <b-pagination align="right" size="md" @input="display" :total-rows="pagination.totalRows" :per-page="pagination.perPage" v-model="pagination.currentPage"></b-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        data(){
            return{
            	pagination:{
                    currentPage: 1,
                    totalRows: 0,
                    perPage: 1,
                    lastPage:1,
                    from: 1,
                    search: ''
                },
                status: 0,
                place:{
                	place_id:'',
                    place_code:'',
                    place_name:''
                },
                places:{},
                errors:{}
            }
        },

        mounted(){
            let vm = this;
            vm.discard();
        },
        
        methods:{
            discard(){
                let vm = this;
                vm.errors='',
                vm.place.place_code='',
                vm.place.place_name='',
                vm.place.search='',
                vm.status=0,
                vm.$refs.place_code.focus(),
                vm.display()
            },

            display() {
                let vm = this;
                axios.post('place/display?page=' + vm.pagination.currentPage + '&search=' + vm.pagination.search)
                .then(function (response) {
                    vm.places = response.data.data,
                    vm.pagination.totalRows = response.data.total
                    vm.pagination.from = response.data.from,
                    vm.pagination.perPage = response.data.per_page,
                    vm.pagination.lastPage = response.data.last_page
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            save() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('place/store',this.place)
                .then(function (response) {
                    vm.discard(),
                    vm.$vDialog.close(null, key),
                    vm.toast("place is successfully created","success");
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            edit(place){
                let vm = this;
                vm.place.place_id = place.place_id,
                vm.place.place_code = place.place_code,
                vm.place.place_name = place.place_name,
                vm.status = 1,
                vm.$refs.place_code.focus()
            },

            update() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('place/update',this.place)
                .then(function (response) {
                    vm.discard(),
                    vm.$vDialog.close(null, key),
                    vm.toast("place is successfully updated","success");
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            destroy(place){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post(`place/destroy/${place.place_id}`)
                    .then(function (response) {
                    	vm.discard(),
                        vm.$vDialog.close(null, key),
                        vm.toast("place is successfully deleted","success")
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>