<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Report</li>
            <li class="breadcrumb-item">Points</li>
            <li class="breadcrumb-right">
                <router-link to="/report" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button @click="pdf" type="button" class="btn btn-xs btn-primary">
                    PDF
                </button>
                <button @click="excel" type="button" class="btn btn-xs btn-primary">
                    Excel
                </button>
                <button v-b-modal.report type="button" class="btn btn-xs btn-primary">
                    Filter
                </button>
                <button @click="reset" type="button" class="btn btn-xs btn-danger">
                    Reset
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                	<div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>POINTS REPORT</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <iframe :src="report.source" width="100%" height="380" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="report" title="Report" @ok="filter">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="from_date">From Date *</label>
                        <input class="form-control" type="date" v-model="report.from_date" placeholder="From Date">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="to_date">To Date *</label>
                        <input class="form-control" type="date" v-model="report.to_date" placeholder="To Date">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="customer_id">Customer</label>
                        <contact :contact_type="report.contact_type" :initialize="report.contact_name" @input="selectContact($event)"></contact>
                        <br>
                            <div v-for="(customer,key) in report.customer_names" >{{ key+1 }}. {{ customer.contact_name }}
                            <button class="btn btn-sm btn-danger" @click="clear(customer,key)" type="button" >
                                <i class="fa fa-trash"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </b-modal>
    </main>
</template>
<script>
    import { Contact } from '../plugins/contact'
    export default{
        components: { Contact },
        props: ['org'],
        data(){
            return{
                report: {
                    from_date:new Date().toISOString().slice(0,10),
                    to_date:new Date().toISOString().slice(0,10),
                    // customer_id:'',
                    contact_name:'',
                    contact_type:'Customer',
                    display_type:'display',
                    source:'',
                    customers:[],
                    customer_id:[],
                    customer_names:[]
                },
                customers:[]
            }
        },
        mounted(){
            let vm = this;
            vm.getContacts();
        },
       
        methods:{
            getReport() {
                let vm = this;
                let source = 'points/report?from_date=' + vm.report.from_date + '&to_date=' + vm.report.to_date + '&customer_id=' + vm.report.customer_id + '&display_type=' + vm.report.display_type+ '&customers=' + vm.report.customers;
                vm.$set(vm.report,'source',source);
            },

            getContacts() {
                let vm = this;  
                axios.post('contact/get_contacts?contact_type=first')
                .then(function (response) {
                    const contact = response.data;
                    vm.report.customer_id.push(contact.contact_id);
                    vm.report.contact_name = contact.contact_name;
                    vm.report.customers.push(contact.contact_id);
                    vm.report.customer_names.push(contact);
                    vm.getReport();
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },
           
            selectContact(e) {
                let vm = this;
                let contact = e.target.value;
                vm.report.customer_id.push(contact.contact_id);
                vm.report.contact_name = contact.contact_name;
                vm.report.customers.push(contact.contact_id);
                vm.report.customer_names.push(contact);
            },
            reset() {
                let vm = this;
                vm.report.customers = [];
                vm.report.customer_names = [];
                vm.report.from_date = new Date().toISOString().slice(0,10),
                vm.report.to_date = new Date().toISOString().slice(0,10),
                vm.report.customer_id =[],
                vm.report.contact_name = '',
                vm.report.contact_type = 'Customer',
                vm.report.display_type = 'display',
                vm.getReport();
                vm.getContacts();
            },

            clear(customer,key){
                let vm = this;
                console.log(customer);
                vm.report.customer_names.splice(key, 1);

                vm.report.customer_id.splice(key,1);
                vm.report.contact_name ='';
            },

            filter() {
                let vm = this;
                vm.report.display_type = 'display';
                vm.getReport();
            },

            pdf() {
                let vm = this;
                vm.report.display_type='pdf';
                let source = 'points/report?from_date=' + vm.report.from_date + '&to_date=' + vm.report.to_date + '&customer_id=' + vm.report.customer_id + '&display_type=' + vm.report.display_type + '&customers=' + vm.report.customers;; ;
                vm.$set(vm.report,'source',source);
            },

            excel() {
                let vm = this;
                vm.report.display_type='excel';
                let source = 'points/report?from_date=' + vm.report.from_date + '&to_date=' + vm.report.to_date + '&customer_id=' + vm.report.customer_id + '&display_type=' + vm.report.display_type + '&customers=' + vm.report.customers;;;
                vm.$set(vm.report,'source',source);
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>