<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">
                <router-link to="/configuration">
                    Configuration
                </router-link>
            </li>
            <li class="breadcrumb-item">Preference</li>
            <li class="breadcrumb-right">
                <router-link to="/configuration" class="btn btn-xs btn-primary">
                    <i class="fa fa-cog"></i> Configuration
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                              <div class="card-header">
                                <strong>Update Preference</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="purchase_order_prefix">PO Prefix *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.purchase_order_prefix}" v-model="preference.purchase_order_prefix" placeholder="PO Prefix" ref="purchase_order_prefix">
                                            <div v-if="errors.purchase_order_prefix" class="invalid-feedback">{{ errors.purchase_order_prefix[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                       	<div class="form-group">
                                            <label for="purchase_order_no_length">PO No Length *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.purchase_order_no_length}" v-model="preference.purchase_order_no_length">
                                            <div v-if="errors.purchase_order_no_length" class="invalid-feedback">{{ errors.purchase_order_no_length[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                       	<div class="form-group">
                                            <label for="purchase_order_pdf">PO PDF *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.purchase_order_pdf}" v-model="preference.purchase_order_pdf">
                                                <option value="pdf1">pdf1</option>
                                                <<!-- option value="pdf2">pdf2</option>
                                                <option value="pdf3">pdf3</option>
                                                <option value="pdf4">pdf4</option>
                                                <option value="pdf5">pdf5</option> -->
                                            </select>
                                            <div v-if="errors.purchase_order_pdf" class="invalid-feedback">{{ errors.purchase_order_pdf[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            	<div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="quotation_prefix">Quotation Prefix *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.quotation_prefix}" v-model="preference.quotation_prefix" placeholder="Quotation Prefix" ref="quotation_prefix">
                                            <div v-if="errors.quotation_prefix" class="invalid-feedback">{{ errors.quotation_prefix[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                       	<div class="form-group">
                                            <label for="quotation_no_length">Quotation No Length *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.quotation_no_length}" v-model="preference.quotation_no_length">
                                            <div v-if="errors.quotation_no_length" class="invalid-feedback">{{ errors.quotation_no_length[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                       	<div class="form-group">
                                            <label for="quotation_pdf">Quotation PDF *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.quotation_pdf}" v-model="preference.quotation_pdf">
                                                <option value="pdf1">pdf1</option>
                                              <!--   <option value="pdf2">pdf2</option>
                                                <option value="pdf3">pdf3</option>
                                                <option value="pdf4">pdf4</option>
                                                <option value="pdf5">pdf5</option> -->
                                            </select>
                                            <div v-if="errors.quotation_pdf" class="invalid-feedback">{{ errors.quotation_pdf[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="proforma_prefix">Proforma Prefix *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.proforma_prefix}" v-model="preference.proforma_prefix" placeholder="Proforma Prefix" ref="proforma_prefix">
                                            <div v-if="errors.proforma_prefix" class="invalid-feedback">{{ errors.proforma_prefix[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                       	<div class="form-group">
                                            <label for="proforma_no_length">Proforma No Length *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.proforma_no_length}" v-model="preference.proforma_no_length">
                                            <div v-if="errors.proforma_no_length" class="invalid-feedback">{{ errors.proforma_no_length[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                       	<div class="form-group">
                                            <label for="proforma_pdf">Proforma PDF *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.proforma_pdf}" v-model="preference.proforma_pdf">
                                                <option value="pdf1">pdf1</option>
                                               <!--  <option value="pdf2">pdf2</option>
                                                <option value="pdf3">pdf3</option>
                                                <option value="pdf4">pdf4</option>
                                                <option value="pdf5">pdf5</option> -->
                                            </select>
                                            <div v-if="errors.proforma_pdf" class="invalid-feedback">{{ errors.proforma_pdf[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="invoice_prefix">Invoice Prefix *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.invoice_prefix}" v-model="preference.invoice_prefix" placeholder="Invoice Prefix" ref="invoice_prefix">
                                            <div v-if="errors.invoice_prefix" class="invalid-feedback">{{ errors.invoice_prefix[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                       	<div class="form-group">
                                            <label for="invoice_no_length">Invoice No Length *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.invoice_no_length}" v-model="preference.invoice_no_length">
                                            <div v-if="errors.invoice_no_length" class="invalid-feedback">{{ errors.invoice_no_length[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                       	<div class="form-group">
                                            <label for="invoice_pdf">Invoice PDF *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.invoice_pdf}" v-model="preference.invoice_pdf">
                                                <option value="pdf1">pdf1</option>
                                                <!-- <option value="pdf2">pdf2</option>
                                                <option value="pdf3">pdf3</option>
                                                <option value="pdf4">pdf4</option>
                                                <option value="pdf5">pdf5</option> -->
                                            </select>
                                            <div v-if="errors.invoice_pdf" class="invalid-feedback">{{ errors.invoice_pdf[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                               <!--  <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="delivery_prefix">Delivery Prefix *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.delivery_prefix}" v-model="preference.delivery_prefix" placeholder="Delivery Prefix" ref="delivery_prefix">
                                            <div v-if="errors.delivery_prefix" class="invalid-feedback">{{ errors.delivery_prefix[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                       	<div class="form-group">
                                            <label for="delivery_no_length">Delivery No Length *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.delivery_no_length}" v-model="preference.delivery_no_length">
                                            <div v-if="errors.delivery_no_length" class="invalid-feedback">{{ errors.delivery_no_length[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                       	<div class="form-group">
                                            <label for="delivery_pdf">Delivery PDF *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.delivery_pdf}" v-model="preference.delivery_pdf">
                                                <option value="pdf1">pdf1</option>
                                                <option value="pdf2">pdf2</option>
                                                <option value="pdf3">pdf3</option>
                                                <option value="pdf4">pdf4</option>
                                                <option value="pdf5">pdf5</option>
                                            </select>
                                            <div v-if="errors.delivery_pdf" class="invalid-feedback">{{ errors.delivery_pdf[0] }}</div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="receipt_prefix">Receipt Prefix *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.receipt_prefix}" v-model="preference.receipt_prefix" placeholder="Receipt Prefix" ref="receipt_prefix">
                                            <div v-if="errors.receipt_prefix" class="invalid-feedback">{{ errors.receipt_prefix[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                       	<div class="form-group">
                                            <label for="receipt_no_length">Receipt No Length *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.receipt_no_length}" v-model="preference.receipt_no_length">
                                            <div v-if="errors.receipt_no_length" class="invalid-feedback">{{ errors.receipt_no_length[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                       	<div class="form-group">
                                            <label for="receipt_pdf">Receipt PDF *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.receipt_pdf}" v-model="preference.receipt_pdf">
                                                <option value="pdf1">pdf1</option>
                                                <!-- <option value="pdf2">pdf2</option>
                                                <option value="pdf3">pdf3</option>
                                                <option value="pdf4">pdf4</option>
                                                <option value="pdf5">pdf5</option> -->
                                            </select>
                                            <div v-if="errors.receipt_pdf" class="invalid-feedback">{{ errors.receipt_pdf[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="voucher_prefix">Voucher Prefix*</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.voucher_prefix}" v-model="preference.voucher_prefix" placeholder="Voucher Prefix" ref="voucher_prefix">
                                            <div v-if="errors.voucher_prefix" class="invalid-feedback">{{ errors.voucher_prefix[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="voucher_no_length">Voucher No Length*</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.voucher_no_length}" v-model="preference.voucher_no_length">
                                            <div v-if="errors.voucher_no_length" class="invalid-feedback">{{ errors.voucher_no_length[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="voucher_pdf">Voucher PDF*</label>
                                            <select class="form-control" :class="{'is-invalid': errors.voucher_pdf}" v-model="preference.voucher_pdf">
                                                <option value="pdf1">pdf1</option>
                                               <!--  <option value="pdf2">pdf2</option>
                                                <option value="pdf3">pdf3</option>
                                                <option value="pdf4">pdf4</option>
                                                <option value="pdf5">pdf5</option> -->
                                            </select>
                                            <div v-if="errors.voucher_pdf" class="invalid-feedback">{{ errors.voucher_pdf[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                              <!--   <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="bill_return_prefix">BillReturn Prefix*</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.bill_return_prefix}" v-model="preference.bill_return_prefix" placeholder="BillReturn Prefix" ref="bill_return_prefix">
                                            <div v-if="errors.bill_return_prefix" class="invalid-feedback">{{ errors.bill_return_prefix[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="bill_return_no_length">BillReturn No Length*</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.bill_return_no_length}" v-model="preference.bill_return_no_length">
                                            <div v-if="errors.bill_return_no_length" class="invalid-feedback">{{ errors.bill_return_no_length[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="bill_return_pdf">BillReturn PDF*</label>
                                            <select class="form-control" :class="{'is-invalid': errors.bill_return_pdf}" v-model="preference.bill_return_pdf">
                                                <option value="pdf1">pdf1</option>
                                                <option value="pdf2">pdf2</option>
                                                <option value="pdf3">pdf3</option>
                                                <option value="pdf4">pdf4</option>
                                                <option value="pdf5">pdf5</option>
                                            </select>
                                            <div v-if="errors.bill_return_pdf" class="invalid-feedback">{{ errors.bill_return_pdf[0] }}</div>
                                        </div>
                                    </div>
                                </div> -->
                               <!--  <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="invoice_return_prefix">InvoiceReturn Prefix*</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.invoice_return_prefix}" v-model="preference.invoice_return_prefix" placeholder="InvoiceReturn Prefix" ref="invoice_return_prefix">
                                            <div v-if="errors.invoice_return_prefix" class="invalid-feedback">{{ errors.invoice_return_prefix[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="invoice_return_no_length">InvoiceReturn No Length*</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.invoice_return_no_length}" v-model="preference.invoice_return_no_length">
                                            <div v-if="errors.invoice_return_no_length" class="invalid-feedback">{{ errors.invoice_return_no_length[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="invoice_return_pdf">InvoiceReturn PDF*</label>
                                            <select class="form-control" :class="{'is-invalid': errors.invoice_return_pdf}" v-model="preference.invoice_return_pdf">
                                                <option value="pdf1">pdf1</option>
                                                <option value="pdf2">pdf2</option>
                                                <option value="pdf3">pdf3</option>
                                                <option value="pdf4">pdf4</option>
                                                <option value="pdf5">pdf5</option>
                                            </select>
                                            <div v-if="errors.invoice_return_pdf" class="invalid-feedback">{{ errors.invoice_return_pdf[0] }}</div>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="delivery_return_prefix">DeliveryReturn Prefix*</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.delivery_return_prefix}" v-model="preference.delivery_return_prefix" placeholder="DeliveryReturn Prefix" ref="delivery_return_prefix">
                                            <div v-if="errors.delivery_return_prefix" class="invalid-feedback">{{ errors.delivery_return_prefix[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="delivery_return_no_length">DeliveryReturn No Length*</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.delivery_return_no_length}" v-model="preference.delivery_return_no_length">
                                            <div v-if="errors.delivery_return_no_length" class="invalid-feedback">{{ errors.delivery_return_no_length[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="delivery_return_pdf">DeliveryReturn PDF*</label>
                                            <select class="form-control" :class="{'is-invalid': errors.delivery_return_pdf}" v-model="preference.delivery_return_pdf">
                                                <option value="pdf1">pdf1</option>
                                                <option value="pdf2">pdf2</option>
                                                <option value="pdf3">pdf3</option>
                                                <option value="pdf4">pdf4</option>
                                                <option value="pdf5">pdf5</option>
                                            </select>
                                            <div v-if="errors.delivery_return_pdf" class="invalid-feedback">{{ errors.delivery_return_pdf[0] }}</div>
                                        </div>
                                    </div>
                                </div> -->
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="fiscal_year">Fiscal Year*</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.fiscal_year}" v-model="preference.fiscal_year" placeholder="Fiscal Year" ref="fiscal_year">
                                            <div v-if="errors.fiscal_year" class="invalid-feedback">{{ errors.fiscal_year[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="discount_on">Discount-on*</label>
                                            <select class="form-control" :class="{'is-invalid': errors.discount_on}" v-model="preference.discount_on">
                                                <option value="Inclusive">Inclusive</option>
                                                <option value="Exclusive">Exclusive</option>
                                            </select>
                                            <div v-if="errors.discount_on" class="invalid-feedback">{{ errors.discount_on[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="inventory_on_calculation">Inventory-on-calculation*</label>
                                            <select class="form-control" :class="{'is-invalid': errors.inventory_on_calculation}" v-model="preference.inventory_on_calculation">
                                                <option value="Invoice">Invoice</option>
                                                <option value="Delivery Challan">Delivery Challan</option>
                                            </select>
                                            <div v-if="errors.inventory_on_calculation" class="invalid-feedback">{{ errors.inventory_on_calculation[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="allow_negative_stock">Allow Negative Stock*</label>
                                            <select class="form-control" :class="{'is-invalid': errors.allow_negative_stock}" v-model="preference.allow_negative_stock">
                                                <option value="Yes">Yes</option>
                                                <option value="No">No</option>
                                            </select>
                                            <div v-if="errors.allow_negative_stock" class="invalid-feedback">{{ errors.allow_negative_stock[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="printer_name">Printer Name*</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.printer_name}" v-model="preference.printer_name" placeholder="Printer Name" ref="printer_name">
                                            <div v-if="errors.printer_name" class="invalid-feedback">{{ errors.printer_name[0] }}</div>
                                        </div>
                                    </div>
                                     <div class="col-sm-4">
                                        <div class="form-group">
                                            <label for="min_redeem_points">Min Redeem Points *</label>
                                            <input class="form-control" type="text" :class="{'is-invalid': errors.min_redeem_points}" v-model="preference.min_redeem_points" placeholder="Min Redeem Points">
                                            <div v-if="errors.min_redeem_points" class="invalid-feedback">{{ errors.min_redeem_points[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="card-header-actions">
                                    <router-link to="/configuration" class="btn btn-sm btn-danger">
                                        <i class="fa fa-ban"></i> Discard
                                    </router-link>
                                    <button class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        data(){
            return{
                preference:{
                    purchase_order_prefix:'',
                    purchase_order_no_length:'',
                    purchase_order_pdf:'',
                    quotation_prefix:'',
                    quotation_no_length:'',
                    quotation_pdf:'',
                    proforma_prefix:'',
                    proforma_no_length:'',
                    proforma_pdf:'',
                    invoice_prefix:'',
                    invoice_no_length:'',
                    invoice_pdf:'',
                    delivery_prefix:'',
                    delivery_no_length:'',
                    delivery_pdf:'',
                    voucher_prefix:'',
                    voucher_no_length:'',
                    voucher_pdf:'',
                    receipt_prefix:'',
                    receipt_no_length:'',
                    receipt_pdf:'',
                    bill_return_prefix:'',
                    bill_return_no_length:'',
                    bill_return_pdf:'',
                    invoice_return_prefix:'',
                    invoice_return_no_length:'',
                    invoice_pdf:'',
                    delivery_return_prefix:'',
                    delivery_return_no_length:'',
                    delivery_return_pdf:'',
                    fiscal_year:'',
                    preference_id:'',
                    discount_on:'',
                    printer_name:'',
                    inventory_on_calculation:'',
                    allow_negative_stock:'',
                    min_redeem_points:'',
                },
                places:{},
                errors:{}
            }
        },

        mounted(){
            let vm = this;
            vm.get_preference()
        },

        methods:{
            get_preference() {
                let vm = this;
                axios.post('preference/get_preference')
                .then(function (response) {
                    vm.preference = response.data
                   
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            update() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('preference/update',this.preference)
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.toast("Preference is successfully updated","success");
                    vm.$emit('windowreload');
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>