<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">
                <router-link to="/configuration">
                    People
                </router-link>
            </li>
            <li class="breadcrumb-item">Redeem Points</li>
           <!--  <li class="breadcrumb-right">
                <router-link to="/configuration" class="btn btn-xs btn-primary">
                    <i class="fa fa-cog"></i> Configuration
                </router-link>
            </li> -->
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-4">
                        <div class="card">
                            <div class="card-header">
                                <strong v-if="status==0">New Redeem Points</strong>
                                <strong v-if="status==1">Update Redeem Points</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="redeem_date">Redeem Date *</label>
                                                <input type="date" class="form-control" :class="{'is-invalid': errors.redeem_date}" v-model="redeem_point.redeem_date" placeholder="Redeem Date">
                                                <div v-if="errors.redeem_date" class="invalid-feedback">{{ errors.redeem_date[0] }}</div>
                                            </div>
                                        </div>

                                	    <div class="col-sm-12" >
                                            <div class="form-group">
                                                <label for="barcode">Barcode</label>
                                                <input class="form-control" type="text" :class="{'is-invalid': errors.barcode}" v-model="redeem_point.barcode"  placeholder="Barcode" @keyup.enter="SetContact" ref="barcode" :disabled="status==1" @keyup="callTimer">
                                                <div v-if="errors.barcode" class="invalid-feedback">{{ errors.barcode[0] }}</div>
                                            </div>
                                        </div>

                                        <div class="col-sm-12" v-if="disablecontact=='0'">
                                            <div class="form-group">
                                                <label for="contact_id">
                                                    Customer *
                                                    <!-- <span class="cursor font-color"  v-b-modal.contact> New Customer </span>
                                                    <contactmodal :contact_type="redeem_point.contact_type"  @contact="selectContact($event)"/> -->
                                                </label>

                                                <contact :customClass="{'is-invalid': errors.contact_id}" :contact_type="redeem_point.contact_type" :initialize="redeem_point.contact_name"  @input="selectContact($event)" ref="contact_name"   ></contact>
                                                <div v-if="errors.contact_id" style="color: #f86c6b; font-size: 80%;">{{ errors.contact_id[0] }}</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12" v-else >
                                            <div class="form-group">
                                                <label for="contact_id"> Customer *</label>
                                                <input class="form-control" type="text" :class="{'is-invalid': errors.contact_name}" v-model="redeem_point.contact_name"  placeholder="Customer" disabled >
                                                <div v-if="errors.contact_name" class="invalid-feedback">{{ errors.contact_name[0] }}</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group">
                                                <label for="contact_points">Points *</label>
                                                <input class="form-control" :class="{'is-invalid': errors.contact_points}" type="text" v-model="redeem_point.contact_points" placeholder="Points" disabled>
                                                <span class="text-danger">Note: Min points should be atleast {{preference.min_redeem_points}}</span>
                                                <div v-if="errors.contact_points" class="invalid-feedback">{{ errors.contact_points[0] }}</div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                        <div class="form-group">
                                            <label for="redeem_points">Redeem Points *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.redeem_points}" type="text" v-model="redeem_point.redeem_points" placeholder="Redeem Points" :disabled="disableredeem==0">
                                            <div v-if="errors.redeem_points" class="invalid-feedback">{{ errors.redeem_points[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer" v-show="status==0">
                                <div class="card-header-actions">
                                    <button  class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button class="btn btn-sm btn-success" type="button" @click="save()">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                </div>
                            </div>
                            <div class="card-footer" v-show="status==1">
                                <div class="card-header-actions">
                                    <button  class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <div class="card">
                            <div class="card-header">
                                <strong>Redeem Points</strong>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Search" v-model="pagination.search" @keyup="display()">
                                </div>
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Customer</th>
                                            <th>Redeem Points</th>
                                            <th>Date</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="redeem_point,key in redeem_points">
                                            <td class="text-center">{{ pagination.from+key }}</td>
                                            <td>{{ redeem_point.customer.contact_name }}</td>
                                            <td>{{ redeem_point.redeem_points  }}</td>
                                             <td>
                                                {{ redeem_point.redeem_date | moment("DD-MM-YYYY") }}
                                            </td>
                                            <td class="text-center">
                                                <button class="btn btn-sm btn-success" @click="edit(redeem_point)">
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                                 <button class="btn btn-sm btn-primary" @click="print(redeem_point,'Duplicate')">
                                                    <i class="fa fa-file-pdf-o"></i>
                                                </button>
                                                <button class="btn btn-sm btn-danger" @click="destroy(redeem_point)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer" v-show="pagination.lastPage!=1">
                                <b-pagination align="right" size="md" @input="display" :total-rows="pagination.totalRows" :per-page="pagination.perPage" v-model="pagination.currentPage"></b-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
	import { Contact } from '../plugins/contact'

    export default{
         components: { Contact },
          props: ['preference'],
        data(){
            return{
            	pagination:{
                    currentPage: 1,
                    totalRows: 0,
                    perPage: 1,
                    lastPage:1,
                    from: 1,
                    search: ''
                },
                status: 0,
                disablecontact: 0,
                disableredeem: 0,
                redeem_point:{
                	redeem_point_id:'',
                    redeem_date:new Date().toISOString().slice(0,10),
                    contact_type:'Customer',
                    contact_id:'',
                    contact_name:'',
                    contact_points:0,
                    redeem_points:'',
                    barcode:'',
                },
                redeem_points:{},
                errors:{}
            }
        },

        mounted(){
            let vm = this;
            vm.discard();
        },
        
        methods:{
            discard(){
                let vm = this;
                vm.errors='',
                vm.redeem_point.contact_name='',
                vm.redeem_point.contact_id='',
                vm.redeem_point.contact_points='',
                vm.redeem_point.redeem_points='',
                vm.redeem_point.barcode='',
                vm.redeem_point.search='',
                vm.disablecontact=0,
                vm.disableredeem=0,
                vm.status=0,
                // vm.$refs.barcode.focus(),
                vm.display(),
                vm.getContacts()
            },

            display() {
                let vm = this;
                axios.post('redeem_points/display?page=' + vm.pagination.currentPage + '&search=' + vm.pagination.search)
                .then(function (response) {
                    vm.redeem_points = response.data.data,
                    vm.pagination.totalRows = response.data.total
                    vm.pagination.from = response.data.from,
                    vm.pagination.perPage = response.data.per_page,
                    vm.pagination.lastPage = response.data.last_page
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getContacts() {
                let vm = this;  
                axios.post('contact/get_contacts?contact_type=Customer')
                .then(function (response) {
                    vm.contacts = response.data
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            print(redeem_point,status) {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post(`redeem_points/print/${redeem_point.redeem_point_id}/${status}`)
                .then(function (response) {
                    vm.$vDialog.close(null, key)
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            callTimer() {
                clearTimeout(this.timeout);
                var self = this;
                this.timeout = setTimeout(function () {
                    self.SetContact()
                }, 500);
            },

            SetContact(){
                let vm = this;      
                const contact = vm.contacts.filter(function (el) {
                    return el.barcode == vm.redeem_point.barcode
                });
                if(contact!='')
                {
                    vm.redeem_point.contact_id = contact[0].contact_id;
                    vm.redeem_point.contact_name = contact[0].contact_name;
                    vm.redeem_point.contact_points = contact[0].points;
                    vm.disablecontact=1;
                    if(vm.redeem_point.contact_points>=vm.preference.min_redeem_points)
                    {
                        vm.disableredeem=1;
                    }
                }else{
                    vm.toast('Customer not present with the barcode','error')
                    vm.redeem_point.contact_id = '';
                    vm.redeem_point.contact_name = '';
                    vm.redeem_point.contact_points = '';
                    vm.redeem_point.barcode = '';
                    vm.disablecontact=0;
                }
            },

            selectContact(e) {
                let vm = this;
                const contact = e.target.value;
                vm.discard();
                vm.redeem_point.contact_id = contact.contact_id;
                vm.redeem_point.contact_name = contact.contact_name;
                vm.redeem_point.contact_points = contact.points;
                vm.redeem_point.barcode='';
                if(vm.redeem_point.contact_points>=vm.preference.min_redeem_points)
                {
                    vm.disableredeem=1;
                }
            },

            save() {
                let vm = this;
                if(vm.redeem_point.redeem_points<=vm.redeem_point.contact_points)
                {
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post('redeem_points/store',this.redeem_point)
                    .then(function (response) {
                        vm.discard(),
                        vm.$vDialog.close(null, key),
                        // vm.$emit('windowreload');
                        vm.toast("Redeem Points is successfully created","success");
                        vm.print(vm.redeem_point,'Original');
                    })
                    .catch(function(error) {
                        vm.errors = error.response.data.errors,
                        vm.$vDialog.close(null, key),
                        vm.toast(error.response.data.message,"error")
                    });
                }else{
                     vm.toast("Redeem Points should is to higher than required once's","error");
                }
            },

            edit(redeem_point){
                let vm = this;
                const contact = vm.contacts.filter(function (el) {
                    return el.contact_id == redeem_point.contact_id
                });
                vm.redeem_point.redeem_point_id = redeem_point.redeem_point_id,
                vm.redeem_point.contact_id = redeem_point.contact_id,
                vm.redeem_point.contact_name = redeem_point.customer.contact_name,
                vm.redeem_point.contact_points = contact[0].points,
                vm.redeem_point.barcode = redeem_point.barcode,
                vm.redeem_point.redeem_points = redeem_point.redeem_points,
                vm.status = 1
                if(vm.redeem_point.contact_points>=vm.preference.min_redeem_points)
                {
                    vm.disableredeem=1;
                }
                vm.disablecontact=1;
                // vm.$refs.barcode.focus()
            },

            update() {
                let vm = this;
                if(vm.redeem_point.redeem_points<=vm.redeem_point.contact_points)
                {
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post('redeem_points/update',this.redeem_point)
                    .then(function (response) {
                        vm.discard(),
                        vm.$vDialog.close(null, key),
                        vm.toast("Redeem Points is successfully updated","success");
                        vm.print(vm.redeem_point,'Original');
                    })
                    .catch(function(error) {
                        vm.errors = error.response.data.errors,
                        vm.$vDialog.close(null, key),
                        vm.toast(error.response.data.message,"error")
                    });
                }else{
                     vm.toast("Redeem Points should is to higher than required once's","error");
                }
               
            },

            destroy(redeem_point){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post(`redeem_points/destroy/${redeem_point.redeem_point_id}`)
                    .then(function (response) {
                    	vm.discard(),
                        vm.$vDialog.close(null, key),
                        vm.toast("Redeem Points is successfully deleted","success")
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>