<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">
                <router-link to="/configuration">
                    Configuration
                </router-link>
            </li>
            <li class="breadcrumb-item">Settings</li>
            <li class="breadcrumb-right">
                <router-link to="/configuration" class="btn btn-xs btn-primary">
                    <i class="fa fa-cog"></i> Configuration
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-group row" v-if="Object.keys(settings).length>0">
                                    <div class="col-md-12 col-form-label">
                                        <div class="col-md-3 form-check-inline mr-1">
                                            <input class="form-check-input" id="discounts_in" true-value="exc" false-value="inc" v-model="settings.discounts_in" checked="" type="checkbox">
                                            <label class="form-check-label">Discounts in {{ settings.discounts_in }}</label>
                                        </div>
                                        <div class="col-md-3 form-check-inline mr-1">
                                            <input class="form-check-input" id="enable_barcode" true-value="Yes" false-value="No" v-model="settings.enable_barcode" checked="" type="checkbox">
                                            <label class="form-check-label">Enable Barcode</label>
                                        </div>
                                        <!-- <div class="col-md-3 form-check-inline mr-1">
                                            <input class="form-check-input" id="migrations" true-value="1" false-value="0" v-model="settings.migrations" checked="" type="checkbox">
                                            <label class="form-check-label">Display Migrations</label>
                                        </div> -->
                                        <div class="col-md-4 form-check-inline mr-1">
                                            <input class="form-check-input" id="purchase_orders" true-value="1" false-value="0" v-model="settings.purchase_orders" checked="" type="checkbox">
                                            <label class="form-check-label">Display Purchase Orders</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-form-label">
                                        <div class="col-md-3 form-check-inline mr-1">
                                            <input class="form-check-input" id="bills" true-value="1" false-value="0" v-model="settings.bills" checked="" type="checkbox">
                                            <label class="form-check-label">Display Bills</label>
                                        </div>
                                        <!-- <div class="col-md-3 form-check-inline mr-1">
                                            <input class="form-check-input" id="bill_returns" true-value="1" false-value="0" v-model="settings.bill_returns" checked="" type="checkbox">
                                            <label class="form-check-label">Display Bill Returns</label>
                                        </div> -->
                                        <div class="col-md-3 form-check-inline mr-1">
                                            <input class="form-check-input" id="payments" true-value="1" false-value="0" v-model="settings.payments" checked="" type="checkbox">
                                            <label class="form-check-label">Display Payments</label>
                                        </div>
                                        <div class="col-md-2 form-check-inline mr-1">
                                            <input class="form-check-input" id="quotations" true-value="1" false-value="0" v-model="settings.quotations" checked="" type="checkbox">
                                            <label class="form-check-label">Display Quotations</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-form-label">
                                        <div class="col-md-3 form-check-inline mr-1">
                                            <input class="form-check-input" id="proformas" true-value="1" false-value="0" v-model="settings.proformas" checked="" type="checkbox">
                                            <label class="form-check-label">Display Proformas</label>
                                        </div>
                                        <!-- <div class="col-md-3 form-check-inline mr-1">
                                            <input class="form-check-input" id="deliveries" true-value="1" false-value="0" v-model="settings.deliveries" checked="" type="checkbox">
                                            <label class="form-check-label">Display Deliveries</label>
                                        </div> -->
                                        <!-- <div class="col-md-3 form-check-inline mr-1">
                                            <input class="form-check-input" id="delivery_returns" true-value="1" false-value="0" v-model="settings.delivery_returns" checked="" type="checkbox">
                                            <label class="form-check-label">Display Delivery Returns</label>
                                        </div> -->
                                        <div class="col-md-3 form-check-inline mr-1">
                                            <input class="form-check-input" id="invoices" true-value="1" false-value="0" v-model="settings.invoices" checked="" type="checkbox">
                                            <label class="form-check-label">Display Invoices</label>
                                        </div>
                                         <div class="col-md-3 form-check-inline mr-1">
                                            <input class="form-check-input" id="receipts" true-value="1" false-value="0" v-model="settings.receipts" checked="" type="checkbox">
                                            <label class="form-check-label">Display Receipts</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-form-label">
                                       <!--  <div class="col-md-3 form-check-inline mr-1">
                                            <input class="form-check-input" id="invoice_returns" true-value="1" false-value="0" v-model="settings.invoice_returns" checked="" type="checkbox">
                                            <label class="form-check-label">Display Invoice Returns</label>
                                        </div> -->
                                       <!--  <div class="col-md-3 form-check-inline mr-1">
                                            <input class="form-check-input" id="receipts" true-value="1" false-value="0" v-model="settings.receipts" checked="" type="checkbox">
                                            <label class="form-check-label">Display Receipts</label>
                                        </div> -->
                                        <div class="col-md-3 form-check-inline mr-1">
                                            <input class="form-check-input" id="incomes" true-value="1" false-value="0" v-model="settings.incomes" checked="" type="checkbox">
                                            <label class="form-check-label">Display Incomes</label>
                                        </div>
                                        <div class="col-md-3 form-check-inline mr-1">
                                            <input class="form-check-input" id="expenses" true-value="1" false-value="0" v-model="settings.expenses" checked="" type="checkbox">
                                            <label class="form-check-label">Display Expenses</label>
                                        </div>
                                        <div class="col-md-3 form-check-inline mr-1">
                                            <input class="form-check-input" id="enable_printer" true-value="1" false-value="0" v-model="settings.enable_printer" checked="" type="checkbox">
                                            <label class="form-check-label">Enable Printer</label>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-form-label">
                                       <!--  <div class="col-md-3 form-check-inline mr-1">
                                            <input class="form-check-input" id="transactions" true-value="1" false-value="0" v-model="settings.transactions" checked="" type="checkbox">
                                            <label class="form-check-label">Display Transactions</label>
                                        </div> -->
                                        <!-- <div class="col-md-3 form-check-inline mr-1">
                                            <input class="form-check-input" id="receipts" true-value="1" false-value="0" v-model="settings.receipts" checked="" type="checkbox">
                                            <label class="form-check-label">Display Receipts</label>
                                        </div>
                                        <div class="col-md-3 form-check-inline mr-1">
                                            <input class="form-check-input" id="incomes" true-value="1" false-value="0" v-model="settings.incomes" checked="" type="checkbox">
                                            <label class="form-check-label">Display Incomes</label>
                                        </div>
                                        <div class="col-md-2 form-check-inline mr-1">
                                            <input class="form-check-input" id="expenses" true-value="1" false-value="0" v-model="settings.expenses" checked="" type="checkbox">
                                            <label class="form-check-label">Display Expenses</label>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="card-header-actions">
                                    <button class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </main>
</template>
<script>
    export default{
        props: ['setting'],
        data(){
            return{
                settings:this.setting,
            }
        },

        methods:{
            update(){
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('settings/update',vm.settings)
                .then(function (response) {
                    vm.settings = response.data
                    vm.$vDialog.close(null, key),
                    vm.toast("Settings is successfully updated","success")
                    vm.$emit('windowreload')
                })
                .catch(function (error) {
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },
            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }

</script>
