<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">
                <router-link to="/configuration">
                    Configuration
                </router-link>
            </li>
            <li class="breadcrumb-item">Subscription</li>
            <li class="breadcrumb-right">
                <router-link to="/configuration" class="btn btn-xs btn-primary">
                    <i class="fa fa-cog"></i> Configuration
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <strong >Subscription</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-gup">
                                            <label for="subscription_key">Subscriotion key *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.subscription_key}" type="text" v-model="subscription.subscription_key" placeholder="Subscriotion key" ref="subscription_key">
                                            <div v-if="errors.subscription_key" class="invalid-feedback">{{ errors.subscription_key[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="no_of_days">No of days *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.no_of_days}" type="text" v-model="subscription.no_of_days" placeholder="No of days">
                                            <div v-if="errors.no_of_days" class="invalid-feedback">{{ errors.no_of_days[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="start_date">Start Date *</label>
                                            <input type="date" class="form-control" :class="{'is-invalid': errors.start_date}" v-model="subscription.start_date" placeholder="Start Date">
                                            <div v-if="errors.start_date" class="invalid-feedback">{{ errors.start_date[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="end_date">End Date *</label>
                                            <input type="date" class="form-control" :class="{'is-invalid': errors.end_date}" v-model="subscription.end_date" placeholder="End Date">
                                            <div v-if="errors.end_date" class="invalid-feedback">{{ errors.end_date[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer" >
                                <div class="card-header-actions">
                                    <button class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button class="btn btn-sm btn-success" type="button" @click="save()">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <strong>Subscrptions</strong>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Search"  v-model="pagination.search" @keyup="display()">
                                </div>
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Subscription Key</th>
                                            <th>Start Date</th>
                                            <th>End Date</th>
                                           
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="subscription,key in subscriptions">
                                            <td class="text-center">{{ pagination.from+key }}</td>
                                            <td>{{ subscription.subscription_key }}</td>
                                            <td>{{ subscription.start_date }}</td>
                                            <td>{{ subscription.end_date }}</td>
                                           
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer" v-show="pagination.lastPage!=1">
                                <b-pagination align="right" size="md" @input="display" :total-rows="pagination.totalRows" :per-page="pagination.perPage" v-model="pagination.currentPage"></b-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        data(){
            return{
                pagination:{
                    currentPage: 1,
                    totalRows: 0,
                    perPage: 1,
                    lastPage:1,
                    from: 1,
                    search: ''
                },
                subscription:{
                    subscription_id:'',
                    no_of_days:'',
                    subscription_key:'',
                    start_date:'',
                    end_date:'',
                },
                subscriptions:{},
                errors:{}
            }
        },

        mounted(){
            let vm = this;
            vm.discard();
        },
        
        methods:{

            discard(){
                let vm = this;
                vm.errors='',
                vm.subscription.subscription_key='',
                vm.subscription.no_of_days='',
                vm.subscription.start_date='',
                vm.subscription.end_date='',
                vm.pagination.search='',
                vm.$refs.subscription_key.focus(),
                vm.display()
                
            },

           

            save() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('subscription/store',this.subscription)
                .then(function (response) {
                    vm.discard(),
                    vm.$vDialog.close(null, key),
                    vm.toast("Subscription is successfully created","success");
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },


            display() {
                let vm = this;
                axios.post('subscription/display?page=' + vm.pagination.currentPage + '&search=' + vm.pagination.search)
                .then(function (response) {
                    vm.subscriptions = response.data.data,
                    vm.pagination.totalRows = response.data.total
                    vm.pagination.from = response.data.from,
                    vm.pagination.perPage = response.data.per_page,
                    vm.pagination.lastPage = response.data.last_page
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>