<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">
                <router-link to="/configuration">
                    Configuration
                </router-link>
            </li>
            <li class="breadcrumb-item">Taxes</li>
            <li class="breadcrumb-right">
                <router-link to="/configuration" class="btn btn-xs btn-primary">
                    <i class="fa fa-cog"></i> Configuration
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <strong v-if="status==0">New Tax</strong>
                                <strong v-if="status==1">Update Tax</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-gup">
                                            <label for="tax_name">Tax Name *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.tax_name}" type="text" v-model="tax.tax_name" placeholder="Tax Name" ref="tax_name">
                                            <div v-if="errors.tax_name" class="invalid-feedback">{{ errors.tax_name[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="tax_rate">Tax Rate *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.tax_rate}" type="text" v-model="tax.tax_rate" placeholder="Tax Rate">
                                            <div v-if="errors.tax_rate" class="invalid-feedback">{{ errors.tax_rate[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="cgst_name">CGST Name *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.cgst_name}" type="text" v-model="tax.cgst_name" placeholder="CGST Name">
                                            <div v-if="errors.cgst_name" class="invalid-feedback">{{ errors.cgst_name[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="cgst_rate">CGST Rate *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.cgst_rate}" type="text" v-model="tax.cgst_rate" placeholder="CGST Rate">
                                            <div v-if="errors.cgst_rate" class="invalid-feedback">{{ errors.cgst_rate[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="sgst_name">SGST Name *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.sgst_name}" type="text" v-model="tax.sgst_name" placeholder="SGST Name">
                                            <div v-if="errors.sgst_name" class="invalid-feedback">{{ errors.sgst_name[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="sgst_rate">SGST Rate *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.sgst_rate}" type="text" v-model="tax.sgst_rate" placeholder="SGST Rate">
                                            <div v-if="errors.sgst_rate" class="invalid-feedback">{{ errors.sgst_rate[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="igst_name">IGST Name *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.igst_name}" type="text" v-model="tax.igst_name" placeholder="IGST Name">
                                            <div v-if="errors.igst_name" class="invalid-feedback">{{ errors.igst_name[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="igst_rate">IGST Rate *</label>
                                            <input class="form-control" :class="{'is-invalid': errors.igst_rate}" type="text" v-model="tax.igst_rate" placeholder="IGST Rate">
                                            <div v-if="errors.igst_rate" class="invalid-feedback">{{ errors.igst_rate[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer" v-show="status==0">
                                <div class="card-header-actions">
                                    <button class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button class="btn btn-sm btn-success" type="button" @click="save()">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                </div>
                            </div>
                            <div class="card-footer" v-show="status==1">
                                <div class="card-header-actions">
                                    <button class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="card">
                            <div class="card-header">
                                <strong>Taxes</strong>
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Search" @keyup="display()" v-model="pagination.search">
                                </div>
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Tax Name</th>
                                            <th>SGST</th>
                                            <th>CGST</th>
                                            <th>IGST</th>
                                            <th class="text-center">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr v-for="tax,key in taxes">
                                            <td class="text-center">{{ pagination.from+key }}</td>
                                            <td>{{ tax.tax_name }}</td>
                                            <td>{{ tax.sgst_name }}</td>
                                            <td>{{ tax.cgst_name }}</td>
                                            <td>{{ tax.igst_name }}</td>
                                            <td class="text-center">
                                                <button class="btn btn-sm btn-success" @click="edit(tax)">
                                                    <i class="fa fa-pencil"></i>
                                                </button>
                                                <button class="btn btn-sm btn-danger" @click="destroy(tax)">
                                                    <i class="fa fa-trash"></i>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer" v-show="pagination.lastPage!=1">
                                <b-pagination align="right" size="md" @input="display" :total-rows="pagination.totalRows" :per-page="pagination.perPage" v-model="pagination.currentPage"></b-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        data(){
            return{
                pagination:{
                    currentPage: 1,
                    totalRows: 0,
                    perPage: 1,
                    lastPage:1,
                    from: 1,
                    search: ''
                },
                status: 0,
                tax:{
                    tax_id:'',
                    tax_name:'',
                    tax_rate:'',
                    cgst_name:'',
                    cgst_rate:'',
                    sgst_name:'',
                    sgst_rate:'',
                    igst_name:'',
                    igst_rate:'',
                },
                taxes:{},
                errors:{}
            }
        },

        mounted(){
            let vm = this;
            vm.discard();
        },
        
        methods:{

            discard(){
                let vm = this;
                vm.errors='',
                vm.tax.tax_name='',
                vm.tax.tax_rate='',
                vm.tax.sgst_name='',
                vm.tax.sgst_rate='',
                vm.tax.cgst_name='',
                vm.tax.cgst_rate='',
                vm.tax.igst_name='',
                vm.tax.igst_rate='',
                vm.pagination.search='',
                vm.status=0,
                vm.$refs.tax_name.focus(),
                vm.display()
            },

            display() {
                let vm = this;
                axios.post('tax/display?page=' + vm.pagination.currentPage + '&search=' + vm.pagination.search)
                .then(function (response) {
                    vm.taxes = response.data.data,
                    vm.pagination.totalRows = response.data.total
                    vm.pagination.from = response.data.from,
                    vm.pagination.perPage = response.data.per_page,
                    vm.pagination.lastPage = response.data.last_page
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            save() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('tax/store',this.tax)
                .then(function (response) {
                    vm.discard(),
                    vm.$vDialog.close(null, key),
                    vm.toast("Tax is successfully created","success");
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            edit(tax) {
                let vm = this;
                vm.tax = tax,
                vm.status=1
            },

            update() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('tax/update',this.tax)
                .then(function (response) {
                    vm.discard(),
                    vm.$vDialog.close(null, key),
                    vm.toast("Tax is successfully updated","success");
                })
                .catch(function(error) {
                    vm.errors = error.response.data.errors,
                    vm.$vDialog.close(null, key),
                    vm.toast(error.response.data.message,"error")
                });
            },

            destroy(tax){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post(`tax/destroy/${tax.tax_id}`)
                    .then(function (response) {
                        vm.discard(),
                        vm.$vDialog.close(null, key),
                        vm.toast("Tax is successfully deleted","success")
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>