<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Report</li>
            <li class="breadcrumb-item">Invoice</li>
            <li class="breadcrumb-right">
                <router-link to="/report" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button @click="pdf" type="button" class="btn btn-xs btn-primary">
                    PDF
                </button>
                <button @click="excel" type="button" class="btn btn-xs btn-primary">
                    Excel
                </button>
                <button v-b-modal.report type="button" class="btn btn-xs btn-primary">
                    Filter
                </button>
                <button @click="reset" type="button" class="btn btn-xs btn-danger">
                    Reset
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Invoice</strong>
                            </div>
                            <div class="card-body" v-show="report.display_type=='display' || report.display_type=='excel'">
                                <table id="datatable" class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center" colspan="11">Invoice REPORT</th>
                                        </tr>
                                        <tr>
                                            <td colspan="6">
                                                <div>
                                                    <strong>{{ org.org_name }}</strong>
                                                </div>
                                                <div>{{ org.address }}</div>
                                                <div>Email: {{ org.email }}</div>
                                                <div>Phone: {{ org.mobile_no }}</div>
                                                <div>PAN: {{ org.pan_no }}</div>
                                                <div>GSTIN: {{ org.gstin_no }}</div>
                                            </td>
                                            <td colspan="5">
                                                <div v-if="report.customer_id!='' && invoices.length!=0">
                                                    <div>
                                                        <strong>{{ invoices[0].customer.contact_name }}</strong>
                                                    </div>
                                                    <div>{{ invoices[0].customer.billing_address }}</div>
                                                    <div>Phone: {{ invoices[0].customer.mobile_no }}</div>
                                                    <div>GSTIN: {{ invoices[0].customer.gstin_no }}</div>
                                                </div>
                                                <div>From Date: {{ report.from_date | moment("DD-MM-YYYY") }}</div>
                                                <div>To Date: {{ report.to_date | moment("DD-MM-YYYY") }}</div>
                                                <div>User: {{ report.username }}</div>
                                            </td>
                                        </tr>
                                        <tr v-if="report.report_type=='Brief Report'">
                                            <th class="text-center">#</th>
                                            <th>Invoice Type</th>
                                            <th>Invoice No</th>
                                            <th>Invoice Date</th>
                                            <th>Customer</th>
                                            <th class="text-right">Sub Total</th>
                                            <th class="text-right" v-if="setting.discounts_in == 'inc'">Tax</th>
                                            <th class="text-right">Discount</th>
                                            <th class="text-right" v-if="setting.discounts_in == 'exc'">Tax</th>
                                            <th class="text-right">Total Amount</th>
                                            <th class="text-right">Round off</th>
                                            <th class="text-right">Grand Total</th>
                                        </tr>
                                    </thead>
                                    <tbody v-if="report.report_type=='Brief Report'">
                                        <tr v-for="invoice,key in invoices" @click="view(invoice)">
                                            <td class="text-center">
                                                {{ ++key }}
                                            </td>
                                            <td>
                                                {{ invoice.invoice_type }}
                                            </td>
                                            <td>
                                                {{ invoice.invoice_no }}
                                            </td>
                                            <td>
                                                {{ invoice.invoice_date | moment("DD-MM-YYYY") }}
                                            </td>
                                            <td>
                                                {{ invoice.customer.contact_name }}
                                            </td>
                                            <td class="text-right">
                                                {{ invoice.sub_total | tofix }}
                                            </td>
                                            <td class="text-right" v-if="setting.discounts_in == 'inc'">
                                                {{ invoice.tax_amount | tofix }}
                                            </td>
                                            <td class="text-right">
                                                {{ invoice.discount_amount | tofix }}
                                            </td>
                                            <td class="text-right" v-if="setting.discounts_in == 'exc'">
                                                {{ invoice.tax_amount | tofix }}
                                            </td>
                                            <td class="text-right">
                                                {{ invoice.total_amount | tofix }}
                                            </td>
                                            <td class="text-right">
                                                {{ invoice.round_off | tofix }}
                                            </td>
                                            <td class="text-right">
                                                {{ invoice.grand_total | tofix }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <th colspan="5" class="text-right">Total</th>
                                            <th class="text-right">{{ subTotal }}</th>
                                            <th class="text-right" v-if="setting.discounts_in == 'inc'">{{ taxAmount }}</th>
                                            <th class="text-right">{{ discountAmount }}</th>
                                            <th class="text-right" v-if="setting.discounts_in == 'exc'">{{ taxAmount }}</th>
                                            <th class="text-right">{{ totalAmount }}</th>
                                            <th class="text-right">{{ roundOff }}</th>
                                            <th class="text-right">{{ grandTotal }}</th>
                                        </tr>
                                    </tbody>
                                    <tbody v-if="report.report_type=='Detail Report'" v-for="invoice,k in invoices">
                                        <tr>
                                            <th :rowspan="invoice.invoice_products.length+9">{{ ++k }}</th>
                                        </tr>
                                        <tr>
                                            <td colspan="5">
                                                <h6 class="mb-1">To:</h6>
                                                <div>
                                                    <strong>{{ invoice.customer.contact_name }}</strong>
                                                </div>
                                                <div>{{ invoice.billing_address }}</div>
                                                <div>{{ invoice.shipping_address }}</div>
                                                <div>Email: {{ invoice.customer.email }}</div>
                                                <div>Phone: {{ invoice.customer.mobile_no }}</div>
                                                <div>PAN: {{ invoice.customer.pan_no }}</div>
                                                <div>GSTIN: {{ invoice.customer.gstin_no }}</div>
                                            </td>
                                            <td colspan="4">
                                                <h6 class="mb-1">Details:</h6>
                                                <div>
                                                    invoice No : <strong>{{ invoice.invoice_no }}</strong>
                                                </div>
                                                <div>
                                                    invoice Date : {{ invoice.invoice_date | moment("DD-MM-YYYY") }}
                                                </div>
                                                <div>
                                                    Ref No : {{ invoice.reference_no }}
                                                </div>
                                                <div>
                                                    Ref Date : {{ invoice.reference_date | moment("DD-MM-YYYY") }}
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>Product Code</th>
                                            <th>Product Name</th>
                                            <th class="text-right">S.Rate(Exc)</th>
                                            <th class="text-right">S.Rate(Inc)</th>
                                            <th class="text-right" v-if="setting.discounts_in == 'inc'">Tax</th>
                                            <th class="text-right">Discount</th>
                                            <th class="text-right" v-if="setting.discounts_in == 'exc'">Tax</th>
                                            <th class="text-right">Qty</th>
                                            <th class="text-right">Amount</th>
                                        </tr>
                                        <tr v-for="invoice_product, key in invoice.invoice_products">
                                            <td class="text-center">
                                                {{ +key + 1 }}
                                            </td>
                                            <td>
                                                {{ invoice_product.product_code }}
                                            </td>
                                            <td>
                                                {{ invoice_product.product_name }}
                                            </td>
                                            <td class="text-right">
                                                {{ invoice_product.sales_rate_exc | tofix }}
                                            </td>
                                            <td class="text-right">{{ 
                                                invoice_product.sales_rate_inc | tofix }}
                                            </td>
                                            <td class="text-right" v-if="setting.discounts_in == 'inc'">
                                                {{ invoice_product.tax.tax_name }}
                                            </td>
                                            <td class="text-right">
                                                {{ invoice_product.discount | tofix }} 
                                                {{ invoice_product.discount_type }}
                                            </td>
                                            <td class="text-right" v-if="setting.discounts_in == 'exc'">
                                                {{ invoice_product.tax.tax_name }}
                                            </td>
                                            <td class="text-right">
                                                {{ invoice_product.quantity | tofix }}
                                            </td>
                                            <td class="text-right">
                                                {{ invoice_product.amount | tofix }}
                                            </td>
                                        </tr>
                                        <tr>
                                            <td rowspan="3" colspan="5">
                                                <strong>Terms and Conditions : </strong><br>
                                                {{ invoice.terms }}
                                            </td>
                                            <th class="text-right" colspan="2">Sub Total</th>
                                            <th class="text-right" colspan="2">
                                                {{ invoice.sub_total | tofix }}
                                            </th>
                                        </tr>
                                        <tr v-if="setting.discounts_in == 'inc'">
                                            <th class="text-right" colspan="2">Tax</th>
                                            <th class="text-right" colspan="2">
                                                {{ invoice.tax_amount | tofix }}
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="text-right" colspan="2">Discount</th>
                                            <th class="text-right" colspan="2">
                                                {{ invoice.discount_amount | tofix }}
                                            </th>
                                        </tr>
                                        <tr v-if="setting.discounts_in == 'exc'">
                                            <th class="text-right" colspan="2">Tax</th>
                                            <th class="text-right" colspan="2">
                                                {{ invoice.tax_amount | tofix }}
                                            </th>
                                        </tr>
                                        <tr>
                                            <td rowspan="3" colspan="5">
                                                <strong>Note : </strong><br>
                                                {{ invoice.note }}
                                            </td>
                                            <th class="text-right" colspan="2">Total</th>
                                            <th class="text-right" colspan="2">
                                                {{ invoice.total_amount | tofix }}
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="text-right" colspan="2">Round off</th>
                                            <th class="text-right" colspan="2">
                                                {{ invoice.round_off | tofix }}
                                            </th>
                                        </tr>
                                        <tr>
                                            <th class="text-right" colspan="2">Grand Total</th>
                                            <th class="text-right" colspan="2">
                                                {{ invoice.grand_total | tofix }}
                                            </th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-body" v-show="report.display_type=='pdf'">
                                <div class="row">
                                    <iframe :src="report.source" width="100%" height="400" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="report" title="Report" @ok="filter">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="from_date">From Date *</label>
                        <input class="form-control" type="date" v-model="report.from_date" placeholder="From Date">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="to_date">To Date *</label>
                        <input class="form-control" type="date" v-model="report.to_date" placeholder="To Date">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group">
                        <label for="customer_id">Customer</label>
                        <contact :contact_type="report.contact_type" :initialize="report.contact_name" @input="selectContact($event)"></contact>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="username">User</label>
                        <select class="form-control"  v-model="report.username" >
                            <option value="">All User</option>
                            <option v-for="user in users" :value="user.username">
                                {{ user.name }}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="report_type">Report Type*</label>
                        <select class="form-control" v-model="report.report_type">
                            <option value="">Select Report Type</option>
                            <option value="Brief Report">Brief Report</option>
                            <option value="Detail Report">Detail Report</option>
                        </select>
                    </div>
                </div>
            </div>
        </b-modal>
    </main>
</template>
<script>
    import { Contact } from '../plugins/contact'
    export default{
        components: { Contact },
        props: ['org','setting'],
        data(){
            return{
                report: {
                    from_date:new Date().toISOString().slice(0,10),
                    to_date:new Date().toISOString().slice(0,10),
                    customer_id:'',
                    contact_name:'',
                    contact_type:'Customer',
                    display_type:'display',
                    report_type:'Brief Report',
                    master_name:'Invoice Type',
                    invoice_type:'',
                    username:'',
                    source:'',
                },
                invoices:{},
                users:[],
                invoice_products:{},
                invoice_types:{}
            }
        },

        mounted(){
            let vm = this;
            vm.getUsers();
            vm.getReport();
            vm.getInvoiceTypes();
        },

        computed:{
            subTotal: function(){
                return this.invoices.reduce((prev, cur) => +prev + +cur.sub_total, 0).toFixed(2);
            },

            discountAmount: function(){
                return this.invoices.reduce((prev, cur) => +prev + +cur.discount_amount, 0).toFixed(2);
            },

            taxAmount: function(){
                return this.invoices.reduce((prev, cur) => +prev + +cur.tax_amount, 0).toFixed(2);
            },

            totalAmount: function(){
                return this.invoices.reduce((prev, cur) => +prev + +cur.total_amount, 0).toFixed(2);
            },

            roundOff: function(){
                return this.invoices.reduce((prev, cur) => +prev + +cur.round_off, 0).toFixed(2);
            },

            grandTotal: function(){
                return this.invoices.reduce((prev, cur) => +prev + +cur.grand_total, 0).toFixed(2);
            }
        },
        
        methods:{
            getReport() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.get("invoice/report?from_date=" + vm.report.from_date + '&to_date=' + vm.report.to_date + '&customer_id=' + vm.report.customer_id + '&display_type=' + vm.report.display_type + '&report_type=' + vm.report.report_type + '&username=' + vm.report.username + '&invoice_type=' + vm.report.invoice_type)
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.invoices = response.data
                })
                .catch(function (error) {
                    vm.$vDialog.close(null, key),
                    vm.toast(error.message,'error')
                });
            },

            getUsers() {
                let vm = this;
                axios.post("get_users")
                .then(function (response) {
                    vm.users = response.data
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getInvoiceTypes() {
                let vm = this;
                axios.post('master/get_masters',vm.report)
                .then(function (response) {
                    vm.invoice_types = response.data
                    
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },


            selectContact(e) {
                let vm = this;
                const contact = e.target.value;
                vm.report.customer_id = contact.contact_id;
                vm.report.contact_name = contact.contact_name;
            },

            reset() {
                let vm = this;
                vm.report.from_date = new Date().toISOString().slice(0,10),
                vm.report.to_date = new Date().toISOString().slice(0,10),
                vm.report.customer_id ='',
                vm.report.contact_name = '',
                vm.report.contact_type = 'Customer',
                vm.report.display_type = 'display',
                vm.report.report_type = 'Brief Report',
                vm.report.username = '',
                vm.getReport()
            },

            filter() {
                let vm = this;
                vm.report.display_type = 'display';
                vm.getReport();
            },

            pdf() {
                let vm = this;
                vm.report.display_type='pdf';
                vm.report.source="invoice/report?from_date=" + vm.report.from_date + '&to_date=' + vm.report.to_date + '&customer_id=' + vm.report.customer_id + '&display_type=' + vm.report.display_type + '&report_type=' + vm.report.report_type + '&invoice_type=' + vm.report.invoice_type + '&username=' + vm.report.username ;
            },

            excel() {
                let vm = this;
                vm.report.display_type='excel';
                vm.report.source="invoice/report?from_date=" + vm.report.from_date + '&to_date=' + vm.report.to_date + '&customer_id=' + vm.report.customer_id + '&display_type=' + vm.report.display_type + '&report_type=' + vm.report.report_type + '&invoice_type=' + vm.report.invoice_type + '&username=' + vm.report.username;
            },

            view(inv){
                this.$router.push(`/invoice/view/${inv.invoice_id}`);
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>