<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Sale</li>
            <li class="breadcrumb-item">Invoice</li>
            <li class="breadcrumb-right" v-if="Object.keys(invoice).length>0">
                <router-link :to="redirect_back" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button @click="preview" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-file-pdf-o"></i>
                </button>
                <button v-if="setting.enable_printer=='1'" @click="print" type="button" class="btn btn-xs btn-success">
                    <i class="fa fa-file"></i>
                </button>
                <router-link to="/invoice/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i>
                </router-link>
                <button v-if="invoice.frontend_status.edit" @click="edit" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-edit"></i>
                </button>
                <button v-if="invoice.frontend_status.delete" @click="destroy" type="button" class="btn btn-xs btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
               <!--  <button class="btn btn-xs btn-success" @click="convert">
                    <i class="fa fa-refresh"></i>
                </button> -->
            </li> 
        </ol> 
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Invoice : 
                                <strong>{{ invoice.invoice_no }}</strong>
                                <div class="card-header-actions">
                                    <span class="badge badge-lg badge-primary">{{ invoice.invoice_status }}</span>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="row mb-1">
                                    <div class="col-sm-4">
                                        <h6 class="mb-1">From:</h6>
                                        <div>
                                            <strong>{{ org.org_name }}</strong>
                                        </div>
                                        <div>{{ org.address }}</div>
                                        <div>Email: {{ org.email }}</div>
                                        <div>Phone: {{ org.mobile_no }}</div>
                                        <div>PAN: {{ org.pan_no }}</div>
                                        <div>GSTIN: {{ org.gstin_no }}</div>
                                    </div >

                                    <div class="col-sm-4" v-if="Object.keys(invoice).length>0">
                                        <h6 class="mb-1">To:</h6>
                                        <div>
                                            <strong>{{ invoice.customer.contact_name }}</strong>
                                        </div>
                                        <div>{{ invoice.billing_address }}</div>
                                        <div>{{ invoice.shipping_address }}</div>
                                        <div>Email: {{ invoice.customer.email }}</div>
                                        <div>Phone: {{ invoice.customer.mobile_no }}</div>
                                        <div>PAN: {{ invoice.customer.pan_no }}</div>
                                        <div>GSTIN: {{ invoice.customer.gstin_no }}</div>
                                    </div>

                                    <div class="col-sm-4">
                                        <h6 class="mb-1">Details:</h6>
                                        <div>
                                            Invoice Type : <strong>{{ invoice.invoice_type }}</strong>
                                        </div>
                                        <div>
                                            Invoice No : <strong>{{ invoice.invoice_no }}</strong>
                                        </div>
                                        <div>
                                            Invoice Date : {{ invoice.invoice_date | moment("DD-MM-YYYY") }}
                                        </div>
                                        <div>
                                            Ref No : {{ invoice.reference_no }}
                                        </div>
                                        <div>
                                            Ref Date : {{ invoice.reference_date | moment("DD-MM-YYYY") }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>Product Code</th>
                                                    <th>Product Name</th>
                                                    <th class="text-right">S.Rate(Exc)</th>
                                                    <th class="text-right">S.Rate(Inc)</th>
                                                    <th class="text-right" v-if="setting.discounts_in == 'inc'">Tax</th>
                                                    <th class="text-right">Discount</th>
                                                    <th class="text-right" v-if="setting.discounts_in == 'exc'">Tax</th>
                                                    <th class="text-right">Qty</th>
                                                    <th class="text-right">Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody v-if="Object.keys(invoice).length>0">
                                                <tr v-for="invoice_product, key in invoice.invoice_products">
                                                    <td class="text-center">
                                                        <input v-if="convert_status==1" type="checkbox" checked="" true-value="1" false-value="0" v-model.number="invoice_product.invoice_product_status">{{ +key + 1 }}
                                                    </td>
                                                    <td>
                                                        {{ invoice_product.product_code }}
                                                    </td>
                                                    <td>
                                                        {{ invoice_product.product_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ invoice_product.sales_rate_exc | tofix }}
                                                    </td>
                                                    <td class="text-right">{{ 
                                                        invoice_product.sales_rate_inc | tofix }}
                                                    </td>
                                                    <td class="text-right" v-if="setting.discounts_in == 'inc'">
                                                        {{ invoice_product.tax.tax_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ invoice_product.discount | tofix }} 
                                                        {{ invoice_product.discount_type }}
                                                    </td>
                                                    <td class="text-right" v-if="setting.discounts_in == 'exc'">
                                                        {{ invoice_product.tax.tax_name }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ invoice_product.quantity | tofix }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ invoice_product.amount | tofix }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td rowspan="3" colspan="5">
                                                        <strong>Terms and Conditions : </strong><br>
                                                        {{ invoice.terms }}
                                                    </td>
                                                    <th class="text-right" colspan="2">Sub Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ invoice.sub_total | tofix }}
                                                    </th>
                                                </tr>
                                                <tr v-if="setting.discounts_in == 'inc'">
                                                    <th class="text-right" colspan="2">Tax</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ invoice.tax_amount | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Discount</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ invoice.discount_amount | tofix }}
                                                    </th>
                                                </tr>
                                                <tr v-if="setting.discounts_in == 'exc'">
                                                    <th class="text-right" colspan="2">Tax</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ invoice.tax_amount | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <td rowspan="3" colspan="5">
                                                        <strong>Note : </strong><br>
                                                        {{ invoice.note }}
                                                    </td>
                                                    <th class="text-right" colspan="2">Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ invoice.total_amount | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Round off</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ invoice.round_off | tofix }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th class="text-right" colspan="2">Grand Total</th>
                                                    <th class="text-right" colspan="2">
                                                        {{ invoice.grand_total | tofix }}
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <taxable v-if="Object.keys(invoice).length>0" :products="invoice.invoice_products" :taxtype="invoice.source_id!=invoice.destination_id?'IGST':'GST'" :setting="setting"/>
                            </div>
                            </div>
                            <div class="card-footer" v-show="convert_status==1">
                                <div class="card-header-actions">
                                    <button class="btn btn-sm btn-danger" type="button" @click="discard"><i class="fa fa-ban"></i> Discard</button>
                                    <button class="btn btn-sm btn-success" @click="convertToDelivery">Convert invoice To Delivery Challan</button>
                                    <button class="btn btn-sm btn-success" @click="convertToInvoiceReturn">Convert Invoice To Invoice Return</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    import { Taxable } from '../modal/taxable'
    export default{
        components: { Taxable },
        props: ['org','setting'],
        data(){
            return{
                convert_status:0,
                invoice:{},
                redirect_back:'',
                errors:{}
            }
        },

        beforeRouteEnter(to, from, next) {
            axios.post(`invoice/view/${to.params.invoice_id}`)
            .then(function (response) {
                next(vm => {
                    vm.invoice = response.data,
                    vm.redirect_back = from.path
                })
            })
            .catch(function (error) {
                vm.toast(error.message,'error')
            });
        },
        
        methods:{
            preview() {
                let vm = this;
                //vm.$router.push(`/invoice/preview/${vm.invoice.invoice_id}`);
                
                axios.post(`invoice/view/${vm.invoice.invoice_id}`)
                .then(function (response) {
                    var invoice = response.data;
                    var pdf = "invoice/pdf/" + invoice.invoice_id;

                    $("<iframe class='print-iframe'>").hide().attr("src", pdf).appendTo("body");
                    $(".print-iframe").last().get(0).contentWindow.print();

                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            edit() {
                let vm = this;
                vm.$router.push(`/invoice/edit/${vm.invoice.invoice_id}`);
            },

            print() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.get(`invoice/print/${vm.invoice.invoice_id}`)
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.toast("Invoice Printed successfully created","success")
                    // vm.$router.push('/invoice/display')
                })
                .catch(function (error) {
                    vm.$vDialog.close(null, key),
                    vm.errors = error.response.data.errors
                    vm.toast(error.response.data.message,'error')
                });
            },

            destroy(){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post(`invoice/destroy/${vm.invoice.invoice_id}`)
                    .then(function (response) {
                        vm.$vDialog.close(null, key),
                        vm.toast("Invoice successfully deleted","success"),
                        vm.$router.push('/invoice/display')
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },
            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            },
            convert(){
                let vm = this;
                vm.invoice.invoice_products.forEach(function(value){
                    vm.$set(value,'invoice_product_status',1);
                });
                vm.$set(vm.$data,'convert_status',1);
            },
            convertToDelivery(){
                let vm = this;
                let pro_prods = vm.invoice.invoice_products.filter(function(val){
                    return parseInt(val.invoice_product_status);
                }).map(function(val){
                    return val.invoice_product_id;
                });
                if(pro_prods.length>0){
                    this.$router.push({path:'/invoice/convert/delivery/', query: { query: JSON.stringify(pro_prods)}});    
                }else{
                    vm.toast('Error','error')
                }
            },
            convertToInvoiceReturn(){
                let vm = this;
                let invoice_products = vm.invoice.invoice_products.filter(function(val){
                    return parseInt(val.invoice_product_status);
                }).map(function(val){
                    return val.invoice_product_id;
                });
                if(invoice_products.length>0){
                    this.$router.push({path:'/invoice/convert/invoice_return/', query: { query: JSON.stringify(invoice_products)}});    
                }else{
                    vm.toast('Error','error')
                }
            }, 
            discard(){
                let vm = this;
                vm.invoice.invoice_products.forEach(function(value){
                    vm.$set(value,'invoice_product_status',0);
                });
                vm.$set(vm.$data,'convert_status',0);
            },
        },
     }
</script>