<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Purchase</li>
            <li class="breadcrumb-item">Payments</li>
            <li class="breadcrumb-right">
                <router-link to="/payment/display" class="btn btn-xs btn-primary">
                    <i class="fa fa-list"></i> Payments
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong v-if="status==0">New Payment</strong>
                                <strong v-if="status==1">Update Payment</strong>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label for="vendor_id">
                                                Vendor *
                                            </label>
                                            <contact :customClass="{'is-invalid': errors.vendor_id}"  :contact_type="payment.contact_type" :initialize="payment.contact_name" @input="selectContact($event)" ref="contact_name"></contact>
                                            <div v-if="errors.vendor_id" style="color: #f86c6b; font-size: 80%;">{{ errors.vendor_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="voucher_no">Voucher No *</label>
                                            <input type="text" class="form-control" :class="{'is-invalid': errors.voucher_no}" v-model="payment.voucher_no" placeholder="Voucher No">
                                            <div v-if="errors.voucher_no" class="invalid-feedback">{{ errors.voucher_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="voucher_date">Voucher Date *</label>
                                            <input type="date" class="form-control" :class="{'is-invalid': errors.voucher_date}" v-model="payment.voucher_date" placeholder="Voucher Date">
                                            <div v-if="errors.voucher_date" class="invalid-feedback">{{ errors.voucher_date[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="account_id">Account *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.account_id}" v-model="payment.account_id" ref="account_id">
                                                <option value="">Select Account</option>
                                                <option v-for="account in accounts" :value="account.account_id">{{ account.account_name }}</option>
                                            </select>
                                            <div v-if="errors.account_id" class="invalid-feedback">{{ errors.account_id[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="payment_mode">Payment Mode *</label>
                                            <select class="form-control" :class="{'is-invalid': errors.payment_mode}" v-model="payment.payment_mode">
                                                <option value="">Select Payment Mode</option>
                                                <option v-for="payment_mode in payment_modes" :value="payment_mode.master_value">{{ payment_mode.master_value }}</option>
                                            </select>
                                            <div v-if="errors.payment_mode" class="invalid-feedback">{{ errors.payment_mode[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="reference_no">Reference No</label>
                                            <input type="text" class="form-control" :class="{'is-invalid': errors.reference_no}" v-model="payment.reference_no" placeholder="Reference No">
                                            <div v-if="errors.reference_no" class="invalid-feedback">{{ errors.reference_no[0] }}</div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label for="reference_date">Reference Date</label>
                                            <input type="date" class="form-control" :class="{'is-invalid': errors.reference_date}" v-model="payment.reference_date" placeholder="Reference Date">
                                            <div v-if="errors.reference_date" class="invalid-feedback">{{ errors.reference_date[0] }}</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="text-center" colspan="2">#</th>
                                                    <th>Bill No</th>
                                                    <th>Bill Date</th>
                                                    <th class="text-right">Grand Total</th>
                                                    <th class="text-right">Paid Amount</th>
                                                    <th class="text-right">Due Amount</th>
                                                    <th>Payable Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                 <tr v-for="bill,key in payment.bills">
                                                    <td class="text-center">
                                                        <div class="form-check checkbox">
                                                            <input class="form-check-input" id="check1" type="checkbox" @change="check(key)" v-model="bill.check">
                                                        </div>
                                                    </td>
                                                    <td class="text-center">
                                                        {{ ++key }}
                                                    </td>
                                                    <td>
                                                        {{ bill.bill_no }}
                                                    </td>
                                                    <td>
                                                        {{ bill.bill_date | moment("DD-MM-YYYY") }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ bill.grand_total.toFixed(2) }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ bill.paid_amount.toFixed(2) }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ bill.due_amount.toFixed(2) }}
                                                    </td>
                                                    <td>
                                                        <input size="2" type="text" class="form-control form-control-sm" :class="{'is-invalid': errors.total_amount}" placeholder="Payable Amount" v-model="bill.payable_amount">
                                                        <div v-if="errors.total_amount" class="invalid-feedback">
                                                            {{ errors.total_amount[0] }}
                                                        </div>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th colspan="4">
                                                        <select class="form-control form-control-sm"  :class="{'is-invalid': errors.term_id}" v-model="payment.term_id" @change="changeTerm">
                                                            <option value="">Select Terms</option>
                                                            <option v-for="term in terms" :value="term.term_id">{{ term.label }}</option>
                                                        </select>
                                                        <div v-if="errors.term_id" class="invalid-feedback">
                                                            {{ errors.term_id[0] }}
                                                        </div>
                                                    </th>
                                                    <th class="text-right">{{ grandTotal }}</th>
                                                    <th class="text-right">{{ paidAmount }}</th>
                                                    <th class="text-right">{{ dueAmount }}</th>
                                                    <th class="text-right">{{ payableAmount }}</th>
                                                </tr>
                                                <tr>
                                                    <th colspan="5">
                                                        <textarea class="form-control" :class="{'is-invalid': errors.terms}" v-model="payment.terms" placeholder="Terms & Conditions"></textarea>
                                                        <div v-if="errors.terms" class="invalid-feedback">
                                                            {{ errors.terms[0] }}
                                                        </div>
                                                    </th>
                                                    <th colspan="3">
                                                        <textarea class="form-control" :class="{'is-invalid': errors.note}" v-model="payment.note" placeholder="Note"></textarea>
                                                        <div v-if="errors.note" class="invalid-feedback">
                                                            {{ errors.note[0] }}
                                                        </div>
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div class="card-header-actions">
                                    <button  class="btn btn-sm btn-danger" type="button" @click="discard()">
                                        <i class="fa fa-ban"></i> Discard
                                    </button>
                                    <button v-show="status==0" class="btn btn-sm btn-success" type="button" @click="save()">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                    <button v-show="status==1" class="btn btn-sm btn-success" type="button" @click="update()">
                                        <i class="fa fa-dot-circle-o"></i> Update
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    import { Contact } from '../plugins/contact'
    export default{
        components: { Contact },
        data(){
            return{
                status: 0,
                payment:{
                	payment_id:'',
                    voucher_no:'',
                    voucher_date:new Date().toISOString().slice(0,10),
                    account_id:'',
                    payment_mode:'',
                    vendor_id:'',
                    contact_name:'',
                    contact_type:'Vendor',
                    master_name: 'Payment Mode',
                    reference_no:'',
                    reference_date:'',
                    total_amount:'',
                    term_id:'',
                    terms:'',
                    note:'',
                    bills:[],
                },
                accounts:{},
                payment_modes:{},
                terms:{},
                errors:{}
            }
        },

        beforeRouteEnter(to, from, next) {
            next(vm => {
                vm.getVoucherNo(),
                vm.$refs.contact_name.focus()
            });
        },

        computed:{
            grandTotal: function(){
                return this.payment.bills.reduce((prev, cur) => +prev + +cur.grand_total, 0).toFixed(2);
            },

            paidAmount: function(){
                return this.payment.bills.reduce((prev, cur) => +prev + +cur.paid_amount, 0).toFixed(2);
            },

            dueAmount: function(){
                return this.payment.bills.reduce((prev, cur) => +prev + +cur.due_amount, 0).toFixed(2);
            },

            payableAmount: function(){
                let total_amount = this.payment.bills.reduce((prev, cur) => +prev + +cur.payable_amount, 0).toFixed(2);
                this.payment.total_amount = total_amount;
                return total_amount;
            }
        },
        
        methods:{
            getVoucherNo() {
                let vm = this;
                axios.post('payment/get_voucher_no')
                .then(function (response) {
                    vm.payment.voucher_no = response.data,
                    vm.getAccounts()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getAccounts() {
                let vm = this;
                axios.post('account/get_accounts')
                .then(function (response) {
                    vm.accounts = response.data,
                    vm.getPaymentModes()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getPaymentModes() {
                let vm = this;
                axios.post('master/get_masters',vm.payment)
                .then(function (response) {
                    vm.payment_modes = response.data,
                    vm.getTerms()
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            getTerms() {
                let vm = this;
                axios.post('term/get_terms?term_type=Payments')
                .then(function (response) {
                    vm.terms = response.data
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            changeTerm() {
                let vm = this;
                let term = vm.terms.filter(function (el) {
                    return el.term_id == vm.payment.term_id
                });
                if(term) {
                    vm.payment.terms = term[0].term;
                }
            },

            selectContact(e) {
                let vm = this;
                const contact = e.target.value;
                vm.payment.vendor_id = contact.contact_id;
                vm.payment.contact_name = contact.contact_name;
                vm.getUnpaidBills();
            },

            getUnpaidBills() {
                let vm = this;
                axios.post('bill/get_unpaid_bills',vm.payment)
                .then(function (response) {
                    vm.payment.bills = response.data
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            check(key) {
                let vm = this;
                if(vm.payment.bills[key-1].check==true) {
                    vm.payment.bills[key-1].payable_amount = vm.payment.bills[key-1].due_amount.toFixed(2);
                }
                else {
                    vm.payment.bills[key-1].payable_amount = 0.00;
                }
                
            },

            save() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.post('payment/store',vm.payment)
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.toast("Payment is successfully created","success"),
                    vm.$router.push('/payment/display')
                })
                .catch(function (error) {
                    vm.$vDialog.close(null, key),
                    vm.errors = error.response.data.errors
                    vm.toast(error.response.data.message,'error')
                });
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>