<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Purchase</li>
            <li class="breadcrumb-item">Payments</li>
            <li class="breadcrumb-right">
                <router-link to="/payment/display" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button @click="preview" type="button" class="btn btn-xs btn-primary">
                    <i class="fa fa-file-pdf-o"></i>
                </button>
                <router-link to="/payment/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i>
                </router-link>
                <button @click="destroy" type="button" class="btn btn-xs btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                Payment : 
                                <strong>{{ payment.voucher_no }}</strong>
                            </div>
                            <div class="card-body">
                                <div class="row mb-1">
                                    <div class="col-sm-4">
                                        <h6 class="mb-1">From:</h6>
                                        <div>
                                            <strong>{{ org.org_name }}</strong>
                                        </div>
                                        <div>{{ org.address }}</div>
                                        <div>Email: {{ org.email }}</div>
                                        <div>Phone: {{ org.mobile_no }}</div>
                                        <div>PAN: {{ org.pan_no }}</div>
                                        <div>GSTIN: {{ org.gstin_no }}</div>
                                    </div >

                                    <div class="col-sm-4">
                                        <h6 class="mb-1">To:</h6>
                                        <div>
                                            <strong>{{ payment.vendor.contact_name }}</strong>
                                        </div>
                                        <div>{{ payment.billing_address }}</div>
                                        <div>Email: {{ payment.vendor.email }}</div>
                                        <div>Phone: {{ payment.vendor.mobile_no }}</div>
                                        <div>PAN: {{ payment.vendor.pan_no }}</div>
                                        <div>GSTIN: {{ payment.vendor.gstin_no }}</div>
                                    </div>

                                    <div class="col-sm-4">
                                        <h6 class="mb-1">Details:</h6>
                                        <div>
                                            Voucher No : <strong>{{ payment.voucher_no }}</strong>
                                        </div>
                                        <div>
                                            Voucher Date : {{ payment.voucher_date | moment("DD-MM-YYYY") }}
                                        </div>
                                        <div>
                                            Account : {{ payment.account.account_name }}
                                        </div>
                                        <div>
                                            Payment Mode : {{ payment.payment_mode }}
                                        </div>
                                        <div>
                                            Ref No : {{ payment.reference_no }}
                                        </div>
                                        <div>
                                            Ref Date : {{ payment.reference_date | moment("DD-MM-YYYY") }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                            <thead>
                                                <tr>
                                                    <th class="text-center">#</th>
                                                    <th>Bill No</th>
                                                    <th>Bill Date</th>
                                                    <th class="text-right">Sub Total</th>
                                                    <th class="text-right">Discount Amount</th>
                                                    <th class="text-right">Tax Amount</th>
                                                    <th class="text-right">Round Off</th>
                                                    <th class="text-right">Grand Total</th>
                                                    <th class="text-right">Paid Amount</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr v-for="payment_particular, key in payment.payment_particulars">
                                                    <td class="text-center">
                                                        {{ ++key }}
                                                    </td>
                                                    <td>
                                                        {{ payment_particular.bill.bill_no }}
                                                    </td>
                                                    <td>
                                                        {{ payment_particular.bill.bill_date | moment("DD-MM-YYYY") }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ payment_particular.bill.sub_total.toFixed(2) }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ payment_particular.bill.discount_amount.toFixed(2) }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ payment_particular.bill.tax_amount.toFixed(2) }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ payment_particular.bill.round_off.toFixed(2) }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ payment_particular.bill.grand_total.toFixed(2) }}
                                                    </td>
                                                    <td class="text-right">
                                                        {{ payment_particular.paid_amount.toFixed(2) }}
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <th colspan="8" class="text-right">Total</th>
                                                    <th class="text-right">
                                                        {{ payment.total_amount.toFixed(2) }}
                                                    </th>
                                                </tr>
                                                <tr>
                                                    <th colspan="5">
                                                        <strong>Terms and Conditions : </strong><br>
                                                        {{ payment.terms }}
                                                    </th>
                                                    <th colspan="4">
                                                        <strong>Note : </strong><br>
                                                        {{ payment.note }}
                                                    </th>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        props: ['org'],
        data(){
            return{
                payment:{},
                errors:{}
            }
        },

        beforeRouteEnter(to, from, next) {
            axios.post(`payment/view/${to.params.payment_id}`)
            .then(function (response) {
                next(vm => {
                    vm.payment = response.data
                })
            })
            .catch(function (error) {
                vm.toast(error.message,'error')
            });
        },
        
        methods:{
            preview() {
                let vm = this;
                vm.$router.push(`/payment/preview/${vm.payment.payment_id}`);
            },

            edit() {
                let vm = this;
                vm.$router.push(`/payment/edit/${vm.payment.payment_id}`);
            },

            destroy(){
                if(confirm('Do you want to continue ?')) {
                    let vm = this;
                    let key = vm.$vDialog.mask("Loading...");
                    axios.post(`payment/destroy/${vm.payment.payment_id}`)
                    .then(function (response) {
                        vm.$vDialog.close(null, key),
                        vm.toast("payment successfully deleted","success"),
                        vm.$router.push('/payment/display')
                    })
                    .catch(function (error) {
                        vm.$vDialog.close(null, key),
                        vm.toast(error.message,'error')
                    });
                }
            },
            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
     }
</script>