<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Sales</li>
            <li class="breadcrumb-item">Delivery Return</li>
            <li class="breadcrumb-right">
                <router-link to="/delivery_return/create" class="btn btn-xs btn-primary">
                    <i class="fa fa-plus"></i> New DR
                </router-link>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Delivery Return</strong>
                            </div>
                            
                            <div class="card-body">
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="Search" v-model="pagination.search" @keyup="display" ref="search">
                                </div>
                                <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center">#</th>
                                            <th>DR No</th>
                                            <th>DR Date</th>
                                            <th>Customer</th>
                                            <th class="text-right">Sub Total</th>
                                            <th class="text-right" v-if="setting.discounts_in == 'inc'">Tax</th>
                                            <th class="text-right">Discount</th>
                                            <th class="text-right" v-if="setting.discounts_in == 'exc'">Tax</th>
                                            <th class="text-right">Total Amount</th>
                                            <th class="text-right">Round off</th>
                                            <th class="text-right">Grand Total</th>
                                            <!-- <th class="text-center">Status</th> -->
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="cursor" v-for="delivery_return,key in delivery_returns" @click="view(delivery_return)">
                                            <td class="text-center">
                                                {{ pagination.from+key }}
                                            </td>
                                            <td>
                                                {{ delivery_return.delivery_return_no }}
                                            </td>
                                            <td>
                                                {{ delivery_return.delivery_return_date | moment("DD-MM-YYYY") }}
                                            </td>
                                            <td>
                                                {{ delivery_return.customer.contact_name }}
                                            </td>
                                            <td class="text-right">
                                                {{ delivery_return.sub_total.toFixed(2) }}
                                            </td>
                                            <td class="text-right" v-if="setting.discounts_in == 'inc'">
                                                {{ delivery_return.tax_amount.toFixed(2) }}
                                            </td>
                                            <td class="text-right">
                                                {{ delivery_return.discount_amount.toFixed(2) }}
                                            </td>
                                            <td class="text-right" v-if="setting.discounts_in == 'exc'">
                                                {{ delivery_return.tax_amount.toFixed(2) }}
                                            </td>
                                            <td class="text-right">
                                                {{ delivery_return.total_amount.toFixed(2) }}
                                            </td>
                                            <td class="text-right">
                                                {{ delivery_return.round_off.toFixed(2) }}
                                            </td>
                                            <td class="text-right">
                                                {{ delivery_return.grand_total.toFixed(2) }}
                                            </td>
                                            <!-- <td class="text-center">
                                                <span class="badge badge-primary">
                                                    {{ delivery_return.delivery_return_status }}
                                                </span>
                                            </td> -->
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-footer" v-show="pagination.lastPage!=1">
                                <b-pagination align="right" size="md" @input="display" :total-rows="pagination.totalRows" :per-page="pagination.perPage" v-model="pagination.currentPage"></b-pagination>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</template>
<script>
    export default{
        props:['setting'],
        data(){
            return{
                pagination:{
                    currentPage: 1,
                    totalRows: 0,
                    perPage: 1,
                    lastPage:1,
                    from: 1,
                    search: ''
                },
                delivery_returns:{},
            }
        },

        mounted(){
            let vm = this;
            vm.$refs.search.focus()
            vm.display();
        },
        
        methods:{
            display() {
                let vm = this;
                axios.post('delivery_return/display?page=' + vm.pagination.currentPage + '&search=' + vm.pagination.search)
                .then(function (response) {
                    vm.delivery_returns = response.data.data,
                    vm.pagination.totalRows = response.data.total
                    vm.pagination.from = response.data.from,
                    vm.pagination.perPage = response.data.per_page,
                    vm.pagination.lastPage = response.data.last_page
                })
                .catch(function (error) {
                    vm.toast(error.message,'error')
                });
            },

            view(delivery_return) {
                let vm = this;
                vm.$router.push(`/delivery_return/view/${delivery_return.delivery_return_id}`);
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>