<template>
    <main class="main">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <router-link to="/home">
                    <i class="fa fa-home"></i> Home
                </router-link>
            </li>
            <li class="breadcrumb-item">Report</li>
            <li class="breadcrumb-item">Balance</li>
            <li class="breadcrumb-right">
                <router-link to="/report" class="btn btn-xs btn-primary">
                    <i class="fa fa-arrow-left"></i>
                </router-link>
                <button @click="filter('pdf')" type="button" class="btn btn-xs btn-primary">
                    PDF
                </button>
                <button @click="filter('excel')" type="button" class="btn btn-xs btn-primary">
                    Excel
                </button>
                <button v-b-modal.report type="button" class="btn btn-xs btn-primary">
                    Filter
                </button>
                <button @click="reset" type="button" class="btn btn-xs btn-danger">
                    Reset
                </button>
            </li>
        </ol>
        <div class="container-fluid">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="card">
                            <div class="card-header">
                                <strong>Balance</strong>
                            </div>
                            
                            <div class="card-body" v-show="report.display_type=='display'||report.display_type=='excel'">
                                <table id="datatable"   class="table table-responsive-sm table-bordered table-striped table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text-center" colspan="4">BALANCE REPORT</th>
                                        </tr>
                                        <tr>
                                            <td colspan="3">
                                                <div>
                                                    <strong>{{ org.org_name }}</strong>
                                                </div>
                                                <div>{{ org.address }}</div>
                                                <div>Email: {{ org.email }}</div>
                                                <div>Phone: {{ org.mobile_no }}</div>
                                                <div>PAN: {{ org.pan_no }}</div>
                                                <div>GSTIN: {{ org.gstin_no }}</div>
                                            </td>
                                            <td >
                                                <div>From Date: {{ report.from_date | moment("DD-MM-YYYY") }}</div>
                                                <div>To Date: {{ report.to_date | moment("DD-MM-YYYY") }}</div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th class="text-center">Mode</th>
                                            <th class="text-right">Payments</th>
                                            <th class="text-right">Receipts</th>
                                            <th class="text-right">Balance</th>
                                        </tr>
                                    </thead>
                                    <tbody >
                                        <tr v-for="payment,key in payments.payment_modes">
                                            <td class="text-center">{{payment.master_value}}</td>
                                            <td class="text-right" v-text='calculation(payments.payment,payments.expense,payment.master_value)'></td>
                                            <td class="text-right" v-text='calculation(payments.receipt,payments.income,payment.master_value)'></td>
                                            <td class="text-right" v-text="get_balance_data(payment.master_value)"></td>
                                        </tr>
                                        <tr>
                                            <th></th>
                                            <th v-text="total_amount(payments.payment,payments.expense)" class="text-right"></th>
                                            <th v-text="total_amount(payments.receipt,payments.income)" class="text-right"></th>
                                            <th v-text="balance()" class="text-right"></th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="card-body" v-show="report.display_type=='pdf'">
                                <div class="row">
                                    <iframe :src="report.source" width="100%" height="400" frameborder="0"></iframe>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <b-modal id="report" title="Report" @ok="filter('display')">
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="from_date">From Date *</label>
                        <input class="form-control" type="date" v-model="report.from_date" placeholder="From Date">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label for="to_date">To Date *</label>
                        <input class="form-control" type="date" v-model="report.to_date" placeholder="To Date">
                    </div>
                </div>
            </div>
        </b-modal>
    </main>
</template>
<script>
    export default{
        props: ['org'],
        data(){
            return{
                report: {
                    from_date:new Date().toISOString().slice(0,10),
                    to_date:new Date().toISOString().slice(0,10),
                    display_type:'display',
                    source:'',
                },
                payments:{},
                payment_modes:{},
                payment_mode:{
                    master_name: 'Payment Mode',
                },
            }
        },

        mounted(){
            let vm = this;
            vm.getReport();
        },

        methods:{
            getReport() {
                let vm = this;
                let key = vm.$vDialog.mask("Loading...");
                axios.get("balance/report?from_date=" + vm.report.from_date + '&to_date=' + vm.report.to_date + '&display_type=' + vm.report.display_type )
                .then(function (response) {
                    vm.$vDialog.close(null, key),
                    vm.payments = response.data
                })
                .catch(function (error) {
                    vm.$vDialog.close(null, key),
                    vm.toast(error.message,'error')
                });
            },

            reset() {
                let vm = this;
                vm.report.from_date = new Date().toISOString().slice(0,10),
                vm.report.to_date = new Date().toISOString().slice(0,10),
                vm.report.vendor_id ='',
                vm.report.contact_name = '',
                vm.report.contact_type = 'Vendor',
                vm.report.display_type = 'display',
                vm.report.report_type = 'Brief Report',
                vm.getReport()
            },

            calculation(data_total,data_amount,payment_mode){
                let vm = this;
                let data = cal_amount(data_total,payment_mode);
                let data_expense = cal_amount(data_amount,payment_mode);

                function cal_amount(data,payment_mode){
                    return _.filter(data,function(val){
                        return val.payment_mode == payment_mode;
                    }).reduce(function(sum,val){
                        if(typeof(val.total_amount)!='undefined'){
                            return sum+parseFloat(val.total_amount);
                        }else{
                            return sum+parseFloat(val.amount);
                        }
                    },0);
                }
                let sum = parseFloat(data)+parseFloat(data_expense)
                return sum.toFixed(2);
            },

            get_balance_data(payment_mode){
                let vm = this;
                let payment_data = vm.calculation(vm.payments.payment,vm.payments.expense,payment_mode);
                let receipt_data = vm.calculation(vm.payments.receipt,vm.payments.income,payment_mode);
                let sum = parseFloat(receipt_data)-parseFloat(payment_data);
                return sum.toFixed(2);
            },

            filter(type) {
                let vm = this;
                vm.report.display_type = type;
                if(type=='display'){
                    vm.getReport();
                }
                vm.report.source="balance/report?from_date=" + vm.report.from_date + '&to_date=' + vm.report.to_date + '&display_type=' + vm.report.display_type;
            },

            total_amount(data_total_amount,data_amount){
                let total_amount_data=0;
                let amount =0;
                if(typeof(data_total_amount)!='undefined'){
                    total_amount_data =  data_total_amount.reduce((prev, cur) => +prev + +cur.total_amount, 0);
                }
                if(typeof(data_amount)!='undefined'){
                    amount =  data_amount.reduce((prev, cur) => +prev + +cur.amount, 0);
                }
                let total_amount = parseFloat(total_amount_data)+parseFloat(amount);
                return  parseFloat(total_amount).toFixed(2);
            },

            balance(){
                let vm = this;
                let balance = vm.total_amount(vm.payments.receipt,vm.payments.income) -vm.total_amount(vm.payments.payment,vm.payments.expense);
                return balance.toFixed(2);
            },

            toast(message,message_type) {
                let vm = this;
                vm.$vDialog.toast(message, function(){
                }, {
                    messageType: message_type,
                    position : 'topRight',
                    language: 'en',
                    closeTime: 3
                });
            }
        }
    }
</script>